@{
    Layout = "~/Views/Shared/_Qlayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/rzslider.min.css" />
<link href="~/Content/prequestion.css" rel="stylesheet" />




<div id="dvSurveyQuestions" ng-controller="userGmStartController" ng-if="gmPageLoad" ng-cloak>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    <div class="pre-question-panel">

        <div class="pre-question-list" ng-if="startPage">
            <img class="img-mob" src="~/Images/MarketPlaces/General-Motors.png" />
            <hr class="hr-style" />
            <div class="body1" style="padding: 35px;">
                <span ng-bind-html="userLead.StarPageText"></span>
                @*<span>
                    <b>Thank you for joining the {{userLead.Make}} Marketplace Insider panel!</b>
                </span><br />
                <span>Your feedback is very valuable and is intended to help us improve the {{userLead.Make}} Marketplace user experience.</span><br />
                <span>First, we would like to get to know you better.  This information will be kept strictly confidential and used for market research purposes only.</span>*@
            </div>
            <div class="footerblock">
                <div style="text-align: center; padding: 10px;">
                    <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-size: 15px"></span>
                </div>
                <div class="pre-question-btn">
                    <button id="btnSubmit" class="button" type="button" value="Continue"
                            ng-click="save()">
                        Continue
                    </button>

                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="dvFooter" style="max-width: 800px;font-size:14px;">
        <div class="pre-footer" style="margin-top: 25px;"> 
            <div class="copyright-img">
                <div style="font-size: 12px;line-height: 1;">Powered By</div>
                <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
            </div>
            <div class="copyright-block">
                <p>Copyright &#169; Precision Sample, LLC. All rights reserved. <a href="#" ng-click="privacyClick()">Privacy Policy</a> | <a href="#" ng-click="termsClick()">Terms</a></p>
                @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
            </div>
        </div>
    </div>
</div>


