@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_bannertab.cshtml";

}
<style>
        .list-name {
        font-weight: 600;
        font-size: 13px;
        color: #666;
    }
        .list-desc {
        color: #1b1b23 !important;
        font-weight: 400;
        font-size: 16px;
    }
        /*.table-listview tr:nth-child(odd) {
        background-color: #eee;
    }*/
        .table-listview tr td,.table-listview tr th {
        padding:5px 15px;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post))
{
    @Html.AntiForgeryToken()

}
<div ng-if="pgLoad">
    <div ng-controller="accountController">
        @*<div class="banner_myprofile">
            <div class="banner_content">
                <div class="welcome_message">
                    <div class="welcome_message_text">
                        <span class="title">{{'Welcome ' | translate}}</span> <span class="title"> &nbsp;{{user.FirstName}}</span><br>
                        <span class="subtitle">{{'You have already earned' | translate}} €10,00</span>
                    </div>
                </div>
                <div class="btn_wrapper_banner_logout">
                    <div class="profile_center">
                        <div class="btn_banner logout" ng-click="submit()">
                            <div class="logout_icon"></div>{{'Signout' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="column_profile" style="width: 610px;margin: 20px auto;">
            <h3 class="profile_head">{{'PersonalInformation' | translate}}</h3>
            <div class="float_right">
                <div class="icon_howitworks_myprofile icon_howitworks_signup">
                    <img src="/images/icon_signup.png" width="25">
                </div>
            </div>
            <div class="hr_column2"></div>
            <div id="insert_tablet"></div>
            <iframe style="display:none" id="hiddeniframe"></iframe>
            <form name="userForm" novalidate>
                <a href="#" style="font-size:14px;color: blue;float:right;" ng-click="Download()">{{'Export'|translate}}</a>
                <table border="0" cellpadding="5" cellspacing="0" class="table-listview">
                    <tr>
                        <td width="120" class="list-name">{{'firstName'|translate}}*</td>
                        <td class="td2 list-desc" id="name" style="color:#888888;" ng-if="!changeClick">{{user.FirstName}}</td>
                        <td ng-if="changeClick"><input type="text" name="firstName" ng-model="user.FirstName" ng-required="true" /></td>
                        <td ng-show="userForm.firstName.$invalid && errMsg" class="error" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'lastName'|translate}}*</td>
                        <td class="td2 list-desc" id="name" style="color:#888888;" ng-if="!changeClick">{{user.LastName}}</td>
                        <td ng-if="changeClick"><input type="text" name="lastName" ng-model="user.LastName" ng-required="true" /></td>
                        <td ng-show="userForm.lastName.$invalid && errMsg" class="error" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    @*<tr>
                        <td width="120" class="list-name">{{'emailAddress'|translate}}*</td>
                        <td class="td2 list-desc" id="email" style="color:#888888;" ng-if="!changeClick">{{user.EmailAddress}}</td>
                        <td ng-if="changeClick"><input type="text" name="email" ng-model="user.EmailAddress" ng-required="true" ng-disabled="true" /></td>
                        <td class="error text-danger txt-req" ng-show="userForm.$error.email">{{'notValidEmail'|translate}}</td>
                        <td ng-show="userForm.email.$error.required && errMsg" class="error" style="font-style: italic;">{{'Required'|translate}}</td>
                        <td ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</td>
                    </tr>*@
                    <tr>
                        <td width="120" class="list-name">{{'address1'|translate}}*</td>
                        <td class="td2 list-desc" id="adress" style="color:#888888;" ng-if="!changeClick">{{user.Address1}}</td>
                        <td ng-if="changeClick"><input type="text" name="address1" ng-model="user.Address1" ng-required="true" /></td>
                        <td class="error" ng-show="userForm.address1.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'address2'|translate}}</td>
                        <td class="td2 list-desc" id="adress" style="color:#888888;" ng-if="!changeClick">{{user.Address2}}</td>
                        <td ng-if="changeClick"><input type="text" name="address" ng-model="user.Address2" /></td>
                    </tr>
                    @*<tr>
                        <td width="120" class="list-name">{{'country'|translate}} *</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{user.CountryName}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" id="CountryId" style="border: #BFBFBF 1px solid !important;width:250px;" ng-model="user.CountryId" name="country" ng-change="countryByStates(user.CountryId)" ng-options="con.CId as con.CN for con in countries" ng-required="true" ng-disabled="true">
                                <option value="">{{'Country'|translate}}</option>
                            </select>
                            <span class="error" ng-show="userForm.country.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</span>
                        </td>
                    </tr>*@
                    <tr ng-if="states.length != 0">
                        <td width="120" class="list-name">{{'stateProvince'|translate}}*</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{user.StateName}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" id="ddlStates" style="border: #BFBFBF 1px solid !important;width:250px;" ng-model="user.StateId" name="state" ng-options="st.SId as st.SN for st in states" ng-required="true">
                                <option value="">{{'State'|translate}}</option>
                            </select>
                            <span class="error" ng-show="userForm.state.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'city'|translate}}*</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{user.City}}</td>
                        <td ng-if="changeClick"><input type="text" name="city" ng-model="user.City" ng-required="true" /></td>
                        <td class="error" ng-show="userForm.city.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'zipPostalCode'|translate}}*</td>
                        <td class="td2 list-desc" id="zip" style="color:#888888;" ng-if="!changeClick">{{user.ZipCode}}</td>
                        <td ng-if="changeClick"><input type="text" name="zipCode" ng-model="user.ZipCode" ng-required="true" /></td>
                        <td class="error" ng-show="userForm.zipCode.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'phoneNumber'|translate}}</td>
                        <td class="td2 list-desc" id="zip" style="color:#888888;" ng-if="!changeClick">{{user.PhoneNumber}}</td>
                        <td ng-if="changeClick"><input type="text" name="zipcode" ng-model="user.PhoneNumber" /></td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'gender'|translate}}*</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{Gender}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" style="border: #BFBFBF 1px solid !important;width:250px;" ng-model="user.Gender" name="gender" ng-required="true">
                                <option value="M">{{'male'|translate}}</option>
                                <option value="F">{{'female'|translate}}</option>
                                <option value="N">{{'nonBinary'|translate}}</option>
                            </select>
                        </td>
                        <td class="error" ng-show="userForm.gender.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    
                    @*
                    <tr>
                        <td width="120">@Opinionbar.Language.Resource.mp_dob</td>
                        <td class="td2" id="date" style="color:#888888;" ng-if="!changeClick">{{user.DateOfBirth}}</td>
                        <td ng-if="changeClick"><input type="text" name="date" ng-model="user.DateOfBirth" /></td>
                    </tr>*@
                    <tr>
                        <td width="120" class="list-name">{{'dOB'|translate}}*</td>
                        <td ng-if="changeClick" class="list-desc">
                            <select id="ddlMonth" class="form-control" ng-model="user.Month" style="width: 85px;height: 34px;display: inline-block;border: #BFBFBF 1px solid !important;" name="month" ng-required="true">
                                <option value="">{{'month'|translate}}</option>
                                <option value="01">{{'jan'|translate}}</option>
                                <option value="02">{{'feb'|translate}}</option>
                                <option value="03">{{'mar'|translate}}</option>
                                <option value="04">{{'apr'|translate}}</option>
                                <option value="05">{{'may'|translate}}</option>
                                <option value="06">{{'jun'|translate}}</option>
                                <option value="07">{{'jul'|translate}}</option>
                                <option value="08">{{'aug'|translate}}</option>
                                <option value="09">{{'sep'|translate}}</option>
                                <option value="10">{{'oct'|translate}}</option>
                                <option value="11">{{'nov'|translate}}</option>
                                <option value="12">{{'dec'|translate}}</option>
                            </select>
                            <select id="ddlDay" class="form-control" ng-model="user.Day" style="border-radius: 30px;height: 34px;margin-top: 2px;display: inline-block;border: #BFBFBF 1px solid !important;" name="day" ng-required="true">
                                <option value="">{{'day'|translate}}</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            @*<select class="form-control" id="ddlYear" ng-model="user.Year" name="year" ng-options="y.key as y.value for y in year" convert-to-number style="display: inline-block;border: #BFBFBF 1px solid !important;border-radius: 30px;height: 34px;margin-top: 2px;" ng-required="true" ng-click="optIntelligenceCheck()">
                                <option value="">YYYY</option>
                            </select>*@
                            <select class="form-control" id="ddlYear" ng-model="user.Year" name="year" convert-to-number style="display: inline-block;border: #BFBFBF 1px solid !important;border-radius: 30px;height: 34px;margin-top: 2px;" ng-required="true" >
                                <option value="">{{'year'|translate}}</option>
                                <option ng-repeat="y in year" value="{{y.key}}">{{y.value}}</option>
                            </select>
                            <span class="error" ng-show="(userForm.month.$invalid ||userForm.day.$invalid||userForm.year.$invalid)  && errMsg" style="font-style: italic;">{{'Required'|translate}}</span>
                        </td>
                        <td class="list-desc" ng-if="!changeClick">{{user.Month}} - {{user.Day}} - {{user.Year}}</td>
                    </tr>
                    <tr ng-if="user.CountryId != 505 && user.CountryId != 512 && user.CountryId != 525 && user.CountryId != 545 && user.CountryId != 548 && user.CountryId != 549 && user.CountryId !=550 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=565 && user.CountryId !=572 && user.CountryId !=575 && user.CountryId !=590 && user.CountryId !=596 && user.CountryId !=599 && user.CountryId !=613 && user.CountryId !=618 && user.CountryId !=619 && user.CountryId !=620 && user.CountryId !=628 && user.CountryId != 647 && user.CountryId != 657 && user.CountryId != 668 && user.CountryId != 669 &&
                         user.CountryId !=673 && user.CountryId !=693 && user.CountryId !=694 && user.CountryId !=700 && user.CountryId !=706">
                        <td width="120" class="list-name">{{'ethnicity'|translate}}*</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{user.EthinicityType}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" style="border: #BFBFBF 1px solid !important;width:250px;" id="ddlEthnicity" ng-model="user.EthnicityId" name="ethnicity" placeholder="Ethnicity" ng-options="ec.EthnicityId as ec.EthnicityType for ec in ethnicityLst" ng-required="true">
                                <option value="">{{'Ethnicity'|translate}}</option>
                            </select>
                            <span class="error" ng-show="userForm.ethnicity.$invalid  && errMsg" style="font-style: italic;">{{'Required'|translate}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'Reward'|translate}}*</td>
                        <td class="td2 list-desc"  style="color:#888888;" ng-if="!changeClick">{{user.ChooseYourReward}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" style="border: #BFBFBF 1px solid !important;width:250px;" convert-to-number ng-model="user.ChooseYourReward" name="ChooseYourReward" ng-required="true">
                                <option value="">{{'Choose Your Reward'|translate}}</option>
                                <option value="1">{{'Netflix'|translate}}</option>
                                <option value="2">{{'Apple Music'|translate}}</option>
                                <option value="3">{{'Apple TV+'|translate}}</option>
                                <option value="4">{{'Spotify'|translate}}</option>
                                <option value="5">{{'Xbox Live Gold'|translate}}</option>
                                <option value="6">{{'EA Play'|translate}}</option>
                                <option value="7">{{'Playstation Plus'|translate}}</option>
                            </select>
                        </td>
                        <td class="error" ng-show="userForm.gender.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'newPassword'|translate}}*</td>
                        <td class="td2 list-desc" id="password" ng-if="!changeClick">******</td>
                        <td ng-if="changeClick"><input type="password" name="password" ng-model="user.Password" ng-required="true" /></td>
                        <td class="error" ng-show="userForm.password.$invalid && errMsg" style="font-style: italic;">{{'Required'|translate}}</td>
                    </tr>
                    <tr>
                        <td width="120" class="list-name">{{'preferredLanguage'|translate}}*:</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">{{user.LanguageName}}</td>
                        <td ng-if="changeClick">
                            <select class="form-control" style="width: 270px;" id="ddlLanguage" ng-model="user.LanguageId" name="planguage" placeholder="Preferred Language" ng-options="ec.LanguageId as ec.LanguageName for ec in langLst" required>
                                <option value="">{{'preferredLanguage'|translate}}</option>
                            </select>
                        </td>
                    </tr>                                        
                    <tr class="form-group col-md-6 col-lg-4">
                        <td width="120" class="list-name">{{'accountremovalform'|translate}}*:</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">
                            <label class="myswitch">
                                <input type="checkbox" ng-model="user.IsDnc" checked class="switch-input" ng-disabled="true">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td ng-if="changeClick">
                            <label class="myswitch">
                                <input type="checkbox" ng-model="user.IsDnc" checked class="switch-input">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr class="form-group col-md-6 col-lg-4">
                        <td width="120" class="list-name">{{'saveMyInfo'|translate}}*:</td>
                        <td class="td2 list-desc" id="country" style="color:#888888;" ng-if="!changeClick">
                            <label class="myswitch">
                                <input type="checkbox" ng-model="user.IsCompliance" checked class="switch-input" ng-disabled="true">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td ng-if="changeClick">
                            <label class="myswitch">
                                <input type="checkbox" ng-model="user.IsCompliance" checked class="switch-input">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    @*
                    <tr class="hide" ng-if="changeClick">
                        <td width="120">New password:</td>
                        <td ng-if="changeClick"><input type="text" name="password" ng-model="user.Password" /></td>
                    </tr>*@
                </table>
            </form>
            @*<div id="cellwrapper">
                <div class="cell cell2">
                    <div id="graph_4" style="height: 218px; width: inherit; "></div>
                </div>
                <div class="profile_text_wrapper">
                    <p class="profile_text">@Opinionbar.Language.Resource.mp_profile_text</p>
                    <div class="payout_btn">

                        <div class="getpaid start_profilesurvey btn_profile history">
                            <div class="icon_survey_grey"></div>@Opinionbar.Language.Resource.mp_start_survey

                        </div>
                    </div>
                </div>
            </div>*@
            <div><span ng-if="showMsg" style="color:green;">{{'yourrequesthabeensubmitted'|translate}}.</span></div>
            <div><span ng-if="emailMsg" style="color:green;">{{'cnfrmailmsg'|translate}}.</span></div>
            <div><span ng-if="forgtMsg" style="color:green;">{{'forgtMsg'|translate}}.</span></div>
            <div style="padding: 13px;"><span style="color:black;">{{'emailCountryNote'|translate}}</span></div>
            <div class="center_change" style="display:table;width:100%;">
                <div class="change btn_profile change1" ng-click="changePswd()" style="width:135px;" ng-if="!changeClick">
                    <div class="change_icon"></div>{{'Change'|translate}}
                </div>
                <div class="change btn_profile save1" ng-click="saveDetails(userForm.$valid,user)" style="width:135px;" ng-if="changeClick">
                    <div class="change_icon"></div>{{'Save'|translate}}
                </div>
                <div class="change delete btn_profile" data-modal-id="popup3" ng-click="showpopup()" ng-if="!changeClick">
                    {{'frgtme'|translate}}
                </div>
            </div>
            <!-- Confirmation Dialog -->
            <div class="modal fade" id="modal_popup" tabindex="-1">
                <div class="modal-dialog modal-dialog-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{'dltcnfrm'|translate}}</h4>
                        </div>
                        <div class="modal-body">
                            <p style="font-size:large;color:red;">{{'dltmsg'|translate}}</p>
                            <ul><li style="font-size:large;color:red;">{{'sryHistory'|translate}}</li></ul>
                            <ul><li style="font-size:large;color:red;">{{'prsonalData'|translate}}</li></ul>
                            <ul><li style="font-size:large;color:red;">{{'rwrdBalance'|translate}}</li></ul>
                        </div>
                        <div class="form-group" style="margin-left: 8px;">
                            <div style="margin-top: 10px;">{{'Pleasetellusyourreason' | translate}}</div>
                            @*<input style="margin-top: 10px;height: 40px;border-radius: 25px;width: 220px;" ng-model="user.reason">*@
                            <textarea class="form-control" ng-model="user.Reason" md-maxlength="150" style="width: 450px;padding: 15px;margin-top: 5px;"></textarea>
                        </div>
                        <div class="modal-body">
                            <p>{{'sure'|translate}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="notcancel()">{{'No'|translate}}</button>
                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{'yes'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Confirmation Dialog -->
            <div id="insert_cell"></div>
        </div>
    </div>

</div>
