@model Members.OpinionBar.Components.Entities.User

@{
    Layout = "~/Views/Shared/OPLayout.cshtml";
}
<style>
    .subshow {
        display: block;
    }
</style>
<html>
<body ng-app="loginApp" ng-controller="loginCtrl">
    <div style="background: #e8e8e8;">
        @Html.AntiForgeryToken()
        <div class="forgot_style_div sign_up_div">
            <h2>{{'frgtpwd'|translate}}?</h2>
            <div class="sign_in_email">
                <form novalidate name="forgotPswdForm">
                    @ViewBag.Name
                    <div class="column1 sign_in_options">
                        {{'forgotpwdmsg'|translate}}
                    </div>
                    <div class="column1">
                        <input type="email" id="txtEmailAddress" class="form-control" placeholder="E-mail" ng-model="getUserData.EmailAddress" name="email" required>
                        <span class="error text-danger" ng-show="forgotPswdForm.email.$error.email">{{'Not Valid Email'|translate}}</span>
                        <span ng-show="forgotPswdForm.email.$error.required && forgotPswdErrMsg" class="error" style="font-style: italic;">{{'Required'|translate}}</span>
                        <span ng-show="saveref" style="color:green;">{{'forgetPswd' | translate}}</span>
                        <span ng-if="emailnotexist" class="error" style="font-style: italic;">{{'emailnotexist'|translate}}</span>
                        <span ng-if="xVerifyMessageexist" class="error" style="font-style: italic;">{{'emailAddressAlreadyExist'|translate}}</span>
                        <span ng-if="xVerifyMessage" style="font-style: italic;color:green">{{'emailVerify'|translate}}</span>
                    </div>
                    <div class="column1">
                        <button type="submit" style="border:none;background:none;padding:0px;" ng-click="forgotPasswordClick(forgotPswdForm.$valid)">
                            <div class="sign_up_now_btn sign_in_btn" style="width: 222px">
                                <img src="/images/icon_signup_btn.png" style="float:left; margin-top: -1px;" width="22">{{'submit'|translate}}
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper_content">
        <div class="column_wrapper">
            <div style="display:flex;">
                <h2>{{'howItWorks' | translate}}</h2>
                @*<div style="float: right;margin-left: auto;margin-top: 30px;margin-right: 70px;"><button style="padding: 10px 20px;margin: auto;border:none;background: #b7d968;color: #55851d;border-radius: 30px;outline: 0 !important;cursor:pointer;" ng-click="newSiteclick()">{{'newSite'|translate}}...</button></div>*@
            </div>
            <div class="column1">
                <div class="icon_howitworks icon_howitworks_signup"><img src="/images/icon_signup.png" width="33"></div>
                <div class="text-wrapper">
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'seeHowitWorks'|translate}}</h4>
                    </div>
                    <p class="text-howitworks">
                        {{'signup_free_msg' | translate}}
                    </p>
                </div>
            </div>
            <div class="column1">
                <div class="icon_howitworks icon_howitworks_giveopinion">
                    <img src="/images/icon_giveopinion.png" width="33">
                </div>
                <div class="text-wrapper">
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'giveop'|translate}}</h4>
                    </div>
                    <p class="text-howitworks">
                        {{'givepinionmsg'|translate}}
                    </p>
                </div>
            </div>
            <div class="column1">
                <div class="icon_howitworks icon_howitworks_getpaid"><img src="/images/icon_getpaid.png" width="33"></div>
                <div class="text-wrapper">
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'getpaid'|translate}}</h4>
                    </div>
                    <p class="text-howitworks">
                        {{'get_paidmsg'|translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="column_wrapper">
            <h2>@Opinionbar.Language.Resource.opinionbar</h2>
            <div class="column1">
                <div class="icon_howitworks icon_about"><img src="/images/icon_about.png" width="33"></div>
                <div>
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'opbar_make_your_voice'|translate}}</h4>
                    </div>
                    <p class="about_text">
                        {{'opbar_make_your_voice_msg'|translate}}
                    </p>
                </div>
            </div>
            <div class="column1">
                <div class="icon_howitworks icon_about"><img src="/images/icon_privacy.png" width="33"></div>
                <div>
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'opbar_privacy'|translate}}</h4>
                    </div>
                    <p class="about_text">
                        {{'opbar_privacy_msg'|translate}}
                    </p><br />
                    <p class="about_text">
                        {{'opbar_privacy_msg1'|translate}}
                    </p>
                    <p class="about_text" style="margin-left:80px;">
                        {{'opbar_privacy_msg2'|translate}}
                    </p>
                    <p class="about_text" style="margin-left:80px;">
                        {{'opbar_privacy_msg3'|translate}}
                    </p>
                </div>
            </div>

            <div class="column1">
                <div class="icon_howitworks icon_about"><img src="/images/icon_fortune.png" width="33"></div>
                <div>
                    <div class="text-howitworks margin-howitworks">
                        <h4>{{'opbar_fortune__companies'|translate}}</h4>
                    </div>
                    <p class="about_text">
                        {{'opbar_fortune__companies_msg'|translate}}
                    </p>
                </div>
            </div>
        </div>


        <div class="hr"></div>
        <div class="column_wrapper">
            <div class="companies">
                <h2>{{'about_msg'|translate}}</h2>
                <div class="company_wrapper">
                    <div class="centerwrapper2">
                        <div class="company_logo"><img src="/images/company1.png"></div>
                        <div class="company_logo"><img src="/images/company2.png"></div>
                        <div class="company_logo"><img src="/images/company3.png"></div>
                        <div class="company_logo"><img src="/images/company4.png"></div>
                        <div class="company_logo"><img src="/images/company5.png"></div>
                        <div class="company_logo"><img src="/images/company6.png"></div>
                        <div class="company_logo"><img src="/images/company7.png"></div>
                        <div class="company_logo"><img src="/images/company8.png"></div>
                        <div class="company_logo"><img src="/images/company9.png"></div>
                        <div class="company_logo"><img src="/images/company10.png"></div>
                        <div class="company_logo"><img src="/images/company11.png"></div>
                        <div class="company_logo"><img src="/images/company12.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script type="text/javascript" src="~/Scripts/services/translationService.js?v=5"></script>
    <script type="text/javascript" src="~/Scripts/main/login.js?v=5"></script>
</body>
</html>
