
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_bannertab.cshtml";

}

<link href="~/Content/reddem.css" rel="stylesheet" />
<script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
<center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }

    <div ng-if="pgLoad" style="width: 940px;margin: 0 auto;">

        <div ng-controller="redmController" style="margin:40px">
            <div id="border">
                <div style="padding-top: 10px;">
                </div>

                <div id="tblDetails">
                    <div style="width: 100%;">
                        <div style="width: 100%;">
                            <div id="dvTac">
                                <div class="dvacb">
                                    <label id="lblBalance">
                                        {{'yourCurrentAccountBalance'| translate}}:
                                    </label>
                                </div>
                                <div class="dvtab">
                                    <span class="spnd" style="color: #6195b2" ng-if="orgDetails.ClientId == 73 || orgDetails.ClientId == 111">
                                        <span class="spntab" id="spnAccountBalance"
                                              style="color: #6195b2">{{trewards.AccountBalance}}</span> pts

                                    </span>
                                    <span class="spnd" style="color: #6195b2" ng-if="orgDetails.ClientId != 73 && orgDetails.ClientId != 111">
                                        <span ng-if="countryID == 231">$</span><span ng-if="countryID == 229">£</span><span ng-if="countryID != 231 && countryID != 229">€</span><span class="spntab" id="spnAccountBalance"
                                               style="color: #6195b2">{{trewards.AccountBalance}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="width: 100%;">
                        <div style="width: 100%;">

                            <div id="dvImg">
                                <img id="imgRewardLogo" style="float:left;" border="0" src="" alt="#" />
                            </div>
                            <div>
                                <div style="width: 100%">
                                    <div class="dvrnst">
                                        <label class="lblrn">
                                            {{'rewardName'| translate}}:&nbsp;
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <label class="lblrt" id="lblRewardName">
                                            {{trewards.RewardName}}
                                        </label>
                                    </div>
                                </div>
                                <div style="width: 100%;display:table">
                                    <div class="dvrdescription">
                                        <label class="lblrn">
                                            {{'disclaimer'| translate}}:
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <span class="lblrt" id="spnDisclaimer" style="padding-left:5px">{{trewards.RewardName}} {{'rewardDis'| translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12" style="border: 0px solid #ddd;display: inline-block;">
                                <div vc-recaptcha key="'6LdOScMUAAAAAN37B5hXC_48jRl54XaCG2t9iJQ_'" on-success="setResponse(response)" size="normal"></div>
                                @*<div class="g-recaptcha" data-sitekey="6LdOScMUAAAAAN37B5hXC_48jRl54XaCG2t9iJQ_" on-success="setResponse(response)"></div>*@
                                <span class="text-danger" ng-show="captchaErr">{{'invalidCap'| translate}}.</span>
                                <span class="text-danger" ng-show="isRegErrMsg">{{'errorPlstryagain'| translate}}.</span>
                            </div>
                        </div>
                        <div class="dvlinegap">
                        </div>
                        <div style="width: 100%;">
                            <div class="dvrredeem">
                                <label class="lblrn">
                                    {{'amount'| translate}} <span ng-if="countryID == 231">$</span><span ng-if="countryID == 229">£</span><span ng-if="countryID != 231 && countryID != 229">€</span> :&nbsp;
                                </label>
                            </div>
                            <div class="dvrddl">
                                <select name="repeatSelect" id="ddlRedeemAmount" ng-model="trewards.RedeemAmount" style="float:left">
                                    <option ng-repeat="option in  trewards.LstRewardAmount" value="{{option.Key}}">{{option.Value}}</option>
                                </select>
                                @* <select ng-options="item.Key  for item in trewards.LstRewardAmount" id="ddlRedeemAmount" ng-model="trewards.RedeemAmount"></select>*@
                                <input type="text" id="txtRedeemAmount" ng-bind="trewards.RedeemAmount" ng-model="trewards.RedeemAmount" style="float: left;" disabled />
                            </div>
                        </div>

                        <div>
                            <div>
                                <label id="lblMessage">
                                </label>
                                <div><span style="color:black;">{{'rewardNote'|translate}}</span></div>
                            </div>
                        </div>
                        <div>
                            <br />
                        </div>
                        <div class="dvbuttons">
                            <div class="dvredbtn">
                                <input type="button" id="btnRedeem" class="myButton" value="{{'redeem'| translate}}" ng-click="RedeemClick()" />
                            </div>
                            <div class="dvcanbtn">
                                <input type="button" id="btnCancel" class="myButton" value="{{'cancel'| translate}}" ng-click="CancelClick()" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</center> 