<center>
    <p id="text">
        &copy; <span>Copyright</span>
        <label class="copyright" ng-bind="fromYear">
        </label>-<label ID="lblCopyright" ng-bind="currentYear">Copyright</label>
        <label class="orgname" ng-bind="orgDetails.OrgName">
        </label>
        | <a href="javascript: void(0)" ng-click="termsClick()" id="ancsurveysonline"
             style="color: #b2b2b2;">
            Terms
        </a>| <a href="javascript: void(0)" ng-click="privacyClick()" id="ancsurveyspolicy"
                 style="color: #b2b2b2;">
            Privacy
        </a>| <a href="javascript: void(0)" ng-click="contactClick()" id="ancsurveycontact"
                 style="color: #b2b2b2;">
            ContactUs
        </a>| <a href="javascript: void(0)" ng-click="aboutClick()" id="ancsurveyAbout"
                 style="color: #b2b2b2;">
            AboutUs
        </a>| <a href="javascript: void(0)" ng-click="faqClick()" id="a1"
                 style="color: #b2b2b2;">FAQ</a>
        <a href="/wl/sm" id="ancSurveySitemap" style="color: #b2b2b2; display: none;">Site Map</a>
    </p>
</center>