<form name="userLoginForm" novalidate>
    <div class="col-md-4">
        <div style="margin-bottom:5px;">
            <strong>{{'login'| translate}}</strong>
            <div class="clearfix"></div>
            <label>{{'emailAddress'| translate}}</label>
            <input type="email" name="userEmail" class="form-control" placeholder="{{'email' | translate}}" tabindex="1" ng-model="loginDetails.EmailAddress" ng-required="true">
            <span class="error text-danger" ng-show="userLoginForm.userEmail.$error.email">{{'notValidEmail' | translate}}!</span>
            <span class="error text-danger" ng-show="userLoginForm.userEmail.$error.required&&showLoginError">{{'required' | translate}}</span>
        </div>
    </div>
    <div class="col-md-4">
        <div style="margin-bottom:5px;">
            <a href="/login/ForgotPsw" tabindex="4">{{'forgotPs' | translate}}?</a>
            <div class="clearfix"></div>
            <label>{{'password'| translate}}</label>
            <input type="password" name="userPsw" class="form-control" tabindex="2" placeholder="{{'password' | translate}}" ng-model="loginDetails.Password" ng-required="true">
            <span class="error text-danger" ng-show="userLoginForm.userPsw.$invalid&&showLoginError">{{'required' | translate}}</span>
        </div>
    </div>
    <div class="col-md-2 padding-zero">
        <button type="submit" class="btn btn-default submit-btn" tabindex="3" ng-click="userLoginClick(userLoginForm.$valid)">{{'go'|translate}}</button>
    </div>
</form>

