


@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body ng-app="footerApp" style="overflow-y: scroll;">
    @Html.AntiForgeryToken()
    <div id="dvterms" ng-controller="termsController">
        <table style="font-family: Verdana; font-size: small;text-align:justify;">
            <tr>
                <td align="center">
                    <b style="font-size: large;">
                        {{'termsOfUse' | translate}}<br />
                        {{'updatedt' | translate}}
                    </b>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para1heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>
                            {{'para1a' | translate}}<b>{{'opinionbar' | translate}}</b>{{'para1aa'| translate}}<b>{{'para1ab'| translate}}</b>{{'para1ac' | translate}}<b>{{'para1ad'| translate}}</b>{{'para1ae'| translate}}
                            <b>{{'paltform' | translate}}</b>{{'para1af' | translate}}<b>{{'user' | translate}}</b>{{'also' | translate}}<b>{{'you' | translate}}</b>{{'para1ag' | translate}}<b>{{'panellist'| translate}}</b>{{'para1ah' | translate}}<b>{{'clients' | translate}}</b>{{'para1ai'| translate}}
                        </li>
                        <li>{{'para1b' | translate}}<b>{{'metrixlab' | translate}}</b>{{'para1ba' | translate}}<b>{{'precisionsample' | translate}}</b>).</li>
                        <li>
                            {{'para1c' | translate}}<b>{{'website' | translate}}</b>{{'para1ca' | translate}}<b>{{'services' | translate}}</b>{{'para1cb' | translate}}
                        </li>
                        <li>{{'para1d' | translate}}<b>{{'terms' | translate}}</b>{{'para1da' | translate}}</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para2heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para2a' | translate}}</li>
                        <li>{{'para2b' | translate}}</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para3heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para3a' | translate}}<b>{{'account' | translate}}</b>{{'para3aa' | translate}}<b>{{'logincredentials' | translate}}</b></li>
                        <li>{{'para3b' | translate}}</li>
                        <li>{{'para3c' | translate}}</li>
                        <li>{{'para3d' | translate}}<a href="/Footer/Privacy">{{'privacynotice' | translate}}</a>.</li>
                        <li>{{'para3e' | translate}}</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para4heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>
                            {{'para4a' | translate}}<b>{{'panellist' | translate}}</b>.{{'para4aa' | translate}}<b>{{'registrationdata' | translate}}</b>{{'para4ab' | translate}}
                            <b>{{'rewards' | translate}}</b>.{{'para4ac' | translate}}<b>{{'panellistagreement' | translate}}</b>{{'para4ad' | translate}}
                        </li>
                        <li>{{'para4b' | translate}}<b>{{'rewardamount' | translate}}</b>{{'para4ba' | translate}}</li>
                        <li>{{'para4c' | translate}}</li>
                        <li>{{'para4d' | translate}}<b>{{'rewardsarea' | translate}}</b>{{'para4da' | translate}}</li>
                        <li>{{'para4e' | translate}}</li>
                        <li>{{'para4f' | translate}}</li>
                        <li>{{'para4g' | translate}}<b>{{'awarddate' | translate}}</b>{{'para4ga' | translate}}</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para5heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para5a' | translate}}</li>
                        <ul>
                            <li>{{'para5b' | translate}}</li>
                            <li>{{'para5c' | translate}}</li>
                        </ul>
                        <li>{{'para5d' | translate}}</li>
                        <ul>
                            <li>{{'para5e' | translate}}</li>
                            <li>{{'para5f' | translate}}</li>
                            <li>{{'para5g' | translate}}</li>
                            <li>{{'para5h' | translate}}</li>
                        </ul>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para6heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para6a' | translate}}</li>
                        <li>{{'para6b' | translate}}</li>
                        <li>{{'para6c' | translate}}</li>
                        <li>{{'para6d' | translate}}</li>
                        <ul>
                            <li>{{'para6e' | translate}}</li>
                            <li>{{'para6f' | translate}}</li>
                            <li>{{'para6g' | translate}}</li>
                        </ul>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para7heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para7a' | translate}}</li>
                        <li>{{'para7b' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para8heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para8a' | translate}}</li>
                        <li>{{'para8b' | translate}}</li>
                        <li>{{'para8c' | translate}}</li>
                        <li>{{'para8d' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para9heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para9a' | translate}}</li>
                        <li>{{'para9b' | translate}}</li>
                        <li>{{'para9c' | translate}}</li>
                        <li>{{'para9d' | translate}}</li>
                        <li>{{'para9e' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para10heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para10a' | translate}}</li>
                        <li>{{'para10b' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para11heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para11a' | translate}}<b>{{'Intellectual' |translate }}</b>).</li>
                        <li>{{'para11b' | translate}}</li>
                        <li>{{'para11c' | translate}}</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para12heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para12a' | translate}}<b>{{'gdpr' | translate}}</b>{{'para12aa' | translate}}</li>
                        <li>
                            {{'para12b' | translate}}<b>{{'personaldata' | translate}}</b>{{'para12ba' | translate}}
                            <b>{{'joincontroller' | translate}}</b>{{'para12bb' | translate}}<b>{{'processor' | translate}}</b>
                            {{'para12bc' | translate}}
                            <b>{{'gdpr' | translate}}.</b>
                        </li>
                        <li>{{'para12c' | translate}}<a href="/Footer/Privacy">{{'privacynotice' | translate}}</a>{{'para12ca' |translate }}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para13heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para13a' | translate}}<b>{{'confidential' | translate }}</b>{{'para13ab' | translate}}</li>
                        <li>{{'para13b' | translate}}</li>
                        <li>{{'para13c' | translate}}</li>
                        <li>{{'para13d' | translate}}</li>
                        <li>{{'para13e' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para14heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para14a' | translate}}</li>
                        <li>{{'para14b' | translate}}</li>
                        <li>{{'para14c' | translate}}</li>
                        <li>{{'para14d' | translate}}</li>
                        <li>{{'para14e' | translate}}</li>
                        <li>{{'para14f' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para15heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>{{'para15a' | translate}}</li>
                        <li>{{'para15b' | translate}}</li>
                        <li>{{'para15c' | translate}}</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>{{'para16heading' | translate}}</b>
                    <br />
                    <ol>
                        <li>
                            {{'para16a' | translate}}<br />
                            <b> MetrixLab B.V.</b><br />
                            Wilhelminakade 312<br />
                            3072 AR Rotterdam<br />
                            <b>Email address:</b> ml_privacy@metrixlab.com<br />
                            <b> Chamber of Commerce no.:</b> 59608838<br />
                        </li>
                    </ol>

                    @* VAT Number: [@]<br />*@
                </td>
            </tr>

        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/services/footerTranslation.js?v=1" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/main/footer/tc.js" type="text/javascript"></script>
</body>
