<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="apiurl" value="http://dev.membersapi.precisionsample.com/" />
  <add key="OrgaNizationId" value="-1" />
  <add key="PaypalLogo" value="http://mg.surveydownline.com/uploads/paypal_logo.png" />
  <add key="MagazineLogo" value="http://mg.surveydownline.com/uploads/magazine_logo.png" />
  <add key="AppId" value="1" />
  <add key="AppName" value="sa" />
  <add key="Xveirfy" value="1000117-B5BM4DLJ" />
  <add key="SMTPHost" value="10.32.27.205" />
  <add key="mailingPort" value="25" />
  <add key="ZendeskToAddress" value="support@precisionsample.zendesk.com" />
  <add key="RiverRelevantCheckFlag" value="1"/>
  <add key="RiverIp2CounterCheckFlag" value="0"/>
  <add key="RiverOrgId" value="110"/>
  <add key="ResearchDefender" value="https://prod.rtymgt.com/api/v3/respondents/search/50946766-ef1c-4060-b967-7e63161232b4?sn_ud={0}&amp;sy_nr={1}&amp;rt_sr_pd={2}&amp;coordinates=1&amp;wd=1&amp;lonlat={3}&amp;{4}"/>
</appSettings>