@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-if="pgLoad">
    <div ng-controller="contactUsController">
        <div class="wrapper_content">
            <form name="contactForm" novalidate>
                <div class="column_wrapper" style="overflow: hidden;">
                    <h2>{{'contactUs'|translate}}
                        <a href="#" style="font-size:14px;color:#454545;float:right;margin:15px 75px 0 0;" ng-click="helpDesk()">{{'faq'|translate}}</a>
                    </h2>
                    <div class="floatright">
                        <div class="icon_howitworks_contact icon_howitworks_signup">
                            <img src="/images/icon_contact.png" width="25">
                        </div>
                    </div>
                    @*<div class="subnav_wrapper" style="margin-top: 100%;margin: -60px 130px 20px 0px;float: right;cursor:pointer;">
                        <u class="footer ng-binding" id="available" style="font-size: 20px;" ng-click="helpDesk()">
                            {{'Help Desk' | translate}}
                        </u>
                    </div>*@
                    <div class="centerwrapper2">
                        <div class="column_half column_contact">
                            <input class="input_contact" name="Name" ng-model="emailDetails.fromname" placeholder="{{'fulname'|translate}}" type="text" ng-change="checkname(emailDetails.fromname)" ng-required="true">
                            <span ng-if="nameMsg" style="color:red;">{{'onlyletters'|translate}}</span>
                            <span style="color:red;" ng-show="contactForm.Name.$invalid && isShowError">{{'Required'|translate}}</span>
                            <input class="input_contact" name="emailAddress" ng-model="emailDetails.fromaddress" placeholder="E-mail" type="email" ng-required="true">
                            <span class="invalid-feedback" ng-show="userInfoForm.emailAddress.$error.email">{{'notvalidemail' | translate}}!</span>
                            <span style="color:red;" ng-show="contactForm.emailAddress.$invalid && isShowError">{{'Required'|translate}}</span>
                        </div>
                        @*<div class="column_half column_contact right">
                <select class="form-control" name="survey">
                    <option>Choose a survey...</option>
                    <option value="Survey A">Survey A</option>
                    <option value="Survey">Survey B</option>
                    <option value="Survey">Survey C</option>
                    <option value="Survey">Survey D</option>
                    <option value="Survey">Survey E</option>
                    <option value="Survey">Survey F</option>
                    <option value="Survey">Survey G</option>
                </select>
                <select class="form-control" name="country">
                    <option>Choose a country...</option>
                </select>
            </div>*@
                        <div class="column_full column_contact">
                            <textarea name="message" ng-model="emailDetails.comments" placeholder="{{'message'|translate}}" rows="5" ng-required="true"></textarea>
                            <span style="color:red;" ng-show="contactForm.message.$invalid && isShowError">{{'Required'|translate}}</span>
                            <div><span ng-if="showMsg" style="color:green;">Thank you! Your request has been submitted and we will reply shortly.</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 12px;">
                            <div vc-recaptcha key="'6LfVcForAAAAAHCQH_OWJRVYCXlvU0KlMm2u6B2i'" on-success="setResponse(response)" size="normal"></div>
                            <span class="text-danger" ng-show="captchaErr">{{'invalidCaptcha'|translate}}.</span>
                            <span class="text-danger" ng-show="isRegErrMsg">{{'errorOccured'|translate}}.</span>
                        </div>
                    </div>
                    <div class="column1 column_contact">
                        <div class="contact_send_btn font_bold" ng-click="contactUsClick(contactForm.$valid)">
                            <div class="contact_send_btn_icon">
                                <img src="/images/send_btn.png">
                            </div>{{'sendmessage'|translate}}
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
            </form>
        </div>
    </div>
   
</div>
