@model IEnumerable<Members.OpinionBar.Components.Entities.Continent>
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

}
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');</script>
    <!-- End Google Tag Manager -->
    <meta content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = yes, width = device-width" name="viewport">
    <title>Opinionbar - Give your opinion and get paid</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style_surveys.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/Content/selectboxit_copy.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link ng-href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="bannerrController">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="header header_surveys" ng-init="getUserData()">
        <div class="header_content">
            <div class="logo" ng-click="homeClick()"></div>
            <div class="nav_wrapper">
                <div class="nav_item navigation_active my_profile" ng-click="homeClick()">
                    {{'myprofile'|translate}}
                </div>
                <div class="nav_item_flag navigation_inactive language"><img ng-src="{{flagimg}}" width="25"></div>
                <div class="hamburger_icon"></div>
            </div>
        </div>
    </div>
    @*<div class="countries_wrapper">
            <div class="header_content" style="padding: 0px;">
                <div class="countries">
                    <div class="country"><img src="/images/flag1.png" width="25"><div class="country_name">Nederlands</div></div>
                    <div class="country">
                        <img src="/images/flag2.png" width="25"><div class="country_name">
                            Danske
                        </div>
                    </div>
                    <div class="country"><img src="/images/flag3.png" width="25"><div class="country_name">日本人</div></div>
                    <div class="country"><img src="/images/flag4.png" width="25"><div class="country_name">Deutsch</div></div>
                    <div class="country"><img src="/images/flag5.png" width="25"><div class="country_name">中國</div></div>
                    <div class="country"><img src="/images/flag6.png" width="25"><div class="country_name">Português</div></div>

                </div>
            </div>
        </div>*@
    <div class="navigation_mobile">
        <div class="nav_item_mob home" ng-click="homeClick()">
            {{'myprofile'|translate}}
        </div>
        <div class="hr_mob_nav"></div>
        <div class="nav_item_mob home" ng-click="contactClick()">{{'contactUs'|translate}}</div>
        <div class="hr_mob_nav"></div>
        <div class="nav_item_mob flag_mob"><img src="/images/dutch_flag.png" width="25"></div>
        <div class="hr_mob_nav"></div>
    </div>


    <div class="wrapper_content">
        <div class="column_wrapper wrapper_surveypage">
            <h2 class="surveyhead">{{'Choose your language'|translate}}</h2>

            <div class="hr_column2"></div>
            <div class="column_half column_survey">
                <div class="list_language">

                    <ul>

                        <li ng-repeat="lang in EUCountryCode | orderBy :'LangName'" ng-click="selectLanaguage($index,lang)">
                            <a href="javascript:;" rel="nofollow">
                                {{lang.LangName}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="column_half column_survey"> -->
                <!-- <div class="list_language" > -->
                <!-- <h3 class="language_head">{{'Europe'|translate}}</h3> -->
                <!-- <ul> -->
                <!-- <li ng-repeat="lang in EUCountryCode" ng-click="selectLanaguage($index,lang)"> -->
                <!-- <a href="javascript:;" rel="nofollow"> -->
                <!-- <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}} -->
                <!-- </a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- <div class="list_language"> -->
                <!-- <h3 class="language_head">{{'America'|translate}}</h3> -->
                <!-- <ul> -->
                <!-- <li ng-repeat="lang in USCountryCode" ng-click="selectLanaguage($index,lang)"> -->
                <!-- <a href="javascript:;" rel="nofollow"> -->
                <!-- <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}} -->
                <!-- </a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- <div class="list_language small_list"> -->
                <!-- <h3 class="language_head">{{'Asia'|translate}}</h3> -->
                <!-- <ul> -->
                <!-- <li ng-repeat="lang in AsiaCountryCode" ng-click="selectLanaguage($index,lang)"> -->
                <!-- <a href="javascript:;" rel="nofollow"> -->
                <!-- <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}} -->
                <!-- </a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- <div class="list_language small_list"> -->
                <!-- <h3 class="language_head">{{'Middle East'|translate}}</h3> -->
                <!-- <ul> -->
                <!-- <li ng-repeat="lang in MiddleEastCountryCode" ng-click="selectLanaguage($index,lang)"> -->
                <!-- <a href="javascript:;" rel="nofollow"> -->
                <!-- <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}} -->
                <!-- </a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- <div class="list_language small_list"> -->
                <!-- <h3 class="language_head">{{'Other'|translate}}</h3> -->
                <!-- <ul> -->
                <!-- <li ng-repeat="lang in OtherCountryCode" ng-click="selectLanaguage($index,lang)"> -->
                <!-- <a href="javascript:;" rel="nofollow"> -->
                <!-- <img class="flag" ng-src="{{lang.Img}}"> {{lang.LangName}} -->
                <!-- </a> -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- </div> -->
                <!-- </div> -->


            </div>

            <div class="hr"></div>
            <div class="footer footer_end" ng-controller="footerController">
                <span style="margin-left: 210px;display: flex;">© {{'copyRights'|translate}} <a href="https://www.precisionsample.com/" style="cursor:pointer;color: #888;" target="_blank" class="PrecisionSample">PrecisionSample<br></a></span>
                <div class="nav_footer_wrapper">
                    <div class="nav_footer_item more_about">
                        <a class="footer" href="" ng-click="aboutClick()">{{'footer_more_abt_opbar'|translate}}</a>
                    </div>
                    <div class="nav_footer_item terms">
                        <a class="footer" href="" ng-click="doNotSellMyInfo()"> {{'saveMyInfo'|translate}}</a>
                    </div>
                    <div class="nav_footer_item privacy">
                        <a class="footer" href="" ng-click="privacyClick()">{{'privacy'|translate}}</a>
                    </div>
                    <div class="nav_footer_item terms">
                        <a class="footer" href="" ng-click="termsClick()"> {{'terms_conditions'|translate}}</a>
                    </div>
                </div>
                <div class="nav_footer_mobile">
                    <div class="nav_footer_item more_about">
                        <a class="footer" href="" ng-click="aboutClick()">{{'footer_more_abt_opbar'|translate}}</a>
                    </div>
                    <div class="nav_footer_item privacy">
                        <a class="footer" href="" ng-click="privacyClick()">{{'privacy'|translate}}</a>
                    </div>
                    <div class="nav_footer_item terms">
                        <a class="footer" href="" ng-click="doNotSellMyInfo()"> {{'saveMyInfo'|translate}}</a>
                    </div>
                    <div class="nav_footer_item terms">
                        <a class="footer" href="" ng-click="termsClick()"> {{'terms_conditions'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="preloader" loader>
            <div class="loader"></div>
        </div>
</body>
<script>document.write("<script  type='text/javascript' src='/Scripts/require.js'  data-main='/Scripts/services/config.js?v=" + 12 + "' ><\/script>");</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
@Scripts.Render("~/Scripts/pages/selectboxit.js")
<script src="/Scripts/pages/script.js"></script>
<script src="/Scripts/pages/links.js"></script>