<div class="row" ng-controller="tafController">
    <div class="div-build">
        <img src="../Images/main/team.png" class="usergroup-icon" />
        <b class="b-build">{{'blddwln'|translate}}</b>
    </div>
    <div class="col-md-10">
        <Table id="tblValidationMess" ForeColor="Green" Font-Bold="true" />
    </div>
    <br />
    <div class="table-responsive">
        <form class="form-horizontal" name="inviteForm">
            <table class="t-p-f" id="tblHide">
                <tr>
                    <td class="p-l-50">
                        <div class="t-border">
                            <table>
                                <tr>
                                    <td>
                                        <table class="f-b-c" id="Table1">
                                            <tr>
                                                <td align="left" colspan="2" class="td-m">
                                                    <br />{{'friendsJoin'|translate}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-name">
                                                    {{'firstName'|translate}}
                                                </td>
                                                <td class="td-address">
                                                    {{'emailAddress'|translate}}
                                                </td>
                                            </tr>
                                            <tr class="tr-h">
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="friend in invite">
                                                <td class="td-p">
                                                    <input type="text" id="txtFirstName1" class="form-control" style="width:150px;margin-bottom:5px;" ng-model="friend.FriendFirstName" name="firstName">
                                                </td>
                                                <td class="td-p">
                                                    <input type="email" id="txtEmailAddress" class="form-control" style="width: 250px;margin-bottom:5px;" ng-model="friend.FriendEmailAddress" name="email" ng-blur="validateEmail()" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span ng-show="sucessMsg" ng-style="{'color':'green'}">{{'memberInvitedSucessfully'|translate}}.</span>
                                                    <span ng-show="errMsg" ng-style="{'color':'red'}">{{'invitationFailed'|translate}}.</span>
                                                    <span ng-show="showErrorField" class="text-danger">{{'pleasegiveatleastoneemailaddress'|translate}}</span>
                                                    <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-p"></td>
                                                <td class="td-p"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                        <br />
                                        <table class="table-p-f">
                                            <tr>
                                                <td class="td-w"></td>
                                                <td align="left">
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <table id="tblAccessCode">
                                                                    <tr>
                                                                        <td>
                                                                            <div class="row">
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="td-pr">
                                        <br />
                                        <md-button id="btnSubmit" class="btn btn-default" style="margin-bottom:20px;" ng-click="invites(invite,inviteForm.$valid)">{{'inviteFriend'|translate}}</md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
      
    </div>
</div>