@media (max-width: 450px) {
    /* some CSS here */
    .dvrewardoptions {
        display: none;
    }

    #dvMemberDetails {
        width: 100%;
    }

    .mem_log {
        float: right;
        width: 100%;
    }

    .dvUsername {
        width: 100%;
        float: left;
        margin: 5px;
    }

    .dvPassword {
        width: 100%;
        float: left;
        margin: 5px;
    }

    .dvButton {
        width: 100%;
        float: left;
        margin: 5px;
    }

    .txtUserName {
        width: 150px;
    }

    .txtPassword {
        width: 150px;
    }

    .copyrights {
        width: 286px;
        padding: 0px;
    }

    #footer {
        padding: 0px;
    }

    #dvRewards {
        display: block;
    }

    .dvRewarImages {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    body {
        overflow-x: hidden;
    }

    .dvRewardsHeader {
        width: 80%;
    }

    .spnHeader {
        font-size: 18px;
    }
}

@media (min-width: 500px) {
    .mem_log {
        float: right;
        width: 60%;
    }

    .dvUsername {
        width: 40%;
        float: left;
    }

    .dvPassword {
        width: 33%;
        float: left;
    }

    .dvButton {
        width: 27%;
        float: left;
    }

    .btnSubmit {
        float: right;
        text-align: right;
    }

    #txtLoigEmailId {
        width: 150px;
    }

    #txtPassword {
        width: 130px;
    }

    #dvRewards {
        display: none;
    }

    .dvRewarImages {
        width: 58%;
        margin: 0 auto;
        padding: 20px;
    }

    .copyrights {
        width: 100%;
    }

    .rotator {
        width: 100%;
        margin: auto;
    }

    .dvRewardsHeader {
        width: 20%;
        float: left;
    }

    .spnHeader {
        margin-top: 26px;
        font-size: 18px;
    }
}
