@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body>
    <div class="inner-container" ng-app="commonApp">
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        }
        <div ng-controller="crController" ng-init="relevantInitialize()">
            <div>
                @*<input type="hidden" id="wm" name="wm" value="0" />
                <input type="hidden" name="ClientID" id="ClientID" />
                <input type="hidden" name="RelevantID" id="RelevantID" />
                <input type="hidden" name="PanelistID" id="PanelistID" />
                <input type="hidden" name="SurveyID" id="SurveyID" />
                <input type="hidden" name="GeoCodes" id="GeoCodes" />
                <input type="hidden" name="CID" id="CID" />
                <input type="hidden" name="TID" id="TID" />
                <input type="hidden" name="PropertyList" id="PropertyList" />
                <input type="hidden" name="TimePeriod" id="TimePeriod" />
                <input type="hidden" name="RVIDCompleted" id="RVIDCompleted" value="0" />*@

                <input type="hidden" name="ClientID" id="ClientID" />
                <input type="hidden" name="PanelistID" id="PanelistID" />
                <input type="hidden" name="SurveyID" id="SurveyID" />
                <input type="hidden" name="GeoCodes" id="GeoCodes" />
                <input type="hidden" name="TimePeriod" id="TimePeriod" />
                <input type="hidden" name="RVIDCompleted" id="RVIDCompleted" value="0" />
                <input type="hidden" name="VID" id="VID" value="" />
                <input type="hidden" name="RequestCSOData" id="RequestCSOData" value="" />

            </div>
        </div>
        <div id="dvImageLoading" style="height: 90px; width: 90px; position: fixed; z-index: 1000;
        left: 45%; top: 45%; padding-top: 10px; vertical-align: middle; font-size: 12pt;
        align: center;">
            <img src="/Images/loadericon.gif" />
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*<script type="text/javascript" src="https://d3op16id4dloxg.cloudfront.net/RelevantID4.js"></script>*@
        <script data-main="" src="/Scripts/require.js"></script>
        <script src="~/Scripts/rg/relevant.js"></script>
    </div>
</body>
</html>
