<script type="text/ng-template" id="CheckboxTemplate">
    <div align="left" class="questionback" style="clear: both;">
        <span class="question" id="lblQuestiontext" ng-bind-html="question.QuestionText | unsafe"></span>
    </div>

    <div ng-if="question.QuestionTypeId == '3'">
        <div class="optiontext form-group" style="clear: both; overflow: hidden" ng-class="{true: 'error'}[submitValidations && formValidation.txtboxlist.$invalid]">
            <div class="wrapper">
                <div ng-repeat=" op in question.OptionList">
                    <div class="left">
                        <div class="dvChkbox dvstyle" ng-class="{optionSelected:op.IsChecked == true}" ng-click="chkboxClick($event,op,$index)">
                            <div class="grid_column" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvmain'}}" ng-class="{input_onm:op.IsChecked == true}">
                                <label class="option-label" for="{{op.QuestionId +'_'+op.OptionId+'_checklbl'}}" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_lblchk' }}">
                                    <!--<div class="grid_checkbox" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvcheckbox'}}" ng-class="{input_on:op.IsChecked == true}" style="float: left;">
                                    </div>-->
                                    <div class="grid_span_holder">
                                        <span class="grid_span" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_chkDiv'}}">{{op.OptionText}}</span>
                                    </div>
                                    <input type="checkbox" style="display:none;" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_checkbox'}}" ng-model="op.IsChecked" name="{{question.QuestionId+ '_'+'chkbox'}}" value="{{op.optionId}}" ng-required="chekboxValidation.length==0" />
                                    <span class="single_radio" ng-attr-id="{{op.OptionId+'_optn'}}">{{op.OptionText}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <span ng-show="submitValidations && formValidation[question.QuestionId+ '_'+'chkbox'].$error.required" style="color: red;">{{ errorMessage }}</span>
        <span ng-if="MinandMaxErrorMsg" style="color: red;">Please select a minimum of {{question.MinQuestionsCount}} options.</span>
    </div>
</script>

<div style="width: 100%;">
    <div>
        <div ng-controller="chkBoxController">
            <ng-include src="'CheckboxTemplate'"></ng-include>
        </div>
    </div>
</div>
