<script type="text/ng-template" id="RetailGiftCard">
    <div ng-repeat="retCard in  lstRetailGiftCard">
        <div class="reward_image_box">
            <img ng-src="{{retCard.ImageURL}}"></img></br>
            <span class="font">{{$index + 1 }}.{{retCard.Description}}  </span></br></br>
            <span ng-repeat="rew in retCard.Reward" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="RestaurantGiftCard">
    <div ng-repeat="restCard in  lstRestaurantGiftCard">
        <div class="reward_image_box">
            <img ng-src="{{restCard.ImageURL}}"></img></br>
            <span class="font">{{$index + 1 }}.{{restCard.Description}}  </span></br></br>
            <span ng-repeat="rew in restCard.Reward" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="OnlineServices">
    <div ng-repeat="onlser in  lstOnlineServices">
        <div class="reward_image_box">
            <img ng-src="{{onlser.ImageURL}}"></img></br>
            <span class="font">{{$index + 1 }}.{{onlser.Description}}  </span></br></br>
            <span ng-repeat="rew in onlser.Reward" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="CharitableDonation">
    <div ng-repeat="charDona in  lstCharitableDonation">
        <div class="reward_image_box">
            <img ng-src="{{charDona.ImageURL}}"></img></br>
            <span class="font">{{$index + 1 }}.{{charDona.Description}}  </span></br></br>
            <span ng-repeat="rew in charDona.Reward" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="Reawards">
    <span ng-if="!rew.IsVariable">
        <span ng-if="!rew.IsDisable">
            <span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73">
                <a href="#place" class="link reward_denom" ng-click="RewardClick($parent,rew)"><span style="color: #7CADC2;">{{(rew.Denomination) +'pts/$' + (rew.Denomination * 0.01)}}</span></a>
            </span>
            <br />
            <span ng-if="orgDetails.ClientId != 111 || orgDetails.ClientId != 73">
                <a href="#place" class="link reward_denom" ng-click="RewardClick($parent,rew)"><span style="color: #7CADC2;">${{rew.Denomination/100}}</span></a>
            </span>
        </span>
        <span ng-if="rew.IsDisable">
            <span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73">
                <a href="#place" class="link reward_denom" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">{{(rew.Denomination) +'pts/$' + (rew.Denomination * 0.01)}}</span></a>
            </span>
            <br />
            <span ng-if="orgDetails.ClientId != 111 || orgDetails.ClientId != 73">
                <a href="#place" class="link reward_denom" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">${{rew.Denomination/100}}</span></a>
            </span>

        </span>
    </span>
    <span ng-if="rew.IsVariable">
        <span ng-repeat="lstRng in rew.LstRange" ng-include="'RewardForRange'" class="font" style="margin-top: 10px;"></span>
    </span>

</script>

<script type="text/ng-template" id="RewardForRange">
    <span ng-if="!lstRng.IsDisable">
        <span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73">
            <a href="#place" class="link reward_denom" ng-click="RewardClick($parent,lstRng)"><span style="color: #7CADC2;">${{lstRng.RewardValue * 100 +'pts/$'+ (lstRng.RewardValue * 1)}}</span></a>
        </span>
        <br />
        <span ng-if="orgDetails.ClientId != 111 || orgDetails.ClientId != 73">
            <a href="#place" class="link reward_denom" ng-click="RewardClick($parent,lstRng)"><span style="color: #7CADC2;">${{lstRng.RewardValue}}</span></a>
        </span>
    </span>
    <span ng-if="lstRng.IsDisable">
        <a href="#place" class="link reward_denom" style="background: #cacaca;" title="This reward is not applicable">
            <span style="color: #7CADC2;">${{lstRng.RewardValue}}</span>
        </a>
    </span>

</script>
<style>
    .accordion {
        margin: 10px auto;
        box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    }

        .accordion label {
            padding: 2px 9px;
            position: relative;
            display: block;
            cursor: pointer;
            color: #777;
            line-height: 25px;
            background: #EFEFEF;
            border: 1px solid #CCC;
            text-align: left;
        }

        .accordion .article {
            background: rgb(255, 255, 255);
            overflow: hidden;
            height: 0px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }


            .accordion .article p {
                font-style: italic;
                color: #777;
                line-height: 23px;
                font-size: 14px;
                padding: 20px;
            }


        .accordion input:checked ~ .article.ac-small {
            height: auto;
        }

    .accontent {
        height: auto !important;
    }

    .accordion-content-ide {
        height: 0;
    }

    .reward_image_box {
        float: left;
        width: 155px;
        height: 200px;
        text-align: center;
        color: black;
        margin: 1px;
        padding: 5px;
        font-weight: bold;
        background-color: #e6e6e6;
        border: 1px solid #e0ddd4;
        overflow: auto;
    }

    .reward_denom {
        text-decoration: none;
        font-size: small;
        font-weight: initial;
        float: left;
        padding: 2px;
        border: 1px solid #54626d;
        margin: 3px;
    }
</style>
<div class="row">
    <div class="div-header-rewards">
        <div><b>Rewards</b></div>
    </div>
    <hr class="hr-style" />
    <div class="left-aside">
        <div id="dvImageLoading">
        </div>
        <div ng-controller="rewardController">
            <div class="p-l-0">
                <div border="0" class="css-720">
                    <div class="e-r-b-720">
                        <b class="f-w">
                            <span>{{'TotalEarnings'|translate}}: <span class="rew-userinfo"> ${{userRewardsInfo.TotalEarnings}} |</span></span>
                        </b><b class="f-w">
                            <span>{{'TotalRedeemptions'|translate}}: <span class="rew-userinfo"> ${{userRewardsInfo.TotalRedemptions}} |</span></span>
                        </b><b class="f-w">
                            <span>{{'Accountbalance'|translate}}: <span class="rew-userinfo"> ${{userRewardsInfo.AccountBalance |number:2}}</span></span>
                        </b>
                        <br />
                        <br />
                    </div>
                    <div>
                        <br />
                        <b style="float:left;font-size: medium">{{'AvailableRewards'|translate}} </b>
                        <br />
                    </div>
                    <div class="rew-dv-border">
                    </div>
                    <div style="padding-top: 10px;">
                    </div>
                    <div class="container" style="width: 100%">
                        <div class="accordion">
                            <div ng-repeat="c in availableCards">
                                <label for="ac-1" ng-click="tabClick($index)">{{c.cardName}}</label>
                                <div class="article" ng-class="{accontent: tabIndex === $index }">
                                    <ng-include src="c.templateName"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="p-r rew-disc">
                    <span>{{'Disclaimer'|translate}}: </span>{{'Themerchantsrepresentedare '|translate }}

                </p>
            </div>

            <div class="rew-gird-dv center-text border-3">
                <b class="f-w rew-heading">{{'RewardsHistory'|translate}}</b>
                <br />
                <br />

                <table class="table">

                    <tr ng-show="!rewHistoryLst.length">
                        <td>
                            NoRewardsHistoryfound
                        </td>
                    </tr>

                    <thead>
                        <tr class="rew-tr">
                            <th>Date</th>
                            <th>Descripion</th>
                            <th>Direct</th>
                            <th>Level 1</th>
                            <th>Level 2</th>
                            <th>Redeemed</th>
                            <th>Balance</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-class-even="'tr-bg'" ng-show="reward" ng-repeat="rh in rewHistoryLst" ng-class="{even:$even,odd:$odd}">
                            <td align="left" scope="col">{{rh.CreateDt}} </td>
                            <td align="left" scope="col" style="width:180px;">{{rh.Descripion}}</td>
                            <td align="left" scope="col">{{rh.RewardAmount}}</td>
                            <td align="left" scope="col">{{rh.Level1Reward}}</td>
                            <td align="left" scope="col">{{rh.Level2Reward}}</td>
                            <td align="left" scope="col">{{rh.RedemptionAmount}}</td>
                            <td align="left" scope="col">{{rh.BalanceAmount}}</td>
                            <td align="left" scope="col">{{rh.Status}}</td>
                        </tr>
                    </thead>

                </table>
                <section layout="row">
                    <pagging-directive></pagging-directive>
                </section>
            </div>
        </div>
        <div ng-controller="redeemController">
            <div class="redeem-gird-dv center-text border-3">
                <b class="f-w rew-heading">{{'RewardsRedeemedHistory'|translate}}</b>
                <br />
                <br />

                <table class="table">
                    <tr ng-show="!redeemHistLst.length">
                        <td>
                            NoRedeemHistorywerefound
                        </td>
                    </tr>
                    <thead>
                        <tr class="rew-tr">
                            <th> Redemmed Date </th>
                            <th> Amount Redemmed </th>
                            <th> Redemption Type </th>
                            <th> Code Redemmed  </th>
                        </tr>
                        <tr ng-class-even="'tr-bg'" ng-show="redeem" ng-repeat="rhd in redeemHistLst" ng-class="{even:$even,odd:$odd}">
                            <td align="left" scope="col">{{rhd.CreateDt}}</td>
                            <td align="left" scope="col">{{rhd.RedemptionAmount}}</td>
                            <td align="left" scope="col">{{rhd.RedemptionType}}</td>
                            <td align="left" scope="col">{{rhd.Descripion}} </td>
                        </tr>
                    </thead>

                </table>
                <section layout="row" layout-padding="">
                    <pagging-directive></pagging-directive>
                </section>
            </div>
        </div>
    </div>
</div>
