<div class="row" ng-controller="tafController">

    <div class="div-build">
        <img src="../Images/main/usergroup.png" class="m-l-img" />
        <b class="b-build">{{'blddwln'|translate}}</b>
    </div>
    <div class="col-md-10">
        <Table id="tblValidationMess" ForeColor="Green" Font-Bold="true" />
    </div>
    <!--<div class="div-social">
        <div>
            <div class="p-text">
                <br />{{'facebookText'|translate}} {{orgDetails.OrgName}} {{'facebookText1'|translate}}
                <br />
            </div>
            <div class="div-fb-tw">
                <ucF:ucFacebook id="ucFacebook" />
                <a href="" style="text-decoration:none;" ng-click="openWindow()">
                    <img src="../Images/main/FBnew.jpg" class="m-r-100" />
                </a>
                <a href="" style="text-decoration:none;" ng-click="windowOpen()">
                    <img src="../Images/main/tweetthisnew.jpg" class="m-r-50" />
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="m-r-10">
            <table>
                <tr id="trTwitter">
                    <td class="td-w-p">
                        <ucT:ucTwitter id="ucTwitter" />
                    </td>
                </tr>
            </table>
        </div>
    </div>-->

    <br />
    <div class="table-responsive">
        <form class="form-horizontal" name="inviteForm">
            <table class="t-p-f" id="tblHide">
                <tr>
                    <td class="p-l-50">
                        <div class="t-border">
                            <table>
                                <tr>
                                    <td>
                                        <table class="f-b-c" id="Table1">
                                            <tr>
                                                <td align="left" colspan="2" class="td-m">
                                                    <br />{{'friendsJoin'|translate}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-name">
                                                    {{'firstName'|translate}}
                                                </td>
                                                <td class="td-address">
                                                    {{'emailAddress'|translate}}
                                                </td>
                                            </tr>
                                            <tr class="tr-h">
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="friend in invite">
                                                <td class="td-p">
                                                    <input type="text" id="txtFirstName1" class="form-control" style="width:150px;margin-bottom:5px;" ng-model="friend.FriendFirstName" name="firstName">
                                                </td>
                                                <td class="td-p">
                                                    <input type="email" id="txtEmailAddress" class="form-control" style="width: 250px;margin-bottom:5px;" ng-model="friend.FriendEmailAddress" name="email" ng-blur="validateEmail()" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span ng-show="inviteForm.email.$invalid && showErrorField" class="text-danger">Please give atleast one email address</span>
                                                    <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-p"></td>
                                                <td class="td-p"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                        <br />
                                        <table class="table-p-f">
                                            <tr>
                                                <td class="td-w"></td>
                                                <td align="left">
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <table id="tblAccessCode">
                                                                    <tr>
                                                                        <td>
                                                                            <div class="row">
                                                                                <div class="col-xs-12" style="margin-bottom: 12px;">
                                                                                    <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                                                                    <span class="text-danger" ng-show="captchaErr">{{'invalidCaptcha'|translate}}.</span>
                                                                                    <span class="text-danger" ng-show="isRegErrMsg">{{'errorOccured'|translate}}.</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="td-pr">
                                        <br />
                                        <md-button id="btnSubmit" class="btn btn-default" style="margin-bottom:20px;" ng-click="invites(invite,inviteForm.$valid)">{{'inviteFriend'|translate}}</md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <span ng-show="sucessMsg" ng-style="{'color':'green'}">Member Invited Sucessfully.</span>
        <span ng-show="errMsg" ng-style="{'color':'red'}">Invitation Failed.</span>
    </div>
</div>