@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
b { 
    font-weight: bold;
}

.collapse {
    margin: 0;
}

a:hover, button {
    text-decoration: none;
    outline: none;
    outline-offset: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.banner_bg {
    background: #313131 url(../../Images/MarketPlaces/banner_bg.jpg) no-repeat 0 top;
    padding: 0 0 80px;
}

.container {
    max-width: 960px;
    margin: auto;
}


.header-top {
    padding-top: 55px;
}

.logo-bar {
    height: 65px;
    display: inline-block;
    padding: 0 10px;
	background-color: #fff;
}

.login-form {
    height: 65px;
    background-color: #ECECEC;
    width: 460px;
    float: right;
}

.forminline {
    width: 44%;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

.form-label {
    padding: 2px 0px;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}

.form-control {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #FFFFFF;
    width: 100%;
    border: 0;
}

.clear {
    clear: both;
}

.logo-title {
    font-size: 17px;
    font-weight: 600;
    color: #313131;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 8px;
}

.logo-icon {
    display: inline-block;
    vertical-align: middle;
  
    border-radius: 100%;
    line-height: 0;
}

.text-danger {
    font-size: 10px;
    margin-left: 4px;
    color: red;
}

.text-success {
    font-size: 12px;
    color: green;
}

.marketplace {
    padding: 40px 15px 30px;
    text-align: center;
}

.cols {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.cards {
    background-color: #FFFFFF;
    padding: 20px;
}

.card-img {
    height: 200px;
    background-color: #000000;
    position: relative;
    line-height: 270px;
    overflow: hidden;
}

.card-label {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

.top-margin {
    margin-top: 250px;
}

.h3 {
    font-size: 34px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1;
}

.h2 {
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
}

.get-rewards {
    padding: 25px;
    background-color: #FFFFFF;
    margin: 20px 0 30px;
    }

    .get-rewards .title {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }

.am_logo {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.pull-right {
    float: right;
}

.cards .title {
    font-size: 24px;
    font-weight: 700;
    color: #2b2829;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.footer-links {
    padding: 20px;
    color: #7a7876;
    text-align: right;
}

    .footer-links a {
        color: #7a7876;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
    }

        .footer-links a:hover {
            color: #FFFFFF;
        }

.wt_space {
    width: 210px;
    display: inline-block;
}

.space_holder {
    position: relative;
    margin-left: -210px;
}

.forgot-pwd {
    font-size: 9px;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: 8px;
    color: #2b2b2b;
    text-decoration: none;
}



.form_cols .cols {
    padding-top: 50px;
}

.head-group-sm .h2 {
    font-size: 40px;
}

.head-group-sm .h3 {
    font-size: 20px;
}

.form_cols .get-rewards {
    margin-bottom: 15px;
}

    .form_cols .get-rewards .title {
        font-size: 18px;
    }

.form_cols .am_logo {
    float: none;
    margin-top: 25px;
}

.reg_form .login-form {
    height: auto;
    background-color: rgba(0,0,0,0.75);
    padding: 20px 15px;
}

.reg_form {
    float: right;
    margin-bottom: 30px;
}

    .reg_form .form-label {
        color: #FFFFFF;
    }

.reg_form {
    color: #FFFFFF;
}

.reg_form_head p {
    font-size: 12px;
}


input.button-newsletter {
    font-weight: bold;
    display: block;
    clear: both;
    width: 160px;
    font-size: 20px;
    background-image: none;
    color: #fff;
    background-color: #f49731;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 40px;
    margin-top: 50px;
    border: 0;
    outline: 0;
    outline-offset: inherit;
    cursor: pointer;
}

    input.button-newsletter:hover {
        background-color: #2355be;
    }


.reg_form_head {
    padding: 10px 0 20px;
}

.chk_term {
    padding: 20px 0 15px;
}

.aside_cards .cards {
    margin-bottom: 10px;
}

.cols-3 {
    width: 32.333%;
    padding: 1px 5px;
    display: inline-block;
}

.row_col {
    margin-left: -5px;
    margin-right: -5px;
}

.btn-signup {
    background-color: #2355be;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn-login {
    background: #C5C5C5;
    border: 1px solid #A3A3A3;
    padding: 6px 12px;
    color: #FFF;
    position: absolute;
    margin-top: 20px;
    border-radius: 5px;
}






.space_holder { position:relative; margin-left:-130px; }
.logo-aside a {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
	height: 65px;
}
.logo-title {
	    height: 40px;
    border-left: 1px solid #999;
    vertical-align: middle;
    line-height: 40px;
}
.login-form { position: relative; }
.btn-go { position: absolute;
    right: 12px;
    top: 0;
    height: 31px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #3b79c5;
    border-color: #245592;
 }