@media (min-width: 1280px) {
    .banner_bg { background-size: cover; height: 100vh; display: table; width: 100%; }
}

@media all and (max-width: 1100px) and (min-width: 1001px){
.logo-aside a {
    vertical-align: middle;
    /* max-width: 230px;
    padding-top: 4px; */
}
.logo-title {
   font-size: 17px;
}
.space_holder {
	position: relative;
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.container {
    max-width: 820px;
    margin: auto;
}
.login-form {
    width: 100%;
    position: relative;
}

}

@media (max-width: 1000px) {
	.container {
		max-width: 600px;
		padding-left: 15px;
    	padding-right: 15px;
	}
	.space_holder {
		margin-left: 0;
	}
	.wt_space {
		display: none;
	}
	
	.login-form {
		width: 100%;
		height: auto;
		margin-top: 6px;
		padding: 5px;
	}
	.btn-go {  
		position: relative;
		right: 0;
		top: 0;
		padding: 0 45px;
		margin: 10px;
	 }

	.forminline {
		width: 100%;
		padding: 10px;
	}
	.forgot-pwd {
		top: 14px;
	}
	.logo-bar {
		width: 100%;
	}
	.h3 {
		font-size: 20px;
	}
	.h2 {
		font-size: 40px;
	}
	.am_logo {
		margin-top: 25px;
		float: none;
	}
	.top-margin {
		margin-top: 20px;
		text-align: center;
	}
	.logo-title {
    font-size: 16px;
	}
	.cards .title {
		font-size: 16px;
	}
	.card-label {
		font-size: 14px;
		line-height: 18px;
	}
	.footer-links a {
		font-size: 11px;
	}
	.get-rewards .title {
		font-size: 18px;
	}
	.asideCont { display:none; }
	.reg_form { width:100%; }
	.form_cols .cols { padding-top:10px; }
	.reg_form .login-form { margin-top:10px; }
}


@media (max-width: 767px) {
	.container {
		max-width: 440px;
		padding-left: 15px;
    	padding-right: 15px;
	}
	 
	.cols {
		width: 100%;
		    margin-bottom: 15px;
	}

.logo-bar {
    width: 100%;
    height: auto;
    text-align: center;
}
.logo-aside a{ padding-left: 0; }
.logo-title {
    font-size: 16px;
    width: 100%;
    border-top: 1px solid #999;
    height: auto;
    border-left: 0;
    text-align: center;
}




 
}

