@{
    Layout = "~/Views/shared/_EntryLayout.cshtml";
}
<link href="/Content/reg.css" rel="stylesheet" />
<body>
    <div id="dvContainer" ng-if="pgLoad" ng-cloak>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        }
        <br />
        <form novalidate name="bsFormValidation">
            <div style="width: 100%; float: left;" ng-controller="regController">
                <div style="width:100%;" class="content-hide" ng-class="{'content-show':showViewContent}">
                    <div id="dvSurveyQuestions" class="container">
                        <div id="dvQuestion" style="width: 100%; float: left;" class="dvsurveyqst">
                            <!--Based on question type id ,deciding the type of input types whether we have to show a text box or drop down or radio button....-->
                                <div style="float: left; width: 100%;" class="row">
                                    <div class="row">
                                        <div class="col-sm-10" ng-if="question.QuestionTypeId != 1">
                                            <div ng-if="question.QuestionId == 9">
                                                <span class="ddlspan questiontext">{{question.QuestionText}} </span>
                                                <span>
                                                    <br />
                                                    <br />
                                                    {{'chooseans'|translate}}
                                                </span>
                                            </div>
                                            <div ng-if="question.QuestionId != 9">
                                                <span class="ddlspan questiontext">{{question.QuestionText}} </span>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                        <div class="col-sm-10" ng-if="question.QuestionTypeId == 1">
                                            <div ng-if="question.QuestionId == 10">
                                                <span class="ddlspan questiontext">{{question.QuestionText}} </span>
                                                <br />
                                                <br />
                                            </div>
                                            <div ng-if="question.QuestionId == 1">
                                                <span>Due to the sensitive nature of this research, please share additional details about yourself. We will never share, sell or rent this information as governed by our <a style="text-decoration: underline; cursor: pointer; white-space: nowrap;"><span id="spnprivacy" ng-click="privacy()">{{'privacyy'|translate}}</span></a>.</span><br /><br />
                                            </div>
                                            <div ng-if="question.QuestionId != 10 && question.QuestionId != 4">
                                                <span class="span questiontext">{{question.QuestionText}} </span>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="question.QuestionTypeId == 1">
                                        <div ng-if="question.QuestionId == 1">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <span class="span">{{'firstname'|translate}} </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input name="{{question.QuestionId+'0_txt'}}" type="text" class="form-control" id="txtanswer" ng-model="question.AnswerText" ng-required="true" />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <span ng-show="showMessage && bsFormValidation[question.QuestionId+'0_txt'].$invalid" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <span class="span">
                                                                {{'lastname'|translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="text" name="{{question.QuestionId+'1_txt'}}" class="form-control" ng-model="question.LastName" ng-show="question.QuestionTypeId==1" id="lastName" ng-required="true" />

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <span ng-show="showMessage && bsFormValidation[question.QuestionId+'1_txt'].$invalid" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div ng-if="question.QuestionId == 3">
                                            <div class="col-sm-6">
                                                <div ng-if="question.QuestionTypeId != '10'">
                                                    <input name="{{question.QuestionId+'_txt'}}" type="email" class="form-control" id="Text1" ng-model="question.AnswerText" ng-required="true" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <span ng-show="showMessage && bsFormValidation[QuestionId+'_txt'].$error.email" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                    <span class="span" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                                    <span class="span" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$error.email" style="color: red;">{{'notvalid'|translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="question.QuestionId == 1636">
                                            <div class="birthdate">
                                                <div class="col-sm-6">
                                                    <div class="form-group text-left">
                                                        <select class="form-control" name="{{question.QuestionId+'_txt'}}" id="ddlmonth" ng-model="question.Month" required>
                                                            <option value="">--MM--</option>
                                                            <option value="01">{{'jan'|translate}}</option>
                                                            <option value="02">{{'feb'|translate}} </option>
                                                            <option value="03">{{'mar'|translate}}</option>
                                                            <option value="04">{{'apr'|translate}}</option>
                                                            <option value="05">{{'may'|translate}}</option>
                                                            <option value="06">{{'jun'|translate}}</option>
                                                            <option value="07">{{'jul'|translate}}</option>
                                                            <option value="08">{{'aug'|translate}}</option>
                                                            <option value="09">{{'sep'|translate}}</option>
                                                            <option value="10">{{'oct'|translate}}</option>
                                                            <option value="11">{{'nov'|translate}}</option>
                                                            <option value="12">{{'dec'|translate}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group text-left">
                                                        <select class="form-control" name="{{question.QuestionId+'_txt'}}" id="ddldate" ng-model="question.Day" required>
                                                            <option value="">--DD--</option>
                                                            <option value="01">1</option>
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                            <option value="07">7</option>
                                                            <option value="08">8</option>
                                                            <option value="09">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group text-left">
                                                        <div ng-init="Years()">
                                                            <select class="form-control" name="{{question.QuestionId+'_txt'}}" id="ddlyear" ng-options="y as y for y in Yearsarr track by y" ng-model="question.Year" required>
                                                                <option value="">--YY--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <span ng-show="showMessage && bsFormValidation[questionId+'_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                        <span class="ddlspan" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="question.QuestionId == 4">
                                            <div>
                                                <div>
                                                    <span class="span">Home Street Address</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" name="{{question.QuestionId+'_txt'}}" class="form-control" id="Address1" ng-model="piiQuestions.Address1" required />
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span class="span" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <span class="span">Apt/Unit/Suite</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" name="address2_txt" class="form-control" id="Address2" ng-model="piiQuestions.Address2" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">

                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="optlst.length > 0 && question.StateQuestion">
                                                <div>
                                                    <span class="span">Please select your State/Province</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="{{'1640_txt'}}" ng-model="question.AnswerText" required>
                                                        <option value="">{{'select'|translate}}</option>
                                                        <option ng-repeat="op in optlst" value="{{op.OptionId}}">{{op.OptionText}}</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span class="ddlspan" ng-show="showMessage && bsFormValidation['1640_txt'].$invalid" style="color: red;padding-left: 15px;">{{'Required'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="question.CityQuestion">
                                                <div>
                                                    <span class="span">What City do you live in?</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" name="7_txt" class="form-control" id="city" ng-model="piiQuestions.City" required />
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span ng-show="showMessage && bsFormValidation['7_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="question.ZIPQuestion">
                                                <div>
                                                    <span class="span">Please provide your  Zip/Postal Code?</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" name="1639_txt" class="form-control" id="zip" ng-model="piiQuestions.ZIPCode" required />
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span ng-show="showMessage && bsFormValidation['1639_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="question.QuestionId != 1 && question.QuestionId != 3 && question.QuestionId != 10 && question.QuestionId != 1636 && question.QuestionId != 4">
                                            <div class="col-sm-6">
                                                <input type="text" name="{{question.QuestionId+'_txt'}}" class="form-control" id="Email1" ng-model="question.AnswerText" required />
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <span ng-show="showMessage && bsFormValidation[QuestionId+'_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                    <span class="span" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="question.QuestionTypeId == 2" style="float: left; width: 100%;">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <select class="form-control" name="{{question.QuestionId+'_txt'}}" ng-model="question.AnswerText" required>
                                                    <option value="">{{'select'|translate}}</option>
                                                    <option ng-repeat="op in optlst" value="{{op.OptionId}}">{{op.OptionText}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <span ng-show="showMessage && bsFormValidation[QuestionId+'_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                <span class="ddlspan" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="question.QuestionTypeId == 4" style="float: left; width: 100%;">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <select class="form-control" name="{{question.QuestionId+'_txt'}}" ng-model="question.AnswerText" id="ddlgender" required>
                                                    <option value="">{{'select'|translate}}</option>
                                                    <option value="M">{{'male'|translate}}</option>
                                                    <option value="F">{{'female'|translate}}</option>
                                                    <option value="N">{{'nonBinary'|translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <span ng-show="showMessage && bsFormValidation[QuestionId+'_txt'].$error.required" style="color: red;" class="span">{{'Required'|translate}}</span>
                                                <span class="ddlspan" ng-show="showMessage && bsFormValidation[question.QuestionId+'_txt'].$invalid" style="color: red;">{{'Required'|translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div style="float: left; width: 100%;" class="navigationarea">
                                <div class="formaction">
                                    <div style="text-align: left;" ng-if="qustid == '3'">
                                        {{'para'|translate}} <span style="color: blue; cursor: pointer;"
                                                                   ng-click="terms()">{{'termuse'|translate}}</span> and <span style="color: blue; cursor: pointer;"
                                                                                                                               ng-click="privacy()">{{'privacyy'|translate}}</span>.
                                        {{'privacymsg'|translate}}
                                    </div>
                                    <div>
                                        <button id="btnSubmit" class="btn button" ng-click="Save(bsFormValidation.$valid)">{{'Continue'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <hr style="height: 1px; border: none; color: #333; background-color: #333; float: left; width: 100%;" />
                            <div class="poweredby">
                                <div class="row" style="margin: 0px;">
                                    <div class="col-sm-10">
                                        <div class="form-group text-left">
                                            <span>&nbsp;&nbsp;{{'Copyright'|translate}} <span>{{year}}</span>&#169; Precision Sample, LLC.</span>
                                            <span>
                                                &nbsp;&nbsp;{{'All rights reserved.'|translate}} <a style="text-decoration: underline; cursor: pointer; white-space: nowrap;"><span id="spnprivacy" ng-click="privacy()">{{'Privacy Policy'|translate}}</span></a>
                                                <a href="#" onclick="window.open('https://opinionetwork.com/login/dns', 'donotsellinfo', 'height=600,width=600,scrollbars=yes'); return false" style="text-decoration: underline; cursor: pointer; white-space: nowrap;"><span id="spndns">{{'Do Not Sell Info' | translate}}</span></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="form-group text-left">
                                                <span style="font-size: 13px;">{{'Powered By'|translate}}</span>
                                            </div>
                                            <div class="form-group text-left">
                                                <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
