
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/pages/rg/relevant.js"></script>
</body>
</html>
