
@{
    Layout = "~/Views/Shared/_RgLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sm1</title>
</head>
<body>
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
    }
    <form id="form1">
        <center>
            <div id="divTCamDetails" style="font-size: 12px; background-color: #F5F5F5; padding: 10px; overflow: hidden;
                        border: solid 1px #CACACA; width: 500px;">
                <br />
                <br />
                <br />
                <br />
                <h1 id="h1" style="color: Red;">
                    Warning!
                </h1>
                <label ID="lblText" Font-Names="Verdana">@ViewBag.Message</label>
                <br />
                <br />
                <br />
            </div>
        </center>
    </form>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-7462191-5");
            pageTracker._trackPageview();
        } catch (err) { }</script>

</body>
</html>
