
@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,200" rel="stylesheet" type="text/css" />
<link href="~/Content/loquelanding/lqmain.css" rel="stylesheet" />
<link href="~/Content/loquelanding/main.css" rel="stylesheet" />
<link href="~/Content/loquelanding/lqstyles.css" rel="stylesheet" />
<link href="~/Content/loquelanding/red.css" rel="stylesheet" />


<html>
<head>
    <script src="https://www.offerfwd.net/oi/joi.js"></script>
    <style type="text/css">
        input.form-control {
            width: 100%;
            height: 34px;
            margin: 3px 0 0;
            padding: 6px 12px;
            color: black;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        select.form-control {
            width: 100%;
            height: 34px;
            margin: 3px 0 0;
            padding: 6px 12px;
            color: black;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        .text-right {
            text-align: right;
        }

        .span-right {
            color: White;
        }

        .oiRadioSelect input, .validInput input {
            padding: 0 0 !important;
            color: black !important;
            border-radius: 0px !important;
            height: auto !important;
            width: auto !important;
            margin: opx 0 0 !important;
            font-size: 12px !important;
        }

        .cqtable_internal input {
            padding: 0 0 !important;
            color: black !important;
            border-radius: 0px !important;
            height: auto !important;
            width: 221px !important;
            margin: 20px 0 0 !important;
            font-size: 12px !important;
        }

        .oiLinks, .cqtable span {
            width: 93%;
            text-align: justify;
            float: left;
        }
    </style>
</head>
<body>
    <div id="Container">
        <header class="main-header">
            <div class="wrapper">
                <div class="menu-icon"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                <div id="" class="login-icon"><i class="glyphicon glyphicon-user"></i></div>

                <div class="logo"></div>
                <div class="navi">
                    <form name="userLoginForm" novalidate>
                        <div class="mem_log">
                            <div class="row">
                                <div class="col-md-4 mlogin-label">{{'memberLogin' | translate }}</div>
                                <div class="col-md-3 col-input">
                                    <input type="text" class="pass-newsletter" name="email" id="fake_email" placeholder="{{'placeholdertextForEmail' | translate}}" ng-model="loginDetails.EmailAddress" required />
                                    <span class="span-err-msg" ng-show="userLoginForm.email.$error.email && showStep1ErrMsg">{{'notvalidEmail'|translate}}</span>
                                    <span ng-show="userLoginForm.email.$error.required && showLoginError" class="text-danger txt-req">{{'required'|translate}}</span>
                                </div>
                                <div class="col-md-3 col-input">
                                    <input type="password" class="pass-newsletter" name="password" id="fake_pass" placeholder="{{'placeholdertextForPassword' | translate}}" ng-model="loginDetails.Password" required />
                                    <span class="text-danger txt-req" ng-show="userLoginForm.password.$invalid && showLoginError">{{'required'|translate}}</span>
                                </div>
                                <div class="loginSubmit">
                                    <input type="submit" id="btnLogin" value="{{'login' | translate}}" ng-click="userLoginClick(userLoginForm.$valid)"
                                           name="subscribe" class="button-newsletter" />
                                </div>
                                <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 62%;float:left;">{{'wrgUsrName/Paswrd.tryAgain.'|translate}}</span>
                                <div id="dvFp">
                                    <a id="aFps" href="" data-bind="text: ViewModel1.BodyMenu.ForgotPs"
                                       style="text-decoration: underline; font-size: 12px; float: right; color: #FF9600; font-size: 11px;" ng-click="forgotPassword()">{{'forgotPs'|translate}}</a>
                                </div>
                                <div class="dv-errmsg-login">
                                    <span id="spnErrorMessage" style="display: none; font-size: 12px;"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul style="float: right;" class="menu-ul" ng-if="!forgetPswd">
                        <li><a href="" style="cursor: pointer;" ng-click="homeClick()">{{'home' | translate }}</a></li>
                        <li><a id="aFaq" style="cursor: pointer;" ng-click="faqClick()">{{'faq' | translate }}</a></li>
                        <li><a id="aAboutUs" style="cursor: pointer;" ng-click="aboutClick()">{{'aboutUs' | translate }}</a></li>
                        <li><a href="" ng-if="!contactUs" style="cursor: pointer;" ng-click="contactClick()">{{'contactUs' | translate }}</a></li>
                        <li><a id="aEnglish" style="cursor: pointer;" ng-click="enLanguage()">{{'english' | translate }}</a></li>
                        <li><a id="aSapnish" style="cursor: pointer;" ng-click="esLanguage()">{{'spanish' | translate }}</a></li>
                        <li><a id="aPortuguese" style="cursor: pointer;" ng-click="ptLanguage()">{{'portuguese' | translate }}</a></li>
                    </ul>
                    <ul style="float: right;" class="menu-ul" ng-show="forgetPswd">
                        <li><a href="" style="cursor: pointer;" ng-click="homeClick()">{{'home' | translate }}</a></li>
                        <li><a id="aFaq" style="cursor: pointer;" ng-click="faqClick()">{{'faq' | translate }}</a></li>
                        <li><a id="aAboutUs" style="cursor: pointer;" ng-click="aboutClick()">{{'aboutUs' | translate }}</a></li>
                        <li><a href="" style="cursor: pointer;" ng-click="contactClick()">{{'contactUs' | translate }}</a></li>
                        <li><a id="aEnglish" style="cursor: pointer;" ng-click="enLanguage()">{{'english' | translate }}</a></li>
                        <li><a id="aSapnish" style="cursor: pointer;" ng-click="esLanguage()">{{'spanish' | translate }}</a></li>
                        <li><a id="aPortuguese" style="cursor: pointer;" ng-click="ptLanguage()">{{'portuguese' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="clear">
        </div>
        <div>
            <div class="main promobox" ng-if="lqeStep2">
                <div class="cp-bg">
                </div>
                <div class="gradient" style="height:auto;">
                    <div class="wrapper">
                        <div class="slogan">
                            <h1 data-bind="text: ViewModel.BodyHeaders.ToSay" style="color: #d83b22; text-shadow: none; font-size: 26px; text-align: right;margin-right:15px;">{{'toSay' | translate }}</h1>
                            <h4 data-bind="text: ViewModel.BodyHeaders.RedeemCatalouges" style="color: #272727; text-shadow: none; padding-top: 10px; text-align: right;margin-right:15px;">{{'redeemCatalouges' | translate }}</h4>
                        </div>
                        <div class="subscriber">
                            <div class="subscriber-wrap">
                                <div ng-if="contactUs">
                                    <form id="Form1" style="display:inline-block;" name="contactUsForm" novalidate>
                                        <div style="color:white;">
                                            {{'writetousat' | translate }}
                                            <br />
                                            <br />
                                            {{'precisionSample' | translate }}<br />
                                            {{'ringsbyCourt' | translate }}<br />
                                            {{'suite' | translate }}<br />
                                            {{'denver' | translate }}<br />
                                            <br />
                                            <br />
                                            {{'pleaseSubmit' | translate }}
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input type="password" class="pass-newsletter" name="name" id="fake_pass" placeholder="{{'name' | translate}}" ng-model="emailDetails.fromname" required />
                                                    <span ng-show="contactUsForm.name.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="email-newsletter" name="email1" id="fake_email1" placeholder="{{'email' | translate}}" ng-model="emailDetails.fromaddress" required />
                                                    <span ng-show="contactUsForm.email1.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <textarea cols="3" rows="3" id="txtComment" name="Questions" ng-model="emailDetails.comments" class="pass-newsletter" style="margin-top: 10px; width: 95%;background: no-repeat scroll 18px 12px rgba(0,0,0,0.1);"
                                                              placeholder="{{'questions' | translate}}" required></textarea>
                                                    <span ng-show="contactUsForm.Questions.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <input id="btnRegister" type="submit" name="subscribe" value="{{'submit' | translate}}" ng-click="contactUsClick(contactUsForm.$valid)" class="button-newsletter" />
                                    </form>
                                </div>
                                <div ng-if="forgetPswd">
                                    <form id="Form1" style="display:inline-block;" name="forgotPswdForm" novalidate>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <input type="text" class="email-newsletter" name="email1" id="fake_email1" placeholder="Email" ng-model="getUserData.EmailAddress" required />
                                                    <span ng-show="forgotPswdForm.email1.$error.required && forgotPswdErrMsg" class="text-danger">{{'required' | translate }}</span>
                                                    <span class="text-danger" ng-show="forgotPswdForm.email1.$error.email">{{'invaildEmail' | translate }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span ng-show="saveref" ng-style="{'color':'green'}">Details Saved Successfully.</span>
                                                    <span ng-show="errMsg" ng-style="{'color':'red'}">Details Not Saved.</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <input id="btnRegister" type="submit" name="subscribe" value="{{'submit' | translate}}" ng-click="forgotPassword(forgotPswdForm.$valid)" class="button-newsletter" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dvMain" class="main" style="display: table; width: 100%;" ng-if="!lqeStep2">
                <div class="wrapper page2wrapper" style="background: url('/images/Loquedigo/WL/iStock_main_bg21.jpg')no-repeat;">
                    <div class="slogan sloganLeft" style="float: left;">
                        <h1 data-bind="text: ViewModel1.BodyHeaders.ToSay" style="color: #d83b22;text-shadow: none;font-size: 26px;padding: 10px;padding-bottom: 0px;text-align: center;">{{'hearToSay'|translate}}</h1>
                        <h2 data-bind="text: ViewModel1.BodyHeaders.RedeemCatalouges" style="color: #272727; text-shadow: none; font-size:14px; font-weight:500;text-align:center; padding:0px; text-align: center;">{{'redPaypalAmzFbrewds'|translate}}</h2>
                        <div class="arrow">
                            <ul>
                                <li>
                                    <span data-bind="text: ViewModel1.BodyHeaders.CmpleteAddText" style="font-size: 22px;">{{'cmpltAddInfor'|translate}} </span>
                                    <br />
                                    <span data-bind="text: ViewModel1.BodyHeaders.CmpleteAddText2" style="font-size: 22px;">{{'theFormtOtheRight'|translate}}</span>
                                </li>
                                <li>
                                    <span data-bind="text: ViewModel1.BodyHeaders.SubmitText" style="font-size: 17px;">{{'clickSubmit'|translate}} </span>
                                    <br />
                                    <span data-bind="text: ViewModel1.BodyHeaders.SubmitText2" style="font-size: 17px;">{{'enteredAlloftheInfor'|translate}}.</span>
                                </li>
                                <li>
                                    <span data-bind="text: ViewModel1.BodyHeaders.AwardsText" style="font-size: 17px;">{{'youWillawrd500pnts'|translate}}</span>
                                    <br />
                                    <span data-bind="text: ViewModel1.BodyHeaders.AwardsText2" style="font-size: 17px;">{{'yourwaysrttakingsurveys'|translate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="dvSubscriber" class="subscriber" style="height: auto; max-width: 445px;">
                        <div class="subscriber-wrap">
                            <img style="margin: 2% 0; max-width: 100%;" class="signupImg" src="../../Images/Loquedigo/WL/fin.png" />
                            <p data-bind="text: ViewModel1.BodyHeaders.SingnUpText" style="font-size: 17px; line-height: 20px;">
                                {{'rgstration500pntsinstly'|translate}}
                            </p>
                            <div style="padding-top: 2%; width: 100%;" id="dvMemberDetails">
                                <form role="form" name="userInput" novalidate class="form-horizontal row regpageform" style="padding: 0 10px">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'firstName'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtFirstName" name="fName" class="form-control" ng-model="user.FirstName" required />
                                            <span ng-show="userInput.fName.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'lastName'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtLastName" name="lName" class="form-control" ng-model="user.LastName" required />
                                            <span ng-show="userInput.lName.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'emailAddress'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="email" id="txtEmailAddress" name="txtEmail" class="form-control" ng-model="user.EmailAddress" ng-blur="validateEmail()" required />
                                            <span class="error text-danger txt-req" ng-show="userInput.txtEmail.$error.email">{{'notValidEmail'|translate}}</span>
                                            <span ng-show="userInput.txtEmail.$error.required && isRegErrMsg" class="text-danger">{{'required' | translate}}</span>
                                            <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'password'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="password" id="txtPassword" name="password" class="form-control" ng-minlength="6" ng-model="user.Password" required />
                                            <span ng-show="userInput.password.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                            <span class="text-danger" ng-show="userInput.password.$error.minlength">{{'passwordErrMsg'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'address1'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtAddress1" name="addres1" class="form-control" ng-model="user.Address1" required />
                                            <span ng-show="userInput.addres1.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'address2'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtAddress2" class="form-control" ng-model="user.Address2" />
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'country'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="ddlCountry" ng-model="user.CountryId" name="country" ng-options="con.CountryId as con.CountryName for con in countries" ng-change="countryByStates(user.CountryId)" required>
                                                <option value="">--{{'select'|translate}}--</option>
                                            </select>
                                            <span ng-show="userInput.country.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.CountryId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;" ng-if="states.length != 0">
                                        <label class="col-sm-4 control-label">{{'state'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="state" id="state" ng-options="st.StateId as st.StateName for st in states" ng-model="user.StateId" required>
                                                <option value="">--{{'select'|translate}}--</option>
                                            </select>
                                            <span ng-show="userInput.state.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.StateId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'city'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtCity" name="city" class="form-control" ng-model="user.City" required />
                                            <span ng-show="userInput.city.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'postalCode'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtZipCode" name="zipCode" class="form-control" ng-model="user.ZipCode" required />
                                            <span ng-show="userInput.zipCode.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'mobPhn'|translate}}</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtPhoneNumber" class="form-control" ng-model="user.MobilePhone" />
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:3px;">
                                        <label class="col-sm-4 control-label">{{'gender'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="ddlGender" ng-model="user.Gender" name="gender" ng-change="optIntelligenceCheck()" required>
                                                <option value="">--{{'select'|translate}}--</option>
                                                <option value="M">{{'male'|translate}}</option>
                                                <option value="F">{{'female'|translate}}</option>
                                                <option value="N">Non-Binary</option>
                                            </select>
                                            <span ng-show="userInput.gender.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'dob'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select id="ddlMonth" style="width: 30%; height: 34px; color: black; border-radius: 4px; border: 1px solid #ccc;"
                                                    ng-model="user.Month" name="month" required ng-click="optIntelligenceCheck()">
                                                <option value="">{{'mm'|translate}}</option>
                                                <option value="1">{{'jan'|translate}}</option>
                                                <option value="2">{{'feb'|translate}}</option>
                                                <option value="3">{{'mar'|translate}}</option>
                                                <option value="4">{{'apr'|translate}}</option>
                                                <option value="5">{{'may'|translate}}</option>
                                                <option value="6">{{'jun'|translate}}</option>
                                                <option value="7">{{'july'|translate}}</option>
                                                <option value="8">{{'aug'|translate}}</option>
                                                <option value="9">{{'sept'|translate}}</option>
                                                <option value="10">{{'oct'|translate}}</option>
                                                <option value="11">{{'nov'|translate}}</option>
                                                <option value="12">{{'dec'|translate}}</option>
                                            </select>
                                            <select id="ddlDay" style="width: 30%; height: 34px; color: #555; color: black; border-radius: 4px; border: 1px solid #ccc;"
                                                    ng-model="user.Day" name="day" required ng-click="optIntelligenceCheck()">
                                                <option value="">{{'dd'|translate}}</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                            <select style="width: 36%; height: 34px; color: black; border-radius: 4px; border: 1px solid #ccc;" id="ddlYear" ng-model="user.Year" ng-options="y.key as y.value for y in year" name="year" required ng-click="optIntelligenceCheck()">
                                                <option value="">YY</option>
                                            </select>
                                            <span ng-show="(userInput.month.$invalid ||userInput.day.$invalid||userInput.year.$invalid)  && isRegErrMsg" class="text-danger txt-req spn-yy-err">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;" ng-if="user.CountryId != 505 && user.CountryId != 512 && user.CountryId != 525 && user.CountryId != 545 && user.CountryId != 548 && user.CountryId != 549 && user.CountryId !=550 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=565 && user.CountryId !=572 && user.CountryId !=575 && user.CountryId !=590 && user.CountryId !=596 && user.CountryId !=599 && user.CountryId !=613 && user.CountryId !=618 && user.CountryId !=619 && user.CountryId !=620 && user.CountryId !=628 && user.CountryId != 647 && user.CountryId != 657 && user.CountryId != 668 && user.CountryId != 669 &&
                         user.CountryId !=673 && user.CountryId !=693 && user.CountryId !=694 && user.CountryId !=700 && user.CountryId !=706">
                                        <label class="col-sm-4 control-label">{{'ethnicity'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select id="ddlEthnicity" class="form-control" name="ethnicity" ng-model="user.EthnicityId" ng-options="ec.EthnicityId as ec.EthnicityType for ec in ethnicityLst" required>
                                                <option value="">--{{'select'|translate}}--</option>
                                            </select>
                                            <span ng-show="userInput.ethnicity.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.EthnicityId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-4 control-label">{{'language'|translate}}</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="language" ng-model="user.OptionId" ng-options="lan.OptionId as lan.OptionText for lan in languageLst" required>
                                                <option value="">--{{'select'|translate}}--</option>
                                            </select>
                                            <span ng-show="step2Form.language.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                            <span class="error text-danger" ng-show="user.OptionId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom: 12px;margin: 15px;">
                                            <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                            <span class="text-danger" ng-show="captchaErr">{{'invadCaptSele'|translate}}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <label id="lblMessage" style="color: Red; display: none;">
                                        </label>
                                    </div>

                                    <div id="divShow" class="form-group" style="display:none;background:#cecece;">
                                        <div style="color: Black; margin-left: 10px; padding-left: 10px; text-align:justify;">

                                            <b>{{'goodnews'|translate}}! </b>{{'basenonDemographics'| translate}}.<br /><br />
                                            <div id="offers" oi-pid="14376727" class="form-group" style="vertical-align:left;">

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="dvTc" style="padding: 6px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 8px;" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                                                <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 89%; font-size: 12px; cursor: default;" class="ng-binding">
                                                    I agree to the <a href="" style="color: white;text-decoration: underline;" ng-click="termsClick('/WidgetTerms.html')" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br />
                                                    I understand that my personal data will be processed as described in the <a href="" style="color: white;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                                                </label>
                                                <div class="col-sm-8">
                                                    <span ng-show="userInput.agree.$invalid && isRegErrMsg" class="text-danger txt-req">{{'required'|translate}}</span>
                                                </div>
                                            </div>
                                            <input type="submit" id="imgNext" data-bind="value: ViewModel1.BodyHeaders.Submit"
                                                   name="subscribe" ng-click="submit(userInput.$valid)" value="{{'submit' | translate}}" class="button-newsletter" />
                                            <input type="hidden" id="hfvalue" value="0" />
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="box-shadow:none;" ng-if="!lqeStep2">
        <div class="wrapper">
            <div class="copy">
                <p>
                    &#169; <span>{{'cpr'|translate}}</span>
                    <strong><span>{{'whatISay'|translate}}</span></strong>.
                    <span>{{'rightReserved'|translate}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="spnTc" style="cursor: pointer;"><a href="" ng-click="termsClick()">{{'tc'|translate}}</a></span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <span id="spnPrp" style="cursor: pointer;"><a href="" ng-click="privacyClick()">{{'prp'|translate}}</a></span>
                </p>
            </div>
            <div class="social">
                <ul>
                    <li class="google"><a href="#"></a></li>
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="howitwork" ng-if="lqeStep2">
        <div class="wrapper">
            <div class="title">
                <h3 data-bind="text: ViewModel.BodyHeaders.HowItWorks" style="display: table;">{{'howItWorks' | translate }}</h3>
            </div>
            <div class="row-fluid">
                <div class="span4 featu" style="width: 31.623931623931625%;">
                    <div class="icon">
                        <img src="~/Images/Loquedigo/WL/features1.png" class="ft1" alt="" />
                    </div>
                    <h6 data-bind="text: ViewModel.BodyHeaders.GetPoints" class="regheader">{{'getPoints' | translate }}</h6>
                    <p data-bind="text: ViewModel.BodyHeaders.BasicInformation" style="min-height: 115px;">
                        {{'basicInformation' | translate }}
                    </p>
                    <div class="step">
                        <p data-bind="text: ViewModel.BodyHeaders.Step1">
                            {{'step1' | translate }}
                        </p>
                    </div>
                </div>
                <div class="span4 featu" style="width: 31.623931623931625%;margin-left:340px;margin-top:-347px;">
                    <div class="icon">
                        <img src="~/Images/Loquedigo/WL/features2.png" class="ft1" alt="" />
                    </div>
                    <h6 data-bind="text: ViewModel.BodyHeaders.OnlineSurvey" class="regheader">{{'onlineSurvey' | translate }}</h6>
                    <p data-bind="text: ViewModel.BodyHeaders.Surveymatches" style="min-height: 115px;">
                        {{'surveymatches' | translate }}
                    </p>
                    <div class="step">
                        <p data-bind="text: ViewModel.BodyHeaders.Step2">
                            {{'step2' | translate }}
                        </p>
                    </div>
                </div>
                <div class="span4 featu" style="width:31.623931623931625%;margin-left: 660px;margin-top: -347px;">
                    <div class="icon">
                        <img src="~/Images/Loquedigo/WL/features3.png" class="ft1" alt="" />
                    </div>
                    <h6 data-bind="text: ViewModel.BodyHeaders.GetReward" class="regheader">{{'getReward' | translate }}</h6>
                    <p data-bind="text: ViewModel.BodyHeaders.CompleteSurvey" style="min-height: 115px;">
                        {{'completeSurvey' | translate }}
                    </p>
                    <div class="step">
                        <p data-bind="text: ViewModel.BodyHeaders.Step3">
                            {{'step3' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action" style="background: url(../../img/gradient.png) top no-repeat #272727;" ng-if="lqeStep2">
        <div class="wrapper" style="width: 75%">
            <h3 data-bind="text: ViewModel.BodyHeaders.EarnCash" id="h3Earn" style="font-size: 20px;">{{'earnCash' | translate }}</h3>
            <a class="action-button" href="" ng-click="homeClick()" style="background-color: #ff9600;">
                <label data-bind="text: ViewModel.BodyHeaders.Register">
                    {{'register' | translate }}
                </label>
            </a>
        </div>
    </div>
    <footer ng-if="lqeStep2">
        <div class="wrapper">
            <div class="copy">
                <p>
                    &#169; <span data-bind="text: ViewModel.Footer.Cpr">{{'cpr' | translate }}</span>
                    <strong><span data-bind="text: ViewModel.Footer.WhatISay">{{'whatISay' | translate }}</span></strong>.
                    <span data-bind="text: ViewModel.Footer.RightReserved">{{'rightReserved' | translate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="spnTc" data-bind="text: ViewModel.Footer.Tc" style="cursor: pointer;" ng-click="termsClick('/WidgetTerms.html')">{{'tc' | translate }}</span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <span id="spnPrp" data-bind="text: ViewModel.Footer.Prp" style="cursor: pointer;" ng-click="privacyClick()">{{'prp' | translate }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span id="doinfo" style="cursor: pointer;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</span>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
