@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<html>
<head>
    <script src="https://www.offerfwd.net/oi/joi.js"></script>
    <style type="text/css">
        .oiInputBox label {
            font: 12px/30px Verdana, Geneva, sans-serif;
            float: none !important;
            padding: 0 0 0 0 !important;
            width: 30px !important;
            text-align: right;
            display: inline-block !important;
            margin: 0 0 0 0 !important;
        }

        .cqtable_internal, .cqtable_internal b, .validInput, .cqtable span, .cqtable font {
            color: Black !important;
            font-size: 12px !important;
        }

        .oiOfferText, .oiCustomBox {
            width: 94% !important;
        }

        .form-group1 {
            margin-left: -15px;
        }
    </style>
</head>

<body id="Body1" style="background-color: #B4E0E9;">
    <form class="form-horizontal login-form" name="userInput" novalidate>
        <center>
            <div style="position: relative; width: 1200px; height: 100%;" align="left">
                <img id="image_4" style="position: absolute; left: 194px; top: 112px; width: 423px; height: 78px; z-index: 30;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/MommyKnows3.png"
                     objtype="0" />
                <div id="boxTool_9" style="position: absolute; background-color: rgb(252, 170, 90); z-index: 3; left: 194px; top: 454px; width: 393px; height: 270px; border: 1px dotted rgb(153, 153, 153);"
                     objtype="5">
                </div>
                <div id="txtBox_14" style="position: absolute; left: 195px; top: 12px; width: 802px; height: 39px; z-index: 4; padding: 10px;"
                     objtype="2" align="center">
                    <span style="font-size: 24pt; color: rgb(47, 141, 161);"><span style="font-family: Calibri;">Really great surveys, for really busy Moms.</span></span>
                </div>
                <div id="boxTool_15" style="position: absolute; background-color: rgb(235, 235, 215); left: 599px; top: 209px; width: 424px; height: auto; z-index: 5; border: 1px dotted rgb(204, 204, 204);"
                     objtype="5">
                    <br />
                    <div style="margin-left: 15px; padding-left: 15px;">
                        <ng-include src="step2"></ng-include>
                        <div class="form-group1">
                            <div class="col-md-10 pull-right" style="display:inline-table;">
                                <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                <span class="text-danger" ng-show="captchaErr">Invalid captcha selection.</span>
                            </div>

                        </div>
                        <div id="divShow" class="form-group1" style="display:none;">
                            <div style=" margin-left 10px; padding-left 10px; text-align:justify;">

                                <b>{{'goodnews'|translate}}! </b>{{'basenonDemographics'| translate}}.<br /><br />
                                <div id="offers" oi-pid="14376727" class="form-group" style="vertical-align:left;">

                                </div>

                            </div>
                        </div>
                        <div class="dvTc" style="padding: 6px;">
                            <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 5px;" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                            <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 89%; font-size: 12px; cursor: default;" class="ng-binding">
                                I agree to the <a href="" style="color: black;text-decoration: underline;" ng-click="termsClick()" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br />
                                I understand that my personal data will be processed as described in the <a href="" style="color: black;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                            </label>
                            <span ng-show="userInput.agree.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                        </div>
                        <div>
                            <div class="col-sm-12 text-center">
                                <input type="image" id="imgNext" src="/Images/MommyKnowsSurveys/WL/get_started.png" alt="MommyKnowsSurveys" onclick="Delay()" ng-click="submit(userInput.$valid)" />
                                <input type="hidden" id="hfvalue" value="0" />
                            </div>
                        </div>
                        @*<div style="font-size: 8pt;color: Gray;padding: 6px;">
                            <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 8px;" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                            By signing up, I agree to the Terms of Use and Privacy Policy and agree to receive additional survey, market research and other relevant offers from MommyknowsSurveys.com
                            <span ng-show="userInput.agree.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                         </div>*@
                    </div>
                </div>
                <div id="boxTool_23" style="border-color: initial; position: absolute; background-color: rgb(255, 255, 255); left: 158px; top: 76px; width: 892px; height: 1150px; z-index: 1; border: 1px dotted rgb(153, 153, 153);"
                     objtype="5">
                    &nbsp;
                </div>
                <div id="boxTool_24" objtype="5" style="border-color: initial; position: absolute; background-color: rgb(255, 255, 255); left: 168px; top: 88px; width: 872px; height: 1130px; z-index: 2; border: 1px dotted rgb(153, 153, 153);">
                    &nbsp;
                </div>
                <img id="image_28" style="position: absolute; left: 125px; top: 52px; width: 86px; height: 82px; z-index: 31;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/blue1.png"
                     objtype="0" />
                <img id="image_29" style="position: absolute; left: 1021px; top: 90px; width: 86px; height: 82px; z-index: 32;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/red1.png"
                     objtype="0" />
                <img id="image_30" style="position: absolute; left: 114px; top: 118px; width: 70px; height: 67px; z-index: 33;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/little_purple.png"
                     objtype="0" />
                <img id="image_42" style="position: absolute; left: 221px; top: 641px; width: 37px; height: 32px; z-index: 34;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/check4.png"
                     objtype="0" />
                <img id="image_43" style="position: absolute; left: 221px; top: 561px; width: 37px; height: 32px; z-index: 35;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/check3.png"
                     objtype="0" />
                <img id="image_44" style="position: absolute; left: 220px; top: 486px; width: 37px; height: 32px; z-index: 36;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/check2.png"
                     objtype="0" />
                <img id="image_45" style="position: absolute; z-index: 37; left: 194px; top: 203px; width: 315px; height: 242px;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/mommy2.jpg"
                     objtype="0" />
                <div id="txtBox_47" style="position: absolute; left: 262px; top: 468px; width: 279px; height: 46px; color: rgb(255, 255, 255); z-index: 39; padding: 10px;"
                     objtype="2">
                    <span style="font-weight: bold;">
                        <span style="font-family: Calibri; font-size: 24pt;">
                            <span style="font-size: 14pt;">
                                Complete your sign up by filling out the form on the
                                right...
                            </span>
                        </span>
                    </span>
                </div>
                <img id="image_57" style="position: absolute; z-index: 42; left: 616px; top: 185px; width: 400px; height: 34px;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/finish_signup.png"
                     objtype="0" />
                <div id="txtBox_74" style="position: absolute; left: 262px; top: 545px; width: 279px; height: 46px; z-index: 40; padding: 10px;"
                     objtype="2">
                    <span style="color: rgb(255, 255, 255); font-weight: bold;">
                        <span style="font-family: Calibri; font-size: 24pt;">
                            <span style="font-size: 14pt;">
                                When finished, click "submit" then
                                choose an offer you prefer
                            </span>
                        </span>
                    </span>
                </div>
                <div id="txtBox_75" style="position: absolute; left: 262px; top: 623px; width: 279px; height: 46px; z-index: 41; padding: 10px;"
                     objtype="2">
                    <span style="color: rgb(255, 255, 255); font-weight: bold;">
                        <span style="font-family: Calibri; font-size: 24pt;">
                            <span style="font-size: 14pt;">
                                You'll be instantly entered into our
                                monthly iPad Giveway!
                            </span>
                        </span>
                    </span>
                </div>
                <img id="image_76" style="position: absolute; left: 732px; top: 106px; width: 236px; height: 38px; z-index: 43;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/rewards.png"
                     objtype="0" />
                <img id="image_77" style="position: absolute; left: 561px; top: 244px; width: 56px; height: 54px; z-index: 46;"
                     border="0" src="/Images/MommyKnowsSurveys/WL/little_green.png"
                     objtype="0" />
                <div id="boxTool_80" style="position: absolute; z-index: 48; left: 202px; top: 461px; width: 378px; height: 255px; border: 1px dotted rgb(255, 255, 255);"
                     objtype="5">
                </div>
            </div>
            <div style="margin-top:410px; padding-top: 40px;margin-bottom:20px; left: 500px; font-family: Arial; font-size: 10pt; position: absolute;">
                <div id="footer">
                    © Copyright 2011-2022 {{orgDetails.OrgName}} | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> | <a href="javascript:;" ng-click="aboutClick()">About Us</a> | <a href="/wl/sm">Site Map</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
                </div>
            </div>
        </center>
    </form>
</body>
</html>
