
@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}

<body id="Body1" style="background-color: #B4E0E9;">
    <center>

        <img id="image_4" style="position: absolute; left: 194px; top: 132px; width: 423px; height: 78px; z-index: 17;"
             border="0" src="/Images/MommyKnowsSurveys/WL/MommyKnows3.png"
             objtype="0" />
        <img id="image_8" style="position: absolute; left: 184px; top: 192px; width: 442px; height: 345px; z-index: 4;"
             border="0" src="/Images/MommyKnowsSurveys/WL/mommy2.jpg"
             objtype="0" />
        <div id="boxTool_9" style="position: absolute; left: 184px; top: 542px; width: 842px; height: 75px; background-color: rgb(253, 170, 86); z-index: 5; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-top-color: rgb(153, 153, 153); border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153);"
             objtype="5">
            &nbsp;
        </div>
        <img id="image_10" style="position: absolute; left: 819px; top: 544px; width: 67px; height: 66px; z-index: 6;"
             border="0" src="/Images/MommyKnowsSurveys/WL/facebook_credits.png"
             objtype="0" />
        <img id="image_11" style="position: absolute; left: 906px; top: 544px; width: 97px; height: 61px; z-index: 7;"
             border="0" src="/Images/MommyKnowsSurveys/WL/paypal.png"
             objtype="0" />
        <div id="txtBox_12" style="position: absolute; left: 212px; top: 544px; z-index: 8; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 584px; height: 39px;"
             objtype="2">
            <span style="font-family: Calibri; font-weight: bold;">
                <span style="color: rgb(255, 255, 255);">
                    <span style="font-size: 24pt;">Get Rewarded for every survey you take!</span>
                </span>
            </span>
        </div>
        <div id="Div1" style="padding: 5px; position: absolute; z-index: 9; width: 974px; height: 39px; float: right; padding-left: 30px; margin-left: 30px; font-family: Verdana, Helvetica, 'sans serif'; font-size: 12px; top: 0px;">
            @*<div style="width: 960px; padding-left: 30px; margin-left: 30px;" ng-if="nomNomCookie">
                <div id="divcookie" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #CECECE; display: none;">
                    <div style="margin: auto; padding: 2px; line-height: 2px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="vertical-align: top;" align="left">
                                    <h1 style="color: #920025; font-size: 24px;">nom nom... Cookies</h1>
                                </td>
                                <td style="vertical-align: top;" align="left">
                                    <img src="/images/cookie_image.png" width="50" height="32" alt="cookie_img" style="margin-left: 5px;" />
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp; We use cookies to enhance your experience on our website. For more
                                    details, please review our &nbsp;&nbsp;<a href="/Misc/c.htm" style="color: #1E91CB;">
                                        <u>
                                            Cookie
                                            Policy
                                        </u>
                                    </a>
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="OK" ng-click="okCookie()" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>*@
            <div style="float: right;text-align: left; margin-right: -167px;" class="login-form">
                <ng-include src="step1"></ng-include>
                <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 100%;padding-left: 15px;">Wrong username/password. Try again.</span>
            </div>
        </div>

        <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
            <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
                <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                    <div>
                        <div style="display:inline-flex;">
                            <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                            <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                        </div>
                        <div style="float:right;">
                            <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                        </div>
                    </div>
                    <div style="vertical-align: bottom;" align="left">
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="http://www.mommyknowssurveys.com/" style="color: #ffffff;">http://www.mommyknowssurveys.com/</a> and to keep our Website quick and safe. </p><br />
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                    </div>
                    <div>
                        <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                        <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                    </div>
                    <div style="margin-top:10px;">
                        <p align="left" style="color: #ffffff;font-size:12px;">
                            Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()" style="color: #337ab7;">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                            <a href="#" style="color: #337ab7;" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="txtBox_14" style="padding: 30px; position: absolute; left: 10px; width: 974px; height: 39px; float: left; padding-left: 20px; margin-left: 20px; top: -10px;"
             objtype="2">
            <span style="font-size: 22pt; color: rgb(47, 141, 161);">
                <span style="font-family: Calibri; float: left;">
                    Really great surveys,<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for
                    really busy Moms.
                </span>
            </span>
            <br />
        </div>
        &nbsp;
        <div id="boxTool_15" style="position: absolute; background-color: rgb(235, 235, 215); left: 670px; top: 162px; width: 326px; height: 375px; z-index: 10; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204);"
             objtype="5">
            &nbsp;

            <div style="padding-left: 15px; padding-top: 10px; margin-top: 40px; margin-left: 15px;">
                <div class="row">
                    <form name="step1RegForm" novalidate>
                        <ng-include src="step1Reg"></ng-include>
                        <div class="col-lg-10 col-md-10">
                            <input type="image" id="imgNext" src="/Images/MommyKnowsSurveys/WL/get_started.png" alt="MommyKnowsSurveys" ng-click="Step1RegClick(step1RegForm.$valid)" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <img id="image_22" style="position: absolute; left: 705px; top: 140px; width: 257px; height: 34px; z-index: 18; margin-bottom: 0px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/free_to_join.png"
             objtype="0" />
        <div id="boxTool_23" style="border-color: initial; position: absolute; background-color: rgb(255, 255, 255); left: 158px; top: 105px; width: 892px; height: 724px; z-index: 1; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-top-color: rgb(153, 153, 153); border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153);"
             objtype="5">
            &nbsp;
        </div>
        <div id="boxTool_24" style="border-color: initial; position: absolute; background-color: rgb(255, 255, 255); left: 168px; top: 115px; width: 872px; height: 699px; z-index: 2; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-top-color: rgb(153, 153, 153); border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153);"
             objtype="5">
            &nbsp;
        </div>
        <img id="image_28" style="position: absolute; left: 125px; top: 52px; width: 86px; height: 82px; z-index: 20;"
             border="0" src="/Images/MommyKnowsSurveys/WL/blue1.png"
             objtype="0" />
        <img id="image_29" style="position: absolute; z-index: 21; left: 1021px; top: 120px; width: 86px; height: 82px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/red1.png"
             objtype="0" />
        <img id="image_30" style="position: absolute; left: 114px; top: 118.5px; width: 70px; height: 67px; z-index: 22;"
             border="0" src="/Images/MommyKnowsSurveys/WL/little_purple.png"
             objtype="0" />
        <img id="image_31" style="position: absolute; z-index: 23; left: 635px; top: 166px; width: 56px; height: 54px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/little_green.png"
             objtype="0" />
        <div id="txtBox_32" style="position: absolute; z-index: 24; left: 698px; top: 176px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 249px; height: 32px;"
             objtype="2" align="center">
            <span style="font-size: 10pt; color: rgb(102, 102, 102);"><span style="font-family: Arial;">Earn money by expressing your opinion with real Market Research surveys.</span></span>
        </div>
        <img id="image_37" style="position: absolute; left: 194px; top: 620px; width: 233px; height: 155px; z-index: 27;"
             border="0" src="/Images/MommyKnowsSurveys/WL/ipad_box.gif"
             objtype="0" />
        <div id="txtBox_38" style="position: absolute; z-index: 29; left: 507px; top: 611px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 522px; height: 38px;"
             objtype="2">
            <span style="color: rgb(102, 102, 102);">
                <span style="font-size: 12pt; font-family: Arial;">
                    Companies around the world want your insight into consumer products. Earn cash rewards
                    simply by sharing your opinions.
                </span>
            </span>
        </div>
        <div id="txtBox_39" style="position: absolute; z-index: 30; left: 508px; top: 670px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 497px; height: 22px;"
             objtype="2">
            <span style="color: rgb(102, 102, 102);"><span style="font-size: 12pt; font-family: Arial;">Refer your friends and earn rewards for the surveys they complete.</span></span>
        </div>
        <div id="txtBox_40" style="position: absolute; z-index: 31; left: 510px; top: 712px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 497px; height: 38px;"
             objtype="2">
            <span style="color: rgb(102, 102, 102);"><span style="font-size: 12pt; font-family: Arial;">You only need to accumulate $20 in your account to redeem your earnings.</span></span>
        </div>
        <img id="image_42" style="position: absolute; z-index: 33; left: 475px; top: 716px; width: 37px; height: 32px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/check4.png"
             objtype="0" />
        <img id="image_43" style="position: absolute; z-index: 34; left: 476px; top: 670px; width: 37px; height: 32px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/check3.png"
             objtype="0" />
        <img id="image_44" style="position: absolute; z-index: 35; left: 474px; top: 624px; width: 37px; height: 32px;"
             border="0" src="/Images/MommyKnowsSurveys/WL/check2.png"
             objtype="0" />
        <div style="margin-top:410px; padding-top: 410px; left: 350px; font-family: Arial; font-size: 10pt; position: absolute;">
            <div id="footer">
                © Copyright 2011-2022 {{orgDetails.OrgName}} | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> | <a href="javascript:;" ng-click="aboutClick()">About Us</a> | <a href="/wl/sm">Site Map</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
            </div>
        </div>
    </center>

</body>

