@{
    Layout = null;
}

<head>
    <title>@ViewBag.OrgName</title>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <link href="~/Content/rg/base.css" rel="stylesheet" />
    <link href="~/Content/rg/skeleton.css" rel="stylesheet" />
    <link href="~/Content/rg/layout.css" rel="stylesheet" />
    <link href="~/Content/rg/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/rg/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/rg/wtlstep1.css" rel="stylesheet" />
    <style type="text/css">
        .form-group {
            margin-bottom: 7px;
        }
    </style>
</head>
<body ng-app="loginApp" ng-controller="loginCtrl" ng-cloak>
    @Html.AntiForgeryToken()
    <style type="text/css">
        #dvLoading {
            background: transparent url(/Images/pg_r_t.gif) no-repeat center center;
            position: fixed;
            height: 100px;
            width: 200px;
            z-index: 1000;
            left: 55%;
            top: 25%;
            padding-top: 10px;
            vertical-align: middle;
            padding-left: 10px;
            font-size: 12pt;
        }

        /* rotator css */
        div.rotator divul {
            margin: 0;
            padding: 0;
        }

        div.rotator div ul li {
            float: left;
            list-style: none;
        }

            div.rotator div ul li.show {
                z-index: 500;
                margin: 2px;
            }

        .showContent {
            display: block;
        }

        .hide {
            display: none;
        }

        .imgRewards {
            margin: 4px;
        }
        /* rotator image style */
    </style>

    @*<div style="width: 100%;" ng-if="nomNomCookie">
        <center>
            <div id="divcookie" style="margin-left:0px; margin-top:0px;margin-right:0px;margin-bottom:0px;font-family:Arial, Helvetica, sans-serif; font-size: 12px; background-color: #CECECE; display: none;">
                <div style="margin: auto; padding: 2px;">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="vertical-align: top;" align="left">
                                <h1 style="color: #920025; font-size: 24px; text-transform: lowercase;">nom nom... Cookies</h1>
                            </td>
                            <td style="vertical-align: top;" align="left">
                                <img src="/images/cookie_image.png" width="50" height="32" alt="cookie_img" style="margin-left: 5px;" />
                            </td>
                            <td style="vertical-align: middle;" align="left">
                                &nbsp;&nbsp; We use cookies to enhance your experience on our website. For more
                                details, please review our &nbsp;&nbsp;<a href="/Misc/c.htm" style="color: #1E91CB;">
                                    <u>
                                        Cookie
                                        Policy
                                    </u>
                                </a>
                            </td>
                            <td style="vertical-align: middle;" align="left">
                                &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="OK" ng-click="okCookie()" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
    </div>*@

    <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
        <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
            <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                <div>
                    <div style="display:inline-flex;">
                        <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                        <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                    </div>
                    <div style="float:right;">
                        <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                    </div>
                </div>
                <div style="vertical-align: bottom;" align="left">
                    <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="http://we-tell.com/" style="color: #ffffff;">http://we-tell.com/</a> and to keep our Website quick and safe. </p><br />
                    <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                </div>
                <div>
                    <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                    <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                </div>
                <div style="margin-top:10px;">
                    <p align="left" style="color: #ffffff;font-size:12px;">
                        Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()" style="color: #337ab7;">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                        <a href="#" style="color: #337ab7;" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <header style="padding: 22px 0;">
        <div class="container">
            <div class="four columns logo"> <a href="#"><img src="~/Images/rg/logo.png" /></a></div>
            <nav id="navigation" class="twelve columns">
                <form novalidate name="userLoginValidations">
                    <div class="mem_log" style">
                        <div style="width:100%;">
                            <div class="dvUsername">
                                <input type="email" class="txtUserName" name="uName" id="txtLoigEmailId" ng-model="loginDetails.EmailAddress" style="display:inline;margin-bottom:10px;float:left;" placeholder="Username" required>
                                <span ng-show="userLoginValidations.uName.$error.required && showLoginError" class="text-danger">Required</span>
                                <span class="text-danger" ng-show="userLoginValidations.uName.$error.email">{{'notValidEmail' | translate}}!</span>
                            </div>
                            <div class="dvPassword">
                                <input type="password" class="txtPassword" name="uPassword" id="txtPassword" ng-model="loginDetails.Password" style="display:inline;  margin-bottom:10px;float:left;" placeholder="Password" required>
                                <span ng-show="userLoginValidations.uPassword.$invalid && showLoginError" class="text-danger">Required</span>
                            </div>
                            <div class="dvButton">
                                <button class="submit btnSubmit" id="btnSubmit" style="display:inline; margin-bottom:10px;" ng-click="userLoginClick(userLoginValidations.$valid)">Submit Now</button>
                            </div>
                            <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 62%;float:left;">Wrong username/password. Try again.</span>
                        </div>
                        <div style="width:100%;">
                            <div class="dvButton">
                                <p class="btnSubmit" style="padding:0px; margin:0px;"><a href="/login/ForgotPsw" id="aFp" style="cursor: pointer;" ng-click="forgotPassword()">Forgot Password</a></p>
                            </div>
                        </div>

                        <table>
                            <tr>
                                <td>
                                    <span id="spnErrorMessage" style="display:none;font-size:13px;">
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </nav>
        </div>
    </header>
    <!-- End Header -->
    <!-- Intro -->
    <section id="intro">
        <!-- Container -->
        <div class="container">
            <div class="seven columns main-text">
                <h1>
                    Make <span>$100s / month</span><br />
                    answering questions!
                </h1>
                <p class="lead">Earn Rewards for participating in short surveys. </p>
                <div class="cpimg2">
                    <img alt="" src="~/Images/rg/1.png" />
                    <p><strong>Get 500 Points Instantly!</strong><br /><br />All you need to do is provide basic information about the products you buy.</p>
                </div>
                <div class="cpimg2">
                    <img alt="" src="~/Images/rg/2.png" />
                    <p><strong>Take Online Surveys</strong><br /><br />When a survey matches your profile we will send you an email alert. It's that easy!</p>
                </div>
                <div class="cpimg2">
                    <img alt="" src="~/Images/rg/3.png" />
                    <p><strong>Get Rewards</strong><br /><br />A reward will be added to your account for each completed survey.</p>
                </div>
            </div>
            <div class="eight columns offset-by-one order-form">
                <!-- Order Form -->
                <div id="dvLoading" style="display:none;">
                    <span id="Span2" style="color: Red; padding-top: 36px; float: right; padding-left: 102px;
                font-size: 13px;">..Please Wait</span>
                </div>
                <div class="divForm">
                    <h4 style="text-align:center;">Register your Account Now!</h4>
                    <p>Get started by completing the form below</p>
                    <p style="opacity:1; text-align:center; margin-top:10px; ">
                        <a href="#" onclick="fb_login()" class="asocial"><img alt="" src="~/Images/rg/fb.png" /></a>
                    </p>
                    <form novalidate name="step1RegForm">
                        <table class="tbuserfrom" style="width:100%;">
                            <tr>
                                <td>
                                    <table style="width: 100%; padding: 10px">
                                        <tr>
                                            <td>
                                                <div class="col-sm-7" style="margin-bottom: 20px;">
                                                    <input type="text" id="txtRegisterEmail" name="newName" ng-model="user.EmailAddress" placeholder="Email Address" ng-blur="validateEmail()" required>
                                                    <span ng-show="step1RegForm.newName.$error.required&&showStep1ErrMsg" class="text-danger">Required</span>
                                                    <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                                </div>
                                                <div class="col-sm-7" style="margin-bottom: 20px;">
                                                    <input type="password" id="txtRegisterPassword" name="fpassword" ng-model="user.Password" placeholder="Password" required>
                                                    <span ng-show="step1RegForm.fpassword.$invalid&&showStep1ErrMsg" class="text-danger">Required</span>
                                                </div>
                                                <div class="col-sm-7" style="margin-bottom: 20px;">
                                                    <input type="password" id="txtNewPassword" name="newPassword" ng-model="user.Cpassword" ng-mouseleave="validatePswd()" placeholder="Confirm Password" required>
                                                    <span ng-show="step1RegForm.newPassword.$invalid&&showStep1ErrMsg" class="text-danger">Required</span>
                                                    <span ng-show="xVerifyPassword" ng-class="{'text-danger':xVerifyPassword}">{{xVerifyPassword}}</span>
                                                </div>
                                                <div class="col-sm-7" style="margin-bottom: 20px;">
                                                    <input type="hidden" id="hfrid" />
                                                    <span id="spnNewPassword" style="color:Red;"></span>
                                                </div>
                                                <div class="col-sm-7" style="margin-bottom:20px;">
                                                    <button class="submit" id="btnRegister" ng-click="Step1RegClick(step1RegForm.$valid)">
                                                        Submit Now
                                                    </button>
                                                </div>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <!-- End Order-Form -->
        </div>
        <div class="dvRewarImages">
            <div class="dvRewardsHeader" style="vertical-align:bottom;"><p class="spnHeader"><img style="width:200px;" alt="" src="~/Images/rg/surveyrewards.png" /></p></div>
            <div class="rotator">
                <div class="show" id="dvSet1">
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set1/amazon-gift-card.png" alt="pic1" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set1/paypal_logo.png" alt="pic2" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set1/best-buy-gift-card.png" alt="pic3" />
                    </span>
                    <span class="cpimg2">
                        <img />
                        <img class="imgRewards" src="~/Images/rg/set1/starbucks-gift-card.png" alt="pic4" />
                    </span>
                    <span class="cpimg2">
                        <img />
                        <img class="imgRewards" src="~/Images/rg/set1/itunes-gift-card.png" alt="pic5" />
                    </span>

                </div>
                <div class="hide" id="dvSet2">
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set2/chilis-gift-card.png" alt="pic1" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set2/gamestop-gift-card.png" alt="pic2" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set2/target-gift-card.png" alt="pic3" />
                    </span>

                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set2/lowes-gift-card.png" alt="pic4" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set2/habitat-donation-gift-card.png" alt="pic5" />
                    </span>
                </div>

                <div class="hide" id="dvSet3">
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set3/rei-gift-card.png" alt="pic1" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set3/macys-gift-card.png" alt="pic2" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set3/petco-gift-card.png" alt="pic3" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set3/toysrus-gift-card.png" alt="pic4" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set3/sportsauthority-gift-card.png" alt="pic5" />
                    </span>
                </div>

                <div class="hide" id="dvSet4">
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set4/staples-gift-card.png" alt="pic1" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set4/home-depot-gift-card.png" alt="pic2" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set4/maggianos-gift-card.png" alt="pic3" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set4/redrobin-gift-card.png" alt="pic4" />
                    </span>
                    <span class="cpimg2">
                        <img class="imgRewards" src="~/Images/rg/set4/xbox-gift-card.png" alt="pic5" />
                    </span>
                </div>


            </div>
        </div>
        <!-- End Container -->
    </section>
    <footer id="footer">
        <!-- Container -->
        <div class="container">
            <p class="copyrights" style="float:left;">©Copyright 2022 <b> We-Tell</b>|<a id="aTC" style="cursor: pointer;" ng-click="termsClick('/WidgetTerms.html')">Terms</a>  | <a id="aPP" style="cursor: pointer;" ng-click="privacyClick()">Privacy</a>|<a id="aAboutUs" style="cursor: pointer;" ng-click="aboutClick()">About Us</a>|<a id="cntctus" style="cursor: pointer;" ng-click="contactClick()">Contact Us</a> | <a href="/wl/sm">Site Map</a>| <a id="donotsellinfo" style="cursor: pointer;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a></p> 
            <!-- End Social -->
        </div>
        <!-- End Container -->
    </footer>
    <!-- End Footer -->
    <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/pages/login.js"></script>

</body>

