/* CSS Document */


/* Universal Styles
*******************************************************/
body { background: url(/images/bg.jpg) repeat-x #abd7fe; font-family:Tahoma, Geneva, sans-serif; color:#4b4f4f; }
#header_wrapper { width:770px; margin:0px auto; text-align:left; overflow:hidden; }
#content_wrapper { width:724px; margin:0px auto; text-align:left; clear:both; overflow:hidden; padding-left:4px; }
#footer_wrapper { font-size:10px; }
.float_right { float:right; }
h2 { color:#3a3a3a; font-size:16px; margin-bottom:14px; }
h2 span { color:#F90; }

/* Header Styles
*******************************************************/
.header_nav { margin:45px 0px 0px 0px; float:right; }
.header_nav li { float:left; display:inline; font-size:14px; margin-left:20px; }
.header_nav a { display:block; }
.header_nav a:link, .header_nav a:visited { color:#d6d6d6; text-decoration:none; }
.header_nav a:hover, .header_nav a:active { text-decoration:underline; }

/* Footer Styles
*******************************************************/
#footer_wrapper ul { margin:0px 0px 0px 0px; float:right; }
#footer_wrapper ul li { float:left; display:inline; margin-left:10px; }
#footer_wrapper a:link, #footer_wrapper a:visited { color:#6C6; text-decoration:none; }
#footer_wrapper a:hover, #footer_wrapper a:active { text-decoration:underline; }

/* Banner Image Styles
*******************************************************/
.banner_img { margin-top:33px; padding:2px; background:#8aabd9; }
.call_to_action { margin-top:14px; text-align:center; font-size:20px; color:#e6f9c0; height:50px; line-height:25px; padding-top:20px; background:url(../../rc_imgs/call_to_action_blue.jpg) no-repeat; }
.congrats { background:url(../../rc_imgs/call_to_action.jpg) no-repeat; }
.silver { background:url(../../rc_imgs_700/call_to_action_silver.jpg) no-repeat; height:55px; padding-top:15px; }

/* Homepage Form
*******************************************************/
.homepage_zip_form { margin-top:14px; overflow:hidden; }
.step { float:left; display:inline; color:#0e0e0e; font-size:15px; font-weight:bold; letter-spacing:-1px; }
.first { background:url(../../rc_imgs_700/step_1_bg.jpg) no-repeat; width:329px; padding-left:42px; padding-top:16px; height:36px;}
.second { width:345px; height:45px; padding-top:7px; padding-left:8px; }
.input_bg { width:140px; height:32px; background:url(../../rc_imgs_700/step_1_input_bg.jpg) no-repeat; margin:-6px 45px 0px 0px; }
.input_bg input { border:1px solid #fff; font-weight:bold; color:#0e0e0e; margin:5px 0px 0px 8px; width:120px; text-align:center; color:#649bea; }
.second input { vertical-align:middle; margin-left:4px; }

/* Module Styles
*******************************************************/
.module_wrapper { clear:both; overflow:hidden; margin:14px 0px; }
.module { float:left; width:212px; margin-right:5px; display:inline; font-size:12px; line-height:1.4em; }
.centered { width:646px; margin:0px auto; }
.endcap { margin-right:0px !important; }
.extended { width:357px !important; }
.hyper_extended { width:646px !important; }
.fully_extended { width:724px !important; }
.module ul.special { margin:28px 0px; }
.module ul.special li { margin:0px 0px 12px 24px; padding:10px 0px 0px 50px; height:31px; background:url(../../rc_imgs/li_arrow.jpg) left center no-repeat; font-size:16px; color:#649bea; }
.terms_wrapper { border:1px solid #f0f0f0; padding:8px; }
.terms { color:#999; font-size:10px; padding:12px; background:#eaf0f6; }
.full_terms p { padding:0px; margin:0px 0px 14px 0px; }
.full_terms ul { margin:14px; padding:14px; list-style-type:lower-roman; background:#f4f7f9; }
.full_terms ul li { margin:0px 0px 14px 24px; padding:10px 0px 0px 14px; color:#649bea; }
.full_terms a:link, .full_terms a:visited { color:#6C6; text-decoration:none; }
.full_terms a:hover, .full_terms a:active { text-decoration:underline; }
.terms a:link, .terms a:visited { color:#6C6; text-decoration:none; }
.terms a:hover, .terms a:active { text-decoration:underline; }

/* Robin's Egg Blue Form Styles (most forms)
*******************************************************/
.robin_blue_form { background:#93d5d8; border:4px solid #8ac4c4; padding:12px; margin:16px 0px 8px 0px; overflow:hidden; }
.robin_blue_form label { display:block;	width:30%; float:left; display:inline; margin-bottom:4px; font-size:14px; padding-top:4px; }
.robin_blue_form .field { float:left; display:inline; margin-bottom:4px; margin-left:10px; border:2px solid #96DED1; padding:4px; font-weight:bold;	color:#0e0e0e; -webkit-border-radius:8px;  -moz-border-radius:8px; }
.robin_blue_form input.field { width:170px; } 
.small { width:40px !important; }
.robin_blue_form br { clear:both; }
.submit { margin-left:10px; }

/* Coreg Offers
*******************************************************/
.add_padding { margin-top:33px !important; }
#offers { padding:0px; margin-top:24px; }
.offer { border:4px solid #e3eecb; margin:10px 0px; padding:15px; }
.bonus_offer { border:4px solid #8ac4c4; background:#93d5d8; margin:10px 0px; padding:15px;}
.bonus_offer_name { vertical-align:middle; font-size:16px; font-weight:bold; }
.bonus_offer_name a:link, .bonus_offer_name a:visited { color:#333; text-decoration:none; }
.bonus_offer_name a:hover, .bonus_offer_name a:active { color:#097cd4; text-decoration:underline; }
.offer_heading { color:#2e5d5f; font-size:18px; padding-bottom:5px; }
.offer_description { padding-top:5px; font-size:12px;}
.table_holder { margin-top:20px; border-top:1px dotted #d0d0d0; }
.table_holder table { border-top:3px solid #d0d0d0; margin:0px auto; }
.table_holder th, .table_holder td { color:#333; font-weight:normal; }
.table_holder th, .table_holder td { border-bottom:1px solid #d0d0d0; border-right:1px dotted #d0d0d0; }
.table_holder input, .table_holder select, .table_holder textarea { border:1px solid #2cbfd4; color:#7b7b7b; font-family:Tahoma, Geneva, sans-serif; }
td.submit_td { border:none; padding:14px 0px; text-align:center; }

/* Level Offers
*******************************************************/
.level_offer_name { height:42px; font-size:14px; font-weight:bold; padding-bottom:3px; padding-top:6px; vertical-align:middle; margin-bottom:8px; border-bottom:1px dotted #93d5d8; border-top:1px dotted #93d5d8; text-align:center; color:#ebebeb; background:url(../../rc_imgs_700/level_name_bg.jpg) top center no-repeat; }
.level_offer_image { margin:0px 1px 8px 1px; padding:8px 0px; text-align:center; background:#ebebeb; }
.level_offer_description { font-size:11px; margin-bottom:24px; padding:0px 6px; } 
.level_offer_action { text-align:center; padding-bottom:8px; margin-bottom:8px; }

.offer_level { text-align:center; padding:16px 0px 8px 0px; font-size:20px; color:#649bea; clear:both; }
.advance { text-align:center; vertical-align:middle; color:#1d3c3f; font-size:20px; padding-top:16px; border-top:2px dotted #8aabd9; }
.advance img { vertical-align:middle; margin-top:-2px; }

.level_instructions { overflow:hidden; margin-top:25px; margin-bottom:14px; }
.level_instructions div { float:left; display:inline; border:none; }
.level_instructions span { font-size:12px; }
.instructions_1 { width:233px; height:110px; padding:10px; background:url(../../rc_imgs_700/level_bg_gradient.jpg) repeat-x; margin-right:10px; }
.instructions_2 { width:200px; height:130px; margin-right:10px; text-align:center; }
.instructions_3 { width:231px; height:110px; padding:10px; background:url(../../rc_imgs_700/level_bg_gradient.jpg) repeat-x; }
.instructions_3 strong { display:block; margin-bottom:10px; }

/* Status
*******************************************************/
.status_table td.offer_ticks { text-align:center; vertical-align:middle; padding:4px; border:1px solid #ebebeb; }
.status_table th { text-align:center; padding:8px; }
.status_table td.offer_name { vertical-align:middle; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.status_table td.offer_name a:link, .status_table td.offer_name a:visited { color:#6c6; }
.status_table .status_header { font-size:16px; }
.status_table .status_header div { font-size:14px; padding:8px 0px; }
.status_table .free_offer { background:#f4f7f9; padding:8px; text-align:center; border:1px dotted #ccc; }
.status_table .level a:link, .status_table .level a:visited { color:#000; }

.pixel { position:absolute; top:-5000px; }