@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/IgZJs4-7SA1XX_edsoXWog.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'),local('OpenSans-Semibold'),url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSi3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'),local('OpenSans-Extrabold'),url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hi3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'),local('OpenSansLight-Italic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi9-WlPSxbfiI49GsXo3q0g.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'),local('OpenSans-Italic'),url(https://fonts.gstatic.com/s/opensans/v13/O4NhV7_qs9r9seTo7fnsVKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'),local('OpenSans-SemiboldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxpZ7xm-Bj30Bj2KNdXDzSZg.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxne1Pd76Vl7zRpE7NLJQ7XU.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans Extrabold Italic'),local('OpenSans-ExtraboldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxg89PwPrYLaRFJ-HNCU9NbA.ttf) format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'),local('RobotoSlab-Regular'),url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

body {
    background: url('../../Images/rg/main-bg.jpg') left top;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.btn-primaryBorder, .main .btn-continue, .registration .bannerContainer .regForm .btn-primary {
    border: 1px solid #ccc;
    color: #282927;
}

a {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.padd20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padd20LR {
    padding-left: 20px;
    padding-right: 20px;
}

.highlightedText {
    color: #88bb49;
    font-weight: 500;
}

.arrowText {
    background: #3a77b2;
    padding: 5px;
    color: #fff;
    position: relative;
    margin: 0 25px 5px 0;
    display: inline-block;
}

    .arrowText:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -20px;
        border-style: solid;
        border-width: 21px 0 21px 20px;
        border-color: transparent transparent transparent #3a77b2;
    }

.mainHeader {
    background: #88bb49;
    font-family: 'Open Sans',sans-serif;
    border-bottom: 2px solid #7fad46;
    padding: 15px 0;
}

    .mainHeader .earnCashHeading {
        font-size: 32px;
        text-align: center;
        color: #fff;
        font-style: italic;
        font-weight: 300;
        text-shadow: 0 2px 1px rgba(0,0,0,.2);
    }

.main .btn-continue, .registration .bannerContainer .regForm .btn-primary {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFDFA92', endColorstr='#FFF1C102', GradientType=0);
    text-shadow: 0 2px 1px rgba(255,255,255,.8);
}

.bodyContainer {
    text-align: center;
    position: relative;
}

    .bodyContainer article {
        margin-top: 30px;
        font-size: 16px;
        font-family: 'Open Sans';
    }

        .bodyContainer article h1, .main .progress-bar, .privacynum li h3 {
            font-family: 'Open Sans',sans-serif;
        }

        .bodyContainer article:first-child {
            margin-top: 0;
        }

        .bodyContainer article h1 {
            color: #53aebc;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
        }

        .bodyContainer article h3 {
            font-size: 24px;
        }

footer {
    background: #eaeae8;
    border-top: 2px solid #d4d4d1;
}

    footer .menu li:before {
        content: " l ";
        padding-right: 10px;
    }

    footer .menu li:first-child:before {
        content: ' ';
    }

    footer .menu li a {
        font-weight: 700;
        color: #020001;
        font-size: 15px;
    }

    footer .termsContent {
        font-size: 12px;
    }

.privacynum {
    font-size: 22px;
    color: #3a77b2;
}

    .privacynum p {
        font-size: 16px;
        color: #282927;
    }

    .privacynum li h3 {
        font-size: 28px;
        font-weight: 600;
        color: #3a77b2;
    }

    .privacynum li ul {
        list-style: disc;
        color: #282927;
    }

        .privacynum li ul li h2 {
            font-size: 22px;
            font-weight: 500;
        }

@media (min-width:993px) {
    .main .container {
        width: 900px;
    }
}

.main .progress {
    width: 100%;
    margin: 2px 0 0;
    border-radius: 0;
    height: 32px;
}

.main .progress-bar {
    line-height: 32px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: none;
}

.main .disabled {
    background-color: #dfe1ef;
}

.main .btn-continue {
    background-image: -webkit-linear-gradient(top,#fdfa92 0,#f1c102 100%);
    background-image: -o-linear-gradient(top,#fdfa92 0,#f1c102 100%);
    background-image: linear-gradient(to bottom,#fdfa92 0,#f1c102 100%);
    background-repeat: repeat-x;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    border-color: #eeca01!important;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    padding: 10px 40px;
}

    .main .btn-continue + span:after {
        content: '\f0da';
        font-family: FontAwesome;
        margin-left: -20px;
        position: relative;
        top: 3px;
    }

.main {
    background: 0 0;
}

.registration .icon {
    width: 49px;
    height: 50px;
    display: inline-block;
    background-image: url('../../Images/rg/sprite.png');
    position: relative;
    top: 15px;
}

.registration .timer {
    background-position: 0 0;
}

.registration .anchor {
    background-position: 0 -50px;
}

.registration .wallet {
    background-position: 0 -100px;
}

.registration .howAvail {
    background-position: 0 -150px;
}

.registration .bannerContainer {
    margin-bottom: 20px;
}

    .registration .bannerContainer .signUpProcess {
        min-height: 358px;
        position: relative;
    }

        .registration .bannerContainer .signUpProcess h1 {
            color: #5b9b0b;
            font-family: 'Open Sans';
            font-size: 42px;
            font-weight: 600;
            margin: 0;
        }

        .registration .bannerContainer .signUpProcess h3 {
            color: #000;
            font-family: 'Roboto Slab',serif;
        }

        .registration .bannerContainer .signUpProcess ol {
            list-style-type: none;
            margin-top: 20px;
            padding: 0;
        }

            .registration .bannerContainer .signUpProcess ol li {
                counter-increment: step-counter;
                position: relative;
                overflow: hidden;
            }

                .registration .bannerContainer .signUpProcess ol li:before {
                    content: counter(step-counter);
                    margin-right: 5px;
                    font-size: 24px;
                    background-color: #266aaa;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    float: left;
                    font-family: 'Roboto Slab',serif;
                    font-weight: 700;
                    -webkit-border-radius: 100%;
                    border-radius: 100%;
                    background-clip: padding-box;
                }

                .registration .bannerContainer .signUpProcess ol li:after {
                    position: absolute;
                    border: 1px solid #266aaa;
                    width: 0;
                    height: 100%;
                    display: block;
                    content: '';
                    left: 20px;
                    z-index: -1;
                    top: 40px;
                    margin-left: -1px;
                }

                .registration .bannerContainer .signUpProcess ol li:last-child:after {
                    display: none;
                }

                .registration .bannerContainer .signUpProcess ol li h3 {
                    float: left;
                    width: 88%;
                    margin: 0;
                    color: #266aaa;
                }

                    .registration .bannerContainer .signUpProcess ol li h3 span {
                        font-size: 18px;
                        color: #000;
                        font-family: 'Open Sans';
                        display: block;
                        margin-top: 10px;
                        padding-bottom: 20px;
                    }

    .registration .bannerContainer .regFormBlock {
        position: relative;
    }

        .registration .bannerContainer .regFormBlock .formShadow {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 50px;
            -webkit-box-shadow: 0 10px 20px 10px rgba(0,0,0,.5);
            -moz-box-shadow: 0 10px 20px 10px rgba(0,0,0,.5);
            box-shadow: 0 10px 20px 10px rgba(0,0,0,.5);
            -webkit-border-radius: 100%;
            border-radius: 100%;
            background-clip: padding-box;
            width: 80%;
            padding: 40px 0;
            z-index: 2;
        }

    .registration .bannerContainer .regForm {
        background: url('../../Images/rg/form-globe.png') left bottom no-repeat #fff;
        border: 1px solid #cfd0ce;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-clip: padding-box;
        padding: 20px 15px;
        margin: 20px 0;
        position: relative;
        overflow: hidden;
        z-index: 10;
    }

        .registration .bannerContainer .regForm h3 {
            color: #266aaa;
            font-family: 'Roboto Slab',serif;
            font-size: 22px;
            line-height: 30px;
        }

        .registration .bannerContainer .regForm label {
            font-size: 16px;
            margin-bottom: 0;
        }

            .registration .bannerContainer .regForm label span {
                font-size: 13px;
                color: #70706f;
                font-style: italic;
                font-weight: 500;
            }

        .registration .bannerContainer .regForm button, .registration .bannerContainer .regForm input:not([type=checkbox]), .registration .bannerContainer .regForm select {
            height: 45px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-clip: padding-box;
        }

        .registration .bannerContainer .regForm .btn-primary {
            background-image: -webkit-linear-gradient(top,#fdfa92 0,#f1c102 100%);
            background-image: -o-linear-gradient(top,#fdfa92 0,#f1c102 100%);
            background-image: linear-gradient(to bottom,#fdfa92 0,#f1c102 100%);
            background-repeat: repeat-x;
            border-color: #eeca01!important;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 20px;
            padding: 10px 40px;
            height: auto!important;
        }

        .registration .bannerContainer .regForm .btn-sing-reg {
            background-image: -webkit-linear-gradient(top,#fdfa92 0,#f1c102 100%);
            background-image: -o-linear-gradient(top,#fdfa92 0,#f1c102 100%);
            background-image: linear-gradient(to bottom,#fdfa92 0,#f1c102 100%);
            background-repeat: repeat-x;
            border-color: #eeca01!important;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 16px;
            padding: 10px 30px;
            height: auto!important;
        }

        .registration .bannerContainer .regForm input[type=submit] + span:after {
            content: '\f0da';
            font-family: FontAwesome;
            margin-left: -20px;
            position: relative;
            top: 3px;
        }

        .registration .bannerContainer .regForm .progress {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-radius: 0;
            height: 32px;
        }

        .registration .bannerContainer .regForm .progress-bar {
            line-height: 32px;
            font-family: 'Open Sans',sans-serif;
            font-weight: 700;
            font-size: 16px;
            box-shadow: none;
        }

        .registration .bannerContainer .regForm .disabled {
            background-color: #dfe1ef;
        }

        .registration .bannerContainer .regForm .FieldCaptionTheme {
            background: url(../img/spc.gif) right center no-repeat;
            line-height: 20px;
            width: 47px;
            height: 11px;
            display: inline-block;
        }

        .registration .bannerContainer .regForm .FieldCaptionThemeRequired {
            background: url('../../Images/rg/required-active.png') right center no-repeat;
            line-height: 20px;
            width: 47px;
            height: 11px;
            display: inline-block;
        }

        .registration .bannerContainer .regForm .regDob {
            position: relative;
        }

            .registration .bannerContainer .regForm .regDob .multipleReq {
                position: absolute;
                right: 0;
                top: 5px;
            }

                .registration .bannerContainer .regForm .regDob .multipleReq span {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

    .registration .bannerContainer .bannerDesc {
        font-family: 'Roboto Slab',serif;
        font-weight: 100;
        line-height: 26px;
        font-size: 17px;
        text-align: justify;
    }

        .registration .bannerContainer .bannerDesc h1 {
            font-family: 'Open Sans',sans-serif;
            color: #53aebc;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            margin-bottom: 20px;
        }

.registration .loginDesc {
    font-size: 23px;
    font-weight: 300;
    font-family: 'Open Sans';
    color: #000;
}

    .registration .loginDesc h1 {
        color: #3a77b2;
        font-family: 'Open Sans';
        font-size: 42px;
        font-weight: 600;
        margin: 0;
    }

    .registration .loginDesc h3 {
        color: #000;
        font-family: 'Roboto Slab',serif;
    }

    .registration .loginDesc h4 {
        color: #393939;
        font-size: 22px;
        margin-bottom: 20px;
    }

.registration .shelf {
    border-bottom: 30px solid #edecec;
    border-left: 20px solid rgba(255,255,255,.3);
    border-right: 20px solid rgba(255,255,255,.3);
    margin-top: -30px;
}

    .registration .shelf:after {
        content: '';
        background: #ccc;
        height: 15px;
        width: calc(100% + 40px);
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 -20px;
        -webkit-box-shadow: 10px 7px 20px .2px rgba(0,0,0,.5);
        -moz-box-shadow: 10px 7px 20px .2px rgba(0,0,0,.5);
        box-shadow: 10px 7px 20px .2px rgba(0,0,0,.5);
    }

@media (max-width:768px) {
    .registration .dollarBg {
        display: none;
    }
}

@media (max-width:992px) {
    .registration .logo, .registration .text-left, .registration .text-right {
        text-align: center;
    }

    .registration .earnCashHeading, .registration .logo {
        display: block;
        width: 100%;
    }
}

@media (min-width:993px) {
    .registration .container {
        width: 900px;
    }
}

.form-group {
    position: relative;
}

.with-errors {
    position: absolute;
    background: #fbfbfb;
    color: #000!important;
    padding: 10px 15px;
    margin: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    left: 10px;
    top: 110%;
    z-index: 99;
    border: 1px solid #b1b3b3;
    display: none!important;
}

@media (max-width:992px) {
    .earnCashHeading {
        margin-top: 10px;
    }
}

@media (max-width:320px) {
    .logo img {
        width: 100%;
    }
}

@media (max-width:1024px) {
    .mainHeader .logo {
        text-align: center;
    }
}

@media (min-width:1025px) {
    .mainHeader .logo {
        text-align: left;
    }
}

@media (max-width:768px) {
    .registration .bannerContainer .signUpProcess ol li h3 {
        width: 82%;
    }
}





@media only screen and (min-width: 480px) {
    .div-anchortags-sm {
        display: none;
    }

    .div-anchortags {
        display: block;
    }
}

@media only screen and (max-width: 360px) {
    .div-anchortags-sm {
        display: block;
    }

    .div-anchortags {
        display: none;
    }
}

.dvboxon {
    display: inline;
}

.dvboxoff {
    display: none;
}

.danger {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 12px;
}

.span-err-msg {
    color: red;
    font-size: 12px;
}

.signup {
    width: 100px;
    padding: 6px 13px;
    border-radius: 4px;
    background-clip: padding-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none !important;
    color: #333;
    display: inline-block;
    border: solid 1px #BBB;
    background-color: #f0f0ea;
    background: -webkit-linear-gradient(top, #f0f0ea, #d5d7ce);
    background: linear-gradient(to bottom, #f0f0ea, #d5d7ce);
    position: relative;
    background: -webkit-linear-gradient(top, #f8f777, #dfc235);
    padding-right: 9px;
    padding-left: 11px;
    margin-top: 10px;
    text-align: center;
}

    .signup:after {
        content: '\f0da';
        font-family: FontAwesome;
        padding-left: 5px;
        position: relative;
        top: 1px;
    }

.registration .bannerContainer .regForm .apollo-seperator {
    position: relative;
    display: block;
    margin: 0 0 20px;
    text-align: center;
    color: #666;
}

    .registration .bannerContainer .regForm .apollo-seperator:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 43%;
        border-bottom: 1px solid #ccc;
    }

    .registration .bannerContainer .regForm .apollo-seperator:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 43%;
        border-bottom: 1px solid #ccc;
    }

.registration .bannerContainer .regForm .btn-sucess span {
    margin: 0;
    padding: 0;
    display: inline-block;
}

    .registration .bannerContainer .regForm .btn-sucess span:after {
        color: #fff;
        content: '\f0da';
        font-family: FontAwesome;
        margin-left: 10px;
        position: relative;
        top: 1px;
    }

.registration .bannerContainer .regForm .btn-sucess {
    /* background-image: -webkit-linear-gradient(top,#5cb85c 0,#4cae4c 100%); */
    background-image: -o-linear-gradient(top,#5cb85c 0,#4cae4c 100%);
    background-image: linear-gradient(to bottom,#5cb85c 0,#4cae4c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF4CAE4C', GradientType=0);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    padding: 10px 20px;
    height: auto!important;
}

.btn-sucessBorder, .registration .bannerContainer .regForm .btn-sucess {
    border: 1px solid #4cae4c;
    color: #fff;
}
