
@{
    Layout = "~/Views/shared/_extlayout.cshtml";
}
@{
    ViewBag.Title = "PrecisionSample";
}
@*<head>
    <script type="module">
        import { pass_params, to_object } from 'https://prod.rtymgt.com/static/js/rd_sys_util.min.js';
        let stateCheck = setInterval(() => {
        clearInterval(stateCheck);
        var passParam = pass_params();
        localStorage.setItem('passParam', passParam)
        }, 100);
    </script>
    <script type="module">
        import { resp_geo } from 'https://prod.rtymgt.com/static/js/rd_geo_util.min.js';
        let stateCheck = setInterval(() => {
        if(typeof(resp_geo.code) != 'undefined'){
        clearInterval(stateCheck);
        var geoLonLat = resp_geo.hash_lonlat;
        localStorage.setItem('geoLonLat', geoLonLat)
        }
        }, 100);
    </script>
</head>*@
<div ng-if="pgLoad" class="inner-container">

    <div ng-controller="extController" ng-init="relevantInitialize()">

        <div>
            <input type="hidden" name="ClientID" id="ClientID" />
            <input type="hidden" name="PanelistID" id="PanelistID" />
            <input type="hidden" name="SurveyID" id="SurveyID" />
            <input type="hidden" name="GeoCodes" id="GeoCodes" />
            <input type="hidden" name="TimePeriod" id="TimePeriod" />
            <input type="hidden" name="RVIDCompleted" id="RVIDCompleted" value="0" />
            <input type="hidden" name="VID" id="VID" value="" />
            <input type="hidden" name="RequestCSOData" id="RequestCSOData" value="" />
        </div>
        <span ng-show="isMessageShow==3" class="error" style="padding: 15px;color:red;">Thank you for participating!  Unfortunately the survey you're attempting to access has been closed or you previously participated.</span>
        <span ng-show="isMessageShow==4" class="error" style="padding: 15px;color:red;">Thank you for participating! Unfortunately the survey you're attempting to access has been closed.</span>
        <div class="inner-form" ng-if="showViewContent">
            <div style="width:100%;" ng-if="isDeviceFail">
                <form novalidate name="surveyForm">
                    <div id="divmobileonly">
                        <div id="USmember" ng-if="isUsMember" style="text-align:left;padding:35px;">
                            Thank you for participating! Unfortunately this survey allows only participants
                            using smartphones or tablets.<br />
                            Would you like to participate on your smartphone? If so, please submit your mobile
                            phone number below and we'll send you an SMS with a link to enter the survey.<br />
                            <br />
                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="usr">Enter Mobile Number</label>
                                    <input name="mobileNo" type="text" class="input" ng-model="mobileNumber" ng-required="true" />
                                    @*ng-pattern="/^[0-9]{1,7}$/"
                                        <span ng-show="surveyForm.mobileNo.$error.pattern" class="error">Not a valid number!</span>*@
                                    <span ng-show="showMessage && surveyForm.mobileNo.$invalid" class="error">Required</span>
                                    <span ng-show="isMessageShow==1" class="error" style="color: green;">A text message has been sent, please check your mobile.</span>
                                    <span ng-show="isMessageShow==2" class="error">Sending text message failed!</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="button" class="btn btn-primary" style="margin-top:5px;" ng-click="sendsms(surveyForm.$valid,mobileNumber)" value="Send SMS" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nonUSmember" ng-if="isNonUsMember" style="text-align:left;">
                        Thank you for participating! Unfortunately our client has chosen to disallow participation
                        in this survey with traditional desktop and laptop computers. Please click the "Continue"
                        button below to find another survey to participate in today!
                        <br />
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="button" class="btn btn-primary" style="margin: 50px;" ng-click="" value="Continue" />
                            </div>
                        </div>
                        @*<asp:Button ID="btnContinue" Text="Continue" runat="server" Style="background: #00A2E8; width: 100px; color: #FFFFFF;"
                            CausesValidation="false" OnClick="btnContinue_OnClick" />*@
                    </div>
                </form>
            </div>
            <div id="divdesktoponly" style="display:none;">
                Thank you for participating! Unfortunately our client has chosen to disallow participation
                in this survey with smartphones and tablets. Please click the "Continue" button
                below to find another survey to participate in today!
                <br />
            </div>
        </div>
    </div>

    @*<script type="text/javascript" src="https://d3op16id4dloxg.cloudfront.net/RelevantID4.js"></script>*@
</div>