<div class="row" ng-controller="downlineController">
    <div class="div-title">
        <span class="pull-left"><b>{{'Frndlst'|translate}}</b></span>
    </div>
    <hr class="hr-style" />
    <div class="col-md-7 m-l-20">
        <div class="p-20">
            <img src="../Images/main/usergroup.png" />
            <b class="f-12">{{'blddwln'|translate}}</b>
        </div>

        <div class="div-share">
            {{'usetwitter'|translate}}

            <div class="m-t-10">
                <ucF:ucFacebook id="ucFacebook" />
                <a href="" class="text-d" ng-click="openWindow()">
                    <img src="../Images/main/FBnew.jpg" />
                </a>
                <a href="" ng-click="windowOpen()">
                    <img src="../Images/main/tweetthisnew.jpg" class="pull-right" />
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div>
            <table>
                <tr id="trTwitter">
                    <td align="left" class="twitter">
                        <ucT:ucTwitter id="ucTwitter" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="p-10">

            <div class="p-10">
                <h1 class="f-prop">
                    {{'helpus1'|translate}}
                    <!--Help us spread the word about SurveyDownline and you’ll share in the profits when
                    your friends complete surveys. We offer a <b style="color: #1E91CB;">2-Tier</b>
                    referral program where you will get paid when your friends take surveys.-->
                </h1>
            </div>

            <div class="p-10">
                {{'tierdescription'|translate}}
                <!--We share up to <b style="color: #1E91CB;">45%</b> of the revenue we earn with our
                members. There is no limit to the number of friends you can invite and we have members
                who make hundreds of dollars every month without taking a single survey!-->
            </div>

            <div class="m-t-10 p-10">
                {{'amountdescription1'|translate}}
                <!--Every time you complete a survey we pay you <b style="color: #1E91CB;">35%</b> of
                the revenue.-->
                {{'amountdescription2'|translate}}
                <!--
                    Every time friends referred by your friends complete a survey we pay you 5% of the
                    revenue.
                -->
            </div>

            <div class="p-10">
                <a id="anc" href="/Taf/Invite" class="p-click">{{'inviteanchor'|translate}}</a>
            </div>

            <div class="p-10 p-link">
                {{'fbinvitetxt'|translate}}
                <br />
                <a id="ancUrl">
                    <Label href="" class="p-l-link">https://www.surveydownline.com/e/s.aspx?fid=14002</Label>
                </a>
                <br />
            </div>

        </div>

    </div>
    <div class="col-md-3 add-class-1">

        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td class="add-class-2">
                                <table>
                                    <tr>
                                        <td align="left">
                                            <table>
                                                <tr>
                                                    <td align="left" colspan="2">
                                                        <br />
                                                        <b class="y-color">{{'yournetwork'|translate}}</b>
                                                        <br />
                                                        <br />
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="h-o-b-ff-w" title="Click to highlight & see Frinds list">
                                                <table>
                                                    <tr class="b-disp">
                                                        <td><input type="checkbox" ng-model="network"></td>
                                                        <td><img src="../Images/main/PersonGreen.gif" /></td>
                                                        <td><a href="" class="text-d"><span id="lblFirstName">{{user.FirstName}}</span>&nbsp;<span id="lblLastName">{{user.LastName}}</span>(<span id="lblLastName">{{user.Count}}</span>)</a></td>
                                                    </tr>
                                                    <tr class="d-ml" ng-show="network" ng-repeat="f in friendsList">
                                                        <td><img src="../Images/main/PersonRed.gif" /></td>
                                                        <td><a href="" class="text-d"><span>{{f.FriendFirstName}}</span></a></td>
                                                    </tr>
                                                </table>
                                                </div>
                                    <tr class="t-v-m-p">
                                        <td class="t-v-m-p">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div id="div12">
                                                            <table>
                                                                <tr>
                                                                    <td align="left" class="ff-ver">
                                                                        <img src="../Images/main/PersonRed.gif" />-{{'notjoined'|translate}}
                                                                    </td>
                                                                    <td align="right" class="pl-ff-ver">
                                                                        <img src="../Images/main/PersonGreen.gif" />-{{'joined'|translate}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="hide-sm">
        <table class="fs-pl-p-o-w" style="">
            <tr>
                <td>
                    <b>{{'infostatus'|translate}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td class="c-green">
                    <b>
                        <Label ID="lblconformation" class="fs-med"></Label>
                    </b>
                </td>
            </tr>
        </table>
        <div class="p-table">
            <table class="wid-100">
                <tr ng-show="!downlineLst.length">
                    <td>
                        You Have Not Referred Any Friends.
                    </td>
                </tr>
                <thead>
                    <tr class="c-bc-fw-td">
                        <td></td>
                        <td>{{'firstName'|translate}}</td>
                        <td>{{'emailAddress'|translate}}</td>
                        <td>{{'comissionEarned'|translate}}</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in downlineLst" ng-class="{even:$even,odd:$odd}">
                        <td><img src="../Images/main/PersonRed.gif" /></td>
                        <td><span>{{d.FriendFirstName}}</span></td>
                        <td><span>{{d.FriendEmailAddress}}</span></td>
                        <td><span>{{d.Commission}}</span></td>
                        <td><a href=""><span>{{d.Status}}</span></a></td>
                    </tr>
                </tbody>
            </table>
            <section layout="row">
                <pagging-directive></pagging-directive>
            </section>
        </div>
    </div>
</div>