
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reach Collective</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="/Content/app.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <style type="text/css">
    </style>
</head>
<body>
    <center>
        <div id="container" ng-cloak>
            <div id="header">
                <div id="topborder"></div>
            </div>
            <!--TOPBORDER-->
            @RenderBody()
        </div>
    </center>
    <script data-main="/Scripts/services/config" src="/Scripts/require.js"></script>
</body>
</html>
