@{
    Layout = "";
}

@using (Html.BeginForm("", "", FormMethod.Post))
{
    @Html.AntiForgeryToken()

}
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = yes, width = device-width" name="viewport">
    <title>Opinionbar - Give your opinion and get paid</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style_surveys.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/Content/selectboxit_copy.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link ng-href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header header_surveys">
        <div class="header_content">
            <div class="logo"></div>
            <div class="nav_wrapper">
                <div class="nav_item navigation_active my_profile">

                </div>
                <div class="nav_item_flag navigation_inactive language"><img ng-src="{{flagimg}}" width="25"></div>
                <div class="hamburger_icon"></div>
            </div>
        </div>
    </div>
    <div class="wrapper_content">
        <div class="column_wrapper wrapper_surveypage" style="height:40%;">
            <div class="container_test">
                <div class="column_full sury_table" style="overflow:auto;">
                    <div class="tbl-sm" style="padding: 10px 40px 10px 40px;margin-left:75px;">
                        <span style="color:green;">@ViewBag.Msg</span>
                        <span style="color:red;">@ViewBag.ErrorMsg</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>