@{
    ViewBag.Title = "Profile";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/rg/questionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/rg/qs.js?v=1" type="text/javascript"></script>
    <link type="text/css" href="~/Content/rg/sdl-style.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/rg/top10.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <div id="container">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="topborder">
        </div>
        @*<img class="logo" src="~/Images/logo.gif" alt="paid surveys online" style="padding-left: 30px;padding-bottom:10px;" />*@


        <script type="text/x-jquery-tmpl" id="SurveyQuestionList">
            <div data-bind="visible: !QuestionHide,attr: {id:QuestionId+'_Show'}" style="width: 100%;">
                <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                    <span class="question" id="lblQuestiontext" data-bind="html:QuestionText" style="padding-bottom: 10px;"></span>
                </div>

                <!-- ko if: QuestionTypeId == 3 -->
                <div class="optiontext" style="clear: both; overflow: hidden">
                    <div class="wrapper">
                        <div data-bind="foreach: OptionList">
                            <div class="left">
                                <span data-bind="if: ($index())%2 ==0">
                                    <div class="dvChkbox">
                                        <!--ko if: OptionText == 'Prefer not to answer' || OptionText == 'None of the above' || OptionText == 'None' || OptionText == 'I dont own a smart phone' -->
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_checkbox',value:OptionId, name: QuestionId+'_checkbox'}, checked:IsChecked" checked />
                                        </div>
                                        <div style="text-align: left;">
                                            <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                        </div>
                                        <!-- /ko -->
                                        <!--ko if: OptionText != 'Prefer not to answer' && OptionText != 'None of the above' && OptionText != 'None' && OptionText != 'I dont own a smart phone'-->
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_checkbox" data-bind="css:{input_on : OptionId == $parent.OptionId}, attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}" checked />
                                        </div>
                                        <div style="text-align: left;">
                                            <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </span>
                            </div>

                            <div class="right">
                                <span data-bind="if: ($index())%2 ==1">
                                    <div class="dvChkbox">
                                        <!--ko if: OptionText == 'Prefer not to answer' || OptionText == 'None of the above' || OptionText == 'None' || OptionText == 'I dont own a smart phone' -->
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_checkbox',value:OptionId, name: QuestionId+'_checkbox'}, checked:IsChecked" />
                                        </div>
                                        <div style="text-align: left;">
                                            <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                        </div>
                                        <!-- /ko -->
                                        <!--ko if: OptionText != 'Prefer not to answer' && OptionText != 'None of the above' && OptionText != 'None' && OptionText != 'I dont own a smart phone' -->
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_checkbox" data-bind="css:{input_on : OptionId == $parent.OptionId}, attr: {id:QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                        </div>
                                        <div style="text-align: left;">
                                            <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                        </div>
                                        <!-- /ko -->
                                    </div>

                                </span>
                            </div>
                        </div>
                    </div>
                    <span align="left" style="color: Red; display: none; float: left; text-align: left; width: 100%; padding-bottom: 10px;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
                </div>
                <!-- /ko -->
                <!-- ko if: QuestionTypeId == 4 -->
                <div class="optiontext" style="clear: both; overflow: hidden">
                    <div class="wrapper">
                        <div data-bind="foreach: OptionList">
                            <div class="left">
                                <span data-bind="if: ($index())%2 ==0">
                                    <div style="min-height: 21px;">
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                        </div>
                                        <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                    </div>
                                </span>
                            </div>
                            <div class="right">
                                <span data-bind="if: ($index())%2 ==1">
                                    <div style="min-height: 21px;">
                                        <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                            <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                            </div>
                                            <div class="grid_span_holder">
                                                <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                            </div>
                                            <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                        </div>
                                        <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span style="color: Red; display: none; margin-left: `10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
                </div>

                <!-- /ko -->
                <!-- ko if: QuestionTypeId == 13 -->
                <div>
                    <div class="Table optiontext" data-bind="template: {name:'matrixwithChkboxRadio'}" style="width: 100%">
                    </div>

                </div>
                <!-- /ko -->
                <!-- ko if: QuestionTypeId == 14 -->
                <div class="optiontext" style="clear: both; overflow: hidden">
                    <div class="wrapper">
                        <div>
                            <div data-bind="foreach: OptionList">
                                <div style="min-height: 21px; padding-bottom: 10px;">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}" style="margin-bottom: 14px;">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                    </div>
                                    <div>
                                        <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <span style="color: Red; display: none; margin-left: 10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
                </div>
                <!-- /ko -->
                <!-- ko if: QuestionTypeId == 2 -->
                <!-- ko if:AutoPostBack == 1 -->
                <div>
                    <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                        <select class="selectdropdown" id="ddlQuestion" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: translatedSelectText,attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                    </div>
                    @*<span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>*@
                </div>
                <!-- /ko -->
                <!-- ko if:AutoPostBack == 0 -->
                <div>
                    <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                        <select class="selectdropdown" id="Select1" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: translatedSelectText,attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                    </div>
                    @*<span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>*@
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: OptionDisplay == 'V' -->
                <div data-bind="template: {name:'SurveyQuestionList', foreach: SelectedChildQuestionList}, attr: {id:QuestionId+'_trChildQuestionId'}">
                </div>
                <!-- /ko -->
                <!-- ko if: OptionDisplay == 'H' -->
                <div data-bind="template: {name:'SurveyQuestionListhorizental'}, attr: {id:QuestionId+'_trChildQuestionId'}">
                </div>
                <!-- /ko -->
                <div data-bind="foreach: ChildQuestionList">
                    <!-- ko 'if': QuestionTypeId == 5 -->
                    <div class="Table optiontext" data-bind="template: {name:'matrixTemp'}" style="width: 100%">
                    </div>
                    <div width="100%">
                        <span align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </script>

        <script type="text/x-jquery-tmpl" id="matrixTemp">
            <!-- ko 'if': ParentQuestionId != 649-->
            <!-- ko 'if': $index() == 0-->
            <div class="grid_floating_header" width="100%">
                <div class="question_martix" style="min-height: 30px;">
                    <!-- ko 'if': ParentQuestionId == 5156 || ParentQuestionId == 5186-->
                    <div style="width: 20%;" class="grid_question">
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 5025-->
                    <div style="width: 16%;" class="grid_question">
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 169 || ParentQuestionId == 1420 || ParentQuestionId == 5131 || ParentQuestionId == 5212 || ParentQuestionId == 5235 || ParentQuestionId == 5035 || ParentQuestionId == 5055 || ParentQuestionId == 5222-->
                    <div style="width: 34%;" class="grid_question">
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 898-->
                    <div style="width: 60%;" class="grid_question">
                    </div>
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 15%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 169 || ParentQuestionId == 1420 || ParentQuestionId == 5131 || ParentQuestionId == 5235 || ParentQuestionId == 5035 || ParentQuestionId == 5055 || ParentQuestionId == 5222-->
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 15%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 5156 || ParentQuestionId == 5186-->
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 10%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': ParentQuestionId == 5025 || ParentQuestionId == 5212-->
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 7%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <div class="question_martix">
                <!-- ko 'if': ParentQuestionId != 898-->
                <!-- ko 'if': QuestionId == 355-->
                <p style="text-align: left;"><b>Technology</b></p>
                <!-- /ko -->
                <!-- ko 'if': QuestionId == 363-->
                <p style="text-align: left;"><b>Marketing</b></p>
                <!-- /ko -->
                <!-- ko 'if': QuestionId == 374-->
                <p style="text-align: left;"><b>Finance</b></p>
                <!-- /ko -->
                <!-- ko 'if': QuestionId == 373-->
                <p style="text-align: left;"><b>Supply Chain/ Logistics</b></p>
                <!-- /ko -->
                <!-- ko 'if': QuestionId == 365-->
                <p style="text-align: left;"><b>Operations</b></p>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 169 || ParentQuestionId == 1420 || ParentQuestionId == 5131 || ParentQuestionId == 5212 || ParentQuestionId == 5235 || ParentQuestionId == 5035 || ParentQuestionId == 5055 || ParentQuestionId == 5222-->
                <div class="optiontext grid_question_optmatrix" style="text-align: left;width:34%" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 5156 || ParentQuestionId == 5186-->
                <div class="optiontext grid_question_optmatrix" style="text-align: left;width:20%" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 5025-->
                <div class="optiontext grid_question_optmatrix" style="text-align: left;width:16%" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <!-- /ko -->
                @*<div class="optiontext grid_question_optmatrix" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                    </div>*@
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 898-->
                <div class="optiontext grid_question_optmatrix_new" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 169 || ParentQuestionId == 1420 || ParentQuestionId == 5131 || ParentQuestionId == 5035 || ParentQuestionId == 5055 || ParentQuestionId == 5222 || ParentQuestionId == 5235 || ParentQuestionId == 898-->
                <div class="optiontext mobileradiobutton" data-bind="foreach: OptionList">
                    <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                        </div>
                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 5156 || ParentQuestionId == 5186-->
                <div class="optiontext" data-bind="foreach: OptionList">
                    <div style="width: 10%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                        </div>
                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 5025 || ParentQuestionId == 5212-->
                <div class="optiontext" data-bind="foreach: OptionList">
                    <div style="width: 7%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                        </div>
                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko 'if': ParentQuestionId == 649-->
            <!-- ko 'if': $index() == 0-->
            <div class="grid_floating_header" width="100%">
                <div class="question_martix" style="min-height: 30px;">
                    <div style="width: 40%;" class="grid_question">
                    </div>
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 6%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="question_martix">
                <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <div class="optiontext" data-bind="foreach: OptionList">
                    <div style="width: 6%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                        </div>
                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </script>

        <script type="text/x-jquery-tmpl" id="matrixwithChkboxRadio">

            <div class="grid_floating_header" width="100%">
                <div class="question_martix" style="min-height: 30px;">
                    <div style="width: 38%;" class="grid_question">
                    </div>
                    <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">

                        <div style="width: 16%;" class="grid_column" data-bind="text: QuestionText"></div>

                    </div>
                </div>
            </div>

            <div class="question_martix">
                <div data-bind="foreach:ChildQuestionList">

                    <!-- ko 'if': $index() == 0-->
                    <div data-bind="foreach:OptionList" style="width: 100%;">
                        <div style="width: 100%; overflow: hidden;">
                            <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: OptionText,attr: {id:QuestionId+'_optnc'}">
                            </div>
                            <div>
                                <div class="optiontext" data-bind="foreach:ViewModel.Questions()[$parentContext.$parentContext.$index()].SpecialOptinLst[$index()]">
                                    <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <!--ko if: OptionText == 'Prefer not to answer' || OptionText == 'None of the above' -->
                                        <div class="grid_radio" data-bind="attr: {id:QuestionId+'_'+OptionId+'_radio'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:SpeicalOptionId" />
                                        <!-- /ko -->
                                        <!--ko if: OptionText != 'Prefer not to answer' && OptionText != 'None of the above' -->
                                        <div class="grid_matrix_checkbox" data-bind="attr: {id:QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                        <!-- /ko -->
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div>
                            <span class="error" align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="attr:{ id: $parentContext.$parentContext.$index()+'_'+$index()+'_spn'}" />
                        </div>
                    </div>

                    <!-- /ko -->

                </div>
            </div>
            <div class="question_martix" style="min-height: 30px;">
                <div class="validationspqs">
                    <div style="width: 38%;" class="grid_question">
                    </div>
                    <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">
                        <div style="width: 16%;" class="grid_column">
                            <span class="error" align="left" style="color: Red; float: left; width: 100%; font-size: 13px; text-align: left; display: none" data-bind="attr:{ id: QuestionId+'_spn'}" />
                        </div>
                    </div>
                </div>

            </div>
        </script>

        <script type="text/x-jquery-tmpl" id="ChildRadioTemplate">
            <td>
                <table>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 5px;">
                            <label class="matrixchildquestion" id="lblChildQuestion" data-bind="text:QuestionText , attr: {id:QuestionId+'_optnc'}">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 5px;">
                            <table>
                                <tr data-bind=" foreach:OptionList">
                                    <td style="padding-left: 5px;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="radio" data-bind="attr: { id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'},checked:$parent.OptionId" />
                                                    <label id="lblChildOption" data-bind="text:OptionText , attr: {id:OptionId+'_optnc','for':OptionId+'_radio','if': $index()== 0}">
                                                    </label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </script>

        <script type="text/x-jquery-tmpl" id="SurveyQuestionListhorizental">

            <table>
                <tr data-bind="foreach: SelectedChildQuestionList">
                    <td class="tdwidth">
                        <table>
                            <tr>
                                <td align="left;">
                                    <label class="question" id="Label1" data-bind="text:QuestionText">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <select class="selectdropdownH" id="ddlChild" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: translatedSelectText,attr: {id:QuestionId },event: { change: selectionChanged }"></select>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 10px;">
                                    @*<span align="left" style="color: red; display: none; float: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>*@
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </script>

        <div id="dvImageLoading">
        </div>
        <div class="container" id="dvQuestions">
            <div class="progressbarblock">
            </div>
            <div style="padding-left: 10px;padding-top:15px;">
                <img id="imgLogo" />
            </div>
            <div class="body" style="margin:0px;" id="gdprtermsandconditions">
                <table id="tmpTable" style="padding:24px 10px 0px 10px">
                    <tbody data-bind="template: {name:'SurveyQuestionList', foreach: ViewModel.Questions}"></tbody>
                </table>
                <!-- ko 'if': langId == 35-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">I understand that my Pregnancy Status & Sexual Orientation, when voluntarily provided, will be used by OpinionBar to invite me to surveys which are relevant to my background.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">I understand that my Household Ailments, and Vision Correction Usage, when voluntarily provided, will be used by OpinionBar to invite me to surveys which are relevant to my background.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 44-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Je comprends que mon statut de femme enceinte et mon orientation sexuelle, lorsqu'ils sont fournis volontairement, seront utilisés par OpinionBar pour m'inviter à participer à des enquêtes concernant ma situation.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Je comprends que les informations relatives à la santé de mon foyer et à la correction de la vue, lorsqu'elles sont fournies volontairement, seront utilisées par Opinionbar pour m’inviter à participer à des enquêtes qui s'y rapportent.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 140-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Entiendo que mi estado de embarazo y Orientación sexual, cuando se proporcionan voluntariamente, serán utilizados por OpinionBar para invitarme a participar de las encuestas que sean relevantes para mi formación.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Entiendo que mis dolencias domésticas, y el uso de corrección de visión, cuando se proporcionan voluntariamente, serán utilizados por OpinionBar para invitarme a participar de las encuestas que se ajusten a mi perfil.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 51-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Ich habe zur Kenntnis genommen, dass mein Schwangerschaftsstatus und meine sexuelle Orientierung, sofern ich sie freiwillig angegeben habe, von Opinionbar dazu verwendet wird, mich zu Umfragen einzuladen, die für mich relevant sind.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Ich habe zur Kenntnis genommen, dass meine Haushaltskrankheiten und Verwendung von Sehkorrekturen, sofern ich sie freiwillig angegeben habe, von Opinionbar dazu verwendet wird, mich zu Umfragen einzuladen, die für mich relevant sind.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 111-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Entendo que informações sobre minha gravidez e orientação sexual, quando fornecidas voluntariamente, serão usadas pela OpinionBar para me convidar para pesquisas relevantes para o meu perfil.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Entendo que minhas doenças comuns e meu uso de produtos para correção visual, quando informados voluntariamente, serão usados pela OpinionBar para me convidar para pesquisas relevantes para meu perfil.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 120-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Я понимаю, что мой статус беременности и сексуальная ориентация, если они будут предоставлены добровольно, будут использоваться OpinionBar для приглашения меня к участию в опросах, имеющих отношение к моему прошлому.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Я понимаю, что мои Бытовые заболевания и Использование для коррекции зрения, если они будут предоставлены добровольно, будут использоваться OpinionBar для приглашения меня к участию в опросах, имеющих отношение к моему опыту.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 69-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Dichiaro di comprendere che le mie informazioni su Gravidanza e Orientamento sessuale, laddove volontariamente fornite, verranno utilizzate da OpinionBar per invitarmi a sondaggi pertinenti per il mio profilo.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Dichiaro di comprendere che le mie informazioni su Cure domestiche e Uso di prodotti correttivi della vista, laddove volontariamente fornite, verranno utilizzate da OpinionBar per invitarmi a sondaggi pertinenti per il mio profilo.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 36-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">Ik begrijp dat mijn zwangerschapsstatus en seksuele geaardheid, indien vrijwillig verstrekt, door OpinionBar zal worden gebruikt om mij uit te nodigen voor enquêtes die relevant zijn voor mijn achtergrond.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">Ik begrijp dat mijn Huishoudelijke Aandoeningen en Gebruik van Visiecorrectie, indien vrijwillig verstrekt, door OpinionBar zullen worden gebruikt om mij uit te nodigen voor enquêtes die relevant zijn voor mijn achtergrond.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 70-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">私の妊娠状態と性的指向は、自発的に提供された場合、私の背景に関連するアンケート調査に私を招待するために、OpinionBar によって使用されることを理解しています。</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">私の家庭の病気と視力矯正の使用法は、自発的に提供された場合、私の背景に関連する調査に私を招待するために、OpinionBar によって使用されることを理解しています。</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 27-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">我了解，在自愿提供的前提下，我的怀孕状况和性取向将被 Opinionbar 用来邀请我参加与我的背景有关的调查。</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">我了解，在自愿提供的前提下，我的家庭疾病以及视力矫正的使用情况将被 Opinionbar 用来邀请我参加与我的背景有关的调查。</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 80-->
                <!-- ko 'if': pid == 'cb963824-983a-41fa-a2ac-508bd5f85b95'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" name="gdprterms">
                    <label style="position:absolute;">응답자가 자발적으로 임신 상태 및 성적 지향을 제공할 시 OpinionBar에서 응답자 배경과 관련된 설문조사에 응답자를 초대할 수 있도록 해당 정보를 사용하는 것을 이해합니다.</label>
                </div>
                <!-- /ko -->
                <!-- ko 'if': pid == '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="padding:18px;">
                    <input type="checkbox" id="gdprterms" value="1" name="gdprterms">
                    <label style="position:absolute;">응답자가 자발적으로 가정 질환이나 시력 교정 사용 정보를 제공할 시 OpinionBar에서 응답자 배경과 관련된 설문조사에 응답자를 초대할 수 있도록 해당 정보를 사용하는 것을 이해합니다.</label>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="footerblock" id="buttonSaveandCancel">
                <div style="text-align: center; padding: 10px;">
                    <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px"></span>
                    <!-- ko 'if': langId == 35-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Please confirm your consent for the collection of your personal data.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 44-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Veuillez confirmer que vous acceptez la collecte de vos données personnelles.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 140-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Por favor, confirme su consentimiento en relación a la recopilación de sus datos personales.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 51-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Bitte bestätigen Sie Ihr Einverständnis mit der Erfassung Ihrer persönlichen Daten.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 111-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Confirme seu consentimento para a coleta de seus dados pessoais.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 120-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Пожалуйста, подтвердите свое согласие на сбор ваших персональных данных.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 69-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Si prega di confermare il consenso alla raccolta dei dati personali.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 36-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">Bevestig dat u akkoord gaat dat uw persoonsgegevens worden verzameld.</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 70-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">個人データの収集について同意を確認してください。</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 27-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">请确认您同意我们收集您的个人数据。</span>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 80-->
                    <span id="gdprErrorMsg" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px">개인정보 수집에 대한 동의를 확인해주세요.</span>
                    <!-- /ko -->
                </div>
                <!-- ko 'if': langId == 35-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Save" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Cancel" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">By answering these questions, I understand that my response will be stored by Opinionbar and used to invite me to surveys in the future that are relevant to my background.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 44-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Sauver" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Annuler" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">En répondant à ces questions, je comprends que ma réponse sera stockée par Opinionbar et utilisée pour m’inviter à participer à de futures enquêtes en rapport avec ces informations.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 140-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Salvar" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Cancelar" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Al responder a estas preguntas, comprendo que mi respuesta será almacenada por Opinionbar y utilizada para invitarme a participar en futuras encuestas que se ajusten a mi perfil.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 51-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Sparen" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Stornieren" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Mit der Beantwortung dieser Fragen erkläre ich mich damit einverstanden, dass meine Antworten von Opinionbar gespeichert und dazu verwendet werden, mich in Zukunft zu Umfragen einzuladen, die für mich relevant sind.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 111-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Salve" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Cancelar" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Ao responder a essas perguntas, entendo que minhas respostas serão armazenadas pela Opinionbar e usadas para me convidar para pesquisas no futuro, que sejam relevantes para meu perfil.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 120-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Сохранить" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Отмена" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Отвечая на эти вопросы, я понимаю, что мой ответ будет храниться в Opinionbar и использоваться для приглашения меня в будущем к опросам, имеющим отношение к моему опыту.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 69-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Salva" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Annulla" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Rispondendo a queste domande, dichiaro di comprendere che le mie risposte verranno conservate e utilizzate da OpinionBar per invitarmi a sondaggi pertinenti per il mio profilo.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 36-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Sparen" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Annuleer" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">Door deze vragen te beantwoorden, begrijp ik dat mijn antwoorden door Opinionbar zullen worden bewaard en gebruikt om me uit te nodigen om deel te nemen aan enquêtes die relevant zijn voor personen met mijn achtergrond.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 70-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="保存する" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="キャンセル" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">これらの質問に答えることで、Opinionbar が、私の背景に関連する今後のアンケート調査に招待するために、Opinionbar が回答を保存することに同意します。</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 27-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="保存" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="取消" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">我了解，回答这些问题，即表示我的回答将被 Opinionbar 保存，并用于邀请我参加与我的背景有关的未来调查。</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 80-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="저장" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="취소" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- ko 'if': pid != 'cb963824-983a-41fa-a2ac-508bd5f85b95' && pid != '3dc7c62c-9112-47c7-be37-229f7657976b'-->
                <div style="font-size: 14px;font-family: Arial, Sans-Serif;font-weight: bold;">이러한 질문에 응답함으로써, OpinionBar에서 답변을 보관하고 향후 응답자 배경과 관련된 설문조사에 응답자를 초대할 수 있도록 해당 정보를 사용하는 것을 이해합니다.</div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko 'if': langId == 7-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="حفظ" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="إلغاء" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
                <!-- ko 'if': langId == 144-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Spara" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Annullera" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
                <!-- ko 'if': langId == 110-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Zapisać" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Anuluj" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
                <!-- ko 'if': langId == 152-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="บันทึก" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="ยกเลิก" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
                <!-- ko 'if': langId == 61-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Menyimpan" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Membatalkan" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
                <!-- ko 'if': langId == 168-->
                <div style="text-align: center; padding: 10px;">
                    <input id="btnSubmit" class="button" type="button" value="Tiết kiệm" style="width: 100px;"
                           data-bind="click:Save" />
                    <input id="btnCancel" class="button" type="button" value="Huỷ bỏ" style="width: 100px;"
                           data-bind="click:Cancel" />
                </div>
                <!-- /ko -->
            </div>
        </div>


        @*Footer*@
        @*<div style="width:94%;margin:auto;" ng-controller="footerController">
                <center>
                    <p id="text" class="footer" style="width:100%;float:left;">
                        &copy; <span>CopyRights </span>
                        <label>
                            2017
                        </label>-<label>2021</label>
                        <label class="orgname">
                        </label>
                        | <a href="javascript: void(0)" onclick="popup('/Footer/TC')" id="ancsurveysonline"
                             ng-class="">
                            Terms
                        </a>| <a href="javascript: void(0)" onclick="popup('/Footer/Privacy')" id="ancsurveyspolicy">
                            Privacy
                        </a>| <a href="javascript: void(0)" onclick="popup('/home/contact')" id="ancsurveycontact">
                            Contact Us
                        </a>| <a href="javascript: void(0)" onclick="popup('/home/About')" id="ancsurveyAbout">
                            About Us
                        </a>@*| <a href="javascript: void(0)" onclick="popup('/Misc/faq.aspx')" id="a1">
                            FAQ
                        </a>*
                    </p>
                </center>
            </div>*@
    </div>
</body>
</html>

