@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href="~/Content/researchwroldwide/styles.css" rel="stylesheet" />
<script src="http://www.offerfwd.net/oi/joi.js"></script>
<body ng-app="loginApp" ng-controller="loginCtrl">

    <header class="header-bg">
        <div class="container">
            <form name="userLoginForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo"> <a href="#"><img src="~/Images/ResearchWorldWide/logo.png" alt=""></a> </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 login-card radius-0">
                            <div class="card-body pb-1 pt-2" style="margin-right:58px;">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="city">Email Address</label>
                                        <input type="text" class="form-control radius-0 border-0" style="color:black;" name="email" id="fake_email" placeholder="{{'placeholdertextForEmail' | translate}}" ng-model="loginDetails.EmailAddress" required />
                                        <span class="span-err-msg" ng-show="userLoginForm.email.$error.email">{{'invaildEmail' | translate }}</span>
                                        <span ng-show="userLoginForm.email.$error.required && showLoginError" class="text-danger txt-req">{{'required' | translate }}</span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="postal-code">Password</label>
                                        <a href="/login/ForgotPsw" class="forgot-pwd">forgot password?</a>
                                        <input type="password" class="form-control radius-0 border-0 pass-newsletter" style="color:black;" name="password" id="fake_pass" placeholder="{{'placeholdertextForPassword' | translate}}" ng-model="loginDetails.Password" required />
                                        <span ng-show="userLoginForm.password.$invalid && showLoginError" class="text-danger txt-req">{{'required' | translate }}</span>
                                    </div>
                                    <div class="loginSubmit">
                                        <input type="submit" id="btnLogin" value="{{'GO' | translate}}" ng-click="userLoginClick(userLoginForm.$valid)"
                                               name="subscribe" class="button-newsletter" style="margin-right:-47px;margin-top:23px;color: #34af6d;font-weight: 1000;font-size: 13px;" />
                                    </div>
                                    <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;float:left;color: #f10d08;">Wrong username/password. Try again.</span>

                                </div>
                                @*<div style="float: right;text-align: left; margin-right: -167px;" class="login-form">
                                        <ng-include src="step1"></ng-include>
                                        <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 100%;padding-left: 15px;">Wrong username/password. Try again.</span>
                                    </div>*@
                                @*<div id="boxTool_15" style="position: absolute; background-color: rgb(235, 235, 215); left: 670px; top: 162px; width: 326px; height: 375px; z-index: 10; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dotted; border-right-style: dotted; border-bottom-style: dotted; border-left-style: dotted; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204);"
                                           objtype="5">
                                        &nbsp;

                                        <div style="padding-left: 15px; padding-top: 10px; margin-top: 40px; margin-left: 15px;">
                                            <div class="row">
                                                <form name="step1RegForm" novalidate>
                                                    <ng-include src="step1Reg"></ng-include>
                                                    <div class="col-lg-10 col-md-10">
                                                        <input type="image" id="imgNext" src="/Images/MommyKnowsSurveys/WL/get_started.png" alt="ResearchWorldWide" ng-click="Step1RegClick(step1RegForm.$valid)" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row banner-headline">
                <div class="col-md-6">
                    <h2 class="head-title">
                        DO YOU Eat, SLEEP, <br>
                        &amp; DREAM <br>
                        Business &amp; IT Strategy?
                    </h2>
                    <p class="head-p">›› Share your insights and get rewarded!</p>

                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <div class="p-2"><img src="~/Images/ResearchWorldWide/by_in_only.png" alt=""></div>
                        <div class="p-1 d-inline-block">
                            <button class="btn btn-block btn-danger btn-apply" type="button" data-toggle="modal" data-target="#ApplyModal">APPLY NOW!</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="row-cols">
        <div class="container">

            <div class="card-border-0 cols-pos">
                <div class="card-deck">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="text-center pb-3"><img src="~/Images/ResearchWorldWide/01-icon.png" alt=""></div>
                            <h3 class="card-title text-center title-primary text-uppercase">Share Your Insight</h3>
                            <p class="card-text pt-2">
                                Consult with Fortune 1000 firms in surveys, focus groups and interviews and be
                                rewarded handsomely for your time.
                            </p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="text-center pb-3"><img src="~/Images/ResearchWorldWide/02-icon.png" alt=""></div>
                            <h3 class="card-title text-center title-success text-uppercase">Stay Connected </h3>
                            <p class="card-text pt-2">
                                Gain an understanding of the direction of the worlds leading companies through
                                interaction and exclusive access to summary reports of their research findings.
                            </p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="text-center pb-3"><img src="~/Images/ResearchWorldWide/03-icon.png" alt=""></div>
                            <h3 class="card-title text-center title-primary text-uppercase">Be An Insider </h3>
                            <p class="card-text pt-2">Connect with other network members to leverage the group and solve your business challenges. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row-rewards">
        <div class="container">
            <h3 class="card-title title-primary text-uppercase m-0">Get Rewards Your Way… </h3>
            <div class="rewards-c">
                <div class="clients-logo">
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-1.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-2.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-3.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-4.png" alt=""> </div>
                </div>
                <div class="clients-logo">
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-5.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-6.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-7.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-8.png" alt=""> </div>
                    <div class="c-logo"><img src="~/Images/ResearchWorldWide/client-9.png" alt=""> </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="foot-links p-3"> <a href="javascript:;" ng-click="termsClick()">Terms and Conditions</a>  |  <a href="#" ng-click="privacyClick()">Privacy Policy</a>| <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a></div> 
        </div>
    </footer>
    <!--Modal Popup-->
    <div class="modal" tabindex="-1" role="dialog" id="ApplyModal">
        <div class="modal-dialog" role="document" style="max-width:600px;">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h4 class="modal-title">Modal title</h4>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <form class="form-horizontal login-form" name="loginForm" novalidate id="showreg">
                        <div id="divReg" style="margin-right: 76px; margin-left: -25px;">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">First Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtFirstName" class="form-control" ng-model="user.FirstName" name="firstname" required>
                                    <span class="error text-danger" ng-show="loginForm.firstname.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtLastName" class="form-control" ng-model="user.LastName" name="lastname" required>
                                    <span class="error text-danger" ng-show="loginForm.lastname.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email Address</label>
                                <div class="col-sm-8">
                                    <input type="email" id="txtEmailAddress" class="form-control" ng-model="user.EmailAddress" name="emailAddress" ng-blur="validateEmail()" data-bind="value: EmailAddress" tooltipText="Please make sure your email address is correct or you won't have access to SurveyDownLine!" required />
                                    <span class="error text-danger " ng-show="loginForm.emailAddress.$error.email">{{'notValidEmail'|translate}}</span>
                                    <span ng-show="loginForm.emailAddress.$error.required && isRegErrMsg" class="text-danger">{{'required' | translate}}</span>
                                    <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'address1'|translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtAddress1" name="address1" class="form-control" ng-model="user.Address1" required>
                                    <span class="error text-danger" ng-show="loginForm.address1.$invalid &&isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'address2'|translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtAddress2" class="form-control" ng-model="user.Address2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'country'|translate}}</label>
                                <div class="col-sm-8">
                                    <select class="form-control txt-box" id="ddlCountry" ng-model="user.CountryId" name="country" ng-options="con.CountryId as con.CountryName for con in countries" ng-change="countryByStates(user.CountryId)" ng-required="true">
                                        <option value="">-{{'select'|translate}}-</option>
                                    </select>
                                    <span class="error text-danger" ng-show="loginForm.country.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                    <span class="error text-danger" ng-show="user.CountryId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="states.length != 0">
                                <label class="col-sm-4 control-label">{{'stateProvince'|translate}}</label>
                                <div class="col-sm-8">
                                    <select class="form-control txt-box" id="ddlStates" ng-model="user.StateId" name="state" ng-options="st.StateId as st.StateName for st in states" required>
                                        <option value="">-{{'select'|translate}}-</option>
                                    </select>
                                    <span class="error text-danger" ng-show="loginForm.state.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                    <span class="error text-danger" ng-show="user.StateId == 0 && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'city'|translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtCity" class="form-control" ng-model="user.City" name="city" required>
                                    <span class="error text-danger" ng-show="loginForm.city.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'zipPostalCode'|translate}} </label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtZipCode" class="form-control" ng-model="user.ZipCode" name="zipCode" required>
                                    <span class="error text-danger" ng-show="loginForm.zipCode.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'gender'|translate}}</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="ddlGender" ng-model="user.Gender" name="gender" required ng-change="optIntelligenceCheck()">
                                        <option value="">-{{'select'|translate}}-</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="N">Non-Binary</option>
                                    </select>
                                    <span class="error text-danger" ng-show="loginForm.gender.$invalid && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'birthDate'|translate}}</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="form-control padding-zero" id="ddlMonth" ng-model="user.Month" name="month" required ng-click="optIntelligenceCheck()">
                                                <option value="">-MM-</option>
                                                <option value="01">Jan</option>
                                                <option value="02">Feb</option>
                                                <option value="03">Mar</option>
                                                <option value="04">Apr</option>
                                                <option value="05">May</option>
                                                <option value="06">Jun</option>
                                                <option value="07">Jul</option>
                                                <option value="08">Aug</option>
                                                <option value="09">Sep</option>
                                                <option value="10">Oct</option>
                                                <option value="11">Nov</option>
                                                <option value="12">Dec</option>
                                            </select>

                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control padding-zero" id="ddlDay" ng-model="user.Day" name="day" required ng-click="optIntelligenceCheck()">
                                                <option value="">-DD-</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control padding-zero" id="ddlYear" ng-model="user.Year" name="year" ng-options="y.key as y.value for y in year" required ng-click="optIntelligenceCheck()">
                                                <option value="">-YY-</option>
                                            </select>
                                        </div>
                                        <span class="error text-danger" ng-show="loginForm.year.$invalid && isRegErrMsg" style="margin-left:16px;">{{'required'|translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="user.CountryId != 505 && user.CountryId != 512 && user.CountryId != 525 && user.CountryId != 545 && user.CountryId != 548 && user.CountryId != 549 && user.CountryId !=550 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=565 && user.CountryId !=572 && user.CountryId !=575 && user.CountryId !=590 && user.CountryId !=596 && user.CountryId !=599 && user.CountryId !=613 && user.CountryId !=618 && user.CountryId !=619 && user.CountryId !=620 && user.CountryId !=628 && user.CountryId != 647 && user.CountryId != 657 && user.CountryId != 668 && user.CountryId != 669 &&
                         user.CountryId !=673 && user.CountryId !=693 && user.CountryId !=694 && user.CountryId !=700 && user.CountryId !=706">
                                <label class="col-sm-4 control-label">{{'ethnicity'|translate}}</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="ddlEthnicity" ng-model="user.EthnicityId" name="ethnicity" ng-options="ec.EthnicityId as ec.EthnicityType for ec in ethnicityLst" required>
                                        <option value="">-{{'select'|translate}}-</option>
                                    </select>
                                    <span class="error text-danger" ng-show="loginForm.ethnicity.$invalid  && isRegErrMsg">{{'required'|translate}}</span>
                                    <span class="error text-danger" ng-show="user.EthnicityId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{'password'|translate}}</label>
                                <div class="col-sm-8">
                                    <input type="password" id="txtPassword" class="form-control" ng-model="user.Password" name="password" required>
                                    <span class="error text-danger" ng-show="loginForm.password.$invalid && isRegErrMsg">Required</span>
                                </div>
                            </div>
                            <div class="form-group1" style="float:right;">
                                <div class="col-md-10 pull-right" style="display:inline-table;margin-right: 20px;">
                                    <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                    <span class="text-danger" ng-show="captchaErr">Invalid captcha selection.</span>
                                </div>

                            </div>

                            <div class="dvTc" style="padding: 6px;">
                                <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 76px;float:left;margin-left:60px" name="agree" type="checkbox" value="agre" ng-model="user.agree" required>
                                <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 2px; text-align: left; width: 85%; font-size: 12px; cursor: default;float: right;" class="ng-binding">
                                    I agree to the <a href="" style="color: black;text-decoration: underline;" ng-click="termsClick()" class="ng-binding">Terms & Conditions</a> and to receive additional survey, market research and other relevant emails from Precision Sample.<br /> 
                                    I understand that my personal data will be processed as described in the <a href="" style="color: black;text-decoration: underline;" ng-click="privacyClick()" class="ng-binding">Privacy Notice</a>
                                </label>
                                <span ng-show="loginForm.agree.$invalid && isRegErrMsg" class="text-danger">{{'required'|translate}}</span>
                            </div>
                            <div>
                                <div class="col-sm-12 text-center" style="margin-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="submit(loginForm.$valid,member)">Save</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
