html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.collapse {
    margin: 0;
}

a:hover, button {
    text-decoration: none;
    outline: none;
    outline-offset: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: 14px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.header-top {
    width: 100%;
    background: #ccc;
}

.survey-promo {
    background: url('../../Images/ViLanding/banner.jpg') no-repeat;
    height: 355px;
    width: 100%;
    background-size: cover;
}

.login-panel {
    float: right;
    background-color: rgba(26, 82, 117, 0.82);
    width: 310px;
    padding: 25px 15px;
    margin-top: 15px;
}

    .login-panel label {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        display: block;
    }

.loginform {
    padding: 12px 10px 5px;
}

.forgotpwd {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

    .forgotpwd:hover {
        color: white;
        text-decoration: underline;
    }

.survey-login-btn {
    height: 40px;
    background-color: #f04e51;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    transtion: all 0.5s ease;
    -webkit-transtion: all 0.5s ease;
    margin-top: 15px;
    text-transform: uppercase;
}

    .survey-login-btn:hover {
        background-color: #db4c4f;
    }

.span-err-msg {
    color: red;
    font-size: 12px;
}

.survey-rewards {
    background: rgba(0,0,0,0.4);
    height: 60px;
    position: relative;
    margin-top: -60px;
    line-height: 60px;
}

.survey-rewards-link {
    float: left;
    width: 58.33333333%;
}

    .survey-rewards-link img {
        height: 24px;
        vertical-align: middle;
        padding-left: 10px;
    }

    .survey-rewards-link a {
        text-decoration: none;
        color: #fff;
        font-size: 28px;
        display: inline-block;
        font-weight: 600;
    }

.survey-rewards-places {
    float: left;
    width: 41.66666667%;
}

    .survey-rewards-places img {
        display: inline-block;
        vertical-align: middle;
        height: 25px;
        margin-right: 20px;
    }

.survey-body {
    float: left;
    width: 100%;
}

.survey-extracash {
    width: 58.33333333%;
    float: left;
}

    .survey-extracash img {
        height: 437px;
    }

.survey-signup-body {
    float: left;
    width: 41.66666667%;
    background: #1a5275;
    padding: 25px;
    margin-bottom: 5px;
}

.signup-header {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

    .signup-header a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        float: right;
    }

    .signup-header span {
        float: left;
    }

.survey-signup-form {
    padding: 20px 20px;
    display: inline-block;
    width: 100%;
}

.survey-form-group {
    margin-bottom: 10px;
}

.survey-form-control {
    background: #487591;
    font-size: 14px;
    color: #f1f1f1;
    border-radius: 4px;
    border: 0;
    height: 40px;
    padding: 6px 12px;
    width: 100%;
    font-weight: 400;
}

    .survey-form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #f1f1f1;
    }

    .survey-form-control::-moz-placeholder { /* Firefox 19+ */
        color: #f1f1f1;
    }

    .survey-form-control:-ms-input-placeholder { /* IE 10+ */
        color: #f1f1f1;
    }

    .survey-form-control:-moz-placeholder { /* Firefox 18- */
        color: #f1f1f1;
    }

.datepicker label {
    display: inline-block;
    color: #f1f1f1;
    padding-right: 5px;
}

.datepicker .date {
    width: 74px;
}

.datepicker .month {
    width: 72px;
}

.datepicker .year {
    width: 77px;
}

.recaptcha img {
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 30px;
    margin-top: 5px;
}

.survey-start-btn {
    height: 40px;
    background-color: #f04e51;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 0 30px;
    width: 80%;
    cursor: pointer;
    transtion: all 0.5s ease;
    -webkit-transtion: all 0.5s ease;
}

    .survey-start-btn:hover {
        background-color: #db4c4f;
    }

.form-decription {
    color: #f1f1f1;
    font-size: 13px;
}














footer {
    background: #f04e51;
    height: 60px;
    width: 100%;
    float: left;
    line-height: 60px;
}

    footer p {
        color: #fff;
        font-size: 12px;
    }

.learnmore-link {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

    .learnmore-link:hover {
        text-decoration: underline;
    }

.survey-security {
    width: 65%;
    float: left;
    padding: 0 15px;
}

    .survey-security img {
        height: 28px;
        margin-right: 5px;
    }

.copyrights {
    float: left;
    width: 35%;
    padding: 0 15px;
}

    .copyrights p {
        text-align: right;
    }

.danger {
    color: red;
}

.success {
    color: green;
}




@media (max-width:1025px) {
    .survey-promo {
        display: table;
        width: 100%;
    }

    .login-panel {
        margin: 80px 30px 20px;
    }

    .survey-rewards {
        margin-top: -2px;
        line-height: normal;
        display: table;
        width: 100%;
        padding: 15px;
        background: rgb(40, 61, 98);
        margin-bottom: 5px;
    }

    .survey-rewards-link a {
        font-size: 18px;
    }

    .survey-rewards-link img {
        height: 10px;
    }

    .survey-rewards-places img {
        height: 20px;
    }

    .survey-extracash img {
        height: auto;
    }
}


@media (max-width:992px) {

    .survey-body .container {
        max-width: 400px;
    }

    .survey-extracash, .survey-signup-body {
        width: 100%;
    }

    .login-panel {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .survey-security, .copyrights {
        width: 100%;
        text-align: center;
    }

        .copyrights p {
            text-align: center;
        }

    footer {
        height: auto;
        line-height: normal;
        padding: 25px 0;
    }

        footer .container {
            max-width: 640px;
        }

    .signup-header {
        font-size: 18px;
    }
}
