body, html{
	margin: 0;
	padding: 0;
}

body{
	text-align:center;
   
	font-family: Helvetica, Arial;
}

.text-danger{
    color: red;
    font-size: 14px;
}

#login
{
    float: right;
    width: 403px;
    margin: 0px;
    padding:0px;
    border:0;
    margin-top:1px;
    padding-top:1px;
    
}
#wrapper {
    width: 912px;
    padding: left:16px;
    padding: right:16px;
    margin: 0 auto;
 background: url('../images/wrapper.jpg') top center no-repeat #b7daf9;
    text-align: left;
    font-size: 10pt;
}

#flashplaceholder{
	width: 674px;
	height:235px;
	float:right;
	margin-top:-10px;
}

.left{
	width:502px;
	float:left;
	padding-bottom:393px;
	
}
/*.leftuk{
	width:502px;
	float:left;
	padding-bottom:393px;
	background: url('../images/country_pics/details_GBP.jpg') bottom center no-repeat;
}
.leftca{
	width:502px;
	float:left;
	padding-bottom:393px;
	background: url('../images/country_pics/details_CAN.jpg') bottom center no-repeat;
}
.leftau{
	width:502px;
	float:left;
	padding-bottom:393px;
	background: url('../images/country_pics/details_AUD.jpg') bottom center no-repeat;
}*/

.form{
	background-color:#871010;
	float:right;
	width:379px;
	text-align: center;
	padding:6px;
	margin-left:10px;
}

.form .inner{
	background-color: #ececec;
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	padding-top:10px;

}

.logo{
	margin-left:10px;
}

.banner{
	margin-left:-18px !important;
	margin-top:-6px !important;
}

#footer{
	text-align: center;
	margin-top:30px;
	margin-bottom:20px;
	font-size: 8pt;
}

#footer a{
	color: navy;
	text-decoration: none;
}