

.div-title {
    color: #1E91CB;
    float: left;
    margin-left: 58px;
}


.col-md-2 {
    text-align: end;
    width: 27.666667%;
    font-size: 14px;
}

.col-md-4 {
    width: 10%;
    margin-right: 47px;
    display: grid;
}

.padding-zero {
    width: 65px;
}

.y-width {
    width: 103px;
}

.m-t-10 {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
    display: block;
    width: 85%;
}

.form-control {
    margin-left: -200px;
    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.txt-req {
    float: right;
    margin-top: -30px;
}

.dv-buttons {
    margin: 26px 0px;
}

@media only screen and (min-width:981px) {
    .hr-style {
        width: 88%;
        border: 0.5px solid lightgray;
        margin-top: 0px !important;
    }

    .m-l-17 {
        margin-left: 17px;
    }

    .p-l-0 {
        padding-left: 0px !important;
    }

    .t-a-r {
        text-align: right;
    }

    #container {
        height: 1115px;
    }

    #footer {
        float: none !important;
        width: 100% !important;
    }

    .ddl-mm {
        width: 75px;
        float: left;
        margin: 0px 28px 0px !important;
    }

    .ddl-dd {
        width: 75px;
        float: left;
        margin: 0px 7px 0px !important;
    }

    .ddl-yy {
        width: 103px;
        float: left;
        margin: 0px 24px 0px !important;
    }
}

@media only screen and (max-width:980px) {
    .container1 {
        overflow: hidden;
    }

    .m-l-0 {
        margin-left: 0px;
    }

    .p-r-0 {
        padding-left: 0px !important;
    }

    .t-a-l {
        text-align: left;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        float: left;
        margin: 0px;
    }

    .col-md-2 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        width: 100%;
        text-align: left;
        padding-left: 0px;
    }

    .txt-req {
        float: left;
        margin: 0px;
    }

    .hr-style {
        width: 100%;
        border: 0.5px solid lightgray;
        margin-top: 0px !important;
    }

    .dv-account {
        width: 97%;
        margin-top: 75px;
    }

    .ddl-dd, .ddl-mm {
        width: 27%;
        margin: 0px 0px 0px 14px;
        float: left;
    }

    .ddl-yy {
        width: 35%;
        margin: 0px 10px;
        float: left;
    }

    .spn-yy-err {
        margin: 0px 0px 0px 14px;
    }
}

@media only screen and (max-width:480px) {
    .container1 {
        overflow: hidden;
    }
}
