.row {
    margin: 15px;
    margin-right: -15px;
    margin-left: -20px;
}

.div-share {
    text-align: justify;
    padding: 13px;
    width: 93%;
    border: 1px solid lightgray;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: -6px;
}

.pull-right {
    float: right;
}

.twitter {
    width: 100%;
    padding-right: 10px;
}

body {
    color: black;
    font-family: Verdana, Helvetica, 'sans serif';
    font-size: 12px;
}

.y-color {
    color: #1E91CB;
}

.t-v-m-p {
    text-align: left;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
}

.ff-ver {
    font-family: Verdana;
}

.pl-ff-ver {
    padding-left: 150px;
    font-family: Verdana;
}

.h-o-b-ff-w {
    height: 245px;
    overflow: auto;
    border: solid 0px gray;
    font-family: Verdana;
    width: 300px;
}

.b-disp {
    display: block;
}

.add-class-2 {
    width: 290px;
    background-color: #F5F5F5;
    padding: 10px;
    overflow: hidden;
    border: solid 1px #CACACA;
    font-size: 12px;
}

.f-prop {
    font-size: 12px !important;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 12px;
}

.p-10 {
    text-align: justify;
    padding: 10px;
}

.p-20 {
    text-align: left;
    padding: 20px;
}

.div-title {
    margin-left: 20px;
    padding-left: 45px;
    font-size: 17px;
    color: #1E91CB;
}

.fs-pl-p-o-w {
    font-size: 12px;
    padding-left: 40px;
    padding: 10px;
    overflow: hidden;
    width: 840px;
}

.fs-med {
    font-size: medium;
}

.c-green {
    color: Green;
}

.p-click {
    text-decoration: none;
    font-size: large;
    color: #1E91CB;
}

.wid-100 {
    width: 100%;
}

.c-bc-fw-td {
    color: BlueViolet;
    background-color: WhiteSmoke;
    font-weight: bold;
    text-decoration: none;
    height: 15px;
}

.f-fw {
    float: right;
    font-weight: bold;
}

.hr-style {
    width: 87%;
    border: 0.5px solid lightgray;
    margin-top: 0px !important;
}

.p-link {
    display: block;
    font-size: 12px;
    background-color: #F5F5F5;
    padding: 10px;
    overflow: hidden;
    border: solid 1px #CACACA;
}

.d-ml {
    display: block;
    margin-left: 40px;
}

.f-r {
    float: right;
}

.m-t-10 {
    margin-top: 10px;
}

.p-table {
    background-color: #F5F5F5;
    border: solid 1px #CACACA;
    width: 840px;
}

.p-l-link {
    color: blue;
    font-weight: 100;
    text-decoration-line: inherit;
}

a:hover {
    color: #1E91CB;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.odd {
    background-color: #C1CDC1;
}

.even {
    background-color: none;
}

@media screen and (min-width:981px) {
    .m-l-20 {
        width: 550px;
        margin-left: 40px;
    }
}

@media screen and (max-width:980px) {
    .p-10 {
        display: none;
    }
}

@media screen and (min-width:461px) and (max-width:980px) {
    .add-class-1 {
        margin-left: 10px;
    }
}

@media screen and (max-width:460px) {

    .d-b {
        display: block;
    }

    .f-r {
        float: none;
    }

    .m-l-r-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .text-d {
        text-decoration: none;
    }

    .f-12 {
        color: #1E91CB;
        font-family: Verdana;
        font-size: medium;
    }

    .div-title {
        padding-left: 18px;
    }

    .p-20 {
        padding: 15px;
    }

    .div-share {
        text-align: justify;
        margin: 20px;
        font-size: 12px;
        display: grid;
        border: 1px solid lightgray;
        padding: 10px;
        width: 93%;
        margin-left: 16px;
        float: left;
    }

    .p-none {
        padding: 0px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 0px !important;
    }

    .add-class-1 {
        padding-top: 10px;
    }

    .pager {
        color: green;
        font-weight: bold;
        display: inline-block;
        padding-left: 0;
        border-radius: 4px;
    }
}
