<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="FaceBookId" value="1799556860347941"/>
  <add key="FaceBookSecretKey" value="c8e42d333a3f5ca9a998379a6613471b"/>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="apiurl" value="https://membersapi.precisionsample.com/" />
  <add key="gsapiurl" value="https://test-surveys.precisionsample.com/api/Survey/" />
  <add key="Xveirfy" value="1000117-B5BM4DLJ" />
  <add key="Xverifydomain" value="opinionbar.com"/>
  <add key="VerityUserName" value="precisionsample" />
  <add key="VerityPassword" value="x5v3c6no" />
  <add key="AffilaitePixelUSHispanic" value="14669;14745;14748;14750"/>
  <add key="VerityClientId" value="127" />
  <add key="VerityDOBON" value="1" />
  <add key="PaypalLogo" value="https://www.surveydownline.com/images/paypal_logo.gif" />
  <add key="MagazineLogo" value="https://mg.surveydownline.com/uploads/magazine_logo.png" />
  <add key="ZendeskToAddress" value="siva@precisionsoftech.com" />
  <add key="SMTPHost" value="10.200.20.140"/>
  <add key="mailingPort" value="25"/>
  <add key="sparkposturl" value="https://api.sparkpost.com/api/v1/suppression-list/" />
  <add key="UserDownload" value="~/Download/" />
  <add key="PrivacyPolicyFileDownload" value="~/Upload/PrivacyPolicy/" />
  <add key="InfoLog" value="0"/>
  <add key="AppId" value="153122804756062"></add>
  <add key="AppName" value="surveydownline"></add>
  <add key="SparkPostAPIKey" value="feaca7da84add98d9d18c04e52dc3ed42a3fe27e" />
  <add key="VerisoulURL" value="https://api.prod.verisoul.ai/session/authenticate" />
  <add key="VerisoulAPIKey" value="vYh1uWKhalKvv15toiFvRXNktQ47Vm68VypR5Djr" />
  <!--<add key="ResearchDefender" value="https://prod.rtymgt.com/api/v3/respondents/search/50946766-ef1c-4060-b967-7e63161232b4?sn_ud={0}&amp;sy_nr={1}&amp;coordinates=1&amp;wd=1&amp;lonlat={2}&amp;{3}"/>--> 
</appSettings>
