
@{
    Layout = null;
}
<head>
    <title>@ViewBag.OrgName</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <link href="~/Content/main/fpResponsive.css" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="footerApp">
    <div ng-controller="forgotPwdCntrl">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        }
        <div id="container">
            <div id="header">
                <img ng-src="{{orgDetails.OrgLogo}}" style="margin-top: 20px;" />
            </div>
            <div class="row">
                <div class="container">
                    <div class="div-main">
                        <div>
                            <a href="{{orgDetails.MgLoginPath}}" style="color: #1E91CB; float: right;">Back to Main page</a>
                        </div>
                        <hr />
                        <div class="div-fp">
                            <div>
                                <h3>Forgot Password?</h3>
                            </div>
                            <div class="row">
                                <span>Please provide your email address below, your password information will be emailed to you.</span>
                            </div>
                            <br />
                            <form novalidate name="forgotPswdForm">
                                <div class="row">
                                    <input type="email" name="email1" class="input form-control col-md-6" ng-model="getUserData.EmailAddress" placeholder="E-mail Address" required />
                                    <span ng-show="forgotPswdForm.email1.$invalid && forgotPswdErrMsg" class="span-err-msg">Required</span>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <button type="submit" id="imgbutton" class="btn btn-default" ImageAlign="Middle" ng-click="forgotPasswordClick(forgotPswdForm.$valid)">Submit</button>
                                </div>
                            </form>
                            <span ng-show="saveref" ng-style="{'color':'green'}">We have sent your password to your email address. It should arrive shortly</span>
                            <span ng-show="errMsg" ng-style="{'color':'red'}">Details Not Saved.</span>
                        </div>
                    </div>
                </div>
                <img src="~/Images/main/border.gif" style="margin-top: 20px;" />
                <footer class="footer text-center" style="padding-top: 15px;font-size: 9px;text-align: center;color: #b2b2b2;margin-bottom: 126px;">
                    © Copyright 2022 {{orgDetails.OrgName}} | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> <span ng-if="orgDetails.ClientId!=383">| <a href="javascript:;" ng-click="aboutClick()" ng-if="orgDetails.ClientId!=383">About Us</a> | <a href="javascript:;" ng-click="faqClick()" ng-if="orgDetails.ClientId!=383">FAQ</a> | <a href="https://member.impactradius.com/agency-campaign-info/SmarterChaoscom.brand?c=239" ng-if="orgDetails.ClientId!=383">Affiliates</a>| <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a></span>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/pages/footer/tc.js" type="text/javascript"></script>
</body>
