@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
<link href="~/Content/main/tafResponsive.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    @*<input id="antiForgeryToken" ng-model="antiForgeryToken" ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />*@
    <ng-include src="getPartialView">
    </ng-include>
</div>
