/* CSS Document */
body {
	background: url('../images/bg_body.jpg') repeat-x top center;
	font-size: 12px;
	line-height: 1.8em;
}

#hdnaccname
{display:none;}

div#container {
	background: url('../images/bg_container.jpg') no-repeat top center;
}


/* header */
div#homeheader {
	background: url('../images/header_6.jpg') no-repeat top center;
}

	div#header {
		background: url('../images/header_6.jpg') no-repeat top center;
	}

	div#proposition {
		background-color: #fff;
		filter:alpha(opacity=80);
		-moz-opacity: 0.8;
		opacity: 0.8;
	}

	/* mainnavigation */
	div#mainnavigation {
		background: url('../images/bg_mainnavigation.jpg') repeat-x top left #850000;
	}
	
	
	div#mainnavigation a:link, div#mainnavigation a:visited   {
		
		font-size: 1.5em;
		color: #fff;
		text-decoration: none;
	}
	
	div#mainnavigation a:hover, div#mainnavigation a:active,  div#mainnavigation a:focus {
		background: url('../images/bg_mainmenu_active.gif') no-repeat;
	}
	
	div#mainnavigation ul#mainnavigationright a {
		font-size: 1.1em;
	}


	/* subnavigation */
	div#subnavigation {
		background: #850000;
		border-top: 1px solid #792323;
	}
	
	
	div#subnavigation a:link, div#subnavigation a:visited   {
		
		line-height: 2.5em;
		color: #fff;
		text-decoration: none;
	}
	
	div#subnavigation a:hover, div#subnavigation a:active,  div#subnavigation a:focus {
		background: url('../images/bg_submenu_active.gif') no-repeat;
	}
	
	
	/* sidebar */
	div#sidebarcontent {
		background: url('../images/bg_sidebar.jpg') no-repeat top left;
	}
	
	
	div#languages {
		background: url('../images/bg_sidebar.jpg') no-repeat top left #ffffff;
		display: none;
	}
	

div.overview 
{
    height: 265px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.overviewrequest 
{
    height: 155px;
	overflow-y: auto;
	overflow-x: hidden;
}


/* h1, h2, h3, h4, legend */
h1, h2, h3, h4, legend {
	
	color: #000;
}

	h1 {
		font-size: 1.8em;
		line-height: 1.5em;
	}
	
		h1.proposition {
			font-size: 1.9em;
			line-height: 1em;
			font-style: italic;
		}
	
	h2 {
		font-size: 1.6em;
		line-height: 1.5em;
		font-weight: normal;
	}
	
	h2 img {
	    float:left;
	}
		
		h2.welcome {
			color: #5b5b5b;
		}
		
		h2.secure {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_secure.gif') no-repeat left center;
		}

	
		h3.privacy {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_privacy.gif') no-repeat left center;
		}
	
		
		h3.secure_helpdesk {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_secure_helpdesk.gif') no-repeat left center;
		}

		h3.say {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_say.gif') no-repeat left center;
		}
		h3.profile {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_profile.gif') no-repeat left center;
		}
		h3.news {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_news.gif') no-repeat left center;
		}
		h3.charities {
			padding: 0px 0px 0px 30px;
			background:	url('../images/icons/icon_charities.gif') no-repeat left center;
		}
		
		
	
	h3 {
		font-size: 1.4em;
		line-height: 1.5em;
		font-weight: normal;
		margin: 5px 0 0 0;
	}
	
	h4 {
		font-size: 1.3em;
		font-weight: bold;
	}
		h4.form,  h4.overview, li.helpdeskcat, li.helpdeskcontact, table.box th, table.overview th {
			border: 1px solid #e7e7e7;
			width: 598px;
			height: 29px;
			border-bottom: 0px;
			
			font-size: 1.4em;
			line-height: 1.7em;
			background: url('../images/bg_overview_header.jpg') repeat-x top center #fff;
			padding: 0 0 0 20px;
			font-weight: normal;
		}
		
/* h5, h6, p, form, input, textarea, ul, li, label  */

h5, h6, ul, li, p, form, input, select, textarea, label, table, th, td, tr, q, blockquote, html {
	font-size: 1em;
	color: #000;
}

	h5 {
		font-size: 1.2em;
		font-weight: bold;
	}
	
	h6 {
		font-size: 1.1em;
		font-weight: bold;
	}
	
		
	
	ul, li {
		/* no style */
	}
	
	
	div.messagebox {
	    padding: 10px;
	    margin: 0 0 10px 0;
	}
	
		p.box {
			border: 1px solid #e7e7e7;
			background: #fafafa;
		}
	
		p.saved {
			border: 1px solid #aaa8a8;
			background: #fdfcd3;
		}
		
		.messagebox {
			border: 1px solid #aaa8a8;
			background: #fdfcd3;
		}
	
		p.formtip {
			font-size: 0.9em;
			line-height: 0em;
		}
		
		p.formtiperror {
			font-size: 0.9em;
			line-height: 0em;
			color: #E11414;
		}
		
	/*
	blockquote {
		background:	url('../images/icons/icon_say.gif') 0px -2px no-repeat;
	  	background: url('../images/icons/icon_quote_start.gif') 0px 5px no-repeat;
	}
	*/

	blockquote div {
	  font-style: italic;
	  text-align: justify;
	 /* background: url('../images/icons/icon_quote_end.gif') right bottom no-repeat;*/
	}


/* form */
#maincontent form, #maincontent .formtop {
	border: 1px solid #e7e7e7;
	border-top:0;
	width:578px;
	background: #FAFAFA;
}

#maincontent .formtop {
	border-top: 1px solid #e7e7e7;
	padding-top: 10px;
}

fieldset input,
fieldset select {
	border: 1px solid #919191;
	background: #fff;	

}

fieldset textarea {
	border: 1px solid #919191;
	background: #fff;	
}

fieldset input:hover,
fieldset select:hover,
fieldset textarea:hover {
	background-color: #FBFBEF;
} 

fieldset input:focus,
fieldset select:focus,
fieldset textarea:focus {
	background-color: #FBFBEF;
	border: 1px solid #91ae03;
}

#sendto1, #sendto2, #sendto1:hover, #sendto2:hover, #sendto1:focus, #sendto2:focus {
	background: none;
}


input.radiobutton {
	margin: 5px 10px 0 0;
	width: 15px;
}



.error {
	border: 2px solid #E11414;
	background: #FBF5F5;
}

.checkbox, .checkbox:hover {
	border: 0;
	background: none;
}

#cbSpanAgree {
	padding: 5px 0px 5px 5px;
	width: 455px;
	display: block;
}

/* Butons */
.signupbutton, .buttonsmall, .buttonmiddle, .buttonlarge {
	
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.signupbutton {
	background: url('../images/buttons/button_a_signup.png') no-repeat top center transparent;
	color: #000;
	text-decoration: none;
}

.buttonsmall {
	background: url('../images/buttons/button_a_small.png') no-repeat top center transparent;
}

.buttonsmall_loading 
{
    background: url('../images/buttons/button_a_small_loader.gif') no-repeat top left transparent;
}

.buttonmiddle  {
	background: url('../images/buttons/button_a_middle.png') no-repeat top left transparent;
}

.buttonmiddle_loading 
{
    background: url('../images/buttons/button_a_middle_loader.gif') no-repeat top left transparent;
}

.buttonlarge {
	background: url('../images/buttons/button_a_large.png') no-repeat top left transparent;
}

.buttonlarge_loading 
{
    background: url('../images/buttons/button_a_large_loader.gif') no-repeat top left transparent;
}

/* helpdesk */

ul.helpdesk {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.helpdesk li {
	list-style: none;	
}

li.helpdeskcat a {
	background: url('../images/icons/icon_helpdesk_closed.gif') no-repeat top left transparent;
	color: #000;
	display: block;
	text-decoration: none;
	margin: 2px 0px 0px -10px;
	padding: 0 30px;
	height: 23px;
}

li.helpdeskcat a.helpdeskopen {
	background: url('../images/icons/icon_helpdesk_open.gif') no-repeat top left transparent;
}

ul.helpdeskcatcontent {
	border: 1px solid #e7e7e7;
	width: 578px;
	border-bottom: 0;
	background: #FAFAFA;
}

ul.helpdeskcatcontent li.question {
	list-style-image: url('../images/icons/arrow.gif');

}

ul.helpdeskcatcontent li.question a:link, 
ul.helpdeskcatcontent li.question a:hover, 
ul.helpdeskcatcontent li.question a:visited {

	text-decoration: none;
	color: #000;
}


ul.helpdeskcatcontent li.question a:active {
	font-weight: bold;
}


ul.helpdeskcatcontent li.answer {	
	margin: 0 0 20px 15px;
	padding:10px;
	background-color:#FFFFFF;
	border: 1px solid #e7e7e7;
}

ul.helpdeskcatcontent li.answer p {
	font-weight: normal;
}

ul.helpdeskcatcontent li.answer ul,
ul.helpdeskcatcontent li.answer ol  {
	list-style-position: inside;	
	font-weight: normal;
	padding: 0 0 0 20px;
	margin: 0px;
}


ul.helpdeskcatcontent li.answer ul li {
	list-style-type: disc;
}

ul.helpdeskcatcontent li.answer ol li {
	list-style-type: decimal;
}

/* table */

table.box {
	background: #fafafa;
	border: 1px solid #e7e7e7;
	width: 620px;
}

table.overview {
	width: 620px;
	
}

table.box th {
	border: 0px;
	text-align: left;
}

table.overview th {
	border: 1px solid #e7e7e7;
	border-bottom: 0;
	width: 608px;
	text-align: left;
}

table.box th a {
	
	font-size: 0.8em;
}

table.box th img, table.overview th img, h4.form img {
	float: left;
}

table.overview td, table.box td  {
	text-align: left;
	padding: 0 0 0 20px;
	margin: 0;
	line-height: 2.2em;
}

table.box td  {
	width: 25%;
}

table.overview tr.tr1 {
	background-color:#fff;
	width: 620px;
	
}

table.overview tr.tr2 {
	background-color:#f8f8f8;
	width: 620px;
}

table.box td.td0,
table.overview td.td0 {
	width: 475px;
}

table.overview td.line {
    height: 5px;
}

 

table.overview td.td1 {
	width: 375px;
}

table.overview td.td2 {
	width: 60px;
	
	text-align:right;
}

table.box td.td3,
table.overview td.td3 {
	width: 125px;
	
	vertical-align: middle;
}



table.overview td.td2small {
	width: 60px;
	
	font-size: 0.9em;
	text-align:right;
}

table.box td.td3small,
table.overview td.td3small {
	width: 125px;
	
	font-size: 0.9em;
	vertical-align:middle;
}




table.overview tr.tr_over {
	background: #f4facd;
}

small {
	
	color: #606060;
}

/* footer */
.footer {
	border-top: 1px solid #b1b1b1;
	text-align: center;
}

/* overlay */
div#balance, div#points, div#payments, div#help, div#loginhelp, div#sendafriendexample {
	background-color: #fff;
}

a.close {
	
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

/* homepage */
ul.homepage {
	padding: 0;
}
	
ul.homepage li{
	padding: 0;
	margin: 0 0 0 20px;
	list-style-image: url('../images/icons/list.gif');
	list-style-position:outside;
}
/* progress completeness */
#progressbar 
{
    width:240px;
    height: 20px;
    text-align: center;    
}