body, h1, h2, h3, h4, h5, h6, div, form, p, fieldset, legend, label, input, img, a, textarea, q, blockquote, img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	width:100%;
	}



body, p, h1 {
	font-size: 12px;
	}

div#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/* text-align:center; */
}

/* div#headercontainer, div#contentcontainer, div#footercontainer {
	text-align: center;
} */

div#header, div#content, div#footer {
	width: 960px; /* Sets the width of the content*/
}

div#headercontainer {
	position: relative;
	background: url('../images/bg_header.jpg') repeat-x top center;
}

div#header {
	position: relative;
	height: 100px;
	background: url('../images/img_header.jpg') no-repeat top center;
	text-align:left;
	padding: 0px 20px 0px 20px;
}

div#contentcontainer {
	position:relative;
	background:#fff;
	border: 1px solid #979797;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

div#content {
	position: relative;
	text-align:left;
	padding: 20px 20px 0px 20px;
}

h1 {
	color: #000;
	font-size: 1.8em;
	line-height: 1.5em;
}

p {
	font-size: 1em;
	color: #000;
}

div#content img.right {
	position: relative;
	float: right;
	margin: 0px 0px 0px 10px;
}

div#footercontainer {
	clear: both;
	position: relative;
	border: 1px solid #979797;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	background: url('../images/bg_footer.jpg') repeat-x top center;
}

div#footer {
	height: 234px;
	background: url('../images/img_footer.jpg') no-repeat top center;
	text-align:center;
	padding: 20px 20px 0 0;
}

.clear {
	float: none;
	clear: both;
}

.buttonsmall {
	font-family: 'trebuchet ms';
	color:#000;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 144px;
	height: 34px;
	margin: 10px 0;
	padding: 5px 0 0 0;
	border: 0;
	background: url('/images/button_a_small.png') no-repeat top center transparent;
}

.arrownext {
	display: block;
	width: 66px;
	height: 40px;
	background: url('/images/arrow_next.jpg') no-repeat top center transparent;
}


/*  */
.inner-header{
    background-color: rgba(184, 39, 43, 0.9) !important;
}
.submunu-row { position: absolute; top:70px; background: #9c2b2e; left: 0; width: 100%; }
.submunu-row a { display: inline-block; padding: 11px 10px; line-height: normal; color: #fff; font-size: 12px; text-decoration: none; font-weight: 500; }
.submunu-row .header_content { padding: 0; }
.nav_item { font-weight: 400; font-size: 14px; }






















