
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');</script>
    <!-- End Google Tag Manager -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=@ViewBag.recaptchalangCode" async defer></script>
</head>
<body ng-app="footerApp">
    @Html.AntiForgeryToken()
    <div ng-controller="doNotSellMyInfoController">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="dvContactus" style="margin-left: 10%;margin-top:5%;">
            <div style="text-align: center;margin-bottom:15px;font-size:15px;"><b>{{'DoNotSellConsent'|translate}}</b></div>
            <table id="tbl" border="0" cellspacing="0" width="600px" cellpadding="0" style="font-size: 12px;">
                <tr>
                    <td align="left" valign="top">
                        <p style="text-align: justify;">
                            <b>{{'DoNotSellMyInfo1'|translate}}</b>
                        </p>
                    </td>
                </tr>
            </table>
            <form name="DoNotSellInfoForm" novalidate>
                <table style="font-size: 12px; width: 600px;">
                    <tr class="form-body">
                        <td align="left" style="width: 25%;">
                            <label style="margin-right: 15px;">{{'DoNotSellMyInfo2'|translate}}</label>
                        </td>
                        <td align="left" style="display: flex;">
                            <input type="text" name="firstName" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.FirstName" ng-required="true" />
                            <span style="color:red;" ng-show="DoNotSellInfoForm.firstName.$invalid && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="width: 25%;">
                            <label style="margin-right: 15px;">{{'DoNotSellMyInfo3'|translate}}</label>
                        </td>
                        <td align="left" style="display: flex;">
                            <input type="text" name="lastName" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.LastName" ng-required="true" />
                            <span style="color:red;" ng-show="DoNotSellInfoForm.lastName.$invalid && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="width: 25%;">
                            <label style="margin-right: 15px;">{{'DoNotSellMyInfo4'|translate}}</label>
                        </td>
                        <td align="left" style="display: flex;">
                            <input type="email" name="email" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.EmailAddress" ng-required="true" />
                            <span class="error" style="color:red;" ng-show="DoNotSellInfoForm.email.$error.email">{{'notvalidemail' | translate}}!</span>
                            <span style="color:red;" ng-show="DoNotSellInfoForm.email.$error.required && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="vertical-align: top; width: 30%;">
                            <label style="margin-right: 15px;">{{'DoNotSellMyInfo5'|translate}}</label>
                        </td>
                        <td align="left" style="display: flex;">
                            <input type="text" name="PrecisionSample" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.PrecisionSampleSite" ng-required="true" />
                            <span style="color:red;" ng-show="DoNotSellInfoForm.PrecisionSample.$invalid && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="vertical-align: top; width: 30%;">
                            <label style="margin-right: 15px;">{{'DoNotSellMyInfo6'|translate}}</label>
                        </td>
                        <td align="left" style="display: flex;">
                            <select class="form-control" style="width:300px;" id="ddlGender" ng-model="DoNotSellInfo.RequestID" name="RequestType">
                                <option value="0">{{'DoNotSellMyInfo7'|translate}}</option>
                                <option value="1">{{'DoNotSellMyInfo8'|translate}}</option>
                                <option value="2">{{'DoNotSellMyInfo9'|translate}}</option>
                                <option value="3">{{'DoNotSellMyInfo10'|translate}}</option>
                            </select>
                            <span style="color:red;" ng-show="DoNotSellInfo.RequestID == 0 && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td></td>
                        <td>
                            <div class="g-recaptcha"
                                 data-sitekey="6LfVcForAAAAAHCQH_OWJRVYCXlvU0KlMm2u6B2i"></div>
                            <span class="text-danger" ng-show="captchaErr">{{'invalidCaptcha'|translate}}.</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td></td>
                        <td style="padding-right: 80px;">
                            <button type="submit" id="imgNext" class="btn btn-default reg-btn" ng-click="doNotSellMyInfo(DoNotSellInfoForm.$valid)">{{'Submit' | translate}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
                <div><span ng-if="showMsg" style="color:green;">{{'yourrequesthabeensubmitted'|translate}}.</span></div>
                <div><span ng-if="errMsg" style="color:red;">{{'detailsNotSaved'|translate}}.</span></div>
            </form>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/services/footerTranslation.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/main/footer/tc.js"></script>
</body>
