
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');</script>
    <!-- End Google Tag Manager -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body ng-app="footerApp">
    @Html.AntiForgeryToken()
    <div id="dvprivacy" ng-controller="privacyController">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <table style="font-family: Verdana; font-size: small;">
            <tr>
                <td align="center">
                    <b style="font-size: large;">
                        {{'Pri_Pcy' | translate}}
                    </b><br />
                    <span>{{'Last update:12 May 2022' | translate}}</span><br />
                    <a href="#" style="color: Blue; text-decoration: underline;" ng-click="dowPrivacyPolicy()">{{'Download' | translate}}</a>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        {{'PrivacyPolicyText1' | translate}}<b>{{'PrivacyPolicyText2' | translate}}</b>{{'PrivacyPolicyText3' | translate}}<b>(GDPR)</b>. {{'PrivacyPolicyText4' | translate}}
                    </p>
                    <p>
                        {{'PrivacyPolicyText5' | translate}} <b>{{'PrivacyPolicyText6' | translate}}</b> {{'PrivacyPolicyText7' | translate}} <b>{{'PrivacyPolicyText8' | translate}}</b>.
                    </p>
                    <p>
                        {{'PrivacyPolicyText9' | translate}} <b>(“CCPA”)</b> {{'PrivacyPolicyText10' | translate}}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>1.&nbsp;&nbsp;{{'PrivacyPolicyText11' | translate}} </b>
                    <br />
                    <p>
                        {{'PrivacyPolicyText12' | translate}} (<b>{{'PrivacyPolicyText13' | translate}}</b>, {{'PrivacyPolicyText14' | translate}} <b>{{'PrivacyPolicyText15' | translate}}</b> {{'PrivacyPolicyText16' | translate}} <b>{{'PrivacyPolicyText17' | translate}}</b>). {{'PrivacyPolicyText18' | translate}} <b>{{'PrivacyPolicyText19' | translate}}</b>{{'PrivacyPolicyText20' | translate}}<b>{{'PrivacyPolicyText21' | translate}}</b> {{'PrivacyPolicyText22' | translate}}<b>{{'PrivacyPolicyText23' | translate}}</b>),{{'PrivacyPolicyText24' | translate}} <b>{{'PrivacyPolicyText25' | translate}}</b>.
                    </p>
                    <p>
                        {{'PrivacyPolicyText26' | translate}} <b>{{'PrivacyPolicyText27' | translate}}</b>: https://www.precisionsample.com/.
                    </p>
                    <p>
                        {{'PrivacyPolicyText28' | translate}} <b>{{'PrivacyPolicyText29' | translate}}</b>
                        <ul>
                            <li>
                                <a href="http://www.surveydownline.com">http://www.surveydownline.com</a>
                            </li>
                            <li>  <a href="http://www.loquedigo.com">http://www.loquedigo.com</a></li>
                            <li>
                                <a href="https://www.conversant.pro">https://www.conversant.pro</a>
                            </li>
                        </ul>
                    </p>
                    <p>
                        {{'PrivacyPolicyText30' | translate}} <b>{{'PrivacyPolicyText31' | translate}}</b>. {{'PrivacyPolicyText32' | translate}}<b>{{'PrivacyPolicyText33' | translate}}</b>.
                    </p>
                    <p>
                        {{'PrivacyPolicyText34' | translate}}<b>{{'PrivacyPolicyText35' | translate}}</b>.
                    </p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>2.&nbsp;&nbsp;{{'PrivacyPolicyTextCon' | translate}}</b>
                    <br />
                    <p>
                        {{'PrivacyPolicyText36' | translate}}<b>{{'PrivacyPolicyTextCon' | translate}}</b>{{'PrivacyPolicyText37' | translate}}
                    </p>
                    <p>
                        {{'PrivacyPolicyText38' | translate}}
                    </p>
                    <p>
                        {{'PrivacyPolicyText39' | translate}}
                    </p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>3.&nbsp;&nbsp;{{'PrivacyPolicyText40' | translate}}</b>
                    <br />
                    <p>{{'PrivacyPolicyText41' | translate}} <b>{{'PrivacyPolicyText21' | translate}}</b>.</p>
                    <p>
                        {{'PrivacyPolicyText42' | translate}}(“<b>{{'PrivacyPolicyText43' | translate}}</b>”) {{'PrivacyPolicyText44' | translate}}
                    </p>
                    <p>
                        {{'PrivacyPolicyText45' | translate}}<b>{{'PrivacyPolicyTextCon' | translate}}</b> {{'PrivacyPolicyText46' | translate}}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>4.&nbsp;&nbsp;{{'PrivacyPolicyText47' | translate}}</b>
                    <br />
                    <br />
                    <b>A.&nbsp;&nbsp;{{'PrivacyPolicyText48' | translate}}</b>
                    <i>{{'PrivacyPolicyText49' | translate}}</i>
                    <p>{{'PrivacyPolicyText50' | translate}}(<b>{{'PrivacyPolicyText51' | translate}}</b>). {{'PrivacyPolicyText52' | translate}}</p>
                    <p>{{'PrivacyPolicyText53' | translate}}<b>{{'PrivacyPolicyText54' | translate}}</b>. {{'PrivacyPolicyText55' | translate}}</p>
                    <p>{{'PrivacyPolicyText56' | translate}} <b>{{'PrivacyPolicyText57' | translate}}</b> {{'PrivacyPolicyText58' | translate}}</p>
                    <p>{{'PrivacyPolicyText59' | translate}} <b>{{'PrivacyPolicyText60' | translate}}</b> {{'PrivacyPolicyText61' | translate}}</p>
                    <i>{{'PrivacyPolicyText62' | translate}}</i>
                    <p>{{'PrivacyPolicyText63' | translate}}</p>
                    <p>{{'PrivacyPolicyText64' | translate}}<b>{{'PrivacyPolicyText65' | translate}}</b></p>
                    <i>{{'PrivacyPolicyText66' | translate}}</i>
                    <p>{{'PrivacyPolicyText67' | translate}}</p>
                    <b>B.&nbsp;&nbsp;{{'PrivacyPolicyText68' | translate}}</b>
                    <i>{{'PrivacyPolicyText69' | translate}}</i>
                    <p>{{'PrivacyPolicyText70' | translate}} <b>{{'PrivacyPolicyText71' | translate}}</b>.</p>
                    <p>{{'PrivacyPolicyText72' | translate}} <b>{{'PrivacyPolicyText73' | translate}}</b> {{'PrivacyPolicyText74' | translate}}</p>
                    <p>{{'PrivacyPolicyText75' | translate}}</p>
                    <p>{{'PrivacyPolicyText76' | translate}}</p>
                    <i>{{'PrivacyPolicyText77' | translate}}</i>
                    <p>{{'PrivacyPolicyText78' | translate}} <b>{{'PrivacyPolicyText79' | translate}}</b> {{'PrivacyPolicyText80' | translate}}</p>
                    <b>C.&nbsp;&nbsp;{{'PrivacyPolicyText81' | translate}}</b>
                    <p>{{'PrivacyPolicyText82' | translate}} <b>{{'PrivacyPolicyText81' | translate}}</b>. {{'PrivacyPolicyText83' | translate}} <b>{{'PrivacyPolicyText65' | translate}}</b> {{'PrivacyPolicyText84' | translate}} <b>{{'PrivacyPolicyText85' | translate}}</b>.</p>
                    <p>{{'PrivacyPolicyText86' | translate}}</p>
                    <b>D.&nbsp;&nbsp;{{'PrivacyPolicyText87' | translate}}</b>
                    <p>{{'PrivacyPolicyText88' | translate}} (<b>{{'PrivacyPolicyText89' | translate}}</b>). {{'PrivacyPolicyText90' | translate}}</p>
                    <p>{{'PrivacyPolicyText91' | translate}} <b>{{'PrivacyPolicyText92' | translate}}</b> {{'PrivacyPolicyText93' | translate}}<b>{{'PrivacyPolicyText94' | translate}}</b> {{'PrivacyPolicyText95' | translate}}</p>
                    <p>{{'PrivacyPolicyText96' | translate}}</p>
                    <b>E.&nbsp;&nbsp;{{'PrivacyPolicyText97' | translate}}</b>
                    <p>{{'PrivacyPolicyText98' | translate}}</p>
                    <p>{{'PrivacyPolicyText99' | translate}} <b>{{'PrivacyPolicyText65' | translate}}</b> {{'PrivacyPolicyText100' | translate}}</p>
                    <b>F.&nbsp;&nbsp;{{'PrivacyPolicyText101' | translate}}</b>
                    <p>{{'PrivacyPolicyText102' | translate}} (<b>{{'PrivacyPolicyText101' | translate}}</b>).</p>
                    <p>{{'PrivacyPolicyText103' | translate}}</p>
                    <p>{{'PrivacyPolicyText104' | translate}}</p>
                    <p>{{'PrivacyPolicyText105' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>5.&nbsp;&nbsp;{{'PrivacyPolicyText106' | translate}}</b>
                    <p>{{'PrivacyPolicyText107' | translate}}</p>
                    <b>A.&nbsp;&nbsp;{{'PrivacyPolicyText25' | translate}}</b>
                    <p>{{'PrivacyPolicyText108' | translate}}</p>
                    <b>B.&nbsp;&nbsp;{{'PrivacyPolicyText33' | translate}}</b>
                    <p>{{'PrivacyPolicyText109' | translate}}</p>
                    <b>C.&nbsp;&nbsp;{{'PrivacyPolicyText110' | translate}}</b>
                    <p>{{'PrivacyPolicyText111' | translate}}</p>
                    <b>D.&nbsp;&nbsp;{{'PrivacyPolicyText112' | translate}}</b>
                    <p>{{'PrivacyPolicyText113' | translate}}</p>
                    <b>E.&nbsp;&nbsp;{{'PrivacyPolicyText114' | translate}}</b>
                    <p>{{'PrivacyPolicyText115' | translate}}</p>
                    <b>F.&nbsp;&nbsp;{{'PrivacyPolicyText116' | translate}}</b>
                    <p>{{'PrivacyPolicyText117' | translate}}</p>
                    <b>G.&nbsp;&nbsp;{{'PrivacyPolicyText118' | translate}}</b>
                    <p>{{'PrivacyPolicyText119' | translate}}</p>
                    <b>H.&nbsp;&nbsp;{{'PrivacyPolicyText120' | translate}}</b>
                    <p>{{'PrivacyPolicyText121' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>6.&nbsp;&nbsp;{{'PrivacyPolicyText122' | translate}}</b>
                    <br />
                    <p>{{'PrivacyPolicyText123' | translate}}</p>
                    <p>{{'PrivacyPolicyText124' | translate}}</p>
                    <i>{{'PrivacyPolicyText125' | translate}}</i>
                    <p>{{'PrivacyPolicyText126' | translate}}</p>
                    <p>{{'PrivacyPolicyText127' | translate}}</p>
                    <p>{{'PrivacyPolicyText128' | translate}}</p>
                    <p>{{'PrivacyPolicyText129' | translate}}</p>
                    <i>{{'PrivacyPolicyText130' | translate}}</i>
                    <p>{{'PrivacyPolicyText131' | translate}}</p>
                    <i>{{'PrivacyPolicyText132' | translate}}</i>
                    <p>{{'PrivacyPolicyText133' | translate}}</p>
                    <i>{{'PrivacyPolicyText134' | translate}}</i>
                    <p>{{'PrivacyPolicyText135' | translate}}</p>
                    <i>{{'PrivacyPolicyText136' | translate}}</i>
                    <p>{{'PrivacyPolicyText137' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>7.&nbsp;&nbsp;{{'PrivacyPolicyText138' | translate}}</b>
                    <br />
                    <p>{{'PrivacyPolicyText139' | translate}}</p>
                    <p>{{'PrivacyPolicyText140' | translate}}</p>
                    <ul>
                        <li>
                            {{'PrivacyPolicyText141' | translate}}
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {{'PrivacyPolicyText142' | translate}}
                        </li>
                    </ul>
                    <p>{{'PrivacyPolicyText143' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>8.&nbsp;&nbsp;{{'PrivacyPolicyText144' | translate}}</b>
                    <p>{{'PrivacyPolicyText145' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <b>9.&nbsp;&nbsp;{{'PrivacyPolicyText146' | translate}} </b>
                    <br />
                    <br />
                    <b>A.&nbsp;&nbsp;{{'PrivacyPolicyText147' | translate}}</b>
                    <p>{{'PrivacyPolicyText148' | translate}} (<b>CCPA</b>) {{'PrivacyPolicyText149' | translate}}</p>
                    <table>
                        <tr>
                            <td style="float:left;margin-top:12px;font-size:small;"><b>{{'PrivacyPolicyText150' | translate}}</b></td>
                            <td style="padding: 12px;font-size:small;"><p>{{'PrivacyPolicyText151' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText152' | translate}}</b></td>
                            <td style="padding: 5px;font-size:small;"><p>{{'PrivacyPolicyText153' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText154' | translate}}</b></td>
                            <td style="padding: 10px;font-size:small;"><p>{{'PrivacyPolicyText155' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText156' | translate}}</b></td>
                            <td style="padding: 10px;font-size:small;"><p>{{'PrivacyPolicyText157' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText158' | translate}}</b></td>
                            <td style="padding: 10px;font-size:small;"><p>{{'PrivacyPolicyText159' | translate}}</p></td>
                        </tr>
                    </table>
                    <b>B.&nbsp;&nbsp;{{'PrivacyPolicyText160' | translate}}</b>
                    <p>{{'PrivacyPolicyText161' | translate}}</p>
                    <b>C.&nbsp;&nbsp;{{'PrivacyPolicyText162' | translate}}</b>
                    <p>{{'PrivacyPolicyText163' | translate}}</p>
                    <table>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText158' | translate}}</b></td>
                            <td style="padding:10px;font-size:small;"><p>{{'PrivacyPolicyText165' | translate}} <a href="https://www.surveydownline.com/login/dns" style="color: Blue; text-decoration: underline;">{{'PrivacyPolicyText166' | translate}}</a>, {{'PrivacyPolicyText167' | translate}} <a href="mailto:support@Opinionetwork.com">support@Opinionetwork.com</a>. {{'PrivacyPolicyText168' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="float:left;margin-top:10px;font-size:small;"><b>{{'PrivacyPolicyText164' | translate}}</b></td>
                            <td style="padding:10px;font-size:small;"><p>{{'PrivacyPolicyText169' | translate}} <a href="mailto:support@Opinionetwork.com">support@Opinionetwork.com</a> {{'PrivacyPolicyText170' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="float:left;margin-top: 6px;font-size:small;"><b>{{'PrivacyPolicyText171' | translate}}</b></td>
                            <td style="padding: 7px;font-size:small;"><p>{{'PrivacyPolicyText169' | translate}} <a href="mailto:support@Opinionetwork.com">support@Opinionetwork.com</a> {{'PrivacyPolicyText172' | translate}}</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText173' | translate}}</b></td>
                            <td style="padding: 7px;font-size:small;"><p>{{'PrivacyPolicyText174' | translate}} <a href="mailto:support@Opinionetwork.com">support@Opinionetwork.com</a>.</p></td>
                        </tr>
                        <tr>
                            <td style="font-size:small;"><b>{{'PrivacyPolicyText175' | translate}}</b></td>
                            <td style="padding: 7px;font-size:small;"><p>{{'PrivacyPolicyText176' | translate}}</p></td>
                        </tr>
                    </table>
                    <b>D.&nbsp;&nbsp;{{'PrivacyPolicyText177' | translate}}</b>
                    <p>{{'PrivacyPolicyText178' | translate}}</p>
                    <b>E.&nbsp;&nbsp;{{'PrivacyPolicyText179' | translate}}</b>
                    <br />
                    <b>{{'PrivacyPolicyText180' | translate}}</b>
                    <p>{{'PrivacyPolicyText181' | translate}}</p>
                    <b>{{'PrivacyPolicyText182' | translate}}</b>
                    <p>{{'PrivacyPolicyText183' | translate}}</p>
                    <b>{{'PrivacyPolicyText184' | translate}}</b>
                    <style>
                        .grid {
                            border: 1px solid black;
                            border-collapse: collapse;
                        }
                    </style>
                    <table class="grid">
                        <tr class="grid">
                            <th class="grid" style="background:black;color:white;font-size:small;">{{'PrivacyPolicyText185' | translate}}</th>
                            <th class="grid" style="background:black;color:white;font-size:small;">{{'PrivacyPolicyText186' | translate}}</th>
                            <th class="grid" style="background:black;color:white;font-size:small;">{{'PrivacyPolicyText187' | translate}}</th>
                            <th class="grid" style="background:black;color:white;font-size:small;">{{'PrivacyPolicyText188' | translate}}</th>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText189' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText190' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText192' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText193' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText194' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText196' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText197' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText198' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText199' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText200' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText201' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText202' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText203' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText204' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText205' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText206' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText207' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText208' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText209' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText208' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText210' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText224' | translate}}</td>
                        </tr>
                        <tr class="grid">
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText211' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText212' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText191' | translate}}</td>
                            <td class="grid" style="font-size:small;">{{'PrivacyPolicyText195' | translate}}</td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <b>10.&nbsp;&nbsp;{{'PrivacyPolicyText213' | translate}}</b>
                    <br />
                    <br />
                    <img src="~/Images/privacy_rights.png" style="width:100%" />
                    <br />
                    <p>{{'PrivacyPolicyText214' | translate}}</p>
                    <p>{{'PrivacyPolicyText215' | translate}}</p>
                    <p>{{'PrivacyPolicyText216' | translate}}</p>
                    <p>{{'PrivacyPolicyText217' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <b>11.&nbsp;&nbsp;{{'PrivacyPolicyText218' | translate}}</b>
                    <br />
                    <p>{{'PrivacyPolicyText219' | translate}}</p>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <b>12.&nbsp;&nbsp;{{'PrivacyPolicyText220' | translate}}</b>
                    <p>{{'PrivacyPolicyText221' | translate}} <a href="mailto:support@Opinionetwork.com">support@Opinionetwork.com</a>. {{'PrivacyPolicyText222' | translate}} <a href="mailto:privacy@precisionsample.com">privacy@precisionsample.com</a>.</p>
                    <p>
                        <b>Precision Sample Inc.</b><br />
                        3461 Ringsby Ct.<br />
                        Suite 240<br />
                        Denver, CO 80216<br />
                        Tel: +1 720-766-5106 <br />
                    </p>
                </td>
            </tr>
        </table>
        <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">{{'PrivacyPolicyText223' | translate}}</button>
        <div id="divfacepixel" ng-if="acceptCookie">
            <ng-include src="acptCookie"></ng-include>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/services/footerTranslation.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/main/footer/tc.js" type="text/javascript"></script>
</body>