
.refresh-btn {
    border-color: #23527C;
    border-radius: 3px;
    border-width: 2px;
}

.txt-earn {
    font-size: xx-small;
    font-family: Verdana;
}

.txt-value {
    font-family: Verdana;
    font-size: Medium;
    font-weight: bold;
}

.txt-symbol {
    font-size: medium;
    font-family: Verdana;
    font-weight: bold;
}


.hr-style {
    width: 87%;
    border: 0.5px solid lightgray;
    margin-top: 0px !important;
}

@media only screen and (min-width:980px) {
    .survey-continer {
        width: 100%;
        margin-top: 45px;
    }

    .spn-surveys {
        margin-left: 25px;
        font-size: 17px;
        color: #1E91CB;
    }

    .txt-surveys {
        margin: 20px;
    }

    .m-r-20 {
        margin-right: 20px;
    }

    .p-l-0 {
        padding-left: 80px;
    }

    .tb-box {
        width: 85%;
        padding: 10px 15px 12px;
    }

    .tbl-main-1 {
        float: left;
        padding-left: 20px;
        padding-bottom: 5px;
        font: 12pt;
        font-family: Verdana;
    }
}

@media only screen and (max-width:980px) {
    .td-sm {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .tbl-sm {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }

    .survey-continer {
        width: 100%;
        margin-top: 100px;
    }

    /*#ctl00_cphMain_trtext > td {
            padding-left: 0px !important;
        }*/

    .tbl-Main {
        width: 100%;
        margin-top: 10px;
        float: left;
        padding-left: 20px;
        padding-bottom: 5px;
        font: 12pt;
        font-family: Verdana;
    }

    .hr-style {
        width: 98%;
    }
}

/*#ctl00_cphMain_dlSurveysList {
        margin-left: auto !important;
        margin-right: auto !important;
    }*/

.m-t-35 {
    margin-top: -28px;
    font-size: 16px;
    color: #1E91CB;
}

.m-t-15 {
    margin-top: 25px;
}

.div-refresh-btn {
    margin-bottom: -23px;
    margin-left: 75%;
}

a:hover {
    text-decoration: underline;
    color: #1E91CB;
}

.table-bb {
    border-bottom: 1px solid #CECECE;
    background-color: #f6f6f6;
    font-size: small;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 4px;
}

.td-box {
    width: 85%;
    padding: 10px 12px 12px;
    border-bottom: 5px;
    background-color: #f6f6f6;
}



.td-hm {
    width: 87%;
    padding: 10px 100px 5px;
    border-bottom: 5px solid #FFFFFF;
}

.label-sm {
    margin-left: -1px;
    color: #1E91CB;
    font-family: Verdana;
    font-weight: bold;
}

.a-t-r {
    text-decoration: underline;
    font-size: small;
    color: #1E91CB;
    font-weight: bold;
}

.a-r-t {
    text-decoration: underline;
    font-size: small;
    color: #1E91CB;
}


.td-earn {
    background-color: #23527c;
    vertical-align: middle;
    color: white;
    padding: 5px 5px 7px;
    text-align: center;
}

.txt-surveys {
    color: #1E91CB;
}

.txt-available {
    font-size: 12px;
    color: Green;
}
