
@{
    Layout = null;
}

@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: White; height: 170px;">
    <div style="padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4 style="color:red;">
            Sorry, Internal Server Error.
        </h4>

        <br />
        <br />
    </div>
</div>
