
@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,200" rel="stylesheet" type="text/css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


<link href="~/Content/loquelanding/lqmain.css" rel="stylesheet" />
<link href="~/Content/loquelanding/main.css?v=1" rel="stylesheet" />
<link href="~/Content/loquelanding/lqstyles.css" rel="stylesheet" />
<link href="~/Content/loquelanding/red.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<style type="text/css">
    #dvLoading {
        background: transparent url('../../Images/Loquedigo/WL/pg_r_t.gif') no-repeat center center;
        position: fixed;
        height: 100px;
        width: 200px;
        z-index: 1000;
        left: 59%;
        top: 39%;
        padding-top: 10px;
        vertical-align: middle;
        padding-left: 10px;
        font-size: 12pt;
    }
</style>

<body>
    <div id="Container">
        @*<div style="width: 100%;" ng-if="nomNomCookie">
            <center>
                <div id="divcookie" style="margin-left: 0px; margin-top: 0px; margin-right: 0px;
                    margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                    background-color: #CECECE;">
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="vertical-align: top;" align="left">
                                    <h1 style="color: #920025; font-size: 24px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'cookeisHeader' | translate}}</h1>
                                </td>
                                <td style="vertical-align: top;" align="left">
                                    <img src="/images/Loquedigo/WL/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    <span data-bind="text: ViewModel.BodyMenu.CookiesText">{{'cookiesText' | translate}}</span>&nbsp;<a href="/Misc/c.htm"
                                                                                                                                        style="color: #1E91CB;">
                                        <u data-bind="text: ViewModel.BodyMenu.CookiePolicy">{{'cookiePolicy' | translate}}</u>
                                    </a>
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="{{'ok' | translate}}" ng-click="okCookie()" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div>*@
        
        <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
            <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
                <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                    <div>
                        <div style="display:inline-flex;">
                            <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                            <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                        </div>
                        <div style="float:right;">
                            <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                        </div>
                    </div>
                    <div style="vertical-align: bottom;" align="left">
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="http://www.loquedigo.com/" style="color: #ffffff;">http://www.loquedigo.com/</a> and to keep our Website quick and safe. </p><br />
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                    </div>
                    <div>
                        <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                        <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                    </div>
                    <div style="margin-top:10px;">
                        <p align="left" style="color: #ffffff;font-size:12px;">
                            Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()" style="color: #337ab7;">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                            <a href="#" style="color: #337ab7;" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-header loque-header">

            <div class="wrapper">
                @*<div class="menu-icon"><i class="fas fa-bars"></i></div>*@
                @*<div id="" class="login-icon"><i class="fas fa-user-tie"></i></div>*@

                <div class="logo"></div>
                <div class="navi">
                    <form novalidate name="userLoginForm">
                        <div class="mem_log" ng-if="conForClick">
                            <div class="row">
                                <div class="col-md-4 mlogin-label">{{'memberLogin' | translate }}</div>
                                <div class="col-md-3 col-input">
                                    <input type="text" class="pass-newsletter" name="email" id="fake_email" placeholder="{{'placeholdertextForEmail' | translate}}" ng-model="loginDetails.EmailAddress" required />
                                    <span class="span-err-msg" ng-show="userLoginForm.email.$error.email">{{'invaildEmail' | translate }}</span>
                                    <span ng-show="userLoginForm.email.$error.required && showLoginError" class="text-danger txt-req">{{'required' | translate }}</span>
                                </div>
                                @*<div class="col-md-3 col-input">

                                        <input type="text" class="pass-newsletter" name="email" id="fake_email" placeholder="Your Email" ng-model="loginDetails.EmailAddress" style="display: inline-block;" required>
                                        <span ng-show="userLoginForm.$error.email && showStep1ErrMsg" class="span-err-msg">Not valid email</span>
                                    </div>*@
                                <div class="col-md-3 col-input">
                                    <input type="password" class="pass-newsletter" name="password" id="fake_pass" placeholder="{{'placeholdertextForPassword' | translate}}" ng-model="loginDetails.Password" style="display: inline-block;" required />
                                    <span ng-show="userLoginForm.password.$invalid && showLoginError" class="text-danger txt-req">{{'required' | translate }}</span>
                                </div>
                                <div class="loginSubmit">
                                    <input type="submit" id="btnLogin" value="{{'login' | translate}}" ng-click="userLoginClick(userLoginForm.$valid)"
                                           name="subscribe" class="button-newsletter" />
                                </div>
                                <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 62%;float:left;">Wrong username/password. Try again.</span>
                                <div id="dvFp">
                                    <a id="a1" href="" data-bind="text: ViewModel.BodyMenu.ForgotPs" style="text-decoration: underline; font-size: 11px; float: right; color: #FF9600;" ng-click="forgotPassword()">{{'forgotPs' | translate }}</a>
                                </div>
                                <div class="dv-errmsg-login">
                                    <span id="spnErrorMessage" style="display: none; font-size: 12px;"></span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <ul style="float: right;" class="menu-ul" ng-if="!forgetPswd">
                        <li><a href="" style="cursor: pointer;" ng-click="homeClick()">{{'home' | translate }}</a></li>
                        <li><a id="aFaq" style="cursor: pointer;" ng-click="faqClick()">{{'faq' | translate }}</a></li>
                        <li><a id="aAboutUs" style="cursor: pointer;" ng-click="aboutClick()">{{'aboutUs' | translate }}</a></li>
                        <li><a href="" ng-if="!contactUs" style="cursor: pointer;" ng-click="contactClick()">{{'contactUs' | translate }}</a></li>
                        <li><a id="aEnglish" style="cursor: pointer;" ng-click="enLanguage()">{{'english' | translate }}</a></li>
                        <li><a id="aSapnish" style="cursor: pointer;" ng-click="esLanguage()">{{'spanish' | translate }}</a></li>
                        <li><a id="aPortuguese" style="cursor: pointer;" ng-click="ptLanguage()">{{'portuguese' | translate }}</a></li>
                    </ul>
                    <ul style="float: right;" class="menu-ul" ng-show="forgetPswd">
                        <li><a href="" style="cursor: pointer;" ng-click="homeClick()">{{'home' | translate }}</a></li>
                        <li><a id="aFaq" style="cursor: pointer;" ng-click="faqClick()">{{'faq' | translate }}</a></li>
                        <li><a id="aAboutUs" style="cursor: pointer;" ng-click="aboutClick()">{{'aboutUs' | translate }}</a></li>
                        <li><a href="" style="cursor: pointer;" ng-click="contactClick()">{{'contactUs' | translate }}</a></li>
                        <li><a id="aEnglish" style="cursor: pointer;" ng-click="enLanguage()">{{'english' | translate }}</a></li>
                        <li><a id="aSapnish" style="cursor: pointer;" ng-click="esLanguage()">{{'spanish' | translate }}</a></li>
                        <li><a id="aPortuguese" style="cursor: pointer;" ng-click="ptLanguage()">{{'portuguese' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="dvLoading" style="display: none;">
            <span id="Span2" style="color: Red; padding-top: 38px; float: right; padding-left: 102px; font-size: 13px;">..Please Wait</span>
        </div>
        <div class="clear">
        </div>
        <div class="main promobox">
            <div class="cp-bg">
            </div>
            <div class="gradient" style="height:auto;">
                <div class="wrapper">
                    <div class="slogan">
                        <h1 data-bind="text: ViewModel.BodyHeaders.ToSay" style="color: #d83b22; text-shadow: none; font-size: 26px; text-align: right;margin-right:15px;">{{'toSay' | translate }}</h1>
                        <h4 data-bind="text: ViewModel.BodyHeaders.RedeemCatalouges" style="color: #272727; text-shadow: none; padding-top: 10px; text-align: right;margin-right:15px;">{{'redeemCatalouges' | translate }}</h4>
                    </div>
                    <div class="subscriber">
                        <div class="subscriber-wrap">
                            <h3 ng-if="!contactUs" data-bind="text: ViewModel.BodyHeaders.RegisterAccount">{{'registerAccount' | translate }}</h3>
                            <p ng-if="!contactUs" data-bind="text: ViewModel.BodyHeaders.GetStarted">
                                {{'getStarted' | translate }}
                            </p>
                            <p ng-if="!contactUs" style="opacity: 1; text-align: center; margin-top: 15px; margin-left: 60px;">
                                <span>Sign up with Facebook</span>
                            </p>
                            @*<form action="#" method="post" novalidate>*@
                            <form id="Form1" style="display:inline-block;" name="step1RegForm" novalidate>
                                <table style="width: 100%;" ng-if="conForClick">
                                    <tr>
                                        <td>
                                            <input type="text" class="email-newsletter" name="email1" id="fake_email1" placeholder="{{'placeholdertextForEmail' | translate}}" ng-model="user.EmailAddress" ng-blur="validateEmail()" required />
                                            <span ng-show="step1RegForm.email1.$error.required && showStep1ErrMsg" class="text-danger">{{'required' | translate }}</span>
                                            <span class="text-danger" style="margin-left: 100px;" ng-show="step1RegForm.email1.$error.email">{{'notValidEmail'|translate}}</span>
                                            <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="password" class="pass-newsletter" name="password" id="fake_pass" placeholder="{{'placeholdertextForPassword' | translate}}" ng-model="user.Password" required />
                                            <span ng-show="step1RegForm.password.$invalid && showStep1ErrMsg" class="text-danger">{{'required' | translate }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="password" class="pass-newsletter" name="Cpassword" id="fake_pass1" ng-model="user.Cpassword" placeholder="{{'conformPassword' | translate}}" ng-mouseleave="validatePswd()" required />
                                            <span ng-show="step1RegForm.Cpassword.$invalid && showStep1ErrMsg" class="text-danger">{{'required' | translate }}</span>
                                            <span ng-show="xVerifyPassword" ng-class="{'text-danger':xVerifyPassword}">{{xVerifyPassword}}</span>
                                        </td>
                                    </tr>
                                </table>
                                <div ng-if="conForClick">
                                    <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;margin-top: 8px;"
                                           name="agree" type="checkbox" value="agre" />
                                    <label id="lblAgree" data-bind="html: ViewModel.BodyHeaders.Agree" style="display: inline-block; line-height: normal; margin: 0; padding-top: 13px; text-align: left; width: 100%;margin-left: 25px;margin-top: -25px; cursor: default;">
                                        {{'agree' | translate }}<a href="javascript:;" style="color:white;text-decoration: underline;" ng-click="termsClick('/WidgetTerms.html')"> {{'tc' | translate }}</a> {{'nd' | translate}}
                                    </label>
                                    <p style="font-size:10px;padding-top: 13px;margin-left:23px;">I understand that my personal data will be processed as described in the <a href="" style="color:white;text-decoration: underline;" ng-click="privacyClick()">Privacy Notice</a></p>
                                </div>
                            </form>
                            @*<button type="submit" id="imgNext" class="btn btn-default reg-btn" ng-click="submit(user)">Join Now</button>*@
                            <input ng-if="conForClick" id="btnRegister" type="submit" value="{{'submit' | translate}}" name="subscribe" ng-click="Step1RegClick(step1RegForm.$valid)" class="button-newsletter" />

                            <div ng-if="contactUs">
                                <form id="Form1" style="display:inline-block;" name="contactUsForm" novalidate>
                                    <div style="color:white;">
                                        {{'writetousat' | translate }}
                                        <br />
                                        <br />
                                        {{'precisionSample' | translate }}<br />
                                        {{'ringsbyCourt' | translate }}<br />
                                        {{'suite' | translate }}<br />
                                        {{'denver' | translate }}<br />
                                        <br />
                                        <br />
                                        {{'pleaseSubmit' | translate }}
                                    </div>
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <input type="password" class="pass-newsletter" name="name" id="fake_pass" placeholder="{{'name' | translate}}" ng-model="emailDetails.fromname" required />
                                                <span ng-show="contactUsForm.name.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="email-newsletter" name="email1" id="fake_email1" placeholder="{{'email' | translate}}" ng-model="emailDetails.fromaddress" required />
                                                <span ng-show="contactUsForm.email1.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea cols="3" rows="3" id="txtComment" name="Questions" ng-model="emailDetails.comments" class="pass-newsletter" style="margin-top: 10px; width: 95%;background: no-repeat scroll 18px 12px rgba(0,0,0,0.1);color: white;"
                                                          placeholder="{{'questions' | translate}}" required></textarea>
                                                <span ng-show="contactUsForm.Questions.$invalid && isShowContactErr" class="text-danger">{{'required' | translate }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <input id="btnRegister" type="submit" name="subscribe" value="{{'submit' | translate}}" ng-click="contactUsClick(contactUsForm.$valid)" class="button-newsletter" />
                                </form>
                            </div>
                            <div ng-if="forgetPswd">
                                <form id="Form1" style="display:inline-block;" name="forgotPswdForm" novalidate>
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <input type="text" class="email-newsletter" name="email1" id="fake_email1" placeholder="Email" ng-model="getUserData.EmailAddress" required />
                                                <span ng-show="forgotPswdForm.email1.$error.required && forgotPswdErrMsg" class="text-danger">{{'required' | translate }}</span>
                                                <span class="error text-danger" ng-show="forgotPswdForm.email1.$error.email">{{'invaildEmail' | translate }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span ng-show="saveref" ng-style="{'color':'green'}">We have sent your password to your email address. It should arrive shortly.</span>
                                                <span ng-show="errMsg" ng-style="{'color':'red'}">Details Not Saved.</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <input id="btnRegister" type="submit" name="subscribe" value="{{'submit' | translate}}" ng-click="forgotPasswordClick(forgotPswdForm.$valid)" class="button-newsletter" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="howitwork">
            <div class="wrapper">
                <div class="title">
                    <h3 data-bind="text: ViewModel.BodyHeaders.HowItWorks" style="display: table;">{{'howItWorks' | translate }}</h3>
                </div>
                <div class="row-fluid">
                    <div class="span4 featu" style="width: 31.623931623931625%;">
                        <div class="icon">
                            <img src="~/Images/Loquedigo/WL/features1.png" class="ft1" alt="" />
                        </div>
                        <h6 data-bind="text: ViewModel.BodyHeaders.GetPoints" class="regheader">{{'getPoints' | translate }}</h6>
                        <p data-bind="text: ViewModel.BodyHeaders.BasicInformation" style="min-height: 115px;">
                            {{'basicInformation' | translate }}
                        </p>
                        <div class="step">
                            <p data-bind="text: ViewModel.BodyHeaders.Step1">
                                {{'step1' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="span4 featu" style="width: 31.623931623931625%;margin-left:340px;margin-top:-347px;">
                        <div class="icon">
                            <img src="~/Images/Loquedigo/WL/features2.png" class="ft1" alt="" />
                        </div>
                        <h6 data-bind="text: ViewModel.BodyHeaders.OnlineSurvey" class="regheader">{{'onlineSurvey' | translate }}</h6>
                        <p data-bind="text: ViewModel.BodyHeaders.Surveymatches" style="min-height: 115px;">
                            {{'surveymatches' | translate }}
                        </p>
                        <div class="step">
                            <p data-bind="text: ViewModel.BodyHeaders.Step2">
                                {{'step2' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="span4 featu" style="width:31.623931623931625%;margin-left: 660px;margin-top: -347px;">
                        <div class="icon">
                            <img src="~/Images/Loquedigo/WL/features3.png" class="ft1" alt="" />
                        </div>
                        <h6 data-bind="text: ViewModel.BodyHeaders.GetReward" class="regheader">{{'getReward' | translate }}</h6>
                        <p data-bind="text: ViewModel.BodyHeaders.CompleteSurvey" style="min-height: 115px;">
                            {{'completeSurvey' | translate }}
                        </p>
                        <div class="step">
                            <p data-bind="text: ViewModel.BodyHeaders.Step3">
                                {{'step3' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action" style="background: url(../../img/gradient.png) top no-repeat #272727;">
            <div class="wrapper" style="width: 75%">
                <h3 data-bind="text: ViewModel.BodyHeaders.EarnCash" id="h3Earn" style="font-size: 20px;">{{'earnCash' | translate }}</h3>
                <a class="action-button" href="" ng-click="homeClick()" style="background-color: #ff9600;">
                    <label data-bind="text: ViewModel.BodyHeaders.Register">
                        {{'register' | translate }}
                    </label>
                </a>
            </div>
        </div>
        <footer>
            <div class="wrapper">
                <div class="copy">
                    <p>
                        &#169; <span data-bind="text: ViewModel.Footer.Cpr">{{'cpr' | translate }}</span>
                        <strong><span data-bind="text: ViewModel.Footer.WhatISay">{{'whatISay' | translate }}</span></strong>.
                        <span data-bind="text: ViewModel.Footer.RightReserved">{{'rightReserved' | translate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="spnTc" data-bind="text: ViewModel.Footer.Tc" style="cursor: pointer;" ng-click="termsClick('/WidgetTerms.html')">{{'tc' | translate }}</span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <span id="spnPrp" data-bind="text: ViewModel.Footer.Prp" style="cursor: pointer;" ng-click="privacyClick()">{{'prp' | translate }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <span id="doinfo" style="cursor: pointer;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</span>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
