
@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}
<link href="~/Content/s4m/css/Step1.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<body id="Body1" class="body">
    <center>
        @*<div style="width: 100%;" ng-if="nomNomCookie">
            <center>
                <div id="divcookie" style="margin-left: 0px; margin-top: 0px; margin-right: 0px;
                    margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
                    background-color: #CECECE; display: none;">
                    <div style="margin: auto; padding: 2px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="vertical-align: top;" align="left">
                                    <h1 style="color: #920025; font-size: 24px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">nom nom... Cookies</h1>
                                </td>
                                <td style="vertical-align: top;" align="left">
                                    <img src="/images/Loquedigo/WL/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    <span data-bind="text: ViewModel.BodyMenu.CookiesText">We use cookies to enhance your experience on our website. For more details, please review our</span>&nbsp;<a href="/Misc/c.htm"
                                                                                                                                                                                                        style="color: #1E91CB;">
                                        <u data-bind="text: ViewModel.BodyMenu.CookiePolicy">Cookie Policy</u>
                                    </a>
                                </td>
                                <td style="vertical-align: middle;" align="left">
                                    &nbsp;&nbsp;&nbsp;<input type="button" id="btncookieok" value="OK" ng-click="okCookie()" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </center>
        </div>*@

        <div style="width: 33%;background-color: #2f3337;position: fixed;padding: 1px;z-index: 99999;top: auto;bottom: 10px;outline: none;border-radius:10px;margin-left:10px;" align="center" ng-if="!googleCookie">
            <div id="divcookie" style="margin-left: auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;display: table;max-height:100px;">
                <div border="0" cellspacing="0" cellpadding="0" style="width:90%;">
                    <div>
                        <div style="display:inline-flex;">
                            <h1 style="color: #0095ff; font-size: 24px; margin-bottom:7px;" data-bind="text: ViewModel.BodyMenu.CookeisHeader">{{'Cookie Banner'|translate}}</h1>
                            <img src="/images/cookie_image.png" alt="cookie_img" style="margin-left: 5px; width: 50px;
                                        height: 32px;" />
                        </div>
                        <div style="float:right;">
                            <button type="button" style="color: white;background-color: #2f3337;border: none;font-size: 25px;margin-top: 10px;" class="close" aria-hidden="true" ng-click="closeDialog()">×</button>
                        </div>
                    </div>
                    <div style="vertical-align: bottom;" align="left">
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We use functional cookies to ensure the proper functioning of our Website <a href="http://www.surveys4moms.com/" style="color: #ffffff;">http://www.surveys4moms.com/</a> and to keep our Website quick and safe. </p><br />
                        <p data-bind="text: ViewModel.BodyMenu.CookiesText" style="color: #ffffff;font-size:13px;">We would like to set additional analytical  cookies to understand how our website is used and how we can optimise our Website and services. We would also like to use additional tracking cookies by us or by third parties to show you relevant advertisement based on your interests.  </p><br />
                    </div>
                    <div>
                        <button type="button" id="btncookieok" value="OK" ng-click="acceptCookiest()" style="padding: 7px 7px;border-radius: 10px;background-color: #0095ff;text-align: center;cursor: pointer;color: #FFFFFF;border:none;font-size:13px;">Accept additional cookies</button>
                        <button type="button" id="btncookieok" value="OK" ng-click="declineCookie()" style="padding: 7px 7px;border-radius: 10px;background-color: #e1ecf4;text-align: center;cursor: pointer;color: #39739d;border:none;font-size:13px;margin-left:10px;">Reject additional cookies</button>
                    </div>
                    <div style="margin-top:10px;">
                        <p align="left" style="color: #ffffff;font-size:12px;">
                            Manage your Cookie Settings here <a href="#" ng-click="cookieSettings()" style="color: #337ab7;">Cookie Settings</a> Find more information about our cookies in our Cookie Statement
                            <a href="#" style="color: #337ab7;" onclick="window.open('/Login/cookiest', 'Cookie Statement', 'height=800,width=800,scrollbars=yes'); return false">Cookie Statement</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrapper">
            <div id="slogan">
            </div>
            <div>
                <div style="margin-top: 15px;float: right;text-align: left; margin-right: -70px;" class="login-form">
                    <ng-include src="step1"></ng-include>
                    <span class="error text-danger" ng-show="isShowLoginFailErrmsg" style="display: inline-block;width: 100%;padding-left: 15px;">Wrong username/password. Try again.</span>
                </div>
            </div>
            <div id="main">
                <div id="header">
                    <div id="logo">
                    </div>
                    <img src="~/Images/S4mLanding/header.jpg" width="509" height="296"
                         alt="" />
                </div>
                <div id="topform">
                    <div id="form-top">
                        Earn extra rewards<br />
                        for your Opinon with<br />
                        real Research Surveys
                    </div>
                    <form id="Form1" style="display:inline-block;" name="step1RegForm" novalidate>
                        <div id="dvDetails">
                            <table border="0" align="center" cellspacing="0" style="margin-left: -10px">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="fnt" align="left">
                                        <label class="label">
                                            First Name:
                                        </label>
                                        <input style="padding: 0 0 0 6px;width: 197px;height: 28px;float: left;display: block;background: #fff;
                                                 margin: 0 0 14px 5px;font-size: 13px;" id="txtFirstName" ng-model="user.FirstName" name="firstName" required />
                                        <span class="text-danger" style="margin-left: 100px;" ng-show="step1RegForm.firstName.$invalid && showStep1ErrMsg">{{'required'|translate}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fnt" align="left">
                                        <label class="label">
                                            Last Name:
                                        </label>
                                        <input style="padding: 0 0 0 6px;width: 197px;height: 28px;float: left;display: block;background: #fff;
                                                 margin: 0 0 14px 5px;font-size: 13px;" id="txtLastName" ng-model="user.LastName" name="lastName" required />
                                        <span class="text-danger" style="margin-left: 100px;" ng-show="step1RegForm.lastName.$invalid && showStep1ErrMsg">{{'required'|translate}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fnt" align="left">
                                        <label class="label">
                                            Email:
                                        </label>
                                        <input style="padding: 0 0 0 6px;width: 197px;height: 28px;float: left;display: block;background: #fff;
                                                 margin: 0 0 14px 5px;font-size: 13px;" type="email" id="txtEmailAddress" ng-pattern="EmailAddress" ng-model="user.EmailAddress" name="email" tooltipText="Please make sure your email address is correct or you won't have access to SurveyDownLine!" ng-blur="validateEmail()" required />
                                        <span class="text-danger" style="margin-left: 33%;" ng-show="step1RegForm.email.$error.email">{{'notValidEmail'|translate}}</span>
                                        <span style="margin-left: 100px;" ng-show="step1RegForm.email.$error.required && showStep1ErrMsg" class="text-danger">{{'required' | translate}}</span>
                                        <span style="margin-left: 33%;" ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'text-danger':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/Images/S4mLanding/join1.png" class="button" ng-click="Step1RegClick(step1RegForm.$valid)" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <div id="redline">
                    Get Rewarded for every survey you take!<img src="~/Images/S4mLanding/f.png"
                                                                alt="" width="67" height="66" class="alignright" /><img src="~/Images/S4mLanding/pay.png"
                                                                                                                        alt="" width="97" height="61" class="alignright" />
                </div>
                <div id="yelbox">
                    <p>
                        Exclusive Referral Program
                    </p>
                    As a exclusive bonus you can earn money by referring your friends and family and
                    getting paid for surveys that they take as well. Introduce your friends and family
                    and you can earn money and not even take a single survey!
                </div>
                <ul class="one">
                    <li class="one">
                        <div style="text-align: left;">
                            <strong>Sign Up:</strong>Complete the short form Above and become a member for FREE
                        </div>
                    </li>
                    <li class="two">
                        <div style="text-align: left;">
                            <strong>Complete Surveys:</strong>Take Surveys and give your insight into consumer
                            products
                        </div>
                    </li>
                    <li class="three">
                        <div style="text-align: left;">
                            <strong>Get Paid:</strong>You only need to accumulate $20 in your account to redeem
                            your earnings
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="bottom">
            <div class="botmenu">
                © Copyright 2014-2022 {{orgDetails.OrgName}} | <a href="javascript:;" ng-click="termsClick('/WidgetTerms.html')"> Terms</a> | <a href="" ng-click="privacyClick()">Privacy</a> | <a href="javascript:;" ng-click="contactClick()">Contact Us</a> | <a href="javascript:;" ng-click="aboutClick()">About Us</a> | <a href="/wl/sm">Site Map</a> | <a href="javascript:;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
            </div>
        </div>

    </center>
</body>


