@{
    Layout = "~/Views/Shared/_WlLayout.cshtml";
}

<link href="~/Content/rg/main.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/rg/font-awesome.css" rel="stylesheet" />

<div class="registration">
    <div class="col-xs-12">
        <div class="row">
            <!--Start Header-->
            <div class="mainHeader">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="col-xs-12 col-lg-6 logo">
                        <a href="#">
                            <img src="~/Images/rg/usop-logo.png" alt="US Opinion Poll" />
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="col-xs-12 col-lg-6 earnCashHeading">Earn Cash for taking surveys!</div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!--Header End's-->
            <!--Start Registration Form-->
            <div class="bannerContainer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 signUpProcess">
                            <h3>Make money taking surveys</h3>
                            <h1>It's as easy as 1-2-3!</h1>
                            <ol>
                                <li>
                                    <h3>
                                        SIGN UP
                                        <span>Click New Member Sign Up Confirmation and complete your registration NOW to become a member for LIVE Surveys</span>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        COMPLETE SURVEYS
                                        <span>Take surveys and give your insight into consumer products </span>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        GET PAID
                                        <span>It doesn't get much easier than that!</span>
                                    </h3>
                                </li>
                            </ol>
                        </div>
                        <div class="col-xs-12 col-lg-6 regFormBlock padd20">
                            <!--<div class="div-anchortags">
                                <div class="div-sin"><a id="signIN" class="sign-link" href="#" ng-click="signIn()">Sign In</a></div>
                                <div class="div-sup"><a id="signUP" class="sign-link" href="#" ng-click="signUp()">Sign Up</a></div>

                            </div>-->
                            <!--ng-if="userSignIn == true || userSignup == true"-->
                            <div class="regForm">
                                <div ng-show="userSignIn" ng-hide="isShowLoginFailErrmsg">
                                    <div class="text-center">
                                        <input type="button" value="New Member Sign Up Confirmation" class="btn btn-sucess" ng-click="Reg(userLoginValidations.$valid)"><span></span>
                                    </div>
                                    <p class="apollo-seperator">or </p>
                                    <h3 class="text-center">Already a LIVE SURVEYS Member, welcome back, enter your UN, PW to access your LIVE SURVEYS & GO</h3>
                                    <form novalidate name="userLoginValidations">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="userName">Username <span class="text-muted">(Your email address will be your username)</span></label>
                                                    <input type="email" class="form-control" name="uName" id="uName" ng-model="loginDetails.EmailAddress" required>
                                                    <span ng-show="userLoginValidations.uName.$error.required && showLoginError" class="span-err-msg">Required</span>
                                                    <span class="span-err-msg" ng-show="userLoginValidations.uName.$error.email">{{'Invalid Email Address' | translate}}!</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="uPassword" name="uPassword" ng-model="loginDetails.Password" required>
                                                    <span ng-show="userLoginValidations.uPassword.$invalid && showLoginError" class="span-err-msg">Required</span>
                                                </div>
                                                <div class="form-group">
                                                    <span ng-class="{'danger':emailIdflag == false,'success':emailIdflag == true}">{{emailMessage}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="text-center">
                                            <input type="submit" value="Go" class="btn btn-primary" ng-click="userLoginClick(userLoginValidations.$valid)"><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8" style="margin-top: 10px;">
                                                <a href="/login/ForgotPsw">
                                                    <span style="color: #5b9b0b; font-size: 12px; text-decoration: underline; cursor: pointer;" ng-click="forgotPassword()">Forgot Password?</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <div class="col-xs-8">
                                                <span style="color: #5b9b0b; font-size: 12px; text-decoration: underline; cursor: pointer;" ng-click="signUp()">Sign Up</span>
                                            </div>
                                        </div>-->
                                    </form>
                                </div>
                                <div ng-show="isShowLoginFailErrmsg">
                                    <div class="row">
                                    </div>
                                    <h3 class="text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Sorry there seems to be an error with your information you have submitted, please contact our support team, we are glad to help resolve any issues.</h3>
                                    <div class="row">
                                        <div class="text-center">
                                            <input type="submit" id="btnSubmit" name="" value="Contact Us" class="btn btn-primary"><span></span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="userSignup">
                                    <form novalidate name="step2Form">
                                        <div class="progress progress-bar progress-bar-striped disabled" ng-show="isShowprogressbar" style="display: none;">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progressbarWidth + '%' ) }">
                                                {{progressbarWidth + '%' }}
                                            </div>
                                        </div>

                                        <h3 class="text-center">How can we reach you to tell you about the highest paying surveys?</h3>
                                        <!--  <div ng-show="stepsCount == 1">-->
                                        <!--<form novalidate name="UserForm1Validations">-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">First Name</label>
                                                    <input type="text" class="form-control" name="fName" id="fName" ng-model="user.FirstName" required>
                                                    <span ng-show="step2Form.fName.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="lName">Last Name</label>
                                                    <input type="text" class="form-control" name="lname" id="lName" ng-model="user.LastName" required>
                                                    <span ng-show="step2Form.lname.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="inputEmail">
                                                        Email
                                                    </label>
                                                    <input type="email" class="form-control" name="emailId" id="emailId" ng-model="user.EmailAddress" ng-blur="validateEmail()" required>
                                                    <span class="span-err-msg" ng-show="step2Form.emailId.$error.email">{{'notValidEmail'|translate}}</span>
                                                    <span ng-show="step2Form.emailId.$error.required && isRegErrMsg" class="span-err-msg">{{'required' | translate}}</span>
                                                    <span ng-show="emailXVerify==1 ||emailXVerify==0 " ng-class="{'span-err-msg':emailXVerify==0,'text-success':emailXVerify==1}">{{xVerifyMessage}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="address">Address1</label>
                                                    <input type="text" class="form-control" name="addres1" id="address1" ng-model="user.Address1" required>
                                                    <span ng-show="step2Form.addres1.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="address2">Address2</label>
                                                    <input type="text" class="form-control" name="address2" id="address2" ng-model="user.Address2">
                                                </div>
                                            </div>

                                        </div>
                                        <!--  </form>-->
                                        <!--</div>-->
                                        <!--    <div ng-show="stepsCount == 2">-->
                                        <!--     <form novalidate name="UserForm2Validations">-->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">Country</label>
                                                    <select class="selectpicker form-control" id="ddlCountry" ng-model="user.CountryId" name="country" ng-options="con.CountryId as con.CountryName for con in countries" ng-change="countryByStates(user.CountryId)" required>
                                                        <option value="">--{{'select'|translate}}--</option>
                                                    </select>
                                                    <span ng-show="step2Form.country.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                    <span class="span-err-msg" ng-show="user.CountryId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="states.length != 0">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">States</label>
                                                    <select class="selectpicker form-control" name="state" id="state" ng-options="st.StateId as st.StateName for st in states" ng-model="user.StateId" required>
                                                        <option value="">--{{'select'|translate}}--</option>
                                                    </select>
                                                    <span ng-show="step2Form.state.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                    <span class="span-err-msg" ng-show="user.StateId ==0 && isRegErrMsg">{{'required'|translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" name="city" id="city" ng-model="user.City" required>
                                                    <span ng-show="step2Form.city.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="zip">Zip/PostalCode</label>
                                                    <input type="text" class="form-control" name="zipCode" id="Zip" ng-model="user.ZipCode" required>
                                                    <span ng-show="step2Form.zipCode.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">Gender</label>
                                                    <select class="selectpicker form-control" name="gender" id="gender" ng-model="user.Gender" required>
                                                        <option value="">--{{'select'|translate}}--</option>
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                        <option value="N">Non-Binary</option>
                                                    </select>
                                                    <span ng-show="step2Form.gender.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <label for="fName" class="regDob">
                                                            Date of Birth
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-xs-4">
                                                        <select class="form-control" name="month" ng-model="user.Month" required>
                                                            <option value="">MM</option>
                                                            <option value="01">Jan</option>
                                                            <option value="02">Feb</option>
                                                            <option value="03">Mar</option>
                                                            <option value="04">Apr</option>
                                                            <option value="05">May</option>
                                                            <option value="06">June</option>
                                                            <option value="07">July</option>
                                                            <option value="08">Aug</option>
                                                            <option value="09">Sep</option>
                                                            <option value="10">Oct</option>
                                                            <option value="11">Nov</option>
                                                            <option value="12">Dec</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-xs-4">
                                                        <select class="form-control" name="day" ng-model="user.Day" required>
                                                            <option value="">DD</option>
                                                            <option value="01">1</option>
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                            <option value="07">7</option>
                                                            <option value="08">8</option>
                                                            <option value="09">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-xs-4">
                                                        <select class="form-control" id="ddlYear" ng-model="user.Year" name="year" convert-to-number required>
                                                            <option value="">YY</option>
                                                            <option ng-repeat="y in year" value="{{y.key}}">{{y.value}}</option>
                                                        </select>
                                                    </div>
                                                    <span style="padding-left: 15px;" ng-show="(step2Form.month.$invalid ||step2Form.day.$invalid||step2Form.year.$invalid)  && isRegErrMsg" class="span-err-msg">Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">Ethncity</label>
                                                    <select class="selectpicker form-control" name="ethnicity" ng-model="user.EthnicityId" ng-options="ec.EthnicityId as ec.EthnicityType for ec in ethnicityLst" required>
                                                        <option value="">--{{'select'|translate}}--</option>
                                                    </select>
                                                    <span ng-show="step2Form.ethnicity.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                    <span class="span-err-msg" ng-show="user.EthnicityId ==0 && isRegErrMsg">{{'required'|translate}}</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="fName">MobilePhone</label>
                                                    <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" ng-model="user.PhoneNumber">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="lName">Password</label>
                                                    <input type="password" class="form-control" name="password" id="password" ng-model="user.Password" required>
                                                    <span ng-show="step2Form.password.$invalid && isRegErrMsg" class="span-err-msg">Required</span>
                                                    <span class="text-danger" ng-show="step2Form.password.$error.minlength">Minimum of 6 Characters</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12" style="margin-bottom: 12px;">
                                                <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                                <span class="span-err-msg" ng-show="captchaErr">Invalid captcha selection.</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center">
                                                <input type="submit" name="" value="Continue" class="btn btn-primary" ng-click="submit(step2Form.$valid)"><span><i class="fa fa-angle-right"></i></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start Shelf-->
            <div class="col-xs-12 shelf"></div>
            <!--Shelf End's-->
            <!--Registration Form's End's-->
            <!--Start Body Content-->
            <div class="bodyContainer padd20">
                <div class="container">
                    <article>
                        <h1><span class="icon timer"></span>How does it work?</h1>
                        <p>Complete this registration form and we will match you with survey companies that want to hear from people that fit your profile.  Also, we'll send you other paid surveys, in the future, from companies trying to reach people just like you. </p>
                    </article>
                    <article>
                        <h1><span class="icon anchor"></span><strong>Is there a catch?</strong></h1>
                        <p>No, thousands of companies spend tons of money every year to find out what you think about the products and services they sell. These companies want to hear from you. By telling them what you think, you will help influence products that come to market, and you will earn a little cash for yourself. </p>
                    </article>
                    <article>
                        <h1><span class="icon wallet"></span><strong>Do I have to pay to join?</strong></h1>
                        <p>NO! It's completely FREE. You should never have to pay to take a survey. It's actually the complete opposite: research companies want to pay you for participating in their surveys. Don't be fooled by the subscription survey sites or any site trying to charge you money work with research companies.</p>
                    </article>
                    <article>
                        <h1><span class="icon howAvail"></span><strong>How will I know when a survey is available?</strong></h1>
                        <p>We will send survey invitations by email or text message (for mobile surveys) whenever you qualify for a research study.</p>
                    </article>
                </div>
            </div>
            <!--End's Body Content-->
            <!--Start Footer-->
            <footer class="padd20">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 text-left">
                            &copy; Copyright <span>2022</span> US Opinion Poll, All Rights Reserved
                        </div>
                        <div class="col-xs-12 col-lg-6 text-right menu">
                            <ul class="list-inline">
                                <li>
                                    <a id="aTC" style="cursor: pointer;" ng-click="termsClick('/WidgetTerms.html')">Terms</a>
                                </li>
                                <li>
                                    <a id="aPP" style="cursor: pointer;" ng-click="privacyClick()">Privacy</a>
                                </li>
                                <li>
                                    <a id="cntctus" style="cursor: pointer;" ng-click="contactClick()">Contact Us</a>
                                </li>
                                <li>
                                    <a id="doinfo" style="cursor:pointer;" ng-click="doNotSellMyInfo()">Do Not Sell My Info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center termsContent">
                            <p>
                                Trademarks are owned by their respective owners who don't sponsor this promotion. We provide third party pay-for-participation survey sites lists and are not responsible for the participation terms or payments.
                                <br>
                                <br>
                                Eligibility restrictions apply.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer End's-->
        </div>
    </div>
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
    <script src="/Scripts/angular.min.js" type="text/javascript"></script>

    <!--build:js assets/js/main.min.js -->
    <!-- endbuild -->
</div>

