
@{
    ViewBag.Title = "Zip";
    Layout = "~/Views/Shared/_ZpLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/rzslider.min.css" />
<link href="~/Content/prequestion.css" rel="stylesheet" />
<div id="dvSurveyQuestions" ng-controller="zipController" ng-if="psPageLoad" ng-cloak>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }
    <div id="surveyQuestion">
        <div class="pre-question-panel" ng-show="isShowQuestions">
            @*<div id="dvImageLoading">
                </div>*@

            <div class="pre-question-img">
                <img src="~/Images/question-img.png" />
            </div>

            <div id="dvQuestions" class="pre-question-list" style="font-size:13px;">
                <div class="body1">
                    <div id="tmpTable">
                        <div align="left" class="questionback" style="clear: both;">
                            <span class="question" id="lblQuestiontext">What is your ZIP/Postal Code?</span>
                        </div>
                        <div style="padding-top: 9px; padding-bottom: 10px;" class="form-group">
                            <input type="text" class="txtbox" name="{{1639+ '_' + 'txtbox'}}" ng-attr-id="{{1639 + '_text'}}" ng-model="question.OptionText" style="width: 210px; height: 38px;" pattern=".{5,7}" required />

                        </div>
                        <div style="width: 100%;float:left;">
                            <span ng-show="submitValidations" style="color: red;" class="error">Please Answer the question</span>
                        </div>
                    </div>
                </div>

                <div class="footerblock">
                    <div style="text-align: center; padding: 10px;">
                        <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-size: 15px"></span>
                    </div>
                    <div class="pre-question-btn">
                        <button id="btnSubmit" class="button" type="button" value="Continue"
                                ng-click="save()">
                            {{buttontext}}
                        </button>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js"></script>
</div>

