@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body ng-if="pgLoad">
    <div ng-controller="moreAboutController">
        <div class="wrapper_content">
            <div class="column_wrapper column_privacy">
                <h2>{{'text1'|translate}}</h2>
                <div class="column2 text">
                    <h4>{{'text2'|translate}}</h4>
                    <p>{{'p1'|translate}}
                    </p>
                    <p>{{'p2'|translate}}
                    </p>
                    <p>{{'p3'|translate}}
                        <br>
                        <br>
                    </p>
                    <h4>{{'text3'|translate}}</h4>
                    <p>{{'p4'|translate}}
                        <br>
                        <br>
                    </p>
                    @*<h4>{{'text4'|translate}}</h4>
                    <p>{{'p5'|translate}}
                    </p>*@
                </div>
                <div class="logo_ml">
                    <a href="https://www.precisionsample.com" target="_blank">
                        <img src="https://media.precisionsample.com/app/images/pslogo.png" style="width: 220px; margin-top: 22px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

