body {
    background-position: 0% 0%;
    color: black !important;
    font-family: Verdana, Helvetica, 'sans serif' !important;
    font-size: 12px !important;
    background-color: #abd7fe;
}

.span-err-msg {
    color: red;
}

#container {
    width: 940px;
    height: 662px;
    margin: auto;
    text-align: center;
}

    #container a {
        padding-left: 0px !important;
    }

#topborder {
    display: none;
}

.container {
    width: 100%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.div-main {
    max-width: 500px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-left: 18%;
    margin-right: auto;
    margin-top: 20px;
}

.div-fp {
    text-align: center;
}

#footer {
    float: none;
    width: 100%;
}

@media screen and (max-width:981px) {
    #container {
        width: 100%;
        background: none;
    }

    body {
        background-color: none;
        background: none;
    }
}

@media screen and (max-width:520px) {
    #container a img {
        height: 60px;
    }
}
