.div-header-rewards {
    color: #1E91CB;
    margin-left: 41px;
    font-size: 18px;
    margin-top: 10px;
}

.left-aside {
    padding: 10px;
    font-size: 12px;
    overflow: visible;
    border: solid 1px #CACACA;
    width: 90%;
   margin:auto;
}

.even {
    background-color: none;
}

.odd {
    background-color: #eee;
}

.acc-lst {
    width: 400px;
    margin: 10px auto;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}

.div-header-rewards {
    text-align: left;
    color: #1E91CB;
    margin-left: 41px;
    font-size: 18px;
    margin-top: 10px;
}

.hr-style {
    width: 91%;
    border: 0.5px solid lightgray;
    margin-top: 0px !important;
}

#RewardGridPage {
    /*padding:0px !important;*/
}

.rew-userinfo {
    color: #1E91CB;
}

.rew-heading {
    font-size: medium;
    margin-left: 6px;
}

.rew-dv-border {
    border-bottom: 3px solid #EBEBEB;
    width: 100%;
    float: left;
}

.rew-disc {
    text-align: justify;
    color: #1E91CB;
    width: 100%;
    font-size: 10pt;
    margin-top: 20px;
}

    .rew-disc span {
        font-weight: bold;
    }

.rew-gird-dv {
    border: solid 1px #CACACA;
    text-align: left;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.rew-tr {
    color: White;
    background-color: #1E91CB;
    font-weight: bold;
    text-decoration: none;
    height: 22px;
}

.redeem-gird-dv {
    border: solid 1px #CACACA;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}
.re-card {
    width: calc(20% - 2px);
    display: inline-block;
    vertical-align: top;
    height: 200px;
    background-color: #e6e6e6;
    border: 1px solid #e0ddd4;
}
@media screen and (max-width:980px) {
    table {
        table-layout: auto !important;
    }
    .re-card {
    width: calc(25% - 2px); }
}
@media(max-width:768px) {
    .re-card {
    width: calc(33.333% - 2px); }
}

@media screen and (max-width:720px) {
    .p-r {
        padding: 5px;
    }

    body {
        font-size: 12px !important;
    }

    .p-l-0 {
        padding-left: 0px !important;
        width: 100% !important;
    }

    .css-720 {
        padding: 0 !important;
        /*border: none !important;*/
        width: 100% !important;
    }

    .e-r-b-720 {
        margin-top: 10px;
        vertical-align: auto !important;
        float: none !important;
        text-align: right;
    }

    .ui-accordion .ui-accordion-icons {
        padding-left: 2.2em;
    }

    .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 2px 0 0 0;
        padding: .5em .5em .5em .7em;
        min-height: 0;
        font-size: 100%;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #aaaaaa;
        background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        border-top-right-radius: 4px;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
        border-top-left-radius: 4px;
    }

    .center-text {
        text-align: center;
    }

    .b-float-none {
        float: none !important;
    }


    .border-3 {
        border: solid 3px #CACACA !important;
    }

    .pagerclass, .pagerclass1 td {
        padding-right: 5px;
    }
}

@media screen and (max-width:520px) {
    .f-w {
        text-align: center;
        float: left;
        font-weight: normal !important;
        display: block;
    }

    .hide-sm {
        display: none;
    }

    #RewardGridPage {
        padding: 0px !important;
    }
        .re-card {
    width: calc(50% - 2px); }

}

@media screen and (max-width:420px) {
    .div-header-rewards {
        margin-left: 10px !important;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0px !important;
    }


    .reward_image_box {
        
        text-align: center;
        color: black;
        margin: 1px;
        padding: 5px;
        font-weight: bold;
        
        overflow: auto;
    }

    .reward_denom {
        text-decoration: none;
        font-size: small;
        font-weight: initial;
        float: left;
        padding: 2px;
        border: 1px solid #54626d;
        margin: 3px;
    }

    .accordion {
        margin: 10px auto;
        box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    }

        .accordion label {
            padding: 2px 9px;
            position: relative;
            display: block;
            cursor: pointer;
            color: #777;
            line-height: 25px;
            background: #EFEFEF;
            border: 1px solid #CCC;
            text-align: left;
        }

        .accordion .article {
            background: rgb(255, 255, 255);
            overflow: hidden;
            height: 0px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }


            .accordion .article p {
                font-style: italic;
                color: #777;
                line-height: 23px;
                font-size: 14px;
                padding: 20px;
            }


        .accordion input:checked ~ .article.ac-small {
            height: auto;
        }

    .accontent {
        height: auto !important;
    }

    .accordion-content-ide {
        height: 0;
    }
}
