/* CSS Document */

body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-weight: 300;
	font-size:14px;
}

.cell{
    width:210px;
    margin: 10px;
    margin-left: 0;
    background-color: #FFF;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
}
.cell2 {
    float: right;
    margin: 0 10px 0 0;
}

.profile_text_wrapper {
    width: 400px; 
    float: right;
}

.profile_text {
    float: right; 
    width: 218px; 
    text-align: center;
}

.profile_text2 {
    width: 218px;
    margin-bottom: 59px;
}
    
.centercell .cell {
    margin: 0px;
}

p {
	font-size:14px;
	color:#555;
	margin:0;
}

h1, .h1 {
	font-size:40px;
    font-weight: bold;
}

h2{
	font-size:30px;
    margin-left: 10px;
}

h3, .h3{
	font-size:24px;
    margin: 10px 0px 5px 0px;
}

h4{
	margin:0;
}

.title {
    font-size:40px; 
    font-weight:bold;
}

.subtitle {
    font-size:30px;
}

textarea, input { 
    outline: none; 
}

textarea{
	width: 888px;
	padding: 15px;
	margin-top: -18px;
	border-radius:20px;
	resize:none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:14px;
    -webkit-appearance: none;
    -moz-appearance: none;
     -o-appearance: none;
        appearance: none;
    border:#e8e8e8 1px solid;
}

input[type=text], 
input[type=password], 
input[type=email], 
input[type=date] {
	border: 0;
	background: #fff;
	border:#e8e8e8 1px solid;
	border-radius:30px;
	line-height: 21px;
	height: 21px;
	font-size: 14px;
	width: 270px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 5px 5px;
    padding-left: 15px;
	color: #666;
	margin: 2px 0;
   -webkit-appearance: none;
    -moz-appearance: none;
     -o-appearance: none;
        appearance: none;
}



input[type=date] {
    padding-left: 15px;
}

.column_half input, textarea {
    border: #BBB9B9 1px solid;
    
}

.column_half input{
    width: 428px; 
    margin-bottom: 10px;
}


.selectboxit-container, 
.selectboxit, 
.selectboxit-container, 
.selectboxit-options {
	width: 428px;
	margin-left:-13px;
	margin-top: 2px;
    margin-bottom: 10px;
    border-radius:30px;
    padding-left: 14px;
    
    max-height: 158px;
}

.countries_wrapper {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 100;
    display: none;
}

.countries {
    width: 180px;
    float: right;
    border-top: #7D181B 1px solid;
    z-index: 100;
}

.countries_mob {
    width: 438px;
    margin: 0 auto;
    display: none;
    overflow: auto;
    z-index: 200;
}
.country img {
    float: left;
    margin-right: 10px;
}

.country {
    float: right;
    padding: 7px 20px;
    background-color: rgba(184, 39, 43, 0.901961);
    cursor: pointer;
    z-index: 100;
    color: white;
    width: 140px;
}

.country_name {
    width: 100px;
    marin-left: 7px;
    margin-top: 3px;
    float: left;
}
.country_mob {
    padding: 5px 0px;
    background-color: rgba(184, 39, 43, 0.901961);
    cursor: pointer;
    z-index: 100;
    float: left;
    color: white;
    width: 300px;
    overflow: auto;
}

.navigation_mobile{
	display:none;
}

.nav_item_mob{
	display:none;
}

.sign_up_now_btn{
	width:278px;
	padding:7px 7px;
	border-radius:30px;
	background:#b7d968;
	text-align:center;
	color:#55851d;
	font-weight:400;
	cursor:pointer;
	margin-top:3px;
}

.sign_up_now_btn img {
    margin-top: -1px;
}
    
.font12{
	font-size:12px;
}

.sign_up_div_mobile{
	display:none;
}

.sign_in_div_mobile{
	display:none;
}

.font_normal{
	font-weight:300;
}

.font_bold{
	font-weight:400;
}

.margin_top-20{
	margin-top:-20px;
}

.margin_top-10{
	margin-top:-10px;
}

.margin_top-60{
	margin-top:-60px;
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.header{
	width:100%;
	/*background:rgba(184, 39, 43, 0.901961) !important;*/
	height:70px;
	top:0;
	left:0;
    position: fixed;
    transition-duration: 0.5s;
    z-index: 100;
}

.header_surveys {
    position: relative;
    background:#B8272B;
}

.header_content{
	width:940px;
	margin:0 auto;
	padding:16px 0px;
}

.logo{
	width:136px;
	height:37px;
	background-image:url(../images/logo_opinionbar.png);
	background-repeat:no-repeat;
	background-size:contain;
	cursor:pointer;
    margin-left: -142px;
}

.nav_wrapper{
	padding: 25px 0 0 25px;
	float:right;
	top:0;
	margin-top:-54px;
}

.hamburger_icon{
	display:none;
	cursor:pointer;
}

.nav_item{
	text-transform: uppercase;
	float:left;
	color:#fff;
	font-size:16px;
	padding:24px;
	cursor:pointer;
	margin-top:-24px;
}

.nav_item_flag{
	text-transform: uppercase;
	float:left;
	color:#fff;
	font-size:16px;
	padding:24px 24px 16px 24px;
	cursor:pointer;
	margin-top:-24px;
}

.nav_item_h{
	background:#D93338;
}

.navigation_active{
	font-weight:bold;
}

.navigation_inactive{
	font-weight:300;
}

.banner{
	width:100%;
	height:525px;
	background-image:url(../images/bannerhome.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
    /*background-attachment: fixed;
    background-position: 0 -250px;*/ 
}

.banner_myprofile{
	width:100%;
	height:420px;
	background-image:url(../images/bannerprofile.png);
	background-repeat:no-repeat;
	background-size: cover;
    background-position:0 -200px;
}

.banner_content{
	width:940px;
	margin:0 auto;
}

.slogan{
	margin: 200px auto 0 auto;
	color:#fff;
	width:100%;
	text-align:center;
	display:inline-block;
}

.btn_wrapper_banner{
	overflow:auto;
	padding:0;
	width: 700px;
	margin: 10px auto;
    position: relative;
    margin-top:110px;
}

.btn_wrapper_banner_logout {
	overflow:auto;
	padding:0;
	width: 940px;
	margin: 10px auto;
    position: relative;
    margin-top:50px;
}

.btn_wrapper_fb {
	overflow:auto;
	padding:0;
	width: 290px;
	margin: 30px auto 40px;
    position: relative;
}

#survey #surveySelectBoxItContainer {
    z-index: 100;
}

.centerwrapper {
    margin: auto;
    width: 640px;
    overflow: auto;
}

.centerwrapper2 {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.centerbutton {
    width: 250px;
    margin: 0 auto;
    overflow: auto;
}

.centercell {
    width: 210px;
}

.btn_banner{
    margin: 10px;
}

.btn_profile,
.btn_banner,
.fb_btn {
	padding:15px 15px 15px 15px;
	border-radius:30px;
	width:270px;
	cursor:pointer;
	float: left;
	font-size:20px;
	display:inline-block;
}

.fb_btn{
	padding:15px 5px 15px 15px;
    margin: 2px 0;
}

.pointer{
	cursor:pointer;
}

.company_wrapper{
	width: 100%;
	margin:0 auto;
	overflow:auto;
    text-align: center;
    
}	

.sign_up_fb{
	background:#4d68a2;
	color:#fff;
}

.sign_up_fb_h{
	background:#475d8e;
	color:#fff;
}

.sign_up_fb_icon,
.sign_up_email_icon,
.sign_in_icon{
	width:20px;
	height:20px;
	background-image:url(../images/signup_facebook.png);
	background-repeat:no-repeat;
	background-size:contain;
	margin:4px 17px 0px 12px;
	float:left;
}

.sign_up_email{
	background:#b7d968;
	color:#55851d;
    
}

.sign_up_email_h{
	background:#aac961;
	color:#55851d;
}

.sign_up_email_icon{
	background-image:url(../images/icon_signup2.png);
}

.sign_in{
	background:#e8e8e8;
	color:#888888;
}

.sign_in_h{
	background:#d7d7d7;
	color:#888888;
}

.sign_in_icon{
	background-image:url(../images/signin.png);
}

.sign_up_div_bg{
	width:100%;
	left:0;
	overflow:auto;
	background:#e8e8e8;
	display:none;
	
}

.sign_up_div{
	width:930px;
	margin:0px auto;
	overflow:auto;
}

.sign_in_div_bg{
	width:100%;
	left:0;
	background:#e8e8e8;
	display:none;
	
}

.logout_icon{
	width:20px;
	height:20px;
	background-image:url(../images/icon_logout.png);
	background-repeat:no-repeat;
	background-size:contain;
	margin:4px 17px 0px 12px;
	float:left;
}
.change_icon {
    width: 20px;
    height: 20px;
    background-image: url(../images/change.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: -1px -8px 0px 1px;
    float: left;
}
.wrapper_content{
	width:950px;
	margin:0 auto;
	overflow:hidden;
}

.column_wrapper{
	width:100%;
	overflow: auto;
    margin:0px auto;
}

.column1{
	float:left;
	width:290px;
	margin:10px;
    padding-bottom: 40px;
}

.column_wrapper .column1 {
    padding-bottom: 0px;
}

.column2{
	float:left;
	width:610px;
	margin:10px;
}

.column_half{
	float:left;
	width:450px;
	margin:10px;
}

.column_full{
	float:left;
	width:930px;
	margin:10px;
}

.hr{
	width:950px;
	height:1px;
	border-top:1px solid #e8e8e8;
	float:left;
	margin-bottom:0px;
	margin-top:50px;
}

.hr_column1,
.hr_column2 {
	width:100%;
	height:1px;
    margin-bottom: 10px;
	border-top:1px solid #e8e8e8;
}

.h5 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #888; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: #888;
    height: auto;
} 

.h5 span { 
    background:#e8e8e8; 
    padding:0 10px; 
}

.line{
    margin-top: 40px;
    margin: 0 auto;
    height: 20px;
    
}

.facebook_wrapper{
    margin-top: 40px;
    position: relative;
}

.icon_howitworks,
.icon_contact{
	width:32px;
	height:32px;
	padding:17px;
	border-radius:50%;
	float:left;
	margin:0px 15px 100px 0;
}

.text-wrapper{
	width:200px;
	float:left;
}

.icon_howitworks_signup{
	background:#7ccce5;
}

.icon_howitworks_giveopinion{
	background:#b7d968;
}

.icon_howitworks_getpaid{
	background:#f5d556;
}

.icon_about{
	background:#e8e8e8;
}

.icon_contact{
	background:#7ccce5;
    float:right;
}

.company_logo{
	width:145px;
	float:left;
	margin:10px 0 0 10px;
    display: inline-block;
}

.companies{
	width:100%;
	float:left;
}

.contact_send_btn{
	border-radius:40px;
	padding:7px;
	background:#b7d968;
	color:#55851d;
	text-align:center;
	cursor:pointer;
	font-size:19px;
}

.contact_send_btn_icon{
	width: 30px;
	height: 30px;
	margin-top:-2px;
	margin-left:-2px;
	float:left;
}

.contact_send_btn_h{
	background:#aac961;
	color:#55851d;
}

.nav_footer_item{
	float:right;
	margin-left:20px;
	margin-right:20px;
	cursor:pointer;
	display:inline-block;
    text-decoration: underline;
}

.more_about {
    float: left; 
}

.metrixlab {
    text-decoration: underline;
    cursor:pointer;
}

.more_about_h,
.terms_h,
.privacy_h,
.metrixlab_h{
    text-decoration:underline;
    color: #444;
}

.nav_footer_wrapper{
	margin-top:-40px;
}

.nav_footer_mobile{
	display:none;
}

.subnav_banner{
	width:100%;
	background:#fff;
	border-bottom:#e8e8e8 1px solid;
    height: 65px;
}

.subnav_content{
	margin:0 auto;
	padding:12px 0;
}

.subnav_wrapper{
	margin:0 auto;
	overflow: auto;
	width:219px;
}

.subnav_item{
	margin:0 20px;
	float:left;
	cursor:pointer;
}

.subnav_active{
	color:#000;
	font-weight:bold;
}

.subnav_inactive{
	color:#888888;
}

.subnav_inactive:hover {
    text-decoration: underline;
}

.subnav_content .subnav_wrapper {
    width: 265px;
}
    
.subnav_content .subnav_item {
    margin: 0px;
    padding: 13px 20px 17px;
    width: 92px;
    font-size: 17px;
    position: absolute;
    text-align: center;
}

.subnav_content .subnav_active {
    border-top: #e8e8e8 1px solid;
    border-left: #e8e8e8 1px solid;
    border-right: #e8e8e8 1px solid;
    background-color: white;
}

.subnav_surveys {
    text-align: right;
}

.logout{
	width:135px;
	float: none;
	border-radius:30px;
	background:rgba(0,0,0,0.25);
	color:#fff;
	text-align: left;
	padding: 7px 5px 8px 5px;
	cursor:pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.logout_h {
   background:rgba(0,0,0,0.40);
}

.welcome_message{
	width:100%;
	margin:0 auto;
	position:relative;
    text-align: center;
}

.subnav_content .subnav_profile {
    margin-left:133px;
}

.welcome_message_text{
    color:#fff;
	padding-top:150px;
}

.profile_center {
    margin: auto;
    text-align: center;
}

.icon_howitworks_myprofile,
.icon_howitworks_contact{
	width:25px;
	height:25px;
	padding:7px;
	border-radius:50%;
	float:left;
	margin:-51px 0px 0 0;
}

.icon_howitworks_contact{
    float: right;
	margin:-60px 20px 0 0;
}

.history {
    background-color: #e8e8e8;
    color: #888;
    margin-top: 10px;
}

.change,
.save1 {
    width: 100px;
    background-color: #e8e8e8;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: inline;
    color: #888888;
    font-size: 14px;
    margin-top: 10px;
}

.change_h,
.save1_h {
	background:#d7d7d7;
	color:#888888;

}

.save1 {
    margin-top:   10px;
}
.delete {
    margin-left: 10px;
}
    
.bank{
    background: #b7d968;
    color: #55851d; 
}

.bank_h{
    background: #aac961;
    color: #55851d; 
}

.bank_icon,
.paypal_icon,
.donate_icon,
.getpaid_icon,
.history_icon,
.icon_survey_grey{
    width: 20px;
    height: 20px;
    background-image: url(../images/icon_bank.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3px 0px 0px 5px;
    float: left;
}

.paypal{
    background: #009cde;
    color: #003087;
}

.paypal_h{
    background: #0084BB;
    color: #003087; 
}

.paypal_icon {
    background-image: url(../images/icon_paypal.png);
}

.charity{
    background: #F5D556;
    color: #a48301;
}

.charity_h{
    background: #D6BA4A;
    color: #a48301; 
}

.donate_icon {
    background-image: url(../images/icon_donate.png);
}

.payment {
    float: left;
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: inline;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 0px;
}

.getpaid {
    float: left;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: inline;    
    font-size: 18px;
    margin-left: 0px;
}

.getpaid_icon {
    background-image: url(../images/icon_getpaid.png);
}

.history_icon {
    background-image: url(../images/icon_history.png);
}
.icon_survey_grey {
    background-image: url(../images/icon_survey_grey.png);
}
table{
    display: block;
    float: left;
}

td1 {
    width: 120px;
}

td2{
    width: 200px;
}

th {
    text-align: left;
    padding-left: 0px;
    padding-right: 20px;
}

.footer{
	text-align: center;
	font-size:12px;
	color: #888;
	width: 950px;
	line-height: 40px;
	margin: 10px auto 19px auto;	
	clear:both;
}	

.footer_surveys {
    position: absolute; 
    bottom: 0px;
    margin: 10px auto 0px auto;
    height: 111px;
    width: 950px;
    left: 50%;
    margin-left: -475px;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 320px;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.modal2 {
    top: 100px;
}

@media (min-width: 480px) {

    .modal-box { 
        width: 457px; 
    }
}

@media (min-width: 767px) {

    .modal-box { 
        width: 590px; 
    }
}

.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
    background-color: #B8272B;
    color: #fff;
}

.h_modal {
    margin-top: 0px;
}

.h_modal2 {
    margin: 20px 0;
    float: left;
    width: 100%;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { 
    padding: 1.5em 1.5em;
    overflow: auto;
}

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
    overflow: auto;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) !important;
}

a.close {
    line-height: 0.7;
    font-size: 3.5em;
    position: absolute;
    top: 24px;
    right: 12px;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px 19px 20px;
    margin: -24px -12px;
}

a.close:hover {
    colo: #888;
    background-color: #D93338;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.cancel {
    line-height: 0.45;
    font-size: 5.5em;
    position: relavtive;
    text-decoration: none;
    color: #fff;
    width: 74px;
    height: 68px;

}

a.close2 {
    margin: -30px -12px;
}

.cancel:hover {
    colo: #888;
    background-color: #D93338;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.modal_table {
    width: 100%;
    overflow: auto;
}

.modal td {
    padding: 0px 10px 0px 0px;
    color: #888
}

.icon_modal {
    margin-top: -42px;
    margin-right: -2px;
}

.btn_modal {
    overflow: auto;
    margin-bottom: 10px;
}

.change_details {
    margin-left: 20px;
}

.change_icon_modal {
    margin:  3px -12px 0px 5px;
}

.charities {
    width: 360px;
    margin: 0 auto;
    overflow: auto;
}

.logo_char {
    width: 100px;
    height: 100px;
    margin: 10px 30px;
    padding: 10px ;
    float: left;
    cursor: pointer;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.kruis {
    background-image: url(../images/kruis1.png);
}

.green {
    background-image: url(../images/green1.png);
}

.wnf {
    background-image: url(../images/wnf1.png);
}

.amnesty {
    background-image: url(../images/amnesty1.png);
}

.logo_active {
    border: 3px solid #B7D968;
    border-radius: 5px;
    margin: 7px 27px;
}

.kruis_active,
.kruis:hover {
    background-image: url(../images/kruis2.png)
}

.green_active,
.green:hover {
    background-image: url(../images/green2.png)
}

.wnf_active,
.wnf:hover {
    background-image: url(../images/wnf2.png)
}

.amnesty_active,
.amnesty:hover {
    background-image: url(../images/amnesty2.png)
}

.hide {
    display: none;
}

.container {
    width: 2000px;
    position: absolute;
    left: -2px;
}

.profile {
    margin: 0px;
    position: absolute;
    left: 960px;
}

.surveys {
    float: right;
    position: absolute;
    width: 960px;
    margin: 10px;
}

.my_profile_wrapper {
    height: 540px;
    position: relative;
    overflow: hidden;
}

.surveytable {
    width: 100%;
}

.surveytable tr:nth-child(even){
    background-color: #EFEFEF;
}

.surveyname {
    width: 600px;
}

.status {
    width: 220px
}

.reward {
    width: 150px;
    text-align: right;
}

.available {
    cursor: pointer;
    font-weight: bold;
}

.available:hover {
    text-decoration: underline;
}

.status_icon {
    margin: 0px 5px 0px 0px;
}

.filter {
    margin: -35px 50px 20px 0px;
    float: right;
    width: 190px;
}

.text {
    width: 620px;
    margin: 10px;
}

.lists {
    width: 940px;
    margin-top: 50px;
}

.privacy_text {
    padding: 15px 10px 0px 0px;
    margin: 10px 0px;
    background-color: #ECECEC;
    border-radius: 15px;
}

.privacy_article {
    display: none;
    margin: 0px 10px 10px 20px;
    padding-bottom: 20px;
}

.privacy_head {
    font-size: 20px;
    margin: 0px;
    margin-left: 20px;
    cursor: pointer;
    color: #444;
    padding-bottom: 15px;
}

.privacy_head:hover {
   text-decoration: underline;
    
}

.logo_ml {
    width: 220px;
    float: left;
    margin-left: 20px;
}

.icon_privacyfields{
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 50%;
    float: right;
    margin: -45px 8px 0 0;
    background-image: url(../images/add.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.minus {
    background-image: url(../images/min.png);
}

.column_wrapper_profile{
    width:940px;
    margin: 0 auto;
}

.payment_btn {
    width: 270px;
    margin: 0 auto;
    overflow: auto;
}

.hr_profile {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.payout_notification {
    width: 200px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
}

.ok {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}

.profile_head {
    margin: 5px 0px 15px 0px;
}

/*tr input {
    border: #BFBFBF 1px solid !important;
    width: 230px !important;
}*/

.column1.column_contact {
    margin-top: 0px;
}

.slogan_survey {
    margin-top: 100px;
}

.survey_icon {
    margin-top: -55px;
}

.survey_available {
    width: 950px;
    margin: 0px;
}

.left {
    margin-left: 0px;
}

.right {
    margin-right: 0px;
}

.plus {
    padding: 5px;
    background-color: #F5D556;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    line-height: 3.5em;
    color: #947601;
    border: #D1A600 4px solid;
    position: absolute;
    margin-left: -120px;
    display: none;
}

.surveyhead {
    margin-top: 15px;
    margin-bottom: 15px;
}

.surveystart {
    margin: 30px 0px 30px 0px;
}

.sign_in_options {
    margin: 10px 0px 0px 15px;
    color: #888;
}

.forgot {
    cursor: pointer;
    text-decoration: underline;
}

.forgot_h{
    color: #444;
}

.forgot_div {
    display: none;
    width:930px;
	margin:0px auto;
	overflow:auto;
}

input[type=checkbox]{
    width: auto !important;
}

.error {
    border: #B8272B 2px solid !important;
    margin: 1px 0px 1px -1px !important;
}
.column_contact .error {
    margin-bottom: 9px !important;
}

.error_message {
    color: #B8272B !important;
    display: none;
}
.example {
    width: 666px;
    margin: 10px auto 0px auto;
}
.examplewrapper {
    padding: 15px 20px;
    background-color: #FFEE9E;
    border-radius: 15px;
    color: #545454;
}
strong {
    color: #545454;
}
.start_profilesurvey {
   float: right;
    margin-right: 9px;
}

@media screen and (max-width: 1000px) {
	body{
        width:100%;
	}
	
	h2{
        margin-left:10px;
	}
	.banner_myprofile{
        background-position:0 -50px;
    }
    .column2{
	   float:left;
	   width:445px;
	   margin: 0px 0px 0px 10px;
    }
    
    .company_wrapper{
		width:630px;
		overflow:auto;
        position: relative;
        text-align: center;
        margin: 10px auto;
	}	
	
    .wrapper_content{
		width:753px;		
	}
	
    .logo{
		margin-left:20px;
	}
	
	.banner_content{
		width:100%;
	}
	
	.btn_wrapper_banner{
		width:640px;
		margin:auto;
		margin-top:110px;
	}
    .btn_wrapper_banner_logout {
		width:640px;
		margin:auto;
		margin-top:50px;
	}
	
	.header_content{
		width:100%;		
	}
		
	.nav_wrapper{
		margin-right:0px;
	}

    .selectboxit-container, 
    .selectboxit, 
    .selectboxit-container, 
    .selectboxit-options {
		width: 330px
	}
	
	.text-howitworks{
		text-align:center;
	}
	
	.margin-howitworks{
		margin-top:10px;
	}
	
	.icon_howitworks{
		float:none;
		margin:0 auto;
        margin-bottom: 10px;
    
	}
	
	.text-wrapper {
		width: 100%;
		float: none; 
	}
	
	textarea{
		width:695px;
	}
    
    .about_text {
        text-align: center;
    }
    
	.sign_up_now_btn{
		width: 205px;
		min-width:150px;
        padding-right: 15px;
	}
	
	.btn_banner{
		display:block;
    }

	.sign_up_fb{
		float:left;
		overflow:auto;
	}
	
	.sign_up_email{
		overflow:auto;
		clear:left;
    }
	
	.sign_in{
		float:left;
	}
		
	.sign_up_div{
		width:753px;
	}
		
	.column1{
		width:227px;
		margin:0px 12px;
	}
	
	.column_full{
		width:723px;
	}
			
	.hr{
		width:100%;
    }
	
	.column_half{
		width:354px;
	}
	
	.quote_img_small{
		margin-right:30px;
	}
	
	.companies{
		width:100%;
	}
	
	.footer{
		width:753px;
	}
	 .centerwrapper3 {
        width: 280px;
    }
    
    .column_wrapper{
		width:100%;
        margin:0px auto;
	}
    
    .column_wrapper_profile{
		width:752px;
        margin: 0 auto;
    }
    
    .column_left {
        width: 266px;
    }
    
    .my_profile_wrapper {
        width: 753px;
    }
    
    .logo_ml {
        width: 220px;
    }
    
    .column_privacy {
        width: 700px;
    }
    
    .privacy_head {
        font-size: 18px;
    }
    
    .lists {
        width: 685px;
        margin-top: 50px;
    }
    .sign_up_div .column1 input {
        width: 205px;
    }
    
    .column_half input{
    width: 330px; 
    }
    
    tr input {
        max-width: 150px;
    }
    
    td input {
        max-width: 260px;
    }
    
    .column_profile {
        margin-top: 10px !important;
    }
    
    .footer_surveys{
        margin-left: -375px;
    }
    #cellwrapper {
        margin: 10px auto 20px auto;
        overflow: auto;
        width: 218px;
    }
    .change, .save1 {
        float: right;
    }
     #insert_cell {
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
	.slogan{
		margin-top:150px;
	}
    
    .wrapper_content{
		width:465px;		
	}
    
    .column_half{
		width:210px;
	}
    
    .header {
        background: #B8272B;
    }
    
    h3 {
        margin-top: 30px;
    }
    
    .title {
    font-size:30px; 
    font-weight:bold;
    }
    
    .subtitle {
        font-size:20px;
    }
    
    .sign_up_div {
        width: 465px;
    }
    
    .sign_up_div .column1 {
        padding-bottom: 0px;
        width: 445px;
    }
    
    .sign_up_div .column1 input{
        width: 424px;
    }
    
    .payment_btn {
        width: 270px;
        margin: 0 auto;
        overflow: auto;
    }
    
     td input {
        max-width: 175px;
    }
    
    .btn_modal{
        width: 270px;
        margin: 0px auto 10px auto;
    }
    
    .payout_btn {
        width: 200px;
        margin: 0 auto;
        overflow: auto;
    }
    
    .column_wrapper{
		width:100%;
        margin:0px auto;
	}
    
    .column_survey {
        width: 455px;
        float: none;
    }
    
    .centerwrapper {
        width: 280px;
        margin-top: 30px;
    }
    
    .logout {
        display: none;
    }
    
    .logout_icon{
        margin:2px -32px 0px 12px;
	   float:left;
    }   
    
	.hamburger_icon{
		display:block;
		background-image:url(../images/hamburger_icon.png);
		background-repeat:no-repeat;
		background-size:contain;
		width:40px;
		height:25px;
		float:right;
        margin-right: 15px;
	}
	
	.nav_item_flag {
		display:none;
	}
    
	.nav_item {
		display:none;
	}
    
	.navigation_mobile{
		width:100%;
		overflow:auto;
		background:#B8272B;
		z-index:20;
        top: 70px;
        position: fixed;
	}
	
	.nav_item_mob{
		display:block;
		width:auto;
		padding:10px;
		text-align:center;
		color:#fff;
		cursor:pointer;
	}
		
	.nav_item_mob_active{
		z-index:21;
		font-weight:400;
        background: #A51519;
	}

	.nav_item_mob_h{
		background:#D93338;
	}
	
	.hr_mob_nav{
		width:100%;
		border-bottom:1px solid #D93338;
	}	

	.banner{
		height:400px;
    }

	.btn_wrapper_banner{
		margin-top:5px;
	}
	
	.btn_wrapper_banner{
		width:310px;
		margin:auto;
		margin-top:-15px;
	}
    
    .btn_wrapper_banner_logout{
		width:310px;
		margin:auto;
    }	
		
	.sign_in{
		float:left;
	} 
    
    .selectboxit-container, 
    .selectboxit, 
    .selectboxit-container, 
    .selectboxit-options {
		width: 100%;
	}

	.h1, h1{
		font-size:30px;
        text-align:center;
	}
	
	p.avatar{
        margin-left:90px;
	}
	
	p, p.avatar{
		text-align:left;
	}
	
    h2, h3,
    .surveytext{
		text-align:center;
	}
		
	.company_wrapper{
		width:310px;
	}
	
	.nav_footer_wrapper{
		margin-right:20px;
	}
	
	.text-howitworks{
		margin: 0 auto;
		text-align:center;
	}
	
	.btn_banner{
		width:230px;
		font-size:18px;
		margin-top:0px;
	}
	
    .logout {
        width: 142px;
        margin-top: 50px;
    }
    
	.contact_send_btn_icon{
		display:none;
	}
	
	.contact_send_btn{
		font-size:15px;
	}
	
	.nav_footer_mobile{
		width:200px;
		margin:auto;
		display:inline;
		height:10px;
	}
    
	textarea {
        width: 421px;
        margin-top: 0px;
    }
  
	.nav_footer_wrapper{
		display:none;
	}
	
	.nav_footer_item{
		float:none;
		display:inline-block;
	}
    
    .banner_myprofile{
	   background-position: center;
	   height: 300px;
    }
  
    .column_profile {
        width: 470px !important;
        margin-left: auto;
        margin-right: auto;
        float: none;
        overflow: auto;
    }
    
    .cell {
        margin: 0 auto;
    }
    
    .pay_balance {
        text-align: center;
    }
    
    .change_details {
        margin-left: 0px;
    }
    
    .my_profile_wrapper, .profile, .surveys {
        width: 480px;
    }
    
    .filter {
        margin: 20px auto 20px auto;
        float: none;
    }
    
    .text {
        width: 455px;
        float: none;
        margin: 0px auto;
    }
    
    .logo_ml {
        margin: 20px auto 0px auto;
        float: none;
    }
    
    .lists {
        width: 100%;
        margin-top: 50px;
    }
    
    .icon_privacyfields {
        display: none;
    }
    
    .column_contact {
        width: 455px;
        float: none;
        margin: 10px auto;
    }
    
    .input_contact {
        width: 431px !important; 
    }
    
    .line {
        margin-top: 40px;
    }
    
    .sign_up_now_btn{
		width: 424px;
	}
    
    .column1 { 
        width: 135px;
        margin: 0px 9px
    }
    
    .column_full{
		width:455px;
	}
    
    .icon_howitworks_contact{
        margin:-60px 7px 0 0;
    }
    
    .column_profile.column1 {
        margin-bottom: 30px;
    }
    
    .column_half.column_contact {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .column_full.column_contact {
        margin-top: 3px;
    }
    
    .footer {
        width: 465px;
    }
    
    .payout_notification {
        margin: 5px auto;
    }
    
    .modal-box {
        max-height: 100%;
        overflow-y:scroll;
    }
    
   .surveystart {
        margin: 20px 0px 20px 0px; 
   }
    
    .sign_in_options {
        margin: 5px 0px 5px 15px;
        color: #888;
        width: 133px;
        float: left;
    }
    
    .back {
        margin: 10px 0px 10px 15px;
    }
    
    
    .profile_text_wrapper {
        width: 218px;
        float: none;
        margin: 0 auto;
    }
    .change, .save1 {
        float: right;
    }
    #insert_cell {
        float: left;
        width: 100%;
    }
    .cell2 {
        float: none;
    }
     #cellwrapper {
        margin: 20px auto 0px auto;
        overflow: auto;
        width: 218px;
    }
    .example {
        width: 413px;
    }
    .start_profilesurvey {
        margin-right: auto;
}

@media screen and (max-width: 479px) {
    .header {
        background: #B8272B;
    }
   .example {
        width: 274px;
   }
    .examplewrapper {
        padding: 15px;
    }
    .wrapper_content{
		width:320px;		
	}
    
    .surveyname {
        width: 480px;
        padding-right: 0px !important;
    }
    
    .status {
        padding-right: 0px !important;
    }
    
    .reward {
        padding-left: 0px;
    }
    
    .column_profile {
        width: 298px !important;
        margin-left: auto;
        margin-right: auto;
        float: none;
        overflow: auto;
    }

	.email {
        margin-bottom: 0px;
        display: block;
        position: relative;
        height: 230px;
    }
    
    .sign_in_email {
        margin-bottom: 0px;
        height: auto;
        display: block;
        position: relative;
    }
	
    textarea {
        width: 268px;
    }
    
	.icon_howitworks_contact{
        margin:-60px 13px 0 0;
    }
    
	.contact_send_btn{
		min-width:130px;
	}
    
	.column_full{
		width:95%;
	}
    
	.hamburger_icon{
		display:block;
		background-image:url(../images/hamburger_icon.png);
		background-repeat:no-repeat;
		background-size:contain;
		width:40px;
		height:25px;
		float:right;
	}
	
	.nav_item_flag {
		display:none;
	}
	
	.navigation_mobile{
		width:100%;
		overflow:auto;
		background:#B8272B;
		z-index:20;
        top: 70px;
        position: fixed;
	}
	
	.nav_item_mob{
		display:block;
		width:auto;
		padding:10px;
		text-align:center;
		color:#fff;
		cursor:pointer;
	}
		
	.nav_item_mob_active{
		z-index:21;
		font-weight:400;
	}

	.nav_item_mob_h{
		background:#D93338;
	}
	
	.hr_mob_nav{
		width:100%;
		border-bottom:1px solid #D93338;
	}
	
	.banner{
		height:400px;
	}

	.slogan{
		margin-top:100px;
		height:100px;
	}
	
    .centerwrapper {
        margin-top: 40px;
    }
	
	.selectboxit-container, 
    .selectboxit, 
    .selectboxit-container, 
    .selectboxit-options {
		width: 278px;
		padding-right:9px !important;
	}
	
	.table_signup{
		display:none;
	}
	
	.table_signin{
		display:none;
	}

	.sign_up_now_btn{
		width: 286px;
	}
    
     .column1 { 
        width: 288px;
        margin: 5px 6px
    }
    
	.nav_item{
		display:none;
	}
		
	.column1{		
        padding-bottom: 5px;
	}
	
	.column_half{
		width:304px;
	}
	
	p.margin_top-20{
		text-align:left;
	}
	
	p.avatar{
		margin-left:90px;
	}
	
	.icon_howitworks{
		float:left;
	}
	
	.text-howitworks{
		text-align:left;
		margin-left:80px;
	}
	
	.avatar_janedoe{
		float:left;
	}
	
	.quote_img_small{
		display:none;
	}
	
	.quote_img_large{
		display:block;
		float:none;
		width:70px;
		margin:0 auto 50px auto;
	}
	
	.column_wrapper{
		width:100%;
        margin:0px auto;
	}
	
	.companies{
		width:100%;
	}
	
	.sign_up_div {
		width:320px;
	}
    
	  .sign_up_div .column1 {
		width:308px;
	}
    
      .sign_up_div .column1 input {
		width:286px;
	}
    
	.sign_in_div_mobile{
		display:block;
	}
		
	.nav_footer_mobile{
		width:200px;
		margin:auto;
		display:inline;
		height:10px;
	}
	
	.nav_footer_wrapper{
		display:none;
	}
	
	.nav_footer_item{
		float:none;
		display:inline-block;
	}
	 .footer > span{
            margin:0 0 10px !important;
            display: inherit !important;
        }		
	.footer{
		width:100%;
		text-align:center;
		margin-left:0px !important;
	}
    
    .about_text {
        text-align: left;
        margin-left: 80px;
    }
    
    .icon_howitworks {
        margin-bottom: 15px;
    }
    
    h2 {
        margin-left: 0px;
    }
    
    .icon_howitworks_myprofile {
        display: none;
    }
    
    table {
        width: 250px;
        margin: 0 auto;
        float: none;
    }
    
    .center_change {
        float: none;
        overflow: auto;
        margin: 0 auto;
        width: 120px;
    }
    
    .charities {
        width: 220px;
        margin: 0 auto;
        overflow: auto;
    }
    
    .logo_char {
        width: 70px;
        height: 70px;
        margin: 3px 10px;
        background-size: 90px;
    }

    .modal-box {
        max-height: 100%;
        overflow-y:scroll;
    }
   
    
    .logo_active {
        border: 3px solid #B7D968;
        border-radius: 5px;
        margin: 0px 7px;
    }

    .modal {
        margin: 0px;
    }
    
    .my_profile_wrapper, 
    .profile, 
    .surveys {
        width: 320px;
    }
    
    .text {
        width: 310px;
    }
    
    .column_contact {
        width: 300px;
        float: none;
        margin: 10px auto;
    }
    
    .input_contact {
        width: 278px !important; 
    }
    
    .column_contact {
        width: 300px;
        float: none;
        margin: 10px auto;
    }
    
    .sign_up_div .column1 {
        margin: 0px 6px;
    }
    
	.countries_mob {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
     .modal-box {
         height: 100%;
         top: 0px !important;
     }
    footer{
        height: 100%;
    }
}

@media screen and (max-width: 319px) {
		
	.hamburger_icon{
		display:block;
		background-image:url(../images/hamburger_icon.png);
		background-repeat:no-repeat;
		background-size:contain;
		width:40px;
		height:25px;
		float:right;
	}
	
	.nav_item_flag {
		display:none;
	}
	
	.banner{
		height:400px;
	}

	p.avatar{
		margin-left:90px;
	}
	
	.nav_item{
		display:none;
	}
	
	.form_mobile_signup{
		margin-left:20px !important;
	}
		
	p.margin_top-20{
		text-align:left;
	}
	
	.icon_howitworks{
		float:left;
	}
	
	.text-howitworks{
		text-align:left;
		margin-left:80px;
		width:77%;		
	}
	
	.avatar_janedoe{
		float:left;
	}
	
	.quote_img_small{
		display:none;
	}
		
	.quote_img_large{
		display:block;
		float:none;
		width:70px;
		margin:0 auto 50px auto;
	}
	
	.column_wrapper{
		width:98%;
	}
	
	.companies{
		width:98%;
	}
	
	.footer{
		width:100%;
		line-height: 40px;
		margin: 10px auto 19px auto;	
		clear:both;
	}	
	
	.company_logo{
		width:120px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.logo{
		width:136px;
		height:37px;
		background-image:url(../images/logo_opinionbar2x.png);
		background-size:contain;
	}

}
