
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reach Collective</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Services/customServices.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/Content/piiapp.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @*<script data-main="/Scripts/services/config" src="/Scripts/require.js"></script>*@
    @*<script type="text/javascript" src="http://cdn.jsdelivr.net/mobile-detect.js/latest/mobile-detect.min.js"></script>*@
    <style type="text/css">
    </style>
</head>
<body ng-cloak>
    <center>
        <div class="preloader" loader>
            <loading-directive>
            </loading-directive>
        </div>
        <div id="container" ng-cloak>
            <div id="header">
                <div id="topborder"></div>
            </div>
            <!--TOPBORDER-->
            @RenderBody()
        </div>
    </center>
    @*@Html.Raw(JSNLog.JavascriptLogging.Configure())*@
    <script>document.write("<script  type='text/javascript' src='/Scripts/require.js'  data-main='/Scripts/Services/config.js?v=" + 2 + "' ><\/script>");</script>
    <script src="~/Scripts/Services/translationService.js" type="text/javascript"></script>
    @*<script>document.write("<script  type='text/javascript' src='/Scripts/services/config'  data-main='/Scripts/require.js?v=" + Date.now() + "' ><\/script>");</script>*@
</body>
</html>
