
@{
    ViewBag.Title = "Vld";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<head>
    @*<script type="text/javascript" id="cleanid_script_id" src="https://idsuite.navigatorsurveys.com/cleanid-v3.current.min.js" data-key="34ef4d14-bb81-ecea-dcd2-9a8f090ece82"></script>*@
    @*<script src="https://www.ipqscdn.com/api/*/eQN8AtqlOm74ZSNbmGKCaTDyyZaS1tFqdPBIn1ADM6Qp8GObALIELx35stQVoBMRXYKVXxCaIJkn8pFGivyYOrNQFn32GWkwnqbyvHT2z61imMDxaLh10wf7So51cFvWH4nyJncXgDsGXGrxOObXoTXlRUJH1osapuFtV5vCYFUMuVQ6h0B41NH3pWnj6puCFJtbDT9en43Leu47ZUEmabwwKMXrPrmKHLLXrrj8jopvE4ycdDYwtTTz1F5QEjym/learn.js" crossorigin="anonymous"></script>*@
    <script src="https://js.verisoul.ai/prod/bundle.js" verisoul-project-id="be0e3932-c860-4b71-927b-8a2e8b7941dc"></script>
    <script type="text/javascript" id="forensic_script_id" src="https://api-cdn.dfiq.net/scripts/forensic-v6.0.3.min.js" data-key="0D652A79648061CDAFD652A102B0A9EC-30000-1"></script>
    <noscript><img src="https://www.ipqscdn.com/api/*/eQN8AtqlOm74ZSNbmGKCaTDyyZaS1tFqdPBIn1ADM6Qp8GObALIELx35stQVoBMRXYKVXxCaIJkn8pFGivyYOrNQFn32GWkwnqbyvHT2z61imMDxaLh10wf7So51cFvWH4nyJncXgDsGXGrxOObXoTXlRUJH1osapuFtV5vCYFUMuVQ6h0B41NH3pWnj6puCFJtbDT9en43Leu47ZUEmabwwKMXrPrmKHLLXrrj8jopvE4ycdDYwtTTz1F5QEjym/pixel.png" /></noscript>
    <script>
        getUrlVars = function () {
            var Url = window.location.href.toLowerCase();
            var vars = {};
            var parts = Url.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
        var pid = getUrlVars()["pid"];
        var cid = getUrlVars()["cid"];
        var uig = getUrlVars()['uig'];
        var uid = getUrlVars()["usrinvid"];
        var usid = getUrlVars()["usid"];
        if (usid == undefined) {
            usid = '';
        }
        if (pid == undefined) {
            pid = '';
        }
        if (cid == undefined) {
            cid = '';
        }

        // Optional tracking variables that can be used to pass data and subIDs.
        // Please set any new variables to track here: https://www.ipqualityscore.com/user/settings#variables
        // Must be manually added to <noscript> <img> tag above such as: ...pixel.png?userID=123&transactionID=11
        // Strongly suggested to pass "email" and "userID" for better device tracking and performance
        // Parse the value in the transactionID field from the URL
        if (typeof Startup !== "undefined") {
            Startup.Store('transactionID', uid);
            Startup.Store('userID', usid);
            Startup.Store('campaignID', pid);
            Startup.Store('publisherID', cid);
        }

        if (typeof Startup !== "undefined") {
            Startup.AfterResult(function (result) {
                var ipqsJson = JSON.stringify(result);
                // redirect or perform business logic if Fraud Score is >= recommended value of 90
                localStorage.setItem('ipqsJson', ipqsJson);
            });

            Startup.AfterFailure(function (reason) {
                // user has blocked the second JavaScript call
                // can redirect or perform other business logic if JS is not loaded
                // window.location.href = "";
            });
        }

        if (typeof Startup === "undefined") {
            // user has blocked the initial JavaScript call
            // can redirect or perform other business logic if JS is not loaded
            // window.location.href = "";
        }
    </script>
</head>
<style type="text/css">
    body {
        color: black !important;
        font-family: Lucida Sans Console, Verdana, Tahoma, Arial, Verdana, sans-serif;
        font-size: 13px;
        line-height: 1.42857143; /* background-color: #abd7fe; */
    }

    #dvContent {
        padding: 26px;
        overflow: hidden;
        max-width: 770px;
        background-color: White;
        margin: auto;
        text-align: justify;
        -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
        -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
        box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.54);
    }

    h1.hidden {
        visibility: hidden;
    }
</style>

<body ng-if="pgLoad" ng-cloak>
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
    }
    <div ng-controller="vldController">
        @*<script type="text/javascript" src="https://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js"></script>*@
    </div>
</body>
@*<div ng-if="pgLoad" ng-cloak>
        @*<div ng-controller="vldController" ng-init="relevantInitialize()">

            <script type="text/javascript" src="https://d3op16id4dloxg.cloudfront.net/RelevantID4.js"></script>
            @*<script type="text/javascript" src="https://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js"></script>
        </div
    </div>*@