<script type="text/ng-template" id="RdTemplate">
    <div align="left" class="questionback" style="clear: both;">
        <span class="question" id="lblQuestiontext" ng-bind-html="question.QuestionText | unsafe"></span>
    </div>

    <div ng-if="question.QuestionTypeId == '14'">
        <div class="optiontext" style="clear: both; overflow: hidden">
            <div class="wrapper">
                <div ng-repeat="op in question.OptionList">
                    <div>
                        <div style="min-height: 21px;" class="dvChkbox dvstyle">
                            <div class="grid_column" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvmain' }}" ng-class="{input_onm:$index == $parent.radiobtnvalidation}">
                                <label for="{{op.QuestionId +'_'+op.OptionId+'_radio'}}" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_lblrd' }}" ng-click="rdClick($event,question,op.OptionId,$index)">
                                    <div class="grid_radio" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvradio'}}" ng-class="{'input_on':$index==$parent.radiobtnvalidation}" style="float: left;">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_rdDiv'}}">{{op.OptionText}}</span>
                                    </div>
                                    <input type="radio" style="display: none;" ng-attr-id="{{op.QuestionId+'_'+op.OptionId +'_radio'}}" ng-model="$parent.OptionId" name="{{question.QuestionId+ '_'+'radio'}}" value="op.OptionId" ng-click required />
                                    <span class="single_radio" style="display:block;text-align:left;margin-left:15px;">{{op.OptionText}}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <span ng-show="submitValidations && formValidation[question.QuestionId+ '_'+'radio'].$error.required" style="color: red;">{{ errorMessage }}</span>
    </div>
</script>

<div style="width: 100%;">
    <div>
        <div ng-controller="rdController">
            <ng-include src="'RdTemplate'"></ng-include>
        </div>
    </div>
</div>


