@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #dvQuestionsList, #dvMobileNumber {
        padding: 2em 2em 1em;
    }
</style>
<div ng-controller="userMobilePgController" ng-if="psPageLoad" ng-cloak>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }
    <form name="formValidation" novalidate>
        <div id="surveyQuestion" style="max-width:790px;margin:auto;" class="content-hide" ng-class="{'content-show':showViewContent}">
            <div style="font-size: 14px; overflow: hidden; min-height: 100%;">
                <div id="dvQuestions">
                    <div class="body">
                        <div id="dvQuestionsList" style="display: block; float: left; width: 100%;" ng-repeat="question in questions">
                            <div align="left" class="questionback" style="clear: both;">
                                <span class="question" id="lblQuestiontext">{{question.QuestionText}}</span>
                            </div>
                            <div class="optiontext" style="clear: both; overflow: hidden;width:100%;" class="form-group" ng-class="{true: 'error'}[submitValidations && formValidation.radioBtnGroup.$invalid]">
                                <div style="width: 100%!important;">
                                    <div class="wrapper">
                                        <div class="left">
                                            <div ng-repeat="options in question.OptionList">
                                                <div style="min-height: 21px;" class="dvChkbox dvstyle">
                                                    <div class="grid_column" ng-attr-id="{{$parent.$index+'_'+$index +'_dvmain' }}" ng-class="{'input_onm':$index==selectedIndex}">
                                                        <label for="{{$parent.$index +'_'+$index+'_radio'}}" ng-attr-id="{{$parent.$index+'_'+$index+'_lblrd' }}" ng-click="rdClick($event,options.OptionText,$index)">
                                                            <div class="grid_radio" ng-class="{'input_on':$index==selectedIndex}" ng-attr-id="{{$parent.$index+'_'+$index+'_dvradio' }}" style="float: left;">
                                                            </div>
                                                            <div class="grid_span_holder">
                                                                <span class="grid_span" ng-attr-id="{{$parent.$index+'_'+ $index+'_rdDiv'}}">{{options.OptionText}}</span>
                                                            </div>

                                                            <input type="radio" name="radioBtnGroup" style="display: none;" ng-attr-id="{{$parent.$index +'_'+$index+'_radio'}}" ng-model="$parent.AnswerText" value="true" required />
                                                            <span class="single_radio" style="float: left;">{{options.OptionText}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span ng-show="submitValidations && formValidation.radioBtnGroup.$error.required" class="error">
                                    Required
                                </span>
                            </div>
                        </div>
                        <div ng-if="showmbNumber" style="padding-top: 20px;" id="dvMobileNumber">
                            <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                                <span class="question" id="Span1" style="padding-bottom: 10px;">Please share your mobile number below.</span>
                                <br />
                                <br />
                                <span style="padding-bottom: 10px; font-style: italic; font-size: 14px;">By submitting your number you agree to receive SMS text survey invitations from Precision Sample. Message and data rates may apply for receiving text survey invitations and taking surveys on your mobile phone. Reply STOP to opt-out at any time.</span>
                            </div>
                            <div id="mobileqst" class="form-group">
                                <div style="padding-top: 9px; padding-bottom: 10px;">
                                    <br />
                                    <input type="text" class="txtbox" name="mobileNo" style="width: 230px; height: 26px;" ng-model="mobileNumber" required ng-blur="updateMobileNumber(mobileNumber)" />
                                    <div ng-show="!submitValidations && formValidation.mobileNumber.$error.required" class="error">
                                        Required
                                    </div>
                                </div>
                            </div>
                            <span id="spnMobileErrorMsg" class="error" style="color: Red; display: none; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" />
                        </div>
                        <div class="footerblock">
                            <div style="text-align: center; padding: 10px;">
                                <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-size: 15px"></span>
                            </div>
                            <div style="text-align: center; padding: 10px; width: 95%;">
                                <button id="btnSubmit" class="button" type="button" value="Continue" style="width: 110px; margin-bottom: 25px;" ng-click="submitted(formValidation.$valid)">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

