<ul ng-if="pager.pages.length > 4" class="pagination">
    <li ng-hide="pager.currentPage == 1">
        <a ng-click="setPage(pager.currentPage - 1)"><i class="material-icons">keyboard_arrow_left</i></a>
    </li>
    <li ng-repeat="page in pager.pages">
        <a ng-click="setPage(page)" ng-class="{active:pager.currentPage == page}">{{page}}</a>
    </li>
    <li ng-hide="pager.currentPage == pager.totalPages">
        <a ng-click="setPage(pager.currentPage + 1)"><i class="material-icons">keyboard_arrow_right</i></a>
    </li>
</ul>
