body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    height: auto;
}

h1, h2 {
    font-weight: bold !important;
}


#container {
    max-width: 800px;
    margin: auto;
    margin: 20px;
}

.inner-container {
    border: 1px solid #cecece;
    display: inline-block;
}

.inner-form {
    margin: 15px;
}

.input {
    display: block;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 75%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
    float: left;
    margin: 0px;
}

.btn {
    margin: 20px 0px 15px 0px;
}

.error {
    color: red;
    margin: 5px 0px 0px 2px;
    position: relative;
    float: left;
}

input[type="radio"] {
    margin: 0 15px 8px 5px;
    width: 20px;
    height: 20px;
    transition: .2s;
    cursor: pointer;
}

.qst-container {
    margin: 0px 0px 0px 15px;
    width: 100%;
    display: inline-block;
}

.opt-container {
    width: 100%;
    /* float: left; */
    /* left: 0px; */
    display: flex;
    margin-left: 10px;
}
