body {
    color: black !important;
    font-family: Verdana, Helvetica, 'sans serif' !important;
    background-color: #ABD7FE;
}

h1, h2 {
    font-weight: bold !important;
}

.glyphicon-log-out:before {
    content: none;
}

/*.sdl_nav {
    background: #005d7b !important;
}*/

.footer a {
    color: #b2b2b2;
}

.pagination {
    margin: 6px !important;
}

    .pagination > li > a, .pagination > li > span {
        border: none !important;
    }

        .pagination > li > a > i {
            font-size: 16px;
        }

    .pagination > li:hover {
        cursor: pointer;
    }

ul.pagination li a.active {
    background-color: #105EAC;
    color: white;
}

@media (min-width:981px) {


    #bottomborder {
        display: none;
    }

    ul.nav {
        margin-left: 6px !important;
        margin-top: 0px !important;
        width: initial !important;
    }

    .navbar-nav li a {
        width: 180px !important;
    }

    ul.nav li a#myaccount_nav {
        border-right: none !important;
    }

    ul.nav li a {
        height: 100% !important;
    }

    #logo {
        margin-left: 0px !important;
        margin-top: 0px !important;
        padding: 15px 10px 15px 27px;
    }

    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }

    #logout {
        margin-top: 35px;
    }

    #takesurveys_col {
        width: 240px !important;
    }



    #logout-sm {
        display: none;
    }

    .language-box {
        height: 0px;
        float: right;
        margin-top: 30px;
    }
}

@media (min-width:760px) and (max-width:980px) {
    .navbar-collapse.in {
        margin-left: -15px !important;
    }
}

@media (min-width:460px) and (max-width:980px) {
    #logo {
        max-height: 40px !important;
    }
}

@media (max-width:980px) {
    #footer {
        width: 100% !important;
    }

    #container {
        overflow: visible !important;
    }

    body {
        background-color: white !important;
        background: none !important;
    }

    .navbar-collapse {
        position: absolute;
        width: 100%;
    }

    .bottom-border {
        border-bottom: 4px solid #E8E8E8;
    }

    .navbar::after {
        border-bottom: 5px solid #E8E8E8;
    }

    #logout {
        display: none;
    }

    .glyphicon-log-out {
        color: #fe5c5c;
        cursor: pointer;
    }

        .glyphicon-log-out:hover {
            color: #fe5c5c;
            cursor: pointer;
        }

    #logout-sm {
        display: block;
        float: right;
        margin: 15px 15px 0px 0px;
        font-size: 20px;
    }

    .navbar-toggle span {
        background-color: darkblue;
    }

    #logo {
        float: left;
        margin-left: 10px !important;
        margin-top: 5px !important;
    }

    #bottomborder {
        width: 100%;
        margin: auto;
        height: 4px;
        background: #e8e8e8;
    }

    #container {
        width: 100%;
        background-image: none;
        background-color: white;
    }

    #topborder {
        width: 100%;
    }

    .navbar-toggle {
        box-shadow: 0 0 0 transparent,0 1px 5px rgba(0,0,0,0.25);
    }

    .navbar-toggle {
        float: left !important;
        margin-left: 15px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    #logout-lg {
        margin-bottom: 10px;
    }

    .navbar {
        position: absolute;
        margin-top: 0px;
        width: 100%;
        z-index: 999;
        background-color: white;
    }

    ul.nav li a {
        width: 100% !important;
        border-right: none !important;
        border-bottom: 1px solid gray;
        height: 41px !important;
        text-align: left;
    }

    ul.nav li {
        float: none;
        height: initial;
    }

    .navbar-collapse.in {
        overflow-y: initial;
    }


    ul.nav {
        width: 100% !important;
        height: 41px;
        float: left;
        margin-left: 0px;
        margin-top: 8px;
    }

    .navbar-collapse {
        padding-left: 0px;
    }

    ul.nav li {
        border-right: 4px solid #E8E8E8;
        border-left: 4px solid #E8E8E8;
        box-shadow: 0 0 0 transparent,0 5px 26px rgba(0,0,0,0.25);
    }

        ul.nav li:last-child {
            border-bottom: 4px solid #E8E8E8;
        }

    .language-box {
        height: 0px;
        float: right;
        margin: 15px 5px 0px 0px;
        width: 12%;
    }
}

@media (max-width:460px) {
    .navbar-toggle {
        padding: 7px 7px;
    }

    #logo {
    }
}

@media (max-width:460px) {
    #logo {
        width: 250px;
        margin-left: -4px !important;
        margin-top: 5px !important;
    }
}

@media (max-width:420px) {
    #logo {
        width: 180px;
        margin-left: -4px !important;
        margin-top: 12px !important;
    }

    #logout-sm {
        margin-right: 15px !important;
    }
}
