
selection {
    padding: 0px !important;
}

pagging-directive {
    padding: 0px !important;
    width: 100%;
}

.pagination {
    margin: 6px !important;
}

    .pagination > li > a, .pagination > li > span {
        border: none !important;
    }

        .pagination > li > a > i {
            font-size: 16px;
        }

    .pagination > li:hover {
        cursor: pointer;
    }

ul.pagination li a.active {
    background-color: #105EAC;
    color: white;
}

ul.pagination {
    display: inline-block;
    padding: 0 25px;
    margin: 10px 0 0 0;
    float: right;
}



    ul.pagination li {
        display: inline-block;
        border: none !important;
    }

        ul.pagination li a {
            display: inline-block;
            font-size: 1.2rem;
            padding: 0 10px;
            line-height: 28px;
            outline: none;
            vertical-align: middle;
            font-size: 16px;
        }

            ul.pagination li a i {
                vertical-align: middle;
            }

            ul.pagination li a:hover {
                color: black;
                cursor: pointer;
            }

            ul.pagination li a.active {
                background-color: #105EAC;
                color: white;
            }

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



ul.pagination li a.deactive {
}

@media (max-width:480px) {
    ul.pagination {
        display: inline-block;
        padding: 0 11px;
        margin: 10px 0 0 0;
        float: right;
    }
}
