@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
}

body, html {
    height: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Didact Gothic', sans-serif;
}

img {
    max-width: 100%;
}

.collapse {
    margin: 0;
}

a:hover, button {
    text-decoration: none;
    outline: none;
    outline-offset: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: 12px;
    color: #333;
    font-family: 'Didact Gothic', sans-serif;
}

/**/
.btn-primary {
    border-color: #0072c5;
    background-color: #0072c5;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #0662a5;
    color: #FFF;
}















/**/
.header-top {
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
    top: 0;
    z-index: 9;
    box-shadow: 1px 1px 5px rgba(0,0,0,.10);
}

.logo-bar {
    float: left;
}

    .logo-bar > a {
        display: inline-block;
        padding-right: 15px;
    }

.nav-inner {
    float: right;
}

.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

    .menu li {
        float: left;
    }

        .menu li a {
            display: inline-block;
            padding: 0px 5px 0;
            font-size: 15px;
            color: #0073A4;
            border: 1px solid #b7bec5;
            height: 32px;
            width: 32px;
            border-radius: 100%;
            line-height: 30px !important;
            text-align: center;
            margin: 0 5px;
        }

            .menu li a i {
                font-size: 16px;
            }

            .menu li a:hover, .menu li a:focus {
                text-decoration: none;
                color: #FFFFFF;
                background-color: #008DC9;
            }

    .menu li, .profile-bar, .logo-bar {
        line-height: 70px;
    }

.profile-bar {
    float: right;
}

.profile-pin {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    vertical-align: top;
    position: relative;
    border: 1px solid #eee;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    line-height: 45px;
    margin-left: 10px;
    margin-top: 2px;
}

    .profile-pin img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border: 0 none;
    }


.myapps-panel {
    display: inline-block;
    position: relative;
}

.myapps-link {
    position: relative;
    font-size: 14px;
    padding: 0 20px;
    margin: 0 10px 0 2px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

    .myapps-link span {
        font-weight: 400;
        font-size: 16px;
    }

    .myapps-link:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid #505050;
        position: relative;
        float: right;
        top: 23px;
        margin-left: 5px;
    }





.mainbody {
    padding: 0 0 50px;
}

.h-navbar-menu {
    display: inline-block;
    vertical-align: top;
}

    .h-navbar-menu a {
        font-size: 16px;
        color: #000000;
        display: inline-block;
    }

.iconhome {
    color: #277db8 !important;
}

.header-title {
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    margin: 0;
    color: #000000;
}

.hometab-section {
    background: #fff;
}

.hometab-container {
    text-align: center;
    padding: 0px 0px 0;
}

    .hometab-container .nav-tabs > li {
        float: none;
        display: inline-block;
    }

    .hometab-container .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 20px 10px;
        height: 110px;
        font-size: 16px;
        font-weight: 600;
        min-width: 160px;
        color: #3d5a6c;
        text-transform: uppercase;
    }

    .hometab-container .nav-tabs {
        border-bottom-color: #edebfc;
    }

        .hometab-container .nav-tabs > li > a:hover {
            border-color: transparent;
            background: #fbfbfb;
            opacity: 1;
        }

        .hometab-container .nav-tabs > li.active > a,
        .hometab-container .nav-tabs > li.active > a:focus,
        .hometab-container .nav-tabs > li.active > a:hover {
            color: #006cc8;
            cursor: default;
            background-color: #fbfbfb;
            border: 1px solid transparent;
            border-bottom-color: #006cc8;
            border-bottom-width: 5px;
            opacity: 1;
            border-radius: 0;
        }

.tab-img-icon {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

    .tab-img-icon img {
        max-height: 40px;
        max-width: 100%;
    }


.nav-tabs-left .tab-img-icon {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin-right: 5px;
}

.hometab-container .nav-tabs-left > li {
    float: left;
}

    .hometab-container .nav-tabs-left > li > a {
        height: 75px;
        padding: 0 15px;
        line-height: 70px;
    }

.nav-tabs-left .tab-img-icon img {
    position: relative;
    top: -2px;
    max-height: 34px;
}

.survey-table thead th {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #415a6b;
    font-family: roboto, sans-serif;
    height: 50px;
    vertical-align: middle !important;
}

.bold-btn {
    font-weight: bold;
    font-family: Roboto,sans-serif;
}

.hometab-content {
    margin-bottom: 30px;
    background: #fff;
}

    .hometab-content .tab-pane h3 {
        margin-top: 0;
    }

.tab-pane-body {
    padding: 20px;
}

.padding-20 {
    padding: 20px;
}

.tabwidget {
    box-shadow: 0px 0px 30px rgba(0,0,0,.10);
    margin: 50px 0 25px;
}

.hometab-content .tab-content {
    min-height: 300px;
}

.survey-table td {
    font-size: 13px;
}

.profile-checkboxlist {
    font-size: 14px;
    padding: 5px 20px;
}

    .profile-checkboxlist .form-check-input {
        position: relative;
        top: -3px;
        vertical-align: middle;
    }

.tab-pane-body h3 {
    margin: 0;
}

.padding-left-right-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pagging-row {
    padding: 10px 20px 25px;
    display: table;
    width: 100%;
}

    .pagging-row ul.pagination li a i {
        line-height: 1.42857143;
    }

.support-btnsend {
    background: #0072c5;
    color: #fff;
    border-radius: .41667rem;
    font-weight: 700;
    letter-spacing: .4;
    padding: 1rem 1.83333rem 1.16667rem;
    float: right;
    border: 0px;
}

    .support-btnsend:hover, .support-btnsend:focus {
        background: #0662a5;
        color: #FFF;
    }

.dvSupport #spnFAQ, .dvSupport #spnContactUs {
    color: #0072c5;
    cursor: pointer;
}

    .dvSupport #spnFAQ:hover, .dvSupport #spnContactUs:hover {
        color: #1E91CB;
    }



@media (max-width: 767px) {

    .my-table thead, .my-table tbody, .my-table th, .my-table td, .my-table tr {
        display: block;
    }

    .table_mobile .table > tbody > tr > td,
    .table_mobile .table > tbody > tr > th,
    .table_mobile .table > tfoot > tr > td,
    .table_mobile .table > tfoot > tr > th,
    .table_mobile .table > thead > tr > td,
    .table_mobile .table > thead > tr > th {
        display: block;
    }

    .my-table th, .my-table td {
        border: 0 !important;
        padding: 5px !important;
        position: relative;
        white-space: normal;
        line-height: 1.1 !important;
        padding-left: 100px !important;
    }

    .my-table .hide_mobile {
        display: none !important;
    }

    .my-table tr:nth-of-type(odd) {
        background-color: #fafcff;
        margin: 5px 10px;
        padding: 10px;
        border: 1px solid #a9b7c3;
    }

    .my-table tr:nth-of-type(even) {
        background-color: #FFFFFF;
        margin: 5px 10px;
        padding: 10px;
        border: 1px solid #a9b7c3;
    }

    .surveyspanlm {
        float: none !important;
        font-size: 14px;
    }

    .my-table td:before {
        position: absolute;
        font-size: 12px;
        color: #000;
        display: inline-block;
        padding: 0;
        padding-right: 5px;
        left: 0;
        top: 4px;
    }

    .my-table .btn-primary {
        padding: 5px 15px;
    }

    .tab-pane-body {
        padding: 15px 15px 10px;
    }

    .my-table td:after {
        content: ":";
        position: absolute;
        left: 95px;
        color: #000;
        font-size: 12px;
        top: 4px;
    }


    .my-table td:nth-of-type(1):before {
        content: "Survey Name";
    }

    .my-table td:nth-of-type(2):before {
        content: "Survey Length";
    }

    .my-table td:nth-of-type(3):before {
        content: "Reward";
    }

    .my-table td:nth-of-type(4):before, .my-table, td:nth-of-type(4):after {
        content: "";
    }

        /***historyTable**/

        .historyTable td:nth-of-type(1):before {
            content: "Date";
        }

        .historyTable td:nth-of-type(2):before {
            content: "Survey #";
        }

        .historyTable td:nth-of-type(3):before {
            content: "Survey Name";
        }

        .historyTable td:nth-of-type(4):before {
            content: "Reward Amount";
        }

        .historyTable td:nth-of-type(5):before {
            content: "Status";
        }

        .historyTable td:nth-of-type(4):after {
            content: ":";
        }
     

        /***redeemTable**/

        .redeemTable td:nth-of-type(1):before {
            content: "Date";
        }

        .redeemTable td:nth-of-type(2):before {
            content: "Amount";
        }

        .redeemTable td:nth-of-type(3):before {
            content: "Reward";
        }

        .redeemTable td:nth-of-type(4):before {
            content: "Codes";
        }

    .reward_image_box {
            width: 32%;
            margin: .5%;
    }

}







@media (max-width: 992px) {
    .hometab-container .nav-tabs-left > li > a {
        height: 55px;
        padding: 0 5px;
        line-height: 50px;
    }

    .nav-tabs-left .tab-img-icon img {
        max-height: 21px;
    }
}

@media (max-width: 550px) {
    .hometab-container .nav-tabs-left > li {
        float: left;
        width: 100%;
    }

        .hometab-container .nav-tabs-left > li > a {
            margin-right: 0;
        }
}
@media (max-width: 640px) {
    .reward_image_box {
            width: 49%;
            margin: .5%;
    }
}
@media (max-width: 360px) {
    .reward_image_box {
            width: 100%;
            margin: .5% 0;
    }
}