#border {
    overflow: hidden;
    max-width: 500px;
    min-height: 100%;
    position: relative;
    font-family: verdana,arial;
    font-size: medium;
    padding-top: 10px;
}

div {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.dvsurvey {
    width: 63%;
    float: left;
    position: relative;
    overflow-y: hidden !important;
    clear: both;
    overflow: visible;
}

.dvprofile {
    width: 35%;
    float: left;
    position: relative;
    margin-left: 1.81818%;
}

.row {
    width: 100%; /* max-width: 1140px; */
    margin: 0 auto;
}

.span {
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    float: left;
}

.td {
    background: #0073A4;
    color: #FFF;
    font-size: 16px;
}

.table {
    margin-left: 0px;
    width: 100%;
}

#dvImageSurvesLoading {
    background: url(/Images/loadericon.gif) no-repeat center center;
    height: 90px;
    width: 90px;
    position: fixed;
    z-index: 1000;
    left: 45%;
    top: 45%;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 12pt;
    display: none;
}

.dvLoading {
    background: url(/Images/loading_black.gif) no-repeat center center;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1000;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 12pt;
    display: none;
}

.f-w span {
    font-size: 14px;
}
.f-w span:last-child {
    font-weight: 600;
}
.accordion {
    margin: 10px auto;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}

    .accordion label {
        padding: 2px 9px;
        position: relative;
        display: block;
        cursor: pointer;
        color: #444;
        line-height: 25px;
        background: #EFEFEF;
        border: 1px solid #CCC;
        text-align: left;
        font-size: 15px;
    }

    .accordion .article {
        background: rgb(255, 255, 255);
        overflow: hidden;
        height: 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }


        .accordion .article p {
            font-style: italic;
            color: #777;
            line-height: 23px;
            font-size: 14px;
            padding: 20px;
        }


    .accordion input:checked ~ .article.ac-small {
        height: auto;
    }

.accontent {
    height: auto !important;
}

.accordion-content-ide {
    height: 0;
}

.reward_image_box {
    float: left;
    width: 155px;
    height: 200px;
    text-align: center;
    color: black;
    margin: 1px;
    padding: 5px;
    font-weight: bold;
    background-color: #e6e6e6;
    border: 1px solid #e0ddd4;
    overflow: auto;
}

.reward_denom {
    text-decoration: none;
    font-size: small;
    font-weight: initial;
    float: none;
    padding: 2px;
    border: 1px solid #54626d;
    margin: 1%;
    background: #fff;
    color: #149df1;
    display: inline-block;
} 

.left-aside {
    padding: 10px;
    font-size: 12px;
    overflow: visible;
    border: solid 1px #CACACA;
    width: 90%;
    display: inline-block;
}

.even {
    background-color: none;
}

.odd {
    background-color: #eee;
}

.acc-lst {
    width: 400px;
    margin: 10px auto;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}

.div-header-rewards {
    text-align: left;
    color: white; 
    margin-top: 30px;
}

.hr-style {
    width: 91%;
    border: 0.5px solid lightgray;
    margin-top: 0px !important;
}

#RewardGridPage {
    /*padding:0px !important;*/
}

.rew-userinfo {
    color: #1E91CB;
}

.rew-heading {
    font-size: medium;
}

.rew-dv-border {
    border-bottom: 3px solid #EBEBEB;
    width: 100%;
    float: left;
}

.rew-disc {
    text-align: justify;
    color: #1E91CB;
    width: 100%;
    font-size: 10pt;
    margin-top: 20px;
}

    .rew-disc span {
        font-weight: bold;
    }

.rew-gird-dv {
    border: solid 1px #CACACA;
    text-align: left;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.rew-tr {
    color: White;
    background-color: #1E91CB;
    font-weight: bold;
    text-decoration: none;
    height: 22px;
}

.redeem-gird-dv {
    border: solid 1px #CACACA;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}