html {
    font-family: arial;
    font-size: small;
    font-size: 14px;
}

body {
    /*font-family: "Lato", "Arial", "Helvetica", "Lucida Grande", "Gill Sans","Verdana", sans-serif;*/
    font-family: arial;
    font-size: small;
    font-size: 14px;
    /*background-color: #f0f0f0;*/
}

.header {
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: normal;
    color: #ffffff;
    font-family: verdana;
    text-align: left;
    vertical-align: top;
    min-height: 50px;
}

.surveyname {
    background-color: #cccccc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    font-variant: small-caps;
    font-size: small;
    color: #cccccc;
    font-family: arial;
    letter-spacing: 2px;
    text-align: left;
    clear: both;
}

.dvsurveyqst {
    /*margin-top: 30px;*/
    margin-right: 10px;
    font-weight: normal;
    color: #605b57;
    text-align: left;
}

#dvSurveyQuestions {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin-top: 30px;
    /*background-color: #ffffff;*/
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
}

.questions {
    padding: 1em 2em 4em;
    width: 100%;
    float: left;
}

.questiontext {
    padding-top: 0px;
    font-weight: bold;
    color: #777777;
    font-size: 1.0em;
    line-height: 1.5em;
}
  @media (min-width: 760px)  {
   .questiontext {
      font-size: 20px;
    }
  }

.span {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ddlspan {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

[class*="col-"] {
    margin-bottom: 7px;
}

#dvImageLoading {
    background: url(/Images/loadericon.gif) no-repeat center center;
    height: 90px;
    width: 90px;
    position: fixed;
    z-index: 1000;
    left: 48%;
    top: 20%;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 12pt;
    align: center;
}

.birthdate {
    text-align: left;
}

    .birthdate div.form-group {
        display: inline-block;
    }

    .birthdate select.form-control {
        width: auto;
    }

.navigationarea {
    /*background-color: #cccccc;*/
    padding-bottom: 10px;
    clear: both;
}

.formaction {
    margin: 0;
    background-color: transparent;
    text-align: right;
    margin-right: 5px;
    margin-top: 6px;
}

.button {
    color: #fff;
    width: 88px;
    padding: 1%;
    background-color: #105EAC/*#9B6093*/ /*#7AB9DC*/;
    background-repeat: no-repeat;
    background-position: 90% center;
    font-weight: bold;
    /*text-transform: uppercase;*/
    padding: 8px 16px;
    line-height: 1.33;
    cursor: pointer;
    font-size: 13px;
     margin-right: 35%;

}

.poweredby {
    float: left;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    font-variant: small-caps;
    font-size: x-small;
    /*color: #ffffff;*/
    /*font-family: verdana;*/
    letter-spacing: 1px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

.bottom {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.dvemail_msg {
    width: 80%;
    text-align: left;
}

.dvbtn {
    width: 20%;
}

@media (max-width:760px) {
    .text-left {
        text-align: center;
    }
}