/* Space out content a bit */
body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, 'sans serif';
    font-size: 13px;
}

.body-bg {
    background: url(../images/bg.jpg) repeat-x;
    background-size: contain;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.main-wraper.col-md-7 m-l-20 {
    background: #FFF;
    border: 4px solid #E8E8E8;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    /*border-bottom: 1px solid #e5e5e5;*/
}

    .jumbotron .btn {
        padding: 14px 24px;
        font-size: 21px;
    }

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

    .marketing p + h4 {
        margin-top: 28px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.navbar-brand {
    display: none;
}

    .navbar-brand > img {
        width: 70%;
    }

.brand.logo {
    margin-top: 25px;
}

.login-form label {
    font-weight: normal;
}

.login-form .form-control {
    border-radius: 0px;
    height: 28px;
    font-size: 13px;
}

.container .jumbotron.banner {
    text-align: right;
    padding: 0px;
    /*background: #FFF;*/
    margin: 0px;
}

.jumbotron img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rewards-cont {
    width: 100%;
    padding: 0px;
    text-align: center;
    display: inline-block;
    margin: 0;
}



.login-user {
    font-size: 25px;
    display: none;
}

.submit-btn {
    background: #C5C5C5;
    margin-top: 41px;
    border: 1px solid #A3A3A3;
    padding: 2px 12px;
    color: #FFF;
}

.main-conatainer, .privacy-cont {
    margin-top: 15px;
}

.privacy-cont {
    margin-bottom: 15px;
}

.main-conatainer h2 {
    margin-top: 0px;
}

.registration-form .control-label {
    text-align: left;
    font-weight: normal;
}

.reg-btn {
    background: url(../images/join.jpg) no-repeat;
    height: 48px;
    width: 165px;
    border: 0px;
}

    .reg-btn:hover, .reg-btn:focus {
        background: url(../images/join.jpg) no-repeat;
    }

.registration-form h2.text-primary {
    color: #005280;
}

.footer, .footer a {
    color: #b2b2b2;
}

.footer {
    padding-bottom: 20px;
}

.login-user a:hover, .login-user a:focus {
    text-decoration: none;
}

.navbar-default.nav-menubar {
    background: #005D7B;
    margin: 25px -20px 15px -20px;
    border-radius: 0px;
    border: 0px;
}

    .navbar-default.nav-menubar .navbar-collapse {
        padding: 0px;
    }

    .navbar-default.nav-menubar ul li a {
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px 59px;
    }

.view-servy-btn {
    color: #EE1702;
    margin-top: 50px;
}

.view-servy-btn, .view-download-btn {
    float: left;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 8px;
}

    .view-servy-btn:hover, .view-servy-btn:focus {
        color: #EE1702;
    }

    .view-servy-btn:hover, .view-servy-btn:focus, .view-download-btn:hover, .view-download-btn:focus {
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2),inset 0px 0px 10px rgba(0,0,0,0.5);
    }

    .view-download-btn:hover, .view-download-btn:focus {
        color: #78B728;
    }

.view-download-btn {
    color: #78B728;
    margin-top: 20px;
}

.navbar-default.nav-menubar ul li.active a, .navbar-default.nav-menubar ul li a:hover {
    background: #37A4E2;
    color: #FFF;
}

.content-wraper {
    margin-top: 35px;
    float: left;
}

.middle-content h5 {
    color: #007EA6;
    font-weight: bold;
}

.middle-content strong {
    color: #7F7F7F;
}

.left-aside h5 {
    background: #DD3333;
}

.right-aside h5 {
    background: #3290C6;
}

.left-aside h5, .right-aside h5 {
    padding: 5px;
    font-weight: bold;
    color: #FFF;
    box-shadow: inset 0px -13px 0px rgba(0,0,0,0.2);
    margin-bottom: 0px;
}

.left-aside ul, .right-aside ul {
    border: 1px solid #E1E1E1;
    padding: 15px;
    display: inline-block;
    width: 100%;
}

    .left-aside ul li {
        list-style: none;
        float: left;
        color: #6195BE;
        padding-left: 10px;
    }

        .left-aside ul li a {
            display: block;
            text-decoration: underline;
        }

        .left-aside ul li:before {
            content: "\e092";
            font-family: 'Glyphicons Halflings';
            position: absolute;
            left: 24px;
        }

.custRadio {
    border: 1px solid rgba(0,0,0,0.5);
    float: left;
    margin-right: 5px;
    padding: 0px 2px;
    height: 15px;
    width: 15px;
}

    .custRadio i {
        font-size: 10px;
        line-height: 10px;
        display: none;
        position: relative;
        top: -3px;
    }

.right-aside ul {
    padding: 5px;
}

.right-aside li {
    list-style: none;
    float: left;
    width: 100%;
}

    .right-aside li input {
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 22px;
    }

.Lout-btn {
    margin-top: 30px;
    float: right;
    font-weight: bold;
}

.nav > li.lOut-link {
    display: none;
}
/* Customize container */
@media (max-width: 640px) {
    .login-user {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .login-form {
        position: absolute;
        width: 90%;
        z-index: 99;
        background: #F7F7F7;
        padding: 20px;
        left: 0px;
        right: 0px;
        margin: auto;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
        display: none;
    }

    .submit-btn {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .navbar-default.nav-menubar {
        background: inherit;
    }

    nav.navbar.nav-menubar {
        margin-top: 15px;
    }

    .navbar-brand, .nav > li.lOut-link {
        display: block;
    }

    .nav.navbar-nav {
        background: #005D7B;
    }

    .header-top {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-wraper.container {
        max-width: 940px;
        background: url(/images/content_bg.png) repeat-y;
    }

    .contentl {
        width: 380px;
        float: left;
        margin-left: 50px;
        margin-top: 15px;
    }

    .reg-content {
        margin-top: 15px;
    }
}

.div-title {
    display: flex;
    padding-left: 24px;
    font-size: 17px;
    color: #1E91CB;
    padding-top: 10px;
}

.f-prop {
    margin: 3px;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 15px;
}

.p-10 {
    padding: 10px;
}

.m-t-10 {
    float: left;
    margin-top: 10px;
}

.hr-style {
    margin-left: 20px;
    width: 91%;
    border: 0.5px solid lightgray;
    margin-top: 0px !important;
}

.p-20 {
    display: flex;
    padding: 20px;
}

.ucTwitter {
    width: 100%;
    padding-right: 10px;
}

.text-box {
    display: flex;
    text-align: left;
    font-weight: normal;
    margin-left: 46px;
}