

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: url(/images/ps_bg.jpg);
    background-color: #777777;*/
    /*background: #fdf5f5;*/
    background-repeat: repeat-x;
    background-position: center -56px;
    position: relative;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

/* .option-label{ */
/* display: flex; */
/* flex-direction:row; */
/* align-items: flex-start; */
/* width: 100%; */
/* } */

.content-show {
    display: block !important;
}

.content-hide {
    display: none;
}

.center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

#dvImageLoading {
    background: url(/Images/loading.gif) no-repeat center center;
    height: 90px;
    width: 90px;
    position: fixed;
    z-index: 1000;
    left: 45%;
    top: 45%;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 12pt;
    align: center;
    display: none;
}

.grid_column {
    float: left;
    min-height: 18px;
    cursor: pointer;
    text-align: center;
    margin-left: 8px;
    word-break: break-word;
    /* width: 100%;*/
}

/*.grid_radio
{
    margin: auto;
    width: 14px;
    height: 14px;
    border: 1px solid #CCC;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #F7F7F7;
    background-image: url(/images/radio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6px 6px;
}*/

#tmpTable {
    /*padding: 1em 2em 6em;*/
    padding: 15px 30px;
    min-height: 150px;
}



.question {
    padding-top: 0px;
    /*font-size: 15px; /*font-family: Arial, Sans-Serif;*/
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #777777;
    font-size: 1.1em;
    line-height: 1.5em;
}

.button {
    color: #fff;
    width: 23%;
    padding: 1%;
    background-color: #9B6093 /*#7AB9DC*/;
    background-repeat: no-repeat;
    background-position: 90% center;
    font-weight: bold;
    /*text-transform: uppercase;*/
    padding: 10px 16px;
    line-height: 1.33;
    cursor: pointer;
    float: right;
}

.selectdropdown {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.selectdropdownH {
    max-width: 100%;
    display: block;
    /* width: 100%; */
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.rzslider .rz-pointer {
    background-color: #9B6093 !important;
}

.max-select-dropdown {
    max-width: 380px;
}

#tmpTable {
    max-height: 350px;
    overflow: auto;
}

.copyright-img {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.copyright-block {
    display: inline-block;
    vertical-align: middle;
    float: left;
}





@media (min-width:760px) {
    .option-label {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .questionback {
        /*background-color: #d0d7e0*/;
        font-family: 'Roboto', sans-serif;
        /* color: #777777;
    */ padding: 5px;
        border-radius: 4px;
        font-size: 16px;
        padding-right: 10px;
        padding-left: 0px;
    }

    #surveyContainer {
        margin: 9px;
        min-height: 410px;
        background-attachment: scroll;
        background-color: transparent;
        background-repeat: repeat-y;
        background-position: center bottom;
        margin-top: 24px;
    }

    #surveyQuestionListContainer {
        float: left;
        width: 100%;
    }

    .light-box {
        margin: 40px 0;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }

    .header {
        padding: 1em 0em;
    }

    #dvSurveyQuestions {
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    #surveyQuestion {
        box-shadow: none;
        /*border: 10px solid #dcdcdc;
        background: #ececec;*/
        min-height: 290px;
        box-sizing: border-box;
        /*padding: 2em 2em 2em;*/
    }

    h3.surveyHeader {
        background: none;
        height: 3px;
        width: 916px;
    }

    #masthead {
        width: 850px;
        height: 99px;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .left {
        width: 45%;
        float: left;
        margin: 2px;
    }

    .right {
        width: 45%;
        float: left;
        margin-left: 15px;
    }

    .dvMultiselect {
        margin-top: 50px;
    }

    .mobile {
        display: inline;
    }

    .web {
        display: none;
    }

    .grid_column {
        float: left;
        min-height: 18px;
        cursor: pointer;
        text-align: center;
        margin-left: 8px;
        word-break: break-word;
        color: #333;
    }

    .grid_radio {
        margin: auto;
        width: 18px;
        height: 18px;
        border: 1px solid #CCC;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        background-color: white /*#F7F7F7*/;
        background-image: url(/images/radio.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6px 6px;
    }

    .single_radio {
        display: inline;
        padding-left: 8px;
        font-size: 1.25em;
        color: #333;
        flex: 1;
        word-wrap: break-word;
        white-space: normal;
        text-align: left;
    }

    .grid_checkbox {
        margin: auto;
        width: 16px;
        height: 16px;
        border: 1px solid #CCC;
        background-color: white /*#F7F7F7*/;
        background-image: url(/images/checkbox.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 12px;
        /*float:left;*/
    }

    .grid_span_holder {
        display: none;
        width: 100%;
        height: 100%;
    }

    .grid_span {
        padding: 8px 4px;
        display: table-cell;
        line-height: normal;
        vertical-align: middle;
    }

    .grid_floating_header {
        background-color: #fff;
        position: relative;
    }

    .grid_question {
        min-height: 18px;
        float: left;
    }

    .input_on {
        background-color: green !important;
        border-color: #0d5b94 !important;
        color: #FFFFFF !important;
    }


    .grid_question_opt {
        min-height: 18px;
        float: left;
        word-break: break-word;
        width: 35%;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        color: #777777;
    }

    .container {
        width: 768px;
        min-height: 99%;
        background: #FFF;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        position: relative;
    }

    .grid_header {
        margin: 10px 36px;
        min-height: 18px;
        float: left;
    }

    .question_martix {
        /*margin: 0px 28px 10px 28px;*/
        padding: 4px;
        overflow: auto;
        float: left;
        width: 100%;
        font-size: 16px;
    }

    .dvspan {
        width: 86%;
    }

    .pagecontextborder {
        border-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        min-height: 600px;
    }

    .dvChkbox {
        width: 100%;
        float: left;
        padding-bottom: 4px;
    }

        .dvChkbox :hover {
            color: #cecece;
        }

        .dvChkbox.dvstyle {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid #ccc;
            margin: 5px;
            cursor: pointer;
            transition: border 0.3s;
        }

    .txtbox {
        background-image: url(/images/textbox.jpg);
        background-repeat: repeat-x;
        border: 1px solid #d1c7ac;
        width: 230px;
        color: #333333;
        padding: 3px;
        margin-right: 4px;
        margin-bottom: 8px;
        float: left;
    }

    .matrix_option {
        min-width: 5%;
    }

    .dvstyle {
        position: relative;
        cursor: pointer;
        padding: .5em .5em;
        margin-bottom: 0.78125em;
        margin-right: 0.78125em;
        line-height: normal;
        min-width: 120px;
        max-width: 100%;
        border: 1px solid #ccc;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        background: #F3F3F3;
        color: #333;
    }

    .grid_matrix_checkbox {
        margin: auto;
        width: 16px;
        height: 16px;
        border: 1px solid #CCC;
        background-color: #F7F7F7;
        background-image: url(/images/checkbox.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 12px;
    }

    .dvFooter {
        width: 100%;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .dvLanguage {
        width: 50%;
        float: left;
    }

    .radioCheck {
        width: 20px;
        height: 18px;
    }

    .header {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: left;
        margin-top: 14px;
        margin-bottom: 7px;
        padding: 0px;
    }
}

@media (max-width:1000px) {
    #tmpTable {
        max-height: inherit;
        overflow: inherit;
    }

    .questionback {
        /*background-color: #d0d7e0*/;
        font-family: 'Roboto', sans-serif;
        /* color: #777777;
    */ padding: 5px;
        border-radius: 4px;
        font-size: 16px;
        padding-bottom: 20px;
    }

    #surveyContainer {
        margin: 9px;
        min-height: 410px;
        background-attachment: scroll;
        background-color: transparent;
        background-repeat: repeat-y;
        background-position: center bottom;
        margin-top: 24px;
    }

    #surveyQuestionListContainer {
        float: left;
        width: 100%;
    }

    .light-box {
        margin: 40px 0;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }

    #dvSurveyQuestions {
        width: 100%;
        max-width: 981px;
        margin-left: auto;
        margin-right: auto;
    }

    #surveyQuestion {
        /*box-shadow: none;
        border: 10px solid #dcdcdc;
        background: #ececec;
        min-height: 410px;*/
        padding: 1.5em;
    }

    .header {
        padding: 1em 2em;
    }


    h3.surveyHeader {
        background: none;
        height: 3px; /*width: 916px;*/
    }

    #masthead {
        height: 99px;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .grid_warning {
        text-align: center;
        width: auto;
    }

    .grid_floating_header {
        display: none;
    }

    .grid_question {
        width: 100% !important;
        margin: 6px 0 10px 0;
        float: none;
    }

    .grid_column {
        width: 136px !important;
        margin: 8px auto !important;
        background-color: #428BCA;
        border-radius: 6px;
        box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.15) inset;
        float: none;
        width: 136px;
    }

    .grid_span {
        padding: 8px 4px;
        display: table-cell;
        line-height: normal;
        vertical-align: middle;
        color: white;
    }

    .grid_radio {
        display: none;
    }

    .single_radio {
        display: none;
    }

    .grid_checkbox {
        display: none;
    }

    .grid_checkbox {
        display: none !important;
    }

    .grid_span_holder {
        display: table;
        margin: 0 auto;
    }

    .radio_grid_input {
        display: block;
        margin: auto;
        width: 102px !important;
    }

    .grid_question_opt {
        margin: 6px 0 10px 0;
        float: none;
        word-break: break-word;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #777777;
    }

    .dvMultiselect {
        margin-top: 70px;
    }

    .non_mobile_input {
        display: none;
    }

    .input_onm {
        background-color: green !important;
        border-color: #0d5b94 !important;
        color: #FFFFFF !important;
    }

    .dvspan {
        width: 86%;
    }

    .dvChkbox {
        width: 100%;
        float: left;
    }

    .txtbox {
        background-image: url(/images/textbox.jpg);
        background-repeat: repeat-x;
        border: 1px solid #d1c7ac;
        width: 230px;
        color: #333333;
        padding: 3px;
        margin-right: 4px;
        margin-bottom: 8px;
        float: left;
    }

    .validationspqs {
        display: none;
    }

    .dvLanguage, .copyright-block, .copyright-img {
        width: 100%;
        float: left;
    }

    .pre-question-list .body1 {
        min-height: 300px;
    }
}

.is_showpage_content {
    display: inline-block !important;
}
