
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlineSurveys</title>
    <link type="text/css" href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/custom.css" rel="stylesheet" />
    @*<script data-main="/Scripts/services/config" src="/Scripts/require.js"></script>*@

    <link ng-href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #divmobileonly {
            max-width: 768px;
            border: 1px solid #cecece;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <center>
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
        }
        <div id="container" ng-cloak>
            <div id="header">
                <div id="topborder"></div>
            </div>
            <!--TOPBORDER-->
            @*<div id="dvMenu" ng-controller="menuController">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a>
                                    <img id="logo" class="logo" src="http://www.surveydownline.com/images/logo.gif" style="border: 0;" />
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>*@
            <div class="container1" id="body">
                @RenderBody()
            </div>
        </div>
        <div class="preloader" loader>
            <div class="loader"></div>
        </div>
    </center>
    <script>document.write("<script  type='text/javascript' src='/Scripts/require.js'  data-main='/Scripts/services/config.js?v=" + 2 + "' ><\/script>");</script>
</body>
</html>
