
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SurveyDownline</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @*<script data-main="/Scripts/services/rgconfig" src="/Scripts/require.js"></script>*@
</head>
<body>
    <center>
        <div class="container1" id="body">
            @RenderBody()
        </div>
    </center>
    <script>document.write("<script  type='text/javascript' src='/Scripts/require.js'  data-main='/Scripts/services/rgconfig.js?v=" + 2 + "' ><\/script>");</script>
</body>
</html>

