html, body
{
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
body
{
    /*background: #EFEFEF;*/
    color: #FFF;
    background: url(/Images/background-4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'PT Sans Narrow' , sans-serif;
}

@media (min-width:820px)
{
    .container_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
        margin: 0 auto;
    }
    .dvcontainer_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
    }
    .container_12:after
    {
        clear: both;
    }

    #masthead
    {
        max-width: 850px;
        height: 85px;
    }

    #logo
    {
        width: 180px;
        height: 90px;
        background: transparent url(/images/on_logocopy.PNG) no-repeat;
        display: block;
        float: left;
        background: rgba(255, 255, 255, 0.7);
        height: 90px;
        padding-top: 8px;
        padding: 7px; /* margin-top: 5px; */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .cp-bg
    {
        /* background: url(/images/background-3.jpg) no-repeat top center;*/
        position: fixed;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        z-index: -1;
        height: 100%;
        background-size: 100% auto;
    }
    .dvoverly
    {
        margin: 0px;
        padding: 0px;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url( '/images/04.png' );
        z-index: -1;
    }
    #dvSurvey
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    h3.surveyHeader
    {
        background: none;
        height: 3px;
        width: 916px;
    }
    #surveyQuestionContainer
    {
        max-width: 79%;
        float: left;
        margin: 0 auto;
    }

    .check
    {
        float: left;
        margin: 0 10px;
    }
    .row
    {
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .benefits
    {
        font-size: 18px;
        text-align: left;
        margin-left: 50px;
    }
    .img-responsive
    {
        width: 22px;
    }
    .footer
    {
        background: #C9DA29;
        width: 100%;
        float: left;
        height: 30px;
    }
    .container
    {
        width: 970px;
    }
    .links
    {
        margin-top: 10px;
    }
    .list-inline
    {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
    }
    .container_12:before, .row:before
    {
        display: table;
        content: " ";
    }
    #masthead h1
    {
        text-indent: -10000px;
        margin: 5px 0 0;
    }
    .dvSocial
    {
        min-width: 30%;
        margin: 0 auto;
    }
    .dvgap
    {
    }
    .dvrow
    {
        margin: 55px 0 0 0;
    }
    .help-inline
    {
        display: inline-block;
        vertical-align: middle; /*padding-left: 5px;*/
        min-width: 27%;
        text-align: left; /* font-family: Consolas, 'Lucida Console' , monospace;*/
        font-size: medium;
    }
    #btnSave
    {
        color: #fff;
        width: 23%;
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }


    #imgFb
    {
        /*width: 230px;*/
        height: 45px;
    }
    #imgGoggle
    {
        float: left; /*width: 230px;*/
        height: 45px;
        margin: 0px;
    }
    #imgLinkedIn
    {
        /*width: 230px;*/
        height: 45px;
        cursor: pointer;
    }
    .help-inlineStep2
    {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        min-width: 32%;
        text-align: left;
        font-size: 15px;
    }
    .span
    {
        padding: 2px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 37%;
        height: 30px;
        margin-bottom: 7px;
    }
    .spanddl
    {
        width: 41%;
        margin-bottom: 7px;
        font-size: 12px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #imgButton
    {
        color: #fff;
        width: 23%;
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }
    .ddldob
    {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #dvMemberDetails
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .ddlmonth
    {
        width: 17%;
    }
    .ddlday
    {
        width: 10%;
    }
    .ddlyear
    {
        margin-bottom: 7px;
        width: 12%;
    }
    #dvRepContainer
    {
        max-width: 85%;
        margin: 0 auto;
    }
    .pmessage
    {
        font-size: 1.4em;
        line-height: 1.7em;
        padding: 10px 10px 0 10px;
        color: White;
    }
    #btnYesSuccess, #btnNoSuccess
    {
        color: #fff; /*width: 23%;*/
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
        float: left;
    }
    #dvRep
    {
        max-width: 850px;
        height: 460px;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .btnno
    {
        margin-left: 14px;
    }
    #dvRfep
    {
        max-width: 850px;
        height: 460px;
        margin: 4em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }

}
@media (min-width:561px) and (max-width:820px)
{
    .container_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
        margin: 0 auto; /*background: #EFEFEF; 		max-width: 78%;*/
    }
    .dvcontainer_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
    }
    .container_12:after
    {
        clear: both;
    }

    #masthead
    {
        max-width: 850px;
        height: 85px;
    }

    #logo
    {
        width: 180px;
        height: 90px;
        background: transparent url(/images/on_logocopy.PNG) no-repeat;
        display: block;
        float: left; /* margin-left: 30px !important; */
        background: rgba(255, 255, 255, 0.7);
        height: 90px;
        padding-top: 8px;
        padding: 7px; /* margin-top: 5px; */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .cp-bg
    {
        /* background: url(/images/background-3.jpg) no-repeat top center;*/
        position: fixed;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        z-index: -1;
        height: 100%;
        background-size: 100% 100%;
    }
    .dvoverly
    {
        margin: 0px;
        padding: 0px;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url( '/images/04.png' );
        z-index: -1;
    }
    #dvSurvey
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    h3.surveyHeader
    {
        background: none;
        height: 3px;
        width: 916px;
    }
    #surveyQuestionContainer
    {
        max-width: 79%;
        float: left;
        margin: 0 auto;
    }

    .check
    {
        float: left;
        margin: 0 10px;
    }
    .row
    {
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .benefits
    {
        font-size: 18px;
        text-align: left;
        margin-left: 50px;
    }
    .img-responsive
    {
        width: 22px;
    }
    .footer
    {
        background: #C9DA29;
        width: 100%;
        float: left;
        height: 30px;
    }
    .container
    {
        width: 970px;
    }
    .links
    {
        margin-top: 10px;
    }
    .list-inline
    {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
    }
    .container_12:before, .row:before
    {
        display: table;
        content: " ";
    }
    #masthead h1
    {
        text-indent: -10000px;
        margin: 5px 0 0;
    }
    .dvSocial
    {
        min-width: 100%;
        margin: 0 auto;
    }
    .dvgap
    {
    }
    .dvrow
    {
        margin: 55px 0 0 0;
    }
    .help-inline
    {
        display: inline-block;
        vertical-align: middle; /*padding-left: 5px;*/
        min-width: 27%;
        text-align: left; /*font-family: Consolas, 'Lucida Console' , monospace;*/
        font-size: medium;
    }
    #btnSave
    {
        color: #fff;
        width: 23%;
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }


    #imgFb
    {
        /*width: 230px;*/
        height: 45px;
    }
    #imgGoggle
    {
        /*width: 230px;*/
        height: 45px;
        margin: 0px;
    }
    #imgLinkedIn
    {
        /*width: 230px;*/
        height: 45px;
        cursor: pointer;
    }
    .help-inlineStep2
    {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        min-width: 32%;
        text-align: left;
        font-size: 15px;
    }
    .span
    {
        padding: 2px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 37%;
        height: 30px;
        margin-bottom: 7px;
    }
    .spanddl
    {
        width: 41%;
        margin-bottom: 7px;
        font-size: 12px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #imgButton
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
        font-size: 18px;
        font-weight: bold;
        color: #52085E;
        text-decoration: none;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        cursor: pointer;
    }
    .ddldob
    {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #dvMemberDetails
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .ddlmonth
    {
        width: 17%;
    }
    .ddlday
    {
        width: 10%;
    }
    .ddlyear
    {
        margin-bottom: 7px;
        width: 12%;
    }
    #dvRepContainer
    {
        max-width: 85%;
        margin: 0 auto;
    }
    .pmessage
    {
        font-size: 1.4em;
        line-height: 1.7em;
        padding: 10px 10px 0 10px;
        color: White;
    }
    #btnYesSuccess, #btnNoSuccess
    {
        color: #fff; /*width: 23%;*/
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
        float: left;
    }
    #dvRep
    {
        max-width: 850px;
        height: 460px;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .btnno
    {
        margin-left: 14px;
    }
    #dvRfep
    {
        max-width: 850px;
        height: 460px;
        margin: 4em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }

}
@media (max-width:560px)
{
    .container_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
        margin: 0 auto;
    }
    .container_12:after
    {
        clear: both;
    }

    #masthead
    {
        max-width: 850px;
        height: 85px;
    }

    #logo
    {
        width: 180px;
        height: 90px;
        background: transparent url(/images/on_logocopy.PNG) no-repeat;
        display: block;
        float: left;
        margin-left: 20px !important;
        background: rgba(255, 255, 255, 0.7);
        height: 90px;
        padding-top: 8px;
        padding: 7px; /* margin-top: 5px; */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .cp-bg
    {
        /* background: url(/images/background-3.jpg) no-repeat top center;*/
        position: fixed;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        z-index: -1;
        height: 100%;
        background-size: 100% 100%;
    }
    .dvoverly
    {
        margin: 0px;
        padding: 0px;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url( '/images/04.png' );
        z-index: -1;
    }
    #dvSurvey
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    #surveyQuestionContainer
    {
        float: left;
        margin: 0 auto;
    }

    .check
    {
        float: left;
        margin: 0 10px;
    }
    .row
    {
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .benefits
    {
        font-size: 18px;
        text-align: left;
        margin-left: 50px;
    }
    .img-responsive
    {
        width: 22px;
    }
    .footer
    {
        background: #C9DA29;
        width: 100%;
        float: left;
        height: 30px;
    }
    .container
    {
        width: 970px;
    }
    .links
    {
        margin-top: 10px;
    }
    .list-inline
    {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
    }
    .container_12:before, .row:before
    {
        display: table;
        content: " ";
    }
    #masthead h1
    {
        text-indent: -10000px;
        margin: 5px 0 0;
    }
    .dvSocial
    {
        width: 100%;
        margin: 0 auto;
        float: left;
    }
    .dvgap
    {
    }
    .dvrow
    {
        margin: 135px 0 0 0;
    }
    .help-inline
    {
        display: inline-block;
        vertical-align: middle; /*padding-left: 5px;*/
        min-width: 27%;
        text-align: left;
        float: left; /*font-family: Consolas, 'Lucida Console' , monospace;*/
        font-size: medium;
        margin: 4px;
        padding: 0px;
    }
    .asocial
    {
        /* float: left;*/
    }
    #btnSave
    {
        color: #fff;
        width: 23%;
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }
    .dvgap
    {
        margin-bottom: 10px;
    }

    #imgFb
    {
        /*width: 230px;*/
        height: 45px;
    }
    #imgGoggle
    {
        /*float: left;*/ /*width: 230px;*/
        height: 45px;
        margin: 0px;
    }
    #imgLinkedIn
    {
        /*width: 230px;*/
        height: 45px;
        cursor: pointer;
    }
    .errors1
    {
        float: left;
        margin-top: 5px;
    }
    .error
    {
        margin-top: 5px;
    }

    .help-inlineStep2
    {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        min-width: 32%;
        text-align: left;
        font-size: 14px;
        float: left;
        margin: 4px;
        padding: 0px;
        font-size: 15px;
    }
    .span
    {
        padding: 4px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 91%;
        height: 30px;
    }
    .spanddl
    {
        width: 100%;
        margin-bottom: 7px;
        font-size: 12px;
        padding: 7px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #imgButton
    {
        color: #fff;
        width: 23%;
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }
    .ddldob
    {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555; /* background-color: #fff; */ /* background-image: none; */
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #dvMemberDetails
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    #Span2
    {
        min-width: 100%;
    }
    .ddlmonth
    {
        width: 40%;
    }
    .ddlday
    {
        width: 22%;
    }
    .ddlyear
    {
        margin-bottom: 7px;
        width: 29%;
    }
    #dvRep
    {
        max-width: 850px;
        height: auto;
        margin: 1em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    #dvRepContainer
    {
        margin: 0 auto;
    }
    .pmessage
    {
        font-size: 1.2em;
        line-height: 1.7em;
        padding: 10px 10px 0 10px;
        color: White;
    }
    #btnYesSuccess, #btnNoSuccess
    {
        color: #fff; /*width: 23%;*/
        padding: 1%;
        background-color: #7f2675;
        background-repeat: no-repeat;
        background-position: 90% center;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 16px;
        line-height: 1.33;
        cursor: pointer;
    }
    .dvbtngap
    {
        margin-bottom: 15px;
    }
    #dvRfep
    {
        margin: 4em;
        background: rgba(0, 0, 0,0.7);
        opacity: 0.999;
        border-radius: 5px;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .dvcontainer_12
    {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
    }
}
