@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/Scripts/angular-cookies.js" type="text/javascript"></script>
    <script src="/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/pages/customServices.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/rzslider.min.css" />
    <link href="~/Content/prequestion.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/psquestion.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="~/Content/pp/Advld.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    
</head>
<div id="dvSurveyQuestions">
    <div class="header ng-scope">
        <img src="https://www.opinionbar.com/Images/opinionbar_logo.png">
    </div>
    <div id="surveyQuestion" ng-show="isShowQuestions">
        <div class="pre-question-panel" style="margin-top: 10px">
            <div id="dvQuestions" class="pre-question-list" style="font-size:13px;">
                <div class="body1">
                    <div id="tmpTable1">
                        <p id="lblQuestiontext"  style="padding-top: 0px;font-weight: 400;font-family: 'Roboto', sans-serif;color: #777777;font-size: 1.17em;line-height: 1.5em;">
                            Thank you for participating today. You seem to be quite far from your home address currently. As part of our quality control measures, we only allow participation in surveys when members are near their home address. If you are on vacation, please enjoy it and
                            participate in surveys when you return home!<br><br>
                            If you recently moved, please share your new address below and we will update our records:
                        </p>
                        <form style="display: flex;align-items: center;
                        /* height: 100vh; */
                        /* padding-top: 73px; */
                        flex-direction:column-reverse;
                        align-content:stretch;
                        padding-left: -20px;
                        padding-right:104px;">
                            <div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">Address1:</label>
                                    <input type="text" id="text1">
                                </div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">Address2:</label>
                                    <input type="text" id="text1">
                                </div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">Country:</label>
                                    <select id="CountryId1" required="" name="country">
                                        <option value="" class="ng-binding" selected="selected">
                                            Select
                                        </option>
                                        <option label="AFGHANISTAN" value="number:492">AFGHANISTAN</option>
                                        <option label="ALAND ISLANDS" value="number:493">ALAND ISLANDS</option>
                                        <option label="ALBANIA" value="number:494">ALBANIA</option>
                                        <option label="Alderney (Guernsey)" value="number:3501">Alderney (Guernsey)</option>
                                        <option label="ALGERIA" value="number:495">ALGERIA</option>
                                        <option label="AMERICAN SAMOA" value="number:496">AMERICAN SAMOA</option>
                                        <option label="ANDORRA" value="number:497">ANDORRA</option>
                                        <option label="ANGOLA" value="number:498">ANGOLA</option>
                                        <option label="ANGUILLA" value="number:499">ANGUILLA</option>
                                        <option label="ANTARCTICA" value="number:500">ANTARCTICA</option>
                                        <option label="ANTIGUA AND BARBUDA" value="number:501">ANTIGUA AND BARBUDA</option>
                                        <option label="ARGENTINA" value="number:502">ARGENTINA</option>
                                        <option label="ARMENIA" value="number:503">ARMENIA</option>
                                        <option label="ARUBA" value="number:504">ARUBA</option>
                                        <option label="AUSTRALIA" value="number:15">AUSTRALIA</option>
                                        <option label="AUSTRIA" value="number:505">AUSTRIA</option>
                                        <option label="Ayre (Isle of Man)" value="number:3502">Ayre (Isle of Man)</option>
                                        <option label="AZERBAIJAN" value="number:506">AZERBAIJAN</option>
                                        <option label="BAHAMAS" value="number:507">BAHAMAS</option>
                                        <option label="BAHRAIN" value="number:508">BAHRAIN</option>
                                        <option label="BANGLADESH" value="number:509">BANGLADESH</option>
                                        <option label="BARBADOS" value="number:510">BARBADOS</option>
                                        <option label="BELARUS" value="number:511">BELARUS</option>
                                        <option label="BELGIUM" value="number:512">BELGIUM</option>
                                        <option label="BELIZE" value="number:513">BELIZE</option>
                                        <option label="BENIN" value="number:514">BENIN</option>
                                        <option label="BERMUDA" value="number:515">BERMUDA</option>
                                        <option label="BHUTAN" value="number:516">BHUTAN</option>
                                        <option label="BOLIVIA, PLURINATIONAL STATE OF" value="number:517">BOLIVIA, PLURINATIONAL STATE OF</option>
                                        <option label="BONAIRE, SINT EUSTATIUS AND SABA" value="number:518">BONAIRE, SINT EUSTATIUS AND SABA</option>
                                        <option label="BOSNIA AND HERZEGOVINA" value="number:519">BOSNIA AND HERZEGOVINA</option>
                                        <option label="BOTSWANA" value="number:520">BOTSWANA</option>
                                        <option label="BOUVET ISLAND" value="number:521">BOUVET ISLAND</option>
                                        <option label="BRAZIL" value="number:522">BRAZIL</option>
                                        <option label="BRITISH INDIAN OCEAN TERRITORY" value="number:523">BRITISH INDIAN OCEAN TERRITORY</option>
                                        <option label="BRUNEI DARUSSALAM" value="number:524">BRUNEI DARUSSALAM</option>
                                        <option label="BULGARIA" value="number:525">BULGARIA</option>
                                        <option label="BURKINA FASO" value="number:526">BURKINA FASO</option>
                                        <option label="BURUNDI" value="number:527">BURUNDI</option>
                                        <option label="CAMBODIA" value="number:528">CAMBODIA</option>
                                        <option label="CAMEROON" value="number:529">CAMEROON</option>
                                        <option label="CANADA" value="number:38">CANADA</option>
                                        <option label="CAPE VERDE" value="number:530">CAPE VERDE</option>
                                        <option label="CAYMAN ISLANDS" value="number:531">CAYMAN ISLANDS</option>
                                        <option label="CENTRAL AFRICAN REPUBLIC" value="number:532">CENTRAL AFRICAN REPUBLIC</option>
                                        <option label="CHAD" value="number:533">CHAD</option>
                                        <option label="CHILE" value="number:534">CHILE</option>
                                        <option label="CHINA" value="number:535">CHINA</option>
                                        <option label="CHRISTMAS ISLAND" value="number:536">CHRISTMAS ISLAND</option>
                                        <option label="COCOS (KEELING) ISLANDS" value="number:537">COCOS (KEELING) ISLANDS</option>
                                        <option label="COLOMBIA" value="number:538">COLOMBIA</option>
                                        <option label="COMOROS" value="number:539">COMOROS</option>
                                        <option label="CONGO" value="number:540">CONGO</option>
                                        <option label="CONGO, THE DEMOCRATIC REPUBLIC OF THE" value="number:541">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                                        <option label="COOK ISLANDS" value="number:542">COOK ISLANDS</option>
                                        <option label="COSTA RICA" value="number:543">COSTA RICA</option>
                                        <option label="COTE D'IVOIRE" value="number:544">COTE D'IVOIRE</option>
                                        <option label="CROATIA" value="number:545">CROATIA</option>
                                        <option label="CUBA" value="number:546">CUBA</option>
                                        <option label="CURAÇAO" value="number:547">CURAÇAO</option>
                                        <option label="CYPRUS" value="number:548">CYPRUS</option>
                                        <option label="CZECH REPUBLIC" value="number:549">CZECH REPUBLIC</option>
                                        <option label="DENMARK" value="number:550">DENMARK</option>
                                        <option label="DJIBOUTI" value="number:551">DJIBOUTI</option>
                                        <option label="DOMINICA" value="number:552">DOMINICA</option>
                                        <option label="DOMINICAN REPUBLIC" value="number:553">DOMINICAN REPUBLIC</option>
                                        <option label="ECUADOR" value="number:554">ECUADOR</option>
                                        <option label="EGYPT" value="number:555">EGYPT</option>
                                        <option label="EL SALVADOR" value="number:556">EL SALVADOR</option>
                                        <option label="England" value="number:3503">England</option>
                                        <option label="EQUATORIAL GUINEA" value="number:557">EQUATORIAL GUINEA</option>
                                        <option label="ERITREA" value="number:558">ERITREA</option>
                                        <option label="ESTONIA" value="number:559">ESTONIA</option>
                                        <option label="ETHIOPIA" value="number:560">ETHIOPIA</option>
                                        <option label="FALKLAND ISLANDS (MALVINAS)" value="number:561">FALKLAND ISLANDS (MALVINAS)</option>
                                        <option label="FAROE ISLANDS" value="number:562">FAROE ISLANDS</option>
                                        <option label="FIJI" value="number:563">FIJI</option>
                                        <option label="FINLAND" value="number:564">FINLAND</option>
                                        <option label="FRANCE" value="number:565">FRANCE</option>
                                        <option label="FRENCH GUIANA" value="number:566">FRENCH GUIANA</option>
                                        <option label="FRENCH POLYNESIA" value="number:567">FRENCH POLYNESIA</option>
                                        <option label="FRENCH SOUTHERN TERRITORIES" value="number:568">FRENCH SOUTHERN TERRITORIES</option>
                                        <option label="GABON" value="number:569">GABON</option>
                                        <option label="GAMBIA" value="number:570">GAMBIA</option>
                                        <option label="GEORGIA" value="number:571">GEORGIA</option>
                                        <option label="GERMANY" value="number:572">GERMANY</option>
                                        <option label="GHANA" value="number:573">GHANA</option>
                                        <option label="GIBRALTAR" value="number:574">GIBRALTAR</option>
                                        <option label="Glenfaba (Isle of Man)" value="number:3504">Glenfaba (Isle of Man)</option>
                                        <option label="GREECE" value="number:575">GREECE</option>
                                        <option label="GREENLAND" value="number:576">GREENLAND</option>
                                        <option label="GRENADA" value="number:577">GRENADA</option>
                                        <option label="GUADELOUPE" value="number:578">GUADELOUPE</option>
                                        <option label="GUAM" value="number:579">GUAM</option>
                                        <option label="GUATEMALA" value="number:580">GUATEMALA</option>
                                        <option label="GUERNSEY" value="number:581">GUERNSEY</option>
                                        <option label="GUINEA" value="number:582">GUINEA</option>
                                        <option label="GUINEA-BISSAU" value="number:583">GUINEA-BISSAU</option>
                                        <option label="GUYANA" value="number:584">GUYANA</option>
                                        <option label="HAITI" value="number:585">HAITI</option>
                                        <option label="HEARD ISLAND AND MCDONALD ISLANDS" value="number:586">HEARD ISLAND AND MCDONALD ISLANDS</option>
                                        <option label="HOLY SEE (VATICAN CITY STATE)" value="number:587">HOLY SEE (VATICAN CITY STATE)</option>
                                        <option label="HONDURAS" value="number:588">HONDURAS</option>
                                        <option label="HONG KONG" value="number:589">HONG KONG</option>
                                        <option label="HUNGARY" value="number:590">HUNGARY</option>
                                        <option label="ICELAND" value="number:591">ICELAND</option>
                                        <option label="INDIA" value="number:592">INDIA</option>
                                        <option label="INDONESIA" value="number:593">INDONESIA</option>
                                        <option label="IRAN, ISLAMIC REPUBLIC OF" value="number:594">IRAN, ISLAMIC REPUBLIC OF</option>
                                        <option label="IRAQ" value="number:595">IRAQ</option>
                                        <option label="IRELAND" value="number:596">IRELAND</option>
                                        <option label="ISLE OF MAN" value="number:597">ISLE OF MAN</option>
                                        <option label="ISRAEL" value="number:598">ISRAEL</option>
                                        <option label="ITALY" value="number:599">ITALY</option>
                                        <option label="JAMAICA" value="number:600">JAMAICA</option>
                                        <option label="JAPAN" value="number:601">JAPAN</option>
                                        <option label="JERSEY" value="number:602">JERSEY</option>
                                        <option label="JORDAN" value="number:603">JORDAN</option>
                                        <option label="KAZAKHSTAN" value="number:604">KAZAKHSTAN</option>
                                        <option label="KENYA" value="number:605">KENYA</option>
                                        <option label="KIRIBATI" value="number:606">KIRIBATI</option>
                                        <option label="KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF" value="number:607">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                                        <option label="KOREA, REPUBLIC OF" value="number:608">KOREA, REPUBLIC OF</option>
                                        <option label="KOSOVO" value="number:609">KOSOVO</option>
                                        <option label="KUWAIT" value="number:610">KUWAIT</option>
                                        <option label="KYRGYZSTAN" value="number:611">KYRGYZSTAN</option>
                                        <option label="LAO PEOPLE'S DEMOCRATIC REPUBLIC" value="number:612">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                        <option label="LATVIA" value="number:613">LATVIA</option>
                                        <option label="LEBANON" value="number:614">LEBANON</option>
                                        <option label="LESOTHO" value="number:615">LESOTHO</option>
                                        <option label="LIBERIA" value="number:616">LIBERIA</option>
                                        <option label="LIBYA" value="number:617">LIBYA</option>
                                        <option label="LIECHTENSTEIN" value="number:618">LIECHTENSTEIN</option>
                                        <option label="LITHUANIA" value="number:619">LITHUANIA</option>
                                        <option label="LUXEMBOURG" value="number:620">LUXEMBOURG</option>
                                        <option label="MACAO" value="number:621">MACAO</option>
                                        <option label="MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF" value="number:622">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                                        <option label="MADAGASCAR" value="number:623">MADAGASCAR</option>
                                        <option label="MALAWI" value="number:624">MALAWI</option>
                                        <option label="MALAYSIA" value="number:625">MALAYSIA</option>
                                        <option label="MALDIVES" value="number:626">MALDIVES</option>
                                        <option label="MALI" value="number:627">MALI</option>
                                        <option label="MALTA" value="number:628">MALTA</option>
                                        <option label="MARSHALL ISLANDS" value="number:629">MARSHALL ISLANDS</option>
                                        <option label="MARTINIQUE" value="number:630">MARTINIQUE</option>
                                        <option label="MAURITANIA" value="number:631">MAURITANIA</option>
                                        <option label="MAURITIUS" value="number:632">MAURITIUS</option>
                                        <option label="MAYOTTE" value="number:633">MAYOTTE</option>
                                        <option label="MEXICO" value="number:634">MEXICO</option>
                                        <option label="Michael (Isle of Man)" value="number:3505">Michael (Isle of Man)</option>
                                        <option label="MICRONESIA, FEDERATED STATES OF" value="number:635">MICRONESIA, FEDERATED STATES OF</option>
                                        <option label="Middle (Isle of Man)" value="number:3506">Middle (Isle of Man)</option>
                                        <option label="MOLDOVA, REPUBLIC OF" value="number:636">MOLDOVA, REPUBLIC OF</option>
                                        <option label="MONACO" value="number:637">MONACO</option>
                                        <option label="MONGOLIA" value="number:638">MONGOLIA</option>
                                        <option label="MONTENEGRO" value="number:639">MONTENEGRO</option>
                                        <option label="MONTSERRAT" value="number:640">MONTSERRAT</option>
                                        <option label="MOROCCO" value="number:641">MOROCCO</option>
                                        <option label="MOZAMBIQUE" value="number:642">MOZAMBIQUE</option>
                                        <option label="MYANMAR" value="number:643">MYANMAR</option>
                                        <option label="NAMIBIA" value="number:644">NAMIBIA</option>
                                        <option label="NAURU" value="number:645">NAURU</option>
                                        <option label="NEPAL" value="number:646">NEPAL</option>
                                        <option label="NETHERLANDS" value="number:647">NETHERLANDS</option>
                                        <option label="NETHERLANDS ANTILLES" value="number:648">NETHERLANDS ANTILLES</option>
                                        <option label="NEW CALEDONIA" value="number:649">NEW CALEDONIA</option>
                                        <option label="NEW ZEALAND" value="number:650">NEW ZEALAND</option>
                                        <option label="NICARAGUA" value="number:651">NICARAGUA</option>
                                        <option label="NIGER" value="number:652">NIGER</option>
                                        <option label="NIGERIA" value="number:653">NIGERIA</option>
                                        <option label="NIUE" value="number:654">NIUE</option>
                                        <option label="NORFOLK ISLAND" value="number:655">NORFOLK ISLAND</option>
                                        <option label="NORTH KOREA" value="number:1197">NORTH KOREA</option>
                                        <option label="Northern Ireland" value="number:3507">Northern Ireland</option>
                                        <option label="NORTHERN MARIANA ISLANDS" value="number:656">NORTHERN MARIANA ISLANDS</option>
                                        <option label="NORWAY" value="number:657">NORWAY</option>
                                        <option label="OMAN" value="number:658">OMAN</option>
                                        <option label="PAKISTAN" value="number:659">PAKISTAN</option>
                                        <option label="PALAU" value="number:660">PALAU</option>
                                        <option label="PALESTINIAN TERRITORY, OCCUPIED" value="number:661">PALESTINIAN TERRITORY, OCCUPIED</option>
                                        <option label="PANAMA" value="number:662">PANAMA</option>
                                        <option label="PAPUA NEW GUINEA" value="number:663">PAPUA NEW GUINEA</option>
                                        <option label="PARAGUAY" value="number:664">PARAGUAY</option>
                                        <option label="PERU" value="number:665">PERU</option>
                                        <option label="PHILIPPINES" value="number:666">PHILIPPINES</option>
                                        <option label="PITCAIRN" value="number:667">PITCAIRN</option>
                                        <option label="POLAND" value="number:668">POLAND</option>
                                        <option label="PORTUGAL" value="number:669">PORTUGAL</option>
                                        <option label="PUERTO RICO" value="number:670">PUERTO RICO</option>
                                        <option label="QATAR" value="number:671">QATAR</option>
                                        <option label="REUNION" value="number:672">REUNION</option>
                                        <option label="ROMANIA" value="number:673">ROMANIA</option>
                                        <option label="Rushen (Isle of Man)" value="number:3508">Rushen (Isle of Man)</option>
                                        <option label="RUSSIAN FEDERATION" value="number:674">RUSSIAN FEDERATION</option>
                                        <option label="RWANDA" value="number:675">RWANDA</option>
                                        <option label="SAINT BARTHELEMY" value="number:676">SAINT BARTHELEMY</option>
                                        <option label="SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA" value="number:677">SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>
                                        <option label="SAINT KITTS AND NEVIS" value="number:678">SAINT KITTS AND NEVIS</option>
                                        <option label="SAINT LUCIA" value="number:679">SAINT LUCIA</option>
                                        <option label="SAINT MARTIN" value="number:680">SAINT MARTIN</option>
                                        <option label="SAINT PIERRE AND MIQUELON" value="number:681">SAINT PIERRE AND MIQUELON</option>
                                        <option label="SAINT VINCENT AND THE GRENADINES" value="number:682">SAINT VINCENT AND THE GRENADINES</option>
                                        <option label="SAMOA" value="number:683">SAMOA</option>
                                        <option label="SAN MARINO" value="number:684">SAN MARINO</option>
                                        <option label="SAO TOME AND PRINCIPE" value="number:685">SAO TOME AND PRINCIPE</option>
                                        <option label="SAUDI ARABIA" value="number:686">SAUDI ARABIA</option>
                                        <option label="Scotland)" value="number:3509">Scotland)</option>
                                        <option label="SENEGAL" value="number:687">SENEGAL</option>
                                        <option label="SERBIA" value="number:688">SERBIA</option>
                                        <option label="SEYCHELLES" value="number:689">SEYCHELLES</option>
                                        <option label="SIERRA LEONE" value="number:690">SIERRA LEONE</option>
                                        <option label="SINGAPORE" value="number:691">SINGAPORE</option>
                                        <option label="SINT MAARTEN" value="number:692">SINT MAARTEN</option>
                                        <option label="SLOVAKIA" value="number:693">SLOVAKIA</option>
                                        <option label="SLOVENIA" value="number:694">SLOVENIA</option>
                                        <option label="SOLOMON ISLANDS" value="number:695">SOLOMON ISLANDS</option>
                                        <option label="SOMALIA" value="number:696">SOMALIA</option>
                                        <option label="SOUTH AFRICA" value="number:697">SOUTH AFRICA</option>
                                        <option label="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS" value="number:698">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                        <option label="SOUTH KOREA" value="number:1196">SOUTH KOREA</option>
                                        <option label="SOUTH SUDAN" value="number:699">SOUTH SUDAN</option>
                                        <option label="SPAIN" value="number:700">SPAIN</option>
                                        <option label="SRI LANKA" value="number:701">SRI LANKA</option>
                                        <option label="St. Andrew (Guernsey)" value="number:3510">St. Andrew (Guernsey)</option>
                                        <option label="St. Helier (Jersey)" value="number:3511">St. Helier (Jersey)</option>
                                        <option label="St. Martin (Guernsey)" value="number:3512">St. Martin (Guernsey)</option>
                                        <option label="St. Ouen (Jersey)" value="number:3513">St. Ouen (Jersey)</option>
                                        <option label="St. Peter Port (Guernsey)" value="number:3514">St. Peter Port (Guernsey)</option>
                                        <option label="SUDAN" value="number:702">SUDAN</option>
                                        <option label="SURINAME" value="number:703">SURINAME</option>
                                        <option label="SVALBARD AND JAN MAYEN" value="number:704">SVALBARD AND JAN MAYEN</option>
                                        <option label="SWAZILAND" value="number:705">SWAZILAND</option>
                                        <option label="SWEDEN" value="number:706">SWEDEN</option>
                                        <option label="SWITZERLAND" value="number:707">SWITZERLAND</option>
                                        <option label="SYRIAN ARAB REPUBLIC" value="number:708">SYRIAN ARAB REPUBLIC</option>
                                        <option label="TAIWAN" value="number:709">TAIWAN</option>
                                        <option label="TAJIKISTAN" value="number:710">TAJIKISTAN</option>
                                        <option label="TANZANIA, UNITED REPUBLIC OF" value="number:711">TANZANIA, UNITED REPUBLIC OF</option>
                                        <option label="THAILAND" value="number:712">THAILAND</option>
                                        <option label="TIMOR-LESTE" value="number:713">TIMOR-LESTE</option>
                                        <option label="TOGO" value="number:714">TOGO</option>
                                        <option label="TOKELAU" value="number:715">TOKELAU</option>
                                        <option label="TONGA" value="number:716">TONGA</option>
                                        <option label="TRINIDAD AND TOBAGO" value="number:717">TRINIDAD AND TOBAGO</option>
                                        <option label="TUNISIA" value="number:718">TUNISIA</option>
                                        <option label="TURKEY" value="number:719">TURKEY</option>
                                        <option label="TURKMENISTAN" value="number:720">TURKMENISTAN</option>
                                        <option label="TURKS AND CAICOS ISLANDS" value="number:721">TURKS AND CAICOS ISLANDS</option>
                                        <option label="TUVALU" value="number:722">TUVALU</option>
                                        <option label="UGANDA" value="number:723">UGANDA</option>
                                        <option label="UKRAINE" value="number:724">UKRAINE</option>
                                        <option label="UNITED ARAB EMIRATES" value="number:725">UNITED ARAB EMIRATES</option>
                                        <option label="UNITED KINGDOM" value="number:229">UNITED KINGDOM</option>
                                        <option label="UNITED STATES MINOR OUTLYING ISLANDS" value="number:726">UNITED STATES MINOR OUTLYING ISLANDS</option>
                                        <option label="UNITED STATES OF AMERICA" value="number:231">UNITED STATES OF AMERICA</option>
                                        <option label="URUGUAY" value="number:727">URUGUAY</option>
                                        <option label="UZBEKISTAN" value="number:728">UZBEKISTAN</option>
                                        <option label="VANUATU" value="number:729">VANUATU</option>
                                        <option label="VENEZUELA, BOLIVARIAN REPUBLIC OF" value="number:730">VENEZUELA, BOLIVARIAN REPUBLIC OF</option>
                                        <option label="VIETNAM" value="number:731">VIETNAM</option>
                                        <option label="VIRGIN ISLANDS, BRITISH" value="number:732">VIRGIN ISLANDS, BRITISH</option>
                                        <option label="VIRGIN ISLANDS, U.S." value="number:733">VIRGIN ISLANDS, U.S.</option>
                                        <option label="Wales" value="number:3515">Wales</option>
                                        <option label="WALLIS AND FUTUNA" value="number:734">WALLIS AND FUTUNA</option>
                                        <option label="WESTERN SAHARA" value="number:735">WESTERN SAHARA</option>
                                        <option label="YEMEN" value="number:736">YEMEN</option>
                                        <option label="ZAMBIA" value="number:737">ZAMBIA</option>
                                        <option label="ZIMBABWE" value="number:738">ZIMBABWE</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">State:</label>
                                    <select id="StateId" required="" name="country">
                                        <option value="" class="ng-binding" selected="selected">Select</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">City:</label>
                                    <input type="text" id="text2">
                                </div>
                                <div>
                                    <label class="question ng-binding" for="fname" id="lblQuestiontext">Zip/Postal Code:</label>
                                    <input type="text" id="text3">
                                </div>
                            </div>
                        </form>
                        <div class="footerblock" style="padding-top:10px;">
                            <div class="pre-question-btn" style="justify-content: space-between;display:inline-flex;padding-top: 18px;">
                                <button id="btnSubmit" class="button" type="button" value="Continue" style="justify-content:space-between;display :inline-flex;">
                                    Update Address and Continue to Survey
                                </button>
                                <button id="btnSubmit" class="button" type="button" value="Continue">
                                    Keep Address and Return to My Vacation!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dvFooter ng-scope" ng-show="isShowFooter" style="max-width: 800px;font-size:14px;" ng-controller="footerController">
    <div class="pre-footer">
        <div class="copyright-img">
            <div style="font-size: 12px;line-height: 1;" class="ng-binding">Powered By</div>
            <img src="http://ps.opinionetwork.com/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;">
        </div>
        <div class="copyright-block">
            <p class="ng-binding">
                Copyright © Precision Sample, LLC. All rights reserved. <a href="#" ng-click="privacyClick()" class="ng-binding">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
</html>