@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/rzslider.min.css" />
<link href="~/Content/ccpa.css" rel="stylesheet" />
<div ng-controller="ccpaController" ng-if="psPageLoad" ng-cloak>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }
    <div class="body">
        <p>{{para1}}</p>
        <p>{{para2}}</p>
        <p>{{para3}}<a href="#" ng-click="privacyClick()">{{privacy}}</a>. {{para4}}</p>
    </div>
    <div>
        @*<div class="form-row">
            <div id="accessmill" class="form-group col-md-6 col-lg-6 mobile-flex">

                <span>{{AccessMill}}</span>
                <div class="mobile-margin">
                    <span class="custom-control-description">{{yes}}</span>
                    <input data-ng-value="true" name="accessmill" type="radio" ng-model="user.AccessMillCookie" class="custom-control-input" checked>
                    <span class="custom-control-description mobile-margin-left">{{no}}</span>
                    <input data-ng-value="false" name="accessmill" type="radio" ng-model="user.AccessMillCookie" class="custom-control-input">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div id="comscore" class="form-group col-md-6 col-lg-6 mobile-flex">
                <span>{{ComScore}}</span>
                <div class="mobile-margin">
                    <span class="custom-control-description">{{yes}}</span>
                    <input data-ng-value="true" name="comscore" type="radio" ng-model="user.ComScoreCookie" class="custom-control-input" checked>
                    <span class="custom-control-description mobile-margin-left">{{no}}</span>
                    <input data-ng-value="false" name="comscore" type="radio" ng-model="user.ComScoreCookie" class="custom-control-input">
                </div>
            </div>
        </div>*@
        <div class="form-row">
            <div id="resonate" class="form-group col-md-6 col-lg-6 mobile-flex">

                <span>{{Resonate}}</span>
                <div class="mobile-margin">
                    <span class="custom-control-description">{{yes}}</span>
                    <input data-ng-value="true" name="resonate" type="radio" ng-model="user.ResonateCookie" class="custom-control-input" checked>
                    <span class="custom-control-description mobile-margin-left">{{no}}</span>
                    <input data-ng-value="false" name="resonate" type="radio" ng-model="user.ResonateCookie" class="custom-control-input">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div id="tapad" class="form-group col-md-6 col-lg-6 mobile-flex">

                <span>{{Tapad}}</span>
                <div class="mobile-margin">
                    <span class="custom-control-description">{{yes}}</span>
                    <input data-ng-value="true" name="tapad" type="radio" ng-model="user.TapadCookie" class="custom-control-input" checked>
                    <span class="custom-control-description mobile-margin-left">{{no}}</span>
                    <input data-ng-value="false" name="tapad" type="radio" ng-model="user.TapadCookie" class="custom-control-input">
                </div>
            </div>
        </div>
    </div>
    <div class="pre-question-btn">
        <button id="btnSubmit" class="button" type="button" value="Continue" ng-click="SaveUserCookie()">
            {{OptionText}}
        </button>

    </div>
</div>
