@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/questionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/frquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/esquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/dequestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/ptquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/ruquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/itquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/nlquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/jpquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/chquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/koquestionandoptionsobj.js" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script src="~/Scripts/Pages/ps/pp.js?v=1" type="text/javascript"></script>
    <link type="text/css" href="~/Content/pp/sdl-style.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/pp/pp.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/pp/custom.css" rel="stylesheet" />
    <link href="~/Content/psquestion.css" rel="stylesheet" type="text/css" />
    <title>ProfilePrescreener</title>
    <link rel="icon" type="image/png" href="/Images/opinionnetwork_logo_35.png" />
    <style type="text/css">
        /*iframe {
            width: 0px;
            height: 0px;
            border: 0px;
        }*/
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <script type="text/x-jquery-tmpl" id="SurveyQuestionList">
        <div data-bind="visible: !QuestionHide,attr: {id:QuestionId+'_Show'}" style="width: 100%;">
            <!-- ko if: QuestionId != 1022 -->
            <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                <span class="question" id="lblQuestiontext" data-bind="html:QuestionText" style="padding-bottom: 10px;"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 3 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div class="left">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==0">
                                <div class="dvChkbox">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_checkbox" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    </div>
                                    <div style="text-align: left;">
                                        <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==1">
                                <div class="dvChkbox">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_checkbox" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    </div>
                                    <div style="text-align: left;">
                                        <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                    </div>

                                </div>

                            </span>
                        </div>
                    </div>
                </div>
                <span align="left" style="color: Red; display: none; float: left; text-align: left; width: 100%; padding-bottom: 10px;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 4 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div class="left">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==0">
                                <div style="min-height: 21px;">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                    </div>
                                    <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==1">
                                <div style="min-height: 21px;">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                    </div>
                                    <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <span style="color: Red; display: none; margin-left: `10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
            </div>

            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 13 -->
            <div>
                <div class="Table optiontext" data-bind="template: {name:'matrixwithChkboxRadio'}" style="width: 100%">
                </div>

            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 14 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div>
                        <div data-bind="foreach: OptionList">
                            <div style="min-height: 21px; padding-bottom: 10px;">
                                <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}" style="margin-bottom: 14px;">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                </div>
                                <div>
                                    <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <span style="color: Red; display: none; margin-left: 10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 2 -->
            <!-- ko if:AutoPostBack == 1 -->
            <div>
                <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                    <select class="selectdropdown" id="ddlQuestion" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select --',attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                </div>
                <span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
            </div>
            <!-- /ko -->
            <!-- ko if:AutoPostBack == 0 -->
            <div>
                <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                    <select class="selectdropdown" id="Select1" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select --',attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                </div>
                <span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: OptionDisplay == 'V' -->
            <div data-bind="template: {name:'SurveyQuestionList', foreach: SelectedChildQuestionList}, attr: {id:QuestionId+'_trChildQuestionId'}" style="width: 100%;display:inline-block">
            </div>
            <!-- /ko -->
            <!-- ko if: OptionDisplay == 'H' -->
            <div data-bind="template: {name:'SurveyQuestionListhorizental'}, attr: {id:QuestionId+'_trChildQuestionId'}">
            </div>
            <!-- /ko -->
            <div data-bind="foreach: ChildQuestionList">
                <!-- ko 'if': QuestionTypeId == 5 -->
                <div class="Table optiontext" data-bind="template: {name:'matrixTemp'}" style="width: 100%">
                </div>
                <div width="100%">
                    <span align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
                </div>
                <!-- /ko -->
            </div>
        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="matrixTemp">
        <!-- ko 'if': ParentQuestionId != 649-->
        <!-- ko 'if': $index() == 0-->
        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <!-- ko 'if': ParentQuestionId != 898-->
                <div style="width: 34%;" class="grid_question">
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 898-->
                <div style="width: 60%;" class="grid_question">
                </div>
                <!-- /ko -->
                <div data-bind="foreach: OptionList" style="font-size: 14px;">
                    <div style="width: 15%;" class="grid_column" data-bind="text: OptionText"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="question_martix">
            <!-- ko 'if': ParentQuestionId != 898-->
            <div class="optiontext grid_question_optmatrix" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <!-- /ko -->
            <!-- ko 'if': ParentQuestionId == 898-->
            <div class="optiontext grid_question_optmatrix_new" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <!-- /ko -->

            <div class="optiontext" data-bind="foreach: OptionList">
                <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                    </div>
                    <div class="grid_span_holder">
                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                    </div>
                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko 'if': ParentQuestionId == 649-->
        <!-- ko 'if': $index() == 0-->
        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <div style="width: 40%;" class="grid_question">
                </div>
                <div data-bind="foreach: OptionList" style="font-size: 14px;">
                    <div style="width: 6%;" class="grid_column" data-bind="text: OptionText"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="question_martix">
            <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <div class="optiontext" data-bind="foreach: OptionList">
                <div style="width: 6%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                    </div>
                    <div class="grid_span_holder">
                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                    </div>
                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                </div>
            </div>
        </div>
        <!-- /ko -->
    </script>

    <script type="text/x-jquery-tmpl" id="matrixwithChkboxRadio">

        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <div style="width: 38%;" class="grid_question">
                </div>
                <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">

                    <div style="width: 16%;" class="grid_column" data-bind="text: QuestionText"></div>

                </div>
            </div>
        </div>

        <div class="question_martix">
            <div data-bind="foreach:ChildQuestionList">

                <!-- ko 'if': $index() == 0-->
                <div data-bind="foreach:OptionList" style="width: 100%;">
                    <div style="width: 100%; overflow: hidden;">
                        <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: OptionText,attr: {id:QuestionId+'_optnc'}">
                        </div>
                        <div>
                            <div class="optiontext" data-bind="foreach:ViewModel.Questions()[$parentContext.$parentContext.$index()].SpecialOptinLst[$index()]">
                                <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                    <!--ko if: OptionText == 'Prefer not to answer' || OptionText == 'None of the above' -->
                                    <div class="grid_radio" data-bind="attr: {id:QuestionId+'_'+OptionId+'_radio'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:SpeicalOptionId" />
                                    <!-- /ko -->
                                    <!--ko if: OptionText != 'Prefer not to answer' && OptionText != 'None of the above' -->
                                    <div class="grid_matrix_checkbox" data-bind="attr: {id:QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    <!-- /ko -->
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <span class="error" align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="attr:{ id: $parentContext.$parentContext.$index()+'_'+$index()+'_spn'}" />
                    </div>
                </div>

                <!-- /ko -->

            </div>
        </div>
        <div class="question_martix" style="min-height: 30px;">
            <div class="validationspqs">
                <div style="width: 38%;" class="grid_question">
                </div>
                <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">
                    <div style="width: 16%;" class="grid_column">
                        <span class="error" align="left" style="color: Red; float: left; width: 100%; font-size: 13px; text-align: left; display: none" data-bind="attr:{ id: QuestionId+'_spn'}" />
                    </div>
                </div>
            </div>

        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="ChildRadioTemplate">
        <td>
            <table>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        <label class="matrixchildquestion" id="lblChildQuestion" data-bind="text:QuestionText , attr: {id:QuestionId+'_optnc'}">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tr data-bind=" foreach:OptionList">
                                <td style="padding-left: 5px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="radio" data-bind="attr: { id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'},checked:$parent.OptionId" />
                                                <label id="lblChildOption" data-bind="text:OptionText , attr: {id:OptionId+'_optnc','for':OptionId+'_radio','if': $index()== 0}">
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </script>

    <script type="text/x-jquery-tmpl" id="SurveyQuestionListhorizental">

        <table>
            <tr data-bind="foreach: SelectedChildQuestionList">
                <td class="tdwidth">
                    <table>
                        <tr>
                            <td align="left;">
                                <label class="question" id="Label1" data-bind="text:QuestionText">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <select class="selectdropdownH" id="ddlChild" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select--',attr: {id:QuestionId },event: { change: selectionChanged }"></select>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-top: 10px;">
                                <span align="left" style="color: red; display: none; float: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </script>

    <div id="dvImageLoading">
    </div>
    @*<asp:Literal ID="ltlAffiliateTracking" runat="server" />*@
    <form>
        <div id="dvMainContent" style="width:100%;">
            <div class="container" id="dvQuestions">
                <iframe id="myframe" width="1px" height="1px"></iframe>
                <div>
                    @Html.Raw(ViewBag.ltlAffiliateTracking)
                </div>
                <div class="progressbarblock">
                </div>
                <div style="padding-left: 10px;padding-bottom:10px;">
                    <img id="imgLogo" />
                </div>

                <div class="body" style="margin-top: 20px;margin-left:10px;">
                    <table id="tmpTable" style="width: 100%">
                        <tbody data-bind="template: {name:'SurveyQuestionList', foreach: ViewModel.Questions}"></tbody>
                    </table>
                    <div id="dvRealApiQuestion" style="display: none;">
                        <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                            <span class="question" style="padding-bottom: 10px;">Please describe your dream vacation. Where will you go? What will you do when you get there?</span>
                        </div>
                        <div>
                            <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                                <textarea rows="5" id="responseField" name="responseField" style="width: 80%"></textarea>
                            </div>
                            <span id="spnRealApiQstErrMsg" class="error" style="color: Red; display: none; margin-left: 10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" />
                        </div>
                        <input type="hidden" id="ra_1" name="ra_1" />
                        <input type="hidden" id="ra_2" name="ra_2" />
                        <input type="hidden" id="ra_3" name="ra_3" />
                        <input type="hidden" id="ra_4" name="ra_4" />
                        <input type="hidden" id="ra_textfield" name="ra_textfield" value="responseField" />
                    </div>
                    <div id="dvGoogleCaptcha" style="display: none;">
                        <div class="g-recaptcha" data-sitekey="6Ldw5LsUAAAAAAVzE46li8k8Gq20bU6KiJ-2gDIM"></div>
                        <label id="lblResult" style="float: left; display: none;color:red;" class="error">Invalid Captcha</label>
                    </div>
                </div>


                <div class="footerblock" id="buttonSaveandCancel">
                    <div style="text-align: center; padding: 10px;">
                        <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px"></span>
                    </div>
                    <!-- ko 'if': langId == 114282-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Continue"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114283-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Continuer"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114284-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Continuar"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114285-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Fortsetzen"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114286-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Continuar"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114287-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Продолжать"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114288-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Continua"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114289-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Doorgaan met"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114290-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="持続する"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114291-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="继续"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114292-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="잇다"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131616-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="استمر"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131617-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Fortsätta"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 136675-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Kontyntynuj"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137225-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Tiếp tục"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137224-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="Terus"
                               data-bind="click:Save" st />
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137223-->
                    <div class="pre-question-btn">
                        <input id="btnSubmit" class="button1" type="button" value="ต่อ"
                               data-bind="click:Save" st />
                    </div>   
                    <!-- /ko -->                
                    <!-- ko 'if': langId == 114282 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491) -->
                    <div style="margin: 30px;font-size:13px;">
                        By answering this question, I understand that my response will be stored by Opinionbar and used to invite me to surveys in the future that are relevant to my background.
                    </div>
                    <!-- /ko -->                   
                    <!-- ko 'if': langId == 114283 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491) -->
                    <div style="margin: 30px;font-size:13px;">
                        En répondant à ces questions, je comprends que mes réponses seront stockées par Opinionbar et utilisées pour m'inviter à de futurs sondages en rapport avec mes origines.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114284 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Al responder a esta pregunta, entiendo que mi respuesta será almacenada por Opinionbar y se utilizará para invitarme a participar en futuras encuestas que se ajusten a mi perfil.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114285 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Mit der Beantwortung dieser Frage erkläre ich mich damit einverstanden, dass meine Antwort von Opinionbar gespeichert und dazu verwendet wird, mich in Zukunft zu Umfragen einzuladen, die für mich relevant sind.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114286 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Ao responder a esta pergunta, compreendo que a minha resposta será guardada pela Opinionbar e utilizada para me convidar para inquéritos futuros que sejam relevantes para a minha situação.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114287 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Отвечая на этот вопрос, я понимаю, что мой ответ будет храниться в Opinionbar и использоваться для приглашения меня в будущем к опросам, имеющим отношение к моему опыту.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114288 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Rispondendo a questa domanda, dichiaro di comprendere che le mie risposte verranno conservate e utilizzate da OpinionBar per invitarmi a sondaggi pertinenti per il mio profilo.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114289 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Door deze vraag te beantwoorden, begrijp ik dat mijn antwoord door Opinionbar zullen worden bewaard en gebruikt om me uit te nodigen om deel te nemen aan enquêtes die relevant zijn voor personen met mijn achtergrond.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114290 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        これらの質問に答えることで、私の背景に関連する今後のアンケート調査に招待するために、Opinionbar がこの回答を保存することに同意します。
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114291 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        通过回答这个问题，我理解我的回答将由Opinionbar存储，并用于将来邀请我参加与我的背景相关的调查。
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114292 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        回答此问题，即表示我了解我的回答将被 Opinionbar 保存，并用来邀请我参加与我的背景有关的未来调查。
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131616 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        بالإجابة على هذا السؤال، أقر بأن إجابتي سوف تُحفظ بواسطة Opinionbar وتُستخدم لدعوتي إلى استطلاعات الرأي ذات الصلة بخلفيتي في المستقبل.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131617 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Genom att svara på den här frågan förstår jag att mitt svar kommer att lagras av Opinionbar och användas för att bjuda in mig till undersökningar i framtiden som är relevanta för min bakgrund.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 136675 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Odpowiadając na to pytanie, rozumiem, że moja odpowiedź będzie przechowywana przez Opinionbar i wykorzystana do zaproszenia mnie w przyszłości do udziału w ankietach, które są związane z moją sytuacją.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137225 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Bằng cách trả lời câu hỏi này, tôi hiểu rằng câu trả lời của tôi sẽ được Opinionbar lưu trữ và được sử dụng để mời tôi tham gia các cuộc khảo sát có liên quan đến lý lịch của tôi trong tương lai.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137224 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        Dengan menjawab pertanyaan ini, saya memahami bahwa tanggapan saya akan disimpan oleh Opinionbar dan digunakan untuk mengundang saya ke survei di masa mendatang yang relevan dengan latar belakang saya.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137223 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && (orgID == 337 || orgID == 491)-->
                    <div style="margin: 30px;font-size:13px;">
                        เมื่อตอบคำถามนี้ ฉันเข้าใจว่าคำตอบของฉันจะถูกเก็บไว้ที่ Opinionbar และใช้เพื่อเชิญฉันเข้าร่วมการสำรวจในอนาคตที่เกี่ยวข้องกับภูมิหลังของฉัน
                    </div>
                    <!-- /ko -->

                    <!-- ko 'if': langId == 114282 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        By answering this question, I understand that my response will be stored by Precision Sample and used to invite me to surveys in the future that are relevant to my background.
                    </div>
                    <!-- /ko -->                   
                    <!-- ko 'if': langId == 114283 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706) -->
                    <div style="margin: 30px;font-size:13px;">
                        En répondant à cette question, je comprends que ma réponse sera stockée par Precision Sample et utilisée pour m'inviter à des enquêtes futures en rapport avec mon parcours.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114284 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Al responder esta pregunta, entiendo que Precision Sample almacenará mi respuesta y la utilizará para invitarme a encuestas en el futuro que sean relevantes para mi experiencia.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114285 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Durch die Beantwortung dieser Frage erkläre ich mich damit einverstanden, dass meine Antwort von Precision Sample gespeichert und dazu verwendet wird, mich in Zukunft zu Umfragen einzuladen, die für meinen Hintergrund relevant sind.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114286 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Ao responder a esta pergunta, entendo que minha resposta será armazenada pelo Precision Sample e usada para me convidar para pesquisas futuras que sejam relevantes para minha experiência.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114287 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Отвечая на этот вопрос, я понимаю, что мой ответ будет сохранен в Precision Sample и использован для приглашения меня на опросы в будущем, имеющие отношение к моему опыту.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114288 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Rispondendo a questa domanda, comprendo che la mia risposta verrà archiviata da Precision Sample e utilizzata per invitarmi a futuri sondaggi pertinenti al mio background.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114289 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Door deze vraag te beantwoorden, begrijp ik dat mijn antwoord door Precision Sample wordt opgeslagen en wordt gebruikt om mij in de toekomst uit te nodigen voor enquêtes die relevant zijn voor mijn achtergrond.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114290 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        この質問に答えることで、私の回答は Precision Sample によって保存され、将来、私の経歴に関連するアンケートに私を招待するために使用されることを理解します。
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114291 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        通过回答此问题，我了解我的回答将由 Precision Sample 存储，并用于邀请我将来参加与我的背景相关的调查。
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114292 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        이 질문에 답변함으로써 본인은 내 답변이 Precision Sample에 저장되고 향후 내 배경과 관련된 설문조사에 나를 초대하는 데 사용된다는 점을 이해합니다.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131616 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        من خلال الإجابة على هذا السؤال، أدرك أنه سيتم تخزين إجابتي بواسطة Precision Sample واستخدامها لدعوتي إلى الاستطلاعات في المستقبل ذات الصلة بخلفيتي.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131617 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Genom att svara på denna fråga förstår jag att mitt svar kommer att lagras av Precision Sample och användas för att bjuda in mig till undersökningar i framtiden som är relevanta för min bakgrund.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 136675 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Odpowiadając na to pytanie, rozumiem, że moja odpowiedź zostanie zapisana przez Precision Sample i wykorzystana do zapraszania mnie w przyszłości do ankiet istotnych dla mojego doświadczenia.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137225 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Khi trả lời câu hỏi này, tôi hiểu rằng câu trả lời của tôi sẽ được Precision Sample lưu trữ và được sử dụng để mời tôi tham gia các cuộc khảo sát có liên quan đến lý lịch của tôi trong tương lai.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137224 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        Dengan menjawab pertanyaan ini, saya memahami bahwa tanggapan saya akan disimpan oleh Precision Sample dan digunakan untuk mengundang saya ke survei di masa mendatang yang relevan dengan latar belakang saya.
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137223 && questionId != 1638 && questionId != 573 && questionId != 580 && questionId != 850 && questionId != 4667 && questionId != 5099 && orgID != 337 && orgID != 491 && (countryID == 505 || countryID == 512 || countryID == 525 || countryID == 545 || countryID == 548 || countryID == 549 || countryID == 550 || countryID ==559 || countryID ==564 || countryID ==565 || countryID ==572 || countryID ==575 || countryID ==590 || countryID ==596 || countryID ==599 || countryID ==613 || countryID ==618 || countryID ==619 || countryID ==620 || countryID ==628 || countryID == 647 || countryID == 657 || countryID == 668 || countryID == 669 || countryID ==673 || countryID ==693 || countryID ==694 || countryID ==700 || countryID ==706)-->
                    <div style="margin: 30px;font-size:13px;">
                        ในการตอบคำถามนี้ ฉันเข้าใจว่าคำตอบของฉันจะถูกจัดเก็บโดย Precision Sample และใช้เพื่อเชิญฉันเข้าร่วมการสำรวจที่เกี่ยวข้องกับภูมิหลังของฉันในอนาคต
                    </div>
                    <!-- /ko -->
                </div>
                <div class="dvFooter" style="max-width: 750px;font-size:14px;margin-top: 20px;" id="FooterShowHide">
                    <!-- ko 'if': langId == 114282-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Powered By</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright &#169; Precision Sample, LLC. All rights reserved. <a href="#"
                                                                                                onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Privacy Policy</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114283-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Alimenté par</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Tous les droits sont réservés. <a href="#"
                                                                                                     onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Politique de confidentialité</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114284-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Energizado por</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Todos los derechos reservados. <a href="#"
                                                                                                     onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Política de privacidad</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114285-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Unterstützt von</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Alle Rechte vorbehalten. <a href="#"
                                                                                               onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Datenschutz-Bestimmungen</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114286-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Distribuído por</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Direitos autorais © Precision Sample, LLC. Todos os direitos reservados. <a href="#"
                                                                                                            onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Política de Privacidade</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114287-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Питаться от</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Все права защищены. <a href="#"
                                                                                          onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">политика конфиденциальности</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114288-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Offerto da</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Tutti i diritti riservati. <a href="#"
                                                                                                 onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">politica sulla riservatezza</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114289-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Aangedreven door</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Alle rechten voorbehouden. <a href="#"
                                                                                                 onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Privacybeleid</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114290-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">搭載</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright©Precision Sample、LLC。全著作権所有。 <a href="#"
                                                                          onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">個人情報保護方針</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114291-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">供电</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                版权所有©Precision Sample，LLC。版权所有。 <a href="#"
                                                                   onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">隐私政策</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 114292-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">에 의해 구동</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                저작권 © 정밀 샘플, LLC. 판권 소유. <a href="#"
                                                            onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">개인 정보 정책</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131616-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">مشغل بواسطة</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                حقوق الطبع والنشر © Precision Sample، LLC. كل الحقوق محفوظة. <a href="#"
                                                                                                onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">سياسة خاصة</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 131617-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Drivs av</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Copyright © Precision Sample, LLC. Alla rättigheter förbehållna. <a href="#"
                                                                                                    onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Integritetspolicy</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 136675-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Obsługiwane przez</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Prawa autorskie © Precision Sample, LLC. Wszelkie prawa zastrzeżone. <a href="#"
                                                                                                        onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Polityka prywatności</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137223-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">ขับเคลื่อนโดย</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                ลิขสิทธิ์© Precision Sample, LLC. สงวนลิขสิทธิ์. <a href="#"
                                                                                    onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">นโยบายความเป็นส่วนตัว</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137224-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Dipersembahkan oleh</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Hak Cipta © Precision Sample, LLC. Seluruh hak cipta. <a href="#"
                                                                                         onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Rahasia pribadi</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko 'if': langId == 137225-->
                    <div class="pre-footer">
                        <div class="copyright-img">
                            <div style="font-size: 12px;line-height: 1;">Được cung cấp bởi</div>
                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px; padding: 5px;" />
                        </div>
                        <div class="copyright-block">
                            <p style="font-size: 12px;">
                                Bản quyền thuộc Precision Sample, LLC. Đã đăng ký bản quyền <a href="#"
                                                                                               onclick="window.open( '/Privacy.html', 'Precision Sample Privacy Policy','height=670,width=760,scrollbars=yes' ); return false" style="color: Blue; text-decoration: underline;">Chính sách quyền riêng tư</a>
                            </p>
                            @*<div class="pre-powerd-byimg"><img src="~/Images/powered-by-img.png" /></div>*@
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="https://dkdq40d4kx496.cloudfront.net/ralib10.js"></script>

</body>
</html>
