@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/rg/questionandoptionsobj.js" type="text/javascript"></script>
    <script src="~/Scripts/rg/top10.js" type="text/javascript"></script>
    <link type="text/css" href="~/Content/rg/sdl-style.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/rg/top10.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/custom.css" rel="stylesheet" />
    <title>Top10</title>
    <style type="text/css">
        iframe {
            width: 0px;
            height: 0px;
            border: 0px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <script type="text/x-jquery-tmpl" id="SurveyQuestionList">
        <div data-bind="visible: !QuestionHide,attr: {id:QuestionId+'_Show'}" style="width: 100%;">
            <!-- ko if: QuestionId != 1022 -->
            <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                <span class="question" id="lblQuestiontext" data-bind="html:QuestionText" style="padding-bottom: 10px;"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 3 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div class="left">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==0">
                                <div class="dvChkbox">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_checkbox" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    </div>
                                    <div style="text-align: left;">
                                        <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==1">
                                <div class="dvChkbox">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_checkbox" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    </div>
                                    <div style="text-align: left;">
                                        <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_checkbox'}"></span>
                                    </div>

                                </div>

                            </span>
                        </div>
                    </div>
                </div>
                <span align="left" style="color: Red; display: none; float: left; text-align: left; width: 100%; padding-bottom: 10px;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 4 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div class="left">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==0">
                                <div style="min-height: 21px;">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                    </div>
                                    <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <div data-bind="foreach: OptionList">
                            <span data-bind="if: ($index())%2 ==1">
                                <div style="min-height: 21px;">
                                    <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                        </div>
                                        <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                    </div>
                                    <span class="single_radio spnopttxt" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <span style="color: Red; display: none; margin-left: `10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
            </div>

            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 13 -->
            <div>
                <div class="Table optiontext" data-bind="template: {name:'matrixwithChkboxRadio'}" style="width: 100%">
                </div>

            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 14 -->
            <div class="optiontext" style="clear: both; overflow: hidden">
                <div class="wrapper">
                    <div>
                        <div data-bind="foreach: OptionList">
                            <div style="min-height: 21px; padding-bottom: 10px;">
                                <div class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}" style="margin-bottom: 14px;">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd'}, checked:$parent.OptionId" />
                                </div>
                                <div>
                                    <span class="single_radio" data-bind="text:OptionText , attr: {id:OptionId+'_optn','for':OptionId +'_radio'}"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <span style="color: Red; display: none; margin-left: 10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" data-bind="validator: QuestionId+'_rd',attr:{ id: QuestionId+'_spn'}" />
            </div>
            <!-- /ko -->
            <!-- ko if: QuestionTypeId == 2 -->
            <!-- ko if:AutoPostBack == 1 -->
            <div>
                <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                    <select class="selectdropdown" id="ddlQuestion" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select --',attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                </div>
                <span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
            </div>
            <!-- /ko -->
            <!-- ko if:AutoPostBack == 0 -->
            <div>
                <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                    <select class="selectdropdown" id="Select1" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select --',attr: {id:QuestionId },event: { change:selectionChanged }"></select>
                </div>
                <span align="left" style="color: red; display: none; float: left; width: 100%; padding-bottom: 10px; text-align: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: OptionDisplay == 'V' -->
            <div data-bind="template: {name:'SurveyQuestionList', foreach: SelectedChildQuestionList}, attr: {id:QuestionId+'_trChildQuestionId'}" style="width: 100%;display:inline-block">
            </div>
            <!-- /ko -->
            <!-- ko if: OptionDisplay == 'H' -->
            <div data-bind="template: {name:'SurveyQuestionListhorizental'}, attr: {id:QuestionId+'_trChildQuestionId'}">
            </div>
            <!-- /ko -->
            <div data-bind="foreach: ChildQuestionList">
                <!-- ko 'if': QuestionTypeId == 5 -->
                <div class="Table optiontext" data-bind="template: {name:'matrixTemp'}" style="width: 100%">
                </div>
                <div width="100%">
                    <span align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="validator: QuestionId+'_checkbox',attr:{ id: QuestionId+'_spn'}" />
                </div>
                <!-- /ko -->
            </div>
        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="matrixTemp">
        <!-- ko 'if': ParentQuestionId != 649-->
        <!-- ko 'if': $index() == 0-->
        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <!-- ko 'if': ParentQuestionId != 898-->
                <div style="width: 34%;" class="grid_question">
                </div>
                <!-- /ko -->
                <!-- ko 'if': ParentQuestionId == 898-->
                <div style="width: 60%;" class="grid_question">
                </div>
                <!-- /ko -->
                <div data-bind="foreach: OptionList" style="font-size: 14px;">
                    <div style="width: 15%;" class="grid_column" data-bind="text: OptionText"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="question_martix">
            <!-- ko 'if': ParentQuestionId != 898-->
            <!-- ko 'if': QuestionId == 355-->
            <p style="text-align: left;"><b>Technology</b></p>
            <!-- /ko -->
            <!-- ko 'if': QuestionId == 363-->
            <p style="text-align: left;"><b>Marketing</b></p>
            <!-- /ko -->
            <!-- ko 'if': QuestionId == 374-->
            <p style="text-align: left;"><b>Finance</b></p>
            <!-- /ko -->
            <!-- ko 'if': QuestionId == 373-->
            <p style="text-align: left;"><b>Supply Chain/ Logistics</b></p>
            <!-- /ko -->
            <!-- ko 'if': QuestionId == 365-->
            <p style="text-align: left;"><b>Operations</b></p>
            <!-- /ko -->
            <div class="optiontext grid_question_optmatrix" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <!-- /ko -->
            <!-- ko 'if': ParentQuestionId == 898-->
            <div class="optiontext grid_question_optmatrix_new" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <!-- /ko -->

            <div class="optiontext mobileradiobutton" data-bind="foreach: OptionList">
                <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                    </div>
                    <div class="grid_span_holder">
                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                    </div>
                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko 'if': ParentQuestionId == 649-->
        <!-- ko 'if': $index() == 0-->
        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <div style="width: 40%;" class="grid_question">
                </div>
                <div data-bind="foreach: OptionList" style="font-size: 14px;">
                    <div style="width: 6%;" class="grid_column" data-bind="text: OptionText"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="question_martix">
            <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
            </div>
            <div class="optiontext" data-bind="foreach: OptionList">
                <div style="width: 6%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                    <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_radio'},event: {click:rdClick.bind($root,$parent)}">
                    </div>
                    <div class="grid_span_holder">
                        <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                    </div>
                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                </div>
            </div>
        </div>
        <!-- /ko -->
    </script>

    <script type="text/x-jquery-tmpl" id="matrixwithChkboxRadio">

        <div class="grid_floating_header" width="100%">
            <div class="question_martix" style="min-height: 30px;">
                <div style="width: 38%;" class="grid_question">
                </div>
                <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">

                    <div style="width: 16%;" class="grid_column" data-bind="text: QuestionText"></div>

                </div>
            </div>
        </div>

        <div class="question_martix">
            <div data-bind="foreach:ChildQuestionList">

                <!-- ko 'if': $index() == 0-->
                <div data-bind="foreach:OptionList" style="width: 100%;">
                    <div style="width: 100%; overflow: hidden;">
                        <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: OptionText,attr: {id:QuestionId+'_optnc'}">
                        </div>
                        <div>
                            <div class="optiontext" data-bind="foreach:ViewModel.Questions()[$parentContext.$parentContext.$index()].SpecialOptinLst[$index()]">
                                <div style="width: 15%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                                    <!--ko if: OptionText == 'Prefer not to answer' || OptionText == 'None of the above' -->
                                    <div class="grid_radio" data-bind="attr: {id:QuestionId+'_'+OptionId+'_radio'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="radio" style="display: none;" data-bind="attr: {id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:SpeicalOptionId" />
                                    <!-- /ko -->
                                    <!--ko if: OptionText != 'Prefer not to answer' && OptionText != 'None of the above' -->
                                    <div class="grid_matrix_checkbox" data-bind="attr: {id:QuestionId+'_'+OptionId+'_checkbox',name: QuestionId+'_checkbox'},event: {click:chkwithradioclick.bind($root,$parent)}">
                                    </div>
                                    <div class="grid_span_holder">
                                        <span class="grid_span" data-bind="text:QuesitonText,attr: {id:QuestionId+'_'+OptionId+'_chkDiv'},event: {click:chkwithradioclick.bind($root,$parent)}"></span>
                                    </div>
                                    <input type="checkbox" style="display: none;" data-bind="attr: { id:OptionId+'_checkbox',value:OptionId,name: QuestionId+'_checkbox'}, checked:IsChecked " />
                                    <!-- /ko -->
                                </div>

                            </div>

                        </div>
                    </div>
                    <div>
                        <span class="error" align="left" style="color: Red; display: none; float: left; width: 100%; font-size: 13px; text-align: left;" data-bind="attr:{ id: $parentContext.$parentContext.$index()+'_'+$index()+'_spn'}" />
                    </div>
                </div>

                <!-- /ko -->

            </div>
        </div>
        <div class="question_martix" style="min-height: 30px;">
            <div class="validationspqs">
                <div style="width: 38%;" class="grid_question">
                </div>
                <div data-bind="foreach:ChildQuestionList" style="font-size: 14px;">
                    <div style="width: 16%;" class="grid_column">
                        <span class="error" align="left" style="color: Red; float: left; width: 100%; font-size: 13px; text-align: left; display: none" data-bind="attr:{ id: QuestionId+'_spn'}" />
                    </div>
                </div>
            </div>

        </div>
    </script>

    <script type="text/x-jquery-tmpl" id="ChildRadioTemplate">
        <td>
            <table>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        <label class="matrixchildquestion" id="lblChildQuestion" data-bind="text:QuestionText , attr: {id:QuestionId+'_optnc'}">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tr data-bind=" foreach:OptionList">
                                <td style="padding-left: 5px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="radio" data-bind="attr: { id:OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'},checked:$parent.OptionId" />
                                                <label id="lblChildOption" data-bind="text:OptionText , attr: {id:OptionId+'_optnc','for':OptionId+'_radio','if': $index()== 0}">
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </script>

    <script type="text/x-jquery-tmpl" id="SurveyQuestionListhorizental">

        <table>
            <tr data-bind="foreach: SelectedChildQuestionList">
                <td class="tdwidth">
                    <table>
                        <tr>
                            <td align="left;">
                                <label class="question" id="Label1" data-bind="text:QuestionText">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <select class="selectdropdownH" id="ddlChild" data-bind="options: OptionList, optionsText: 'OptionText',optionsValue: 'OptionId',value:OptionId, optionsCaption: '-- Select--',attr: {id:QuestionId },event: { change: selectionChanged }"></select>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-top: 10px;">
                                <span align="left" style="color: red; display: none; float: left;" data-bind="validator:$parent.OptionId, attr:{ id: QuestionId+'_spn'}">Please answer the question.</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </script>

    <div id="dvImageLoading">
    </div>
    @*<asp:Literal ID="ltlAffiliateTracking" runat="server" />*@
    <form>
        <div id="dvMainContent" style="width:100%;">
            <div class="container" id="dvQuestions">
                <iframe id="myframe" width="1px" height="1px"></iframe>
                <div>
                    @Html.Raw(ViewBag.ltlAffiliateTracking)
                </div>
                <div class="progressbarblock">
                </div>
                <div style="padding-left: 10px;padding-bottom:10px;">
                    <img id="imgLogo" />
                </div>
                <div id="divInfo" style="margin-left: 13px;">Please share a bit more information about yourself so we can select more targeted, higher paying surveys for you in the future:</div>
                <div class="body" style="margin-top: 20px;margin-left:10px;">
                    <table id="tmpTable" style="width: 100%">
                        <tbody data-bind="template: {name:'SurveyQuestionList', foreach: ViewModel.Questions}"></tbody>
                    </table>
                    <div id="dvRealApiQuestion" style="display: none;">
                        <div align="left" class="questionback" style="margin-bottom: 10px; clear: both;">
                            <span class="question" style="padding-bottom: 10px;">Please describe your dream vacation. Where will you go? What will you do when you get there?</span>
                        </div>
                        <div>
                            <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                                <textarea rows="5" id="responseField" name="responseField" style="width: 80%"></textarea>
                            </div>
                            <span id="spnRealApiQstErrMsg" class="error" style="color: Red; display: none; margin-left: 10px; width: 100%; text-align: left; float: left; padding-bottom: 10px; float: left; font-size: 13px;" />
                        </div>
                        <input type="hidden" id="ra_1" name="ra_1" />
                        <input type="hidden" id="ra_2" name="ra_2" />
                        <input type="hidden" id="ra_3" name="ra_3" />
                        <input type="hidden" id="ra_4" name="ra_4" />
                        <input type="hidden" id="ra_textfield" name="ra_textfield" value="responseField" />
                    </div>
                </div>

                <div class="footerblock">
                    <div style="text-align: center; padding: 10px;">
                        <span id="spnErrorMessage" align="left" style="color: Red; display: none; font-family: helvetica, arial; font-size: 14px"></span>
                    </div>
                    <div style="text-align: center; padding: 10px;">
                        <input id="btnSubmit" class="button" type="button" value="Save" style="width: 100px;"
                               data-bind="click:Save" />
                        <input id="btnSkip" class="button" type="button" value="Skip" style="width: 100px; display: none;"
                               data-bind="click:Skip" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="https://ra.imperium.com/lib/ralib7.js"></script>

</body>
</html>
