
/*.img-flash {
    width: 100% !important;
}*/
/*.login-tbl {
    display:block;
}
.login-tbl td{
    display:inline-block;
}*/
/*.login-tbl tr td {
    padding-bottom: 5px;
}*/

/*#txtFirstName {
    margin-left: -4px;
}*/

.container {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.logo {
    margin-top: 10px;
    width: 205px;
    height: 45px;
}

.header {
    height: 100% !important;
}

#flashplaceholder {
    margin-right: 18px !important;
}

.h3-login-banner {
    display: none;
    background-color: #002d49;
    color: white;
    text-align: center;
    border: 5px solid #269ce0;
    padding: 5px;
}

.fnt {
    color: white;
}



@media (max-width: 1064px) {




    .img-countryLogo-sm {
        display: block !important;
    }


    #divCountrylogo {
        /*background: none !important;*/
        height: 100% !important;
    }

    .hide-sm {
        display: none !important;
    }

    .td-multicolor {
        background: linear-gradient( to right, #269ce0 0%, #269ce0 50%, #e0e0e0 50%, #e0e0e0 100% );
    }
    /*#flashplaceholder {
                        width:100% !important;
                    }*/
}

@media (max-width: 980px) {
    .bg-color {
        background-color: #32a1e1;
    }

    .logo {
        display: block; /*border-bottom: 1px solid black;*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    #text {
        text-align: center !important;
    }

    #flashplaceholder {
        float: none !important;
        margin-left: auto;
        margin-right: auto !important;
    }

    .body_container {
        height: 100% !important;
    }

    .body_content {
        height: 100% !important;
    }

    #divCountrylogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

    .col2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

    .body_container {
        width: 100% !important;
    }

    .header_spacer {
        display: none;
    }

    .header {
        width: 100% !important;
    }

    .body_content {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .body_bottom {
        width: 100% !important;
    }

    .footer {
        width: 100% !important;
    }

    body {
        background-image: none !important;
    }

    .header {
        background-image: none !important;
    }

    .body_bottom {
        display: none;
        width: 100% !important;
    }

    .copyright {
        width: 100% !important;
    }
}

@media (max-width:720px) {
    #flashplaceholder {
        width: 100% !important;
    }

    .img-flash {
        width: 100% !important;
        border-width: 0px;
        width: 670px;
        height: 235px;
    }

    #divCountrylogo {
        background-size: cover !important;
        height: 400px !important;
    }
}

@media (max-width: 580px) {
    .copyright {
        padding: inherit !important;
    }

    .td-sm {
        /*width: inherit !important;*/
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    #flashplaceholder {
        height: 100% !important;
        padding-right: 0px !important;
        float: none !important;
    }

    .img-flash {
        height: 100% !important;
    }

    .height-10-sm {
        height: 10px !important;
    }
}

@media (max-width: 520px) {
    .td-border-sm {
        background-color: #002d49;
        border-top: 5px solid #37a4e2;
        border-left: 5px solid #37a4e2;
        border-bottom: 5px solid #37a4e2;
        border-right: 5px solid #37a4e2;
        height: 40px !important;
    }

    .h3-login-banner {
        display: none;
        background-color: #002d49;
        color: white;
        text-align: center;
        border: 0px !important;
        padding: 0px !important;
    }

    #imgNext {
        width: 100% !important;
    }

    .col2 {
        width: 100% !important;
        background-image: none !important;
    }

    #Table_01 {
        width: 100% !important;
    }

    .img-countryLogo-sm {
        margin-left: auto;
        width: 320px !important;
        margin-right: auto;
    }

    #divCountrylogo {
        width: 100% !important;
    }

    .img-login-banner {
        display: none !important;
    }

    .h3-login-banner {
        display: block !important;
    }

    .img-login-footer {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .td-multicolor {
        background: none !important;
    }

    .bg-color-sm {
        background-color: #30a1e1 !important;
    }
}

@media (max-width: 420px) {
    #txtFirstName, #txtLastName, #txtEmailAddress {
        width: inherit !important;
    }
}

@media (max-width: 380px) {
    /*td, th {
                        padding:-1px !important;
                    }*/
    #imgNext {
        height: 150px !important;
    }

    .td-sm {
        /*width: inherit !important;*/
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
}
/*@media screen (min-width: 360px) and (max-width: 376px) {

    #imgNext {
        border-right: 15px solid red;
        border-width: initial !important;
    }
}*/
@media (max-width: 360px) {
    /*#imgNext {
                        border-right: 3px solid #37a4e2;
                        border-width: initial !important;
                    }*/

    /*.visible-none-sm {
                        display: none !important;
                    }*/
    .visible-none-sm img {
        width: 7px !important;
    }
    /*.border-left-15 {
                        border-left: 15px solid #37a4e2;
                    }*/

    .img-hide-in-sm {
        display: none;
    }

    .img-countryLogo-sm {
        width: 285px !important;
    }

    .col2 {
        background-image: none !important;
    }
}
