@{
    Layout = "~/Views/Shared/_RgLayout.cshtml";
}
<link href="~/Content/rg/step1Responsive.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    }
    <div ng-if="pgLoad" ng-controller="step2Controller">
        <style type="text/css">
            input.form-control {
                width: 100%;
                height: 34px;
                margin: 3px 0 0;
                padding: 6px 12px;
                color: black;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 14px;
            }

            select.form-control {
                width: 100%;
                height: 34px;
                margin: 3px 0 0;
                padding: 6px 12px;
                color: black;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 14px;
            }

            .text-right {
                text-align: right;
            }

            .span-right {
                color: White;
            }
        </style>
        <div id="Container">
            <header class="main-header">
                <div class="wrapper">
                    <div class="menu-icon"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
                    <div id="" class="login-icon"><i class="glyphicon glyphicon-user"></i></div>

                    <div class="logo"></div>
                    <div class="navi">
                        <div class="mem_log">
                            <div class="row">
                                <div class="col-md-4 mlogin-label" data-bind="text: ViewModel1.BodyMenu.MemberLogin"></div>
                                <div class="col-md-3 col-input">
                                    <input type="text" class="pass-newsletter" name="fake_pass" id="fake_email" data-bind="attr: { value: ViewModel1.BodyMenu.PlaceholdertextForEmail }" style="display: none;" />
                                    <input id="txtLoigEmailId" name="" type="text" style="margin-left: 5px;" />
                                    <div id="spnEmail" style="" class="error spnerrormsg"></div>
                                </div>
                                <div class="col-md-3 col-input">
                                    <input type="text" class="pass-newsletter" name="fake_pass" id="fake_pass" data-bind="attr: { value: ViewModel1.BodyMenu.PlaceholdertextForPassword }" style="display: none;" />
                                    <input id="exampleInputPassword2" name="" type="password" style="margin-left: 8px;" />
                                    <div id="spnPassword" class="error spnerrormsg">
                                    </div>
                                </div>
                                <div class="loginSubmit">
                                    <input type="submit" id="btnLogin" data-bind="value: ViewModel1.BodyMenu.Submit"
                                           name="subscribe" class="button-newsletter" />
                                </div>
                                <div id="dvFp">
                                    <a id="aFps" href="/misc/lqfp.htm" data-bind="text: ViewModel1.BodyMenu.ForgotPs"
                                       style="text-decoration: underline; font-size: 12px; float: right; color: #FF9600; font-size: 11px;"></a>
                                </div>
                                <div class="dv-errmsg-login">
                                    <span id="spnErrorMessage" style="display: none; font-size: 12px;"></span>
                                </div>
                            </div>
                        </div>

                        <ul style="float: right;" class="menu-ul">
                            <li><a href="/wl/lqestep1.aspx" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.Home"></a></li>
                            <li><a id="aFaq" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.Faq"></a></li>
                            <li><a id="aAboutUs" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.AboutUs"></a></li>
                            <li><a href="/Misc/lqcu.htm" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.ContactUs"></a></li>
                            <li><a><span id="aEnglish" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.English"></span></a></li>
                            <li><a><span id="aSapnish" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.Spanish"></span></a></li>
                            <li>
                                <a id="aPortuguese" style="cursor: pointer;" data-bind="text: ViewModel1.BodyMenu.Portuguese">
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="clear">
            </div>
            <div class="main">
                <div id="dvMain" class="main" style="display: table; width: 100%;">

                    <div class="wrapper page2wrapper" style="background: url('/AffiliateLading/loquelanding/img/lq_images/iStock_main_bg21.jpg')no-repeat;">
                        <div class="slogan sloganLeft" style="float: left;">
                            <h1 data-bind="text: ViewModel1.BodyHeaders.ToSay" style="color: #d83b22; text-shadow: none; font-size: 26px; text-align: center;">We want to hear what you have to say!</h1>
                            <h2 data-bind="text: ViewModel1.BodyHeaders.RedeemCatalouges" style="color: #272727; text-shadow: none; padding-top: 10px; text-align: center;">
                                Redeem points for PayPal, Amazon, Facebook Credits rewards.
                            </h2>
                            <div class="arrow">
                                <ul>
                                    <li>
                                        <span data-bind="text: ViewModel1.BodyHeaders.CmpleteAddText" style="font-size: 22px;"></span>
                                        <br />
                                        <span data-bind="text: ViewModel1.BodyHeaders.CmpleteAddText2" style="font-size: 22px;"></span>
                                    </li>
                                    <li>
                                        <span data-bind="text: ViewModel1.BodyHeaders.SubmitText" style="font-size: 17px;"></span>
                                        <br />
                                        <span data-bind="text: ViewModel1.BodyHeaders.SubmitText2" style="font-size: 17px;"></span>
                                    </li>
                                    <li>
                                        <span data-bind="text: ViewModel1.BodyHeaders.AwardsText" style="font-size: 17px;"></span>
                                        <br />
                                        <span data-bind="text: ViewModel1.BodyHeaders.AwardsText2" style="font-size: 17px;"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="slides" style="display: none;">
                        <div class="slides_container">
                            <img src="/AffiliateLading/loquelanding/img/image1.png" alt="sld1" />
                            <img src="img/image2.png" alt="sld2" />
                            <img src="img/image3.png" alt="sld3" />
                        </div>
                    </div>-->
                        <div id="dvSubscriber" class="subscriber" style="height: auto; max-width: 445px;">
                            <div class="subscriber-wrap">
                                <img style="margin: 2% 0; max-width: 100%;" data-bind="attr: { src: ViewModel1.BodyHeaders.SignUpImg }" class="signupImg" />
                                <p data-bind="text: ViewModel1.BodyHeaders.SingnUpText" style="font-size: 17px; line-height: 20px;">
                                </p>
                                <div style="padding-top: 2%; width: 100%;" id="dvMemberDetails">

                                        <form class="form-horizontal" name="userForm">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    {{'firstName'|translate}} *
                                                </div>
                                                <input type="text" id="txtFirstName" class="form-control" ng-model="user.FirstName" name="firstName" required>
                                                <span ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="text-danger txt-req">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'lastName'|translate}} *
                                                </div>
                                                <input type="text" id="txtLastName" class="form-control" ng-model="user.LastName" name="lastName" required>
                                                <span ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="text-danger txt-req">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'emailAddress'|translate}} *
                                                </div>
                                                <input type="email" id="txtEmailAddress" class="form-control" ng-model="user.EmailAddress" name="email" required>
                                                <!--<span ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="text-danger">Required</span>-->
                                                <span class="error text-danger txt-req" ng-show="userForm.$error.email">{{'notValidEmail'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'address1'|translate}} *
                                                </div>
                                                <input type="text" id="txtAddress1" class="form-control" ng-model="user.Address1" required>
                                                <span class="error text-danger" ng-show="userForm.address1.$invalid && !userForm.address1.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'address2'|translate}}
                                                </div>
                                                <input type="text" id="txtAddress2" class="form-control" ng-model="user.Address2">
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'country'|translate}} *
                                                </div>
                                                <select class="form-control txt-box" id="CountryId" ng-model="user.CountryId" name="country" ng-change="countryByStates(user.CountryId)" convert-to-number required>
                                                    <option value="">{{'select'|translate}}</option>
                                                    <option value="231">{{'unitedstatesofamerica'|translate}}</option>
                                                    <option value="38">{{'canada'|translate}} </option>
                                                    <option value="229">{{'unitedkingdom'|translate}}</option>
                                                    <option value="15"> {{'australia'|translate}}</option>
                                                </select>
                                                <span class="error text-danger txt-req" ng-show="userForm.country.$invalid && !userForm.country.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'stateProvince'|translate}} *
                                                </div>
                                                <select class="form-control txt-box" id="ddlStates" ng-model="user.StateId" name="state" ng-options="st.StateId as st.StateName for st in states" required>
                                                    <option value="">{{'select'|translate}}</option>
                                                </select>
                                                <span class="error text-danger txt-req" ng-show="userForm.state.$invalid && !userForm.state.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'city'|translate}} *
                                                </div>
                                                <input type="text" id="txtCity" class="form-control" ng-model="user.City" name="city" required>
                                                <span class="error text-danger txt-req" ng-show="userForm.city.$invalid && !userForm.city.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'zipPostalCode'|translate}}
                                                </div>
                                                <input type="text" id="txtZipCode" class="form-control" ng-model="user.ZipCode" name="zipCode" required>
                                                <span class="error text-danger txt-req" ng-show="userForm.zipCode.$invalid && !userForm.zipCode.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'phoneNumber'|translate}}
                                                </div>
                                                <input type="text" id="txtPhoneNumber" class="form-control" ng-model="user.PhoneNumber">
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'gender'|translate}} *
                                                </div>
                                                <select class="form-control" id="ddlGender" ng-model="user.Gender" name="gender" required>
                                                    <option value="">{{'select'|translate}}</option>
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                    <option value="N">Non-Binary</option>
                                                </select>
                                                <span class="error text-danger txt-req" ng-show="userForm.gender.$invalid && !userForm.gender.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'dOB'|translate}} *
                                                </div>
                                                <div class="row">
                                                    <select class="form-control padding-zero ddl-mm" id="ddlMonth" ng-model="user.Month" name="month" required>
                                                        <option value="">-MM-</option>
                                                        <option value="01">{{'jan'|translate}}</option>
                                                        <option value="02">{{'feb'|translate}}</option>
                                                        <option value="03">{{'mar'|translate}}</option>
                                                        <option value="04">{{'apr'|translate}}</option>
                                                        <option value="05">{{'may'|translate}}</option>
                                                        <option value="06">{{'jun'|translate}}</option>
                                                        <option value="07">{{'jul'|translate}}</option>
                                                        <option value="08">{{'aug'|translate}}</option>
                                                        <option value="09">{{'sep'|translate}}</option>
                                                        <option value="10">{{'oct'|translate}}</option>
                                                        <option value="11">{{'nov'|translate}}</option>
                                                        <option value="12">{{'dec'|translate}}</option>
                                                    </select>
                                                    <select class="form-control padding-zero ddl-dd" id="ddlDay" ng-model="user.Day" name="day" required>
                                                        <option value="">-DD-</option>
                                                        <option value="01">1</option>
                                                        <option value="02">2</option>
                                                        <option value="03">3</option>
                                                        <option value="04">4</option>
                                                        <option value="05">5</option>
                                                        <option value="06">6</option>
                                                        <option value="07">7</option>
                                                        <option value="08">8</option>
                                                        <option value="09">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>

                                                    <select class="form-control y-width ddl-yy" id="ddlYear" ng-model="user.Year" name="year" convert-to-number required>
                                                        <option value="">-YY-</option>
                                                        <option ng-repeat="y in year" value="{{y.key}}">{{y.value}}</option>
                                                    </select>
                                                    <span class="error text-danger  txt-req spn-yy-err" ng-show="(userForm.month.$invalid ||userForm.day.$invalid||userForm.year.$invalid)  && (!userForm.month.$pristine||!userForm.day.$pristine || !userForm.year.$pristine)">{{'required'|translate}}</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'ethnicity'|translate}}*
                                                </div>
                                                <select class="form-control" id="ddlEthnicity" ng-model="user.EthnicityId" name="ethnicity" convert-to-number required>
                                                    <option value="">{{'select'|translate}}</option>
                                                    <option ng-repeat="ec in ethnicityLst" value="{{ec.EthnicityId}}">{{ec.EthnicityType}}</option>
                                                </select>
                                                <span class="error text-danger txt-req" ng-show="userForm.ethnicity.$invalid  && !userForm.ethnicity.$pristine">{{'required'|translate}}</span>
                                            </div>
                                            <div class="form-group col-sm-8 text-box">
                                                <div class="col-md-2">
                                                    {{'newPassword'|translate}}*
                                                </div>
                                                <input type="password" id="txtPassword" class="form-control" name="password" ng-model="user.Password" required>
                                                <span class="error text-danger txt-req" ng-show="userForm.password.$invalid && !userForm.password.$pristine">{{'required'|translate}}</span>
                                            </div>
                                        </form>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.FirstName"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtFirstName" class="form-control" data-bind="value: ViewModel.FirstName" />
                                                <div id="spnFn" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.LastName"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtLastName" class="form-control" data-bind="value: ViewModel.LastName" />
                                                <div id="spnLn" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.EmailAddress"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtEmailAddress" class="form-control" data-bind="value: ViewModel.EmailAddress" />
                                                <div id="spnEmailErrMsg" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Password"></label>
                                            <div class="col-sm-8">
                                                <input type="password" id="txtPassword" class="form-control" data-bind="value: ViewModel.Password" />
                                                <div id="spnPasswordMsg" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                                <div id="spnPswErrMsg"
                                                     style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="pserror">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Address1"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtAddress1" class="form-control" data-bind="value: ViewModel.Address1" />
                                                <div id="spnAddress1" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Address2"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtAddress2" class="form-control" data-bind="value: ViewModel.Address2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Country"></label>
                                            <div class="col-sm-8">
                                                <select id="ddlCountry" class="form-control" data-bind="value: ViewModel.CountryCode"></select>
                                                <div id="spnCountry" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.State"></label>
                                            <div class="col-sm-8">
                                                <select id="ddlStates" class="form-control" data-bind="value: ViewModel.StateCode"></select>
                                                <div id="spnState" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.City"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtCity" class="form-control" data-bind="value: ViewModel.City" />
                                                <div id="spnCity" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.PostalCode"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtZipCode" class="form-control" data-bind="value: ViewModel.ZipCode" />
                                                <div id="spnZip" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.MobilePhone"></label>
                                            <div class="col-sm-8">
                                                <input type="text" id="txtPhoneNumber" class="form-control" data-bind="value: ViewModel.PhoneNumber" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Gender"></label>
                                            <div class="col-sm-8">
                                                <select id="ddlGender" class="form-control" data-bind="value: ViewModel.Gender"></select>
                                                <div id="spnGender" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.BirthDate"></label>
                                            <div class="col-sm-8">
                                                <select id="ddlMonth" style="width: 30%; height: 34px; color: black; border-radius: 4px; border: 1px solid #ccc;"
                                                        data-bind="value: ViewModel.Month">
                                                    <option value="-1">MM</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <select id="ddlDay" style="width: 30%; height: 34px; color: #555; color: black; border-radius: 4px; border: 1px solid #ccc;"
                                                        data-bind="value: ViewModel.Day">
                                                    <option value="-1">DD</option>
                                                    <option value="1">01</option>
                                                    <option value="2">02</option>
                                                    <option value="3">03</option>
                                                    <option value="4">04</option>
                                                    <option value="5">05</option>
                                                    <option value="6">06</option>
                                                    <option value="7">07</option>
                                                    <option value="8">08</option>
                                                    <option value="9">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <select id="ddlYear" style="width: 36%; height: 34px; color: black; border-radius: 4px; border: 1px solid #ccc;"
                                                        data-bind="value: ViewModel.Year"></select>
                                                <div id="spnDob" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" data-bind="text: ViewModel1.BodyHeaders.Ethnicity"></label>
                                            <div class="col-sm-8">
                                                <select id="ddlEthnicity" class="form-control" data-bind="value: ViewModel.EthnicityId"></select>
                                                <div id="spnEthnicity" style="font-size: 12px; display: none; margin-left: 8px; font-size: 12px; text-transform: none; color: Red;"
                                                     class="error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="dvCaptcha" class="g-recaptcha" data-sitekey="6Lct0x8TAAAAANYh_X7Vu_6lPGYd6uUaXzFgMQ7z" style="float: right; margin-top: 15px; margin-right: 9px;"></div>
                                            <div id="spnAc" style="font-size: 12px; display: none; margin-left: 27px; font-size: 12px; text-transform: none; color: Red;"
                                                 class="error">
                                            </div>
                                        </div>


                                        <div class="col-sm-12">
                                            <label id="lblMessage" style="color: Red; display: none;">
                                            </label>
                                        </div>
                                        <div class="row">
                                            <input type="hidden" id="hfShow" value="0" />
                                            <input type="hidden" id="hfrid" />
                                        </div>
                                        @*<%--<div id="divShow" style="display: none; text-shadow: 0 0px 0px; background-color: white; width: 397px; margin-top: 10px; margin-left: -17px;"
                                                 class="row">
                                            <div>
                                                <div style="color: Black; margin-left: 6px;">
                                                    <b>Good news!</b> Based on your demographics, you have qualified for these survey
                                                    panels. Check next to each panel you are interested in learning more about. You'll
                                                    have access to your first survey after joining.<br />
                                                    <input name="hfoi_sid" type="hidden" id="hfoi_sid" value="" />
                                                    <input type="hidden" name="OI_FORM_IDENTIFIER" value="" />
                                                    <input type="hidden" name="OI_button" value="0" />
                                                </div>
                                            </div>
                                        </div>--%>*@
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="dvTc">
                                                    <input style="display: inline-block; height: 10px; padding: 0; vertical-align: top; width: 10px;"
                                                           name="agree" type="checkbox" value="agre" />
                                                    <label style="display: inline-block; line-height: normal; margin: 0; padding-top: 13px; text-align: left; width: 89%; font-size: 12px; cursor: default;"
                                                           data-bind="html: ViewModel1.BodyHeaders.AcceptTrAndTc">
                                                    </label>
                                                </div>
                                                <input type="submit" id="imgNext" data-bind="value: ViewModel1.BodyHeaders.Submit"
                                                       name="subscribe" onclientclick="checkflag();" class="button-newsletter" />
                                                <input type="hidden" id="hfvalue" value="0" />
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <footer style="box-shadow: none; margin-top: 10px;">
            <div class="wrapper">
                <div class="copy">

                    <p>
                        &#169; <span data-bind="text: ViewModel1.Footer.Cpr"></span>
                        <strong><span data-bind="text: ViewModel1.Footer.WhatISay"></span></strong>.
                        <span data-bind="text: ViewModel1.Footer.RightReserved"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="spnTc" data-bind="text: ViewModel1.Footer.Tc" style="cursor: pointer;"></span>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <span id="spnPrp" data-bind="text: ViewModel1.Footer.Prp" style="cursor: pointer;"></span>
                    </p>
                </div>
                <div class="social">
                    <ul>
                        <li class="google"><a href="#"></a></li>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        </body>
        </html>


    </div>
</div>
