<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <clear />
  <add name="ConnectionString" connectionString="server=10.200.10.80;database=ps2;uid=mg_webapp;pwd=AQ2NfD3yDAsT;" />
  <add name="ConnectionStringIP" connectionString="server=10.200.10.80;database=ip2country;uid=mg_webapp;pwd=AQ2NfD3yDAsT;Connect Timeout=120;" />
  <add name="ConnectionString1" connectionString="server=10.200.10.183;database=ps2_user1;uid=mg_webapp;pwd=HE3bJq9CJYf8;Connect Timeout=120;" />
  <add name="ConnectionString2" connectionString="10.200.10.139;database=ps2_user2;uid=mg_webapp;pwd=MwCLmNLu64AD;Connect Timeout=120;" />
  <add name="ConnectionString3" connectionString="server=10.200.10.191;database=ps2_user3;uid=mg_webapp;pwd=AybG8YvEm5WN;Connect Timeout=120;" />
  <add name="ConnectionStringActivity" connectionString="server=10.200.10.80;database=ps2_activity;uid=mg_webapp;pwd=AQ2NfD3yDAsT;Connect Timeout=120;"/>
</connectionStrings>
