a {
    text-decoration: none;
}

/*a:hover
    {
        text-decoration: underline;
    }*/

legend {
    display: none;
}

body {
    color: black;
    font-family: Verdana, Helvetica, 'sans serif';
    background: url(/images/bg.jpg) repeat-x #abd7fe;
}

#bonusDealsBox {
    width: 235px;
    background-repeat: repeat-y;
    padding: 10px 20px;
    margin: 0 0;
    text-align: left;
}

#contentr input {
    float: left;
    margin-bottom: 12px;
    margin-left: 5px;
    width: 190px;
}

#contentr label {
    float: left;
    font-size: 12px;
    margin-top: 2px;
    text-align: right;
    width: 110px;
}

.label {
    font-size: 12px;
}



#container {
    width: 940px;
    background: url(/images/main/content_bg.png) repeat-y;
    margin: auto;
    overflow: hidden;
}

#container1 {
    width: 640px;
    background: url(/images/main/content_bg.png) repeat-y;
    margin: auto;
    overflow: hidden;
}

#topborder {
    width: 900px;
    margin: auto;
    height: 4px;
    background: #e8e8e8;
}

#topborder1 {
    width: 600px;
    margin: auto;
    height: 4px;
    background: #e8e8e8;
}

#logo {
    float: left;
    margin-left: 34px;
    margin-top: 25px;
}

#login {
    float: right;
    width: 403px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#flash {
    float: left;
    width: 896px;
    height: 312px;
    margin-left: 24px;
}

#contentl {
    width: 380px;
    float: left;
    margin-left: 68px;
    margin-top: 23px;
}

#contentr {
    float: left;
    width: 470px;
    margin-right: 0px;
    margin-top: 23px;
}

#footer {
    float: left;
    width: 940px;
}

#footer1 {
    float: left;
    width: 600px;
}


#popup {
    position: absolute;
    left: 402px;
    top: 677px;
    width: 500px;
    font-size: 12px;
    line-height: 16px;
    border: 2px solid #999;
    padding: 15px;
    color: black;
    z-index: 1;
    background-color: #FFF;
    visibility: hidden;
}



#closeButton {
    text-align: center;
    font-size: 14px;
    color: #C00;
    font-weight: bold;
    margin-bottom: 10px;
}




/*FIELDSET LOGIN STYLING*/


#login label {
    font-size: 13px;
    display: block;
    float: left;
    margin-top: 5px;
}

#login input {
    float: left;
    margin-top: 6px;
}


#left {
    float: left;
    width: 172px;
}

#right {
    float: left;
    width: 200px;
    margin-left: 0px;
}

    #left p, #right p {
        width: 150px;
        font-weight: bold;
        font-size: 13px;
        color: black;
        float: left;
    }

        #right p a {
            font-weight: normal;
            font-size: 13px;
            color: blue;
            text-decoration: underline;
        }

            #right p a:hover {
                text-decoration: none;
            }

#go {
    float: left;
    margin-left: 5px;
}


/*CONTENTL = CONTENT LEFT STYLING*/


#contentl h2 {
    margin-bottom: 28px;
}

#contentl p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 23px;
    color: black;
}


#contentl ul {
    font-size: 12px;
    margin-left: 30px;
    list-style: disc;
}

#contentl li {
    margin-bottom: 20px;
}


/*CONTENTR = CONTENT LEFT STYLING*/

#contentr h2 {
    margin-left: 25px;
    margin-bottom: 25px;
}

#contentr div#fieldset p {
    float: left;
}

#contentr label {
    float: left;
    text-align: left;
    width: 110px;
    font-size: 12px;
    margin-top: 2px;
    text-align: right;
}


    #contentr label span {
        font-size: 9px;
    }

#contentr input {
    float: left;
    margin-left: 5px;
    margin-bottom: 12px;
    width: 190px;
}


#contentr select#month {
    width: 45px;
}

#contentr select#day {
    width: 45px;
}

#contentr select#year {
    width: 68px;
}

#contentr select {
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 195px;
}

    #contentr select#gender {
        background: #f0f8ff;
        margin-bottom: 15px;
    }


.divider {
    float: left;
    height: 1px;
    width: 100%;
    background: #eeeeee;
    margin-top: 5px;
    margin-bottom: 5px;
}



#accesscode {
    float: left;
    border: 1px solid #aaaaaa;
    margin-left: 5px;
    margin-bottom: 10px;
}

input#code {
    width: 140px;
}

img#refresh {
    float: left;
}

img#help {
    float: left;
    margin-left: 8px;
}

.access {
    position: relative;
    left: -14px;
}

input#join {
    float: left;
    margin-left: 70px;
}


/*FOOTER STYLING*/

#privacy {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 15px;
}

#footer p#text {
    background: url(/images/main/border.gif) no-repeat top center;
    padding-top: 15px;
    font-size: 9px;
    text-align: center;
    color: #b2b2b2;
    margin-bottom: 126px;
}

#footer p a {
    color: #b2b2b2;
}


/*INTERIOR*/

#logout {
    float: right;
    color: #3094cc;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 14px;
}

    #logout a {
        text-decoration: underline;
        color: #3094cc;
    }

        #logout a:hover {
            text-decoration: none;
        }


ul.nav {
    width: 905px;
    /*    border-top: 1px solid black;
    border-bottom: 1px solid black;  */
    height: 41px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

    ul.nav li {
        float: left;
        display: block;
        height: 41px;
    }

        ul.nav li a {
            display: block;
            height: 29px;
            text-align: center;
            background: #005d7b;
            padding-top: 12px;
        }

            ul.nav li a:hover {
                background: #005d7b;
            }

            ul.nav li a#navchosen {
                width: 125px;
                border-right: 1px solid #0e3b55;
                background: #36a3e2;
            }

            ul.nav li a#home_nav {
                width: 125px;
                border-right: 1px solid #0e3b55;
            }

            ul.nav li a#surveys_nav {
                width: 150px;
                border-right: 1px solid #0e3b55;
            }

            ul.nav li a#awards_nav {
                width: 152px;
                border-right: 1px solid #0e3b55;
            }

            ul.nav li a#downline_nav {
                width: 160px;
                border-right: 1px solid #0e3b55;
            }

            ul.nav li a#perks_nav {
                width: 126px;
            }

            ul.nav li a#myaccount_nav {
                width: 186px;
                border-right: 1px solid #0e3b55;
            }



#interiortop {
    float: left;
    width: 940px;
    text-align: left;
}

    #interiortop h1 {
        margin-left: 75px;
        margin-top: 25px;
        font-size: 12px;
        font-weight: bold;
        color: black;
        margin-bottom: 20px;
        text-align: left;
    }

    #interiortop p {
        font-size: 12px;
        font-weight: normal;
        margin-left: 75px;
        margin-right: 92px;
        margin-bottom: 22px;
        line-height: 17px;
        text-align: left;
    }


#takesurveys_col {
    float: left;
    width: 210px;
    margin-left: 225px;
    padding-right: 47px;
    background: url(/images/main/border-right.gif) top right no-repeat;
    min-height: 180px;
}

    #takesurveys_col h2 {
        margin-bottom: 10px;
    }

    #takesurveys_col p {
        font-size: 12px;
        font-weight: normal;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        line-height: normal;
        color: #0085c3;
    }

    #takesurveys_col h3 {
        margin-top: 38px;
    }


#build_col {
    width: 250px;
    /*  background: url(/images/border-right.gif) top right no-repeat; */
    float: left;
    margin-left: 42px;
    padding-right: 25px;
    min-height: 180px;
}


    #build_col h2 {
        margin-bottom: 10px;
    }

    #build_col p {
        font-size: 12px;
        font-weight: normal;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        line-height: normal;
        color: #0085c3;
    }

    #build_col h3 {
        margin-top: 20px;
    }


#cash_col {
    width: 177px;
    float: right;
    margin-right: 120px;
}


    #cash_col h2 {
        margin-bottom: 10px;
    }

    #cash_col p {
        font-size: 12px;
        font-weight: normal;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        line-height: normal;
        color: #0085c3;
    }

    #cash_col h3 {
        margin-top: 38px;
    }


#interiorbottom {
    margin-top: 38px;
    float: left;
    width: 940px;
    margin-bottom: 72px;
}

#col1 {
    float: left;
    width: 228px;
    margin-left: 24px;
    background: url(/images/main/leftbox_gradient.jpg) repeat-x white;
    height: 413px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    #col1 .boxleft {
        width: 212px;
        border: 1px solid #e1e1e1;
        margin-top: 8px;
        float: left;
        background: white;
        margin-left: 6px;
        margin-bottom: 10px;
    }

    #col1 h1 img {
        border: 1px solid #72a456;
    }

ul#arrow {
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 7px;
}

#arrow li.gray {
    background: #f0f0f0 url(/images/main/arrow_gray.gif) no-repeat 6px 5px;
    color: #6195b2;
    font-size: 13px;
    font-weight: bold;
    padding-left: 26px;
    height: 19px;
    padding-top: 2px;
}

#arrow li.white {
    background: white url(/images/main/arrow_white.gif) no-repeat 6px 5px;
    color: #6195b2;
    font-size: 13px;
    font-weight: bold;
    padding-left: 26px;
    height: 19px;
    padding-top: 2px;
}

#arrow li a {
    color: #6195b2;
}

ul#check {
    width: 197px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 7px;
}

#check li.check {
    background: white url(/images/checked.gif) no-repeat top left;
    color: #6195b2;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    height: 19px;
    padding-top: 2px;
}

#check li.uncheck {
    background: white url(/images/main/emptycheck.gif) no-repeat left 5px;
    color: #6195b2;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    height: 19px;
    padding-top: 2px;
}

#check li a {
    color: #6195b2;
}

#col2 {
    float: left;
    width: 389px;
    margin-left: 30px;
    text-align: left;
}

    #col2 h1 {
        margin-top: 14px;
        margin-bottom: 16px;
    }

    #col2 h2 {
        margin-bottom: 11px;
    }

    #col2 p {
        font-size: 12px;
        line-height: 17px;
        color: black;
        margin-bottom: 20px;
    }



#col3 {
    float: right;
    width: 194px;
    margin-right: 33px;
}

    #col3 h1 img {
        border: 1px solid #72a456;
    }

    #col3 .box {
        width: 190px;
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
        float: left;
    }

.box p {
    margin-top: 8px;
    margin-left: 12px;
    font-size: 14px;
    color: #777777;
    margin-right: 6px;
}

.box img#stock {
    position: relative;
    top: 3px;
}

.box p a {
    color: blue;
    text-decoration: underline;
}

    .box p a:hover {
        text-decoration: none;
    }

.box p span {
    font-size: 12px;
}

#col3 ul {
    margin-left: 9px;
    margin-top: 15px;
    margin-bottom: 20px;
}

    #col3 ul li {
        font-size: 12px;
        color: #2882b5;
        font-weight: bold;
        margin-bottom: 10px;
        padding-left: 20px;
        background: url(/images/1through10.gif) no-repeat;
        display: block;
        height: 15px;
    }

#col3 #number1 {
    background-position: 0px 0%;
}

#col3 #number2 {
    background-position: 0px 10%;
}

#col3 #number3 {
    background-position: 0px 22%;
}

#col3 #number4 {
    background-position: 0px 33%;
}

#col3 #number5 {
    background-position: 0px 44%;
}

#col3 #number6 {
    background-position: 0px 56%;
}

#col3 #number7 {
    background-position: 0px 67%;
}

#col3 #number8 {
    background-position: 0px 78%;
}

#col3 #number9 {
    background-position: 0px 89%;
}

#col3 #number10 {
    background-position: 0px 100%;
}



#col3 ul li a {
    color: #2882b5;
}

om: 10px; padding-left: 20px; background: url(/images/1through10.gif) no-repeat; display: block; height: 15px;
}

#col3 #number1 {
    background-position: 0px 0%;
}

#col3 #number2 {
    background-position: 0px 10%;
}

#col3 #number3 {
    background-position: 0px 22%;
}

#col3 #number4 {
    background-position: 0px 33%;
}

#col3 #number5 {
    background-position: 0px 44%;
}

#col3 #number6 {
    background-position: 0px 56%;
}

#col3 #number7 {
    background-position: 0px 67%;
}

#col3 #number8 {
    background-position: 0px 78%;
}

#col3 #number9 {
    background-position: 0px 89%;
}

#col3 #number10 {
    background-position: 0px 100%;
}



#col3 ul li a {
    color: #2882b5;
}

.aspan {
    color: #FDF2F0;
    font-weight: bold;
    font-size: 14px;
}

ul#menu li a:hover, ul#menu li a:focus {
background-color: #337ab7;
}
