body
{
	font-family: verdana,arial;
	font-size: 10pt;
}

.myButton
{
	-moz-box-shadow: inset 0px 1px 0px 0px #276873;
	-webkit-box-shadow: inset 0px 1px 0px 0px #276873;
	box-shadow: inset 0px 1px 0px 0px #276873;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=      '#599bb3' , endColorstr= '#408c99' ,GradientType=0);
	background-color: #599bb3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #29668f;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 43px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
	float: left;
}
.myButton:hover
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=      '#408c99' , endColorstr= '#599bb3' ,GradientType=0);
	background-color: #408c99;
}
.myButton:active
{
	position: relative;
	top: 1px;
}
#dvImageLoading
{
	background: url(/Images/loading_big.gif) no-repeat center center;
	height: 90px;
	width: 90px;
	position: fixed;
	z-index: 1000;
	left: 45%;
	top: 45%;
	padding-top: 10px;
	vertical-align: middle;
	font-size: 12pt;
	align: center;
}

@media (min-width: 570px)
{
	#tblDetails
	{
		width: 98%;
		margin-left: 20px;
		vertical-align: top;
	}
	#dvTac
	{
		width: 60%;
		float: right;
	}
	#lblBalance
	{
		float: left;
	}
	.spnd
	{
		float: left;
	}
	#dvImg
	{
		width: 100%;
		float: left;
	}
	.dvrnst
	{
		width: 30%;
		float: left;
	}
	.dvracc
	{
		width: 28%;
		float: left;
	}
	.dvrec
	{
		width: 30%;
		float: left;
	}
	.dvrredeem
	{
		width: 30%;
		float: left;
	}
	.dvcaptcha
	{
		margin: 4px auto;
		padding: 30px;
		border: 1px solid #e2e4e7;
		background-color: #f5f7f8;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 62%;
		float: right;
	}
	.dvlinegap
	{
		padding-top: 40px;
	}
	.lblrn
	{
		font-weight: bold;
		color: #6195b2;
		float: right;
	}
	.dvrn
	{
		width: 70%;
		float: left;
		padding-bottom: 20px;
	}
    .dvrn1
	{
		width:100%;
	
	}
	.dvrncaptcha
	{
		/* width: 70%;*/ /* float: left;*/
		margin-bottom: 20px;
	}
	.dvrddl
	{
		width: 70%;
		float: left;
		padding-bottom: 20px;
	}
	.lblrt
	{
		float: left;
		text-align: justify;
	}
    .lblrt1
	{
		text-align: justify;
	}
	.dvrdescription
	{
		width: 10%;
		float: right; 
	}
	#imgAccessCode
	{
		height: 53px;
		min-width: 180px;
		border-width: 0px;
		float: left;
	}
	#txtEntercode
	{
		float: left;
		min-width: 209px;
		min-height: 25px;
	}
	.dvredbtn
	{
		width: 50%;
		float: left;
	}
	.dvcanbtn
	{
		width: 50%;
		float: left;
	}
	.dvbuttons
	{
		width: 50%;
		margin-left: 60px;
	}
	.dvEnterCode
	{
		float: left;
		margin-left: 15px;
	}
	.spnCaptchaErrMsg
	{
		color: Red;
		font-size: 12px;
		float: right;
		margin: 0 auto;
	}
	.myButton
	{
		-moz-box-shadow: inset 0px 1px 0px 0px #276873;
		-webkit-box-shadow: inset 0px 1px 0px 0px #276873;
		box-shadow: inset 0px 1px 0px 0px #276873;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
		background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=      '#599bb3' , endColorstr= '#408c99' ,GradientType=0);
		background-color: #599bb3;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #29668f;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: arial;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 43px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #3d768a; /*float: left;*/
	}
	.dvEnterText
	{
		display: none;
	}

}
@media (min-width: 650px)
{
	#tblDetails
	{
		width: 98%;
		margin-left: 20px;
		vertical-align: top;
	}
	#dvTac
	{
		width: 46%;
		float: right;
	}
	#lblBalance
	{
		float: left;
	}
	.spnd
	{
		float: left;
	}
	#dvImg
	{
		width: 100%;
		float: left;
	}
	.dvrnst
	{
		width: 30%;
		float: left;
	}
	.dvracc
	{
		width: 28%;
		float: left;
	}
	.dvrec
	{
		width: 30%;
		float: left;
	}
	.dvrredeem
	{
		width: 30%;
		float: left;
	}
	.dvcaptcha
	{
		margin: 4px auto;
		padding: 30px;
		border: 1px solid #e2e4e7;
		background-color: #f5f7f8;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 62%;
		float: right;
	}
	.dvlinegap
	{
		padding-top: 40px;
	}
	.lblrn
	{
		font-weight: bold;
		color: #6195b2;
		float: right;
	}
	.dvrn
	{
		width: 70%;
		float: left;
		padding-bottom: 20px;
	}
	.dvrncaptcha
	{
		/*width: 70%;*/ /* float: left;*/
		margin-bottom: 20px;
	}
	.dvrddl
	{
		width: 70%;
		float: left;
		padding-bottom: 20px;
	}
	.lblrt
	{
		float: left;
		text-align: justify;
	}
    .lblrt1
	{
		
		text-align: justify;
	}
	.dvrdescription
	{
		width: 30%;
		float: left;
		/*padding-top: 50px;*/
	}
	#imgAccessCode
	{
		height: 53px;
		min-width: 180px;
		border-width: 0px;
		float: left;
		margin-top: 19px;
	}
	#txtEntercode
	{
		float: left;
		min-width: 209px;
		min-height: 25px;
	}
	.dvredbtn
	{
		width: 50%;
		float: left;
	}
	.dvcanbtn
	{
		width: 50%;
		float: left;
	}
	.dvbuttons
	{
		width: 50%;
		margin-left: 60px;
	}
	.dvEnterCode
	{
		float: left;
		margin-left: 15px;
	}
	.spnCaptchaErrMsg
	{
		color: Red;
		font-size: 12px;
		float: right;
		margin: 0 auto;
	}
	.myButton
	{
		-moz-box-shadow: inset 0px 1px 0px 0px #276873;
		-webkit-box-shadow: inset 0px 1px 0px 0px #276873;
		box-shadow: inset 0px 1px 0px 0px #276873;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
		background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=      '#599bb3' , endColorstr= '#408c99' ,GradientType=0);
		background-color: #599bb3;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #29668f;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: arial;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 43px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #3d768a; /*float: left;*/
	}
	.dvEnterText
	{
		display: none;
	}

}
@media (max-width: 500px)
{
	body
	{
		font-family: 'Freight Sans Bold' , 'lucida grande' ,tahoma,verdana,arial,sans-serif !important;
		font-size: medium;
	}
	#tblDetails
	{
		width: 100%;
		margin-left: 0px;
	}
	#dvTac
	{
		width: 100%;
		float: left;
	}
	.dvacb
	{
		width: 100%;
	}
	.dvtab
	{
		width: 100%;
	}
	#lblBalance
	{
		float: left;
		text-align: left;
	}
	.spnd
	{
		float: left;
		padding-bottom: 10px;
	}
	#dvImg
	{
		width: 100%;
		float: left;
		padding-bottom: 10px;
	}
	.dvlinegap
	{
		padding-top: 20px;
	}
	.dvrnst
	{
		width: 100%;
		float: left;
	}
	.dvracc
	{
		width: 100%;
		float: left;
		padding-bottom: 5px;
	}
	.dvrec
	{
		width: 100%;
		float: left;
		padding-bottom: 5px;
	}
	.dvrredeem
	{
		width: 100%;
		float: left;
		padding-bottom: 5px;
	}
	.dvrddl
	{
		width: 100%;
		float: left;
		padding-bottom: 15px;
	}
	.lblrn
	{
		font-weight: bold;
		color: #6195b2;
		float: left;
	}
	.dvrn
	{
		width: 100%;
		float: left;
		padding-bottom: 15px;
	}
    .dvrn1
	{
		width: 100%;
		
	}
	.dvcaptcha
	{
		margin: 4px auto;
		padding: 9px;
		border: 1px solid #e2e4e7;
		background-color: #f5f7f8;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 95%;
		float: right;
	}
	.lblrt
	{
		float: left;
		text-align: justify;
		float: left;
	}
    .lblrt1
	{
		text-align: justify;
	}
	.dvrdescription
	{
		width: 100%;
		float: left;
	}
	#imgAccessCode
	{
		height: 53px;
		min-width: 100%;
		border-width: 0px;
		float: left;
		margin-top: 19px;
	}
	#txtEntercode
	{
		float: left;
		min-width: 183px;
		min-height: 25px;
	}
	.dvredbtn
	{
		width: 100%;
		float: left;
		padding-bottom: 10px;
	}
	.dvcanbtn
	{
		width: 100%;
		float: left;
	}
	.dvbuttons
	{
		width: 100%;
	}
	.amggc
	{
		font-size: 12px;
	}

	.dvrncaptcha
	{
		/*width: 70%;*/ /* float: left;*/
		margin-bottom: 20px;
	}
	.dvEnterCode
	{
		float: left; /*margin-left: 15px;*/
		margin-top: 7px;
	}
	.spnCaptchaErrMsg
	{
		color: Red;
		font-size: 12px;
		float: left;
	}
	.myButton
	{
		-moz-box-shadow: inset 0px 1px 0px 0px #276873;
		-webkit-box-shadow: inset 0px 1px 0px 0px #276873;
		box-shadow: inset 0px 1px 0px 0px #276873;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
		background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
		background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=      '#599bb3' , endColorstr= '#408c99' ,GradientType=0);
		background-color: #599bb3;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #29668f;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: arial;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 43px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #3d768a;
		float: left;
	}
	.dvEnterText
	{
		display: inline;
		font-size: 14px;
	}
	.dvEnterTextLeft
	{
		display: none;
		padding-bottom: 10px;
	}

}
@media (max-width: 310px)
{
	body
	{
		font-family: 'Freight Sans Bold' , 'lucida grande' ,tahoma,verdana,arial,sans-serif !important;
		font-size: medium;
	}
	#dvTac
	{
		width: 100%;
		float: left;
	}
	.dvImg
	{
		float: left;
	}
	.dvEnterText
	{
		display: inline;
		font-size: 14px;
	}
	.dvEnterTextLeft
	{
		display: none;
		padding-bottom: 10px;
	}
}

