/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

    /* Styles that apply to all SelectBoxIt elements */
    .selectboxit-container * {
        /* Prevents text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        outline: none;
        white-space: nowrap;
    }

    /* Button */
    .selectboxit-container .selectboxit {
        cursor: pointer;
        margin: 0;
        padding: 0;
        border-radius: 15px;
        overflow: hidden;
        display: block;
        position: relative;
    }

    /* Height and Vertical Alignment of Text */
    .selectboxit-container span, .selectboxit-container .selectboxit-options a {
        display: block;
    }

    /* Focus pseudo selector */
    .selectboxit-container .selectboxit:focus {
        outline: 0;
    }

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

/* Button Text */
.selectboxit-text {
    text-indent: 0px;
    padding: 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.selectboxit .selectboxit-option-icon-container {
    margin: 0;
}

/* Options List */
.selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%; /* Minimum Width of the dropdown list box options */
    *width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    z-index: 50;
    border-radius: 15px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    height: 230px;
}

/* Individual options */
.selectboxit-option .selectboxit-option-anchor {
    padding: 0 2px;
}

    /* Individual Option Hover Action */
    .selectboxit-option .selectboxit-option-anchor:hover {
        text-decoration: none;
    }

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 5px; /* Horizontal Positioning of the select box option text */
    margin: 0;
    list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
    font-weight: 300;
    height: 25px; /* Height of the drop down */
    line-height: 25px; /* Vertically positions the drop down text */
    font-size: 14px;
    background: #555;
    padding: 0 20px 0 0px;
    Color: #FFF;
}

    /* Drop Down optgroup header hover psuedo class */
    .selectboxit-optgroup-header:hover {
        cursor: default;
    }

/* Drop Down down arrow container */
.selectboxit-arrow-container {
    /* Positions the down arrow */
    width: 27px;
    position: absolute;
    right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    /* Horizontally centers the down arrow */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

    /* Drop Down down arrow for jQueryUI and jQuery Mobile */
    .selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
        top: 30%;
    }

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
    float: left;
}

.selectboxit-container .selectboxit-option-icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
    width: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    float: left;
}

.selectboxit-rendering {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
    visibility: visible !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
    background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
    background-position: -64px -16px;
}






/*
  FILTER Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/

.selectboxit-container .selectboxit {
    border-radius: 15px;
    height: 31px; /* Height of the drop down */
    line-height: 32px; /* Vertically positions the drop down text */
}


.selectboxit-btn {
    background-color: #DDD;
    border: 0: font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
}

    .selectboxit-btn.selectboxit-enabled:hover,
    .selectboxit-btn.selectboxit-enabled:focus,
    .selectboxit-btn.selectboxit-enabled:active {
        color: #FFF;
        background-color: #B8272B;
    }

.selectboxit-default-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border: 0;
}

.selectboxit-list {
    background: #666;
    border: 0;
    color: #FFF: border-radius: 15px;
    font-size: 16px;
}

    .selectboxit-list .selectboxit-option-anchor {
        color: #FFF;
        padding-right: 15px;
        border-radius: 15px;
        height: 32px; /* Height of the drop down */
        line-height: 32px; /* Vertically positions the drop down text */
    }

    .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
        color: #ffffff;
        background-color: #B8272B;
    }

    .selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
        color: #999999;
    }






/*
  CELL Theme
  -------------
*/

.cell-selectboxit-container .selectboxit {
    border-radius: 15px;
    height: 25px; /* Height of the drop down */
    line-height: 25px; /* Vertically positions the drop down text */
    font-size: 16px;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 16px 9px;
    background-position: 100% 50%;
    padding: 0 20px 0 2px;
}


.cell-selectboxit-btn {
    background-color: #EEE;
    font-family: 'Source Sans Pro', sans-serif;
}

.settings-selectboxit-btn {
    background-color: #EEE;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.cell-selectboxit-btn.cell-selectboxit-enabled:hover,
.cell-selectboxit-btn.cell-selectboxit-enabled:focus,
.cell-selectboxit-btn.cell-selectboxit-enabled:active {
    color: #FFF;
    background-color: #B8272B;
    background-image: url(../images/dropdown_white.png);
}

.cell-selectboxit-default-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border: 0;
}

.cell-selectboxit-list {
    background: #666;
    border: 0;
    color: #FFF: border-radius: 15px;
}

    .cell-selectboxit-list .selectboxit-option-anchor {
        color: #FFF;
        padding-right: 7px;
        font-size: 14px;
        height: 32px; /* Height of the drop down */
        line-height: 32px; /* Vertically positions the drop down text */
    }

    .cell-selectboxit-list > .cell-selectboxit-focus > .selectboxit-option-anchor {
        color: #ffffff;
        background-color: #B8272B;
    }

    .cell-selectboxit-list > .cell-selectboxit-disabled > .selectboxit-option-anchor {
        color: #999999;
    }


/*
  FILTER GREY Theme
  -------------
*/

.filter-grey-selectboxit-container .selectboxit {
    border-radius: 15px;
    height: 32px; /* Height of the drop down */
    line-height: 32px; /* Vertically positions the drop down text */
    font-size: 18px;
    padding: 0 0 0 5px;
    background-color: #DDD;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-size: 11px 6px;
    background-position: 100% 50%;
    background-position: right 8px top 50%;
    //padding: 0 20px 0 2px;
}

.filter-grey-selectboxit-btn {
    background-color: #DDD;
    font-family: 'Source Sans Pro', sans-serif;
}

    .filter-grey-selectboxit-btn.filter-grey-selectboxit-enabled:hover,
    .filter-grey-selectboxit-btn.filter-grey-selectboxit-enabled:focus,
    .filter-grey-selectboxit-btn.filter-grey-selectboxit-enabled:active {
        color: #FFF;
        background-color: #B8272B;
        background-image: url(../images/arrow_down_white.png);
    }

.filter-grey-selectboxit-default-arrow {
    width: 30px;
    height: 32px;
}

.filter-grey-selectboxit-list {
    background: #666;
    border: 0;
    color: #FFF: border-radius: 30;
}

    .filter-grey-selectboxit-list .selectboxit-option-anchor {
        color: #FFF;
        padding-right: 7px;
        font-size: 14px;
        height: 32px; /* Height of the drop down */
        line-height: 32px; /* Vertically positions the drop down text */
    }

    .filter-grey-selectboxit-list > .filter-grey-selectboxit-focus > .selectboxit-option-anchor {
        color: #ffffff;
        background-color: #B8272B;
    }

    .filter-grey-selectboxit-list > .filter-grey-selectboxit-disabled > .selectboxit-option-anchor {
        color: #999999;
    }

/*
  FILTER WHITE Theme
  -------------
*/

.filter-white-selectboxit-container .selectboxit {
    border-radius: 15px;
    /*height: 30px; Height of the drop down 
	line-height: 30px; /* Vertically positions the drop down text */
    font-size: 14px;
    padding: 0 9px 0 10px;
    background-color: #FFF;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-size: 11px 6px;
    background-position: 100% 50%;
    background-position: right 8px top 50%;
    border: 1px solid #BBB9B9;
    color: #A0A0A0;
}

.filter-white-small-selectboxit-container .selectboxit {
    border-radius: 15px;
    height: 30px; /* Height of the drop down */
    line-height: 30px; /* Vertically positions the drop down text */
    font-size: 14px;
    padding: 0 0 0 5px;
    background-color: #FFF;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-size: 11px 6px;
    background-position: 100% 50%;
    background-position: right 8px top 50%;
    border: 1px solid #BBB9B9;
}

.filter-white-selectboxit-btn {
    background-color: #DDD;
    font-family: 'Source Sans Pro', sans-serif;
}

    .filter-white-selectboxit-btn.filter-white-selectboxit-enabled:hover,
    .filter-white-selectboxit-btn.filter-white-selectboxit-enabled:focus,
    .filter-white-selectboxit-btn.filter-white-selectboxit-enabled:active {
        color: #FFF;
        background-color: #ccc;
        border: 1px solid #BBB9B9;
        background-image: url(../images/arrow_down_white.png);
    }

.filter-white-selectboxit-default-arrow {
    width: 30px;
    height: 30px;
}

.filter-white-selectboxit-list {
    background: #666;
    border: 0;
    color: #FFF: border-radius: 15px;
}

    .filter-white-selectboxit-list .selectboxit-option-anchor {
        color: #FFF;
        padding-right: 7px;
        font-size: 14px;
        height: 32px; /* Height of the drop down */
        line-height: 32px; /* Vertically positions the drop down text */
    }

    .filter-white-selectboxit-list > .filter-white-selectboxit-focus > .selectboxit-option-anchor {
        color: #ffffff;
        background-color: #B8272B;
    }

    .filter-white-selectboxit-list > .filter-white-selectboxit-disabled > .selectboxit-option-anchor {
        color: #999999;
    }

/*
  INLINE Theme
  -------------
*/

.inline-selectboxit-container .selectboxit {
    border-radius: 15px;
    height: 29px; /* Height of the drop down */
    line-height: 29px; /* Vertically positions the drop down text */
    font-size: 14px;
    padding: 0 0 0 15px;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/arrow_front.png);
    background-repeat: no-repeat;
    background-size: 8px 13px;
    background-position: 100% 50%;
    background-position: left 3px top 50%;
    border: 0px solid #BBB9B9;
}

.inline-selectboxit-btn {
    background-color: #DDD;
    font-family: 'Source Sans Pro', sans-serif;
}

    .inline-selectboxit-btn.inline-selectboxit-enabled:hover,
    .inline-selectboxit-btn.inline-selectboxit-enabled:focus,
    .inline-selectboxit-btn.inline-selectboxit-enabled:active {
        color: #FFF;
        background-color: #B8272B;
        //background-color: #CCC;
        background-image: url(../images/arrow_front_white.png);
    }

.inline-selectboxit-default-arrow {
    width: 30px;
    height: 30px;
}

.inline-selectboxit-list {
    background: #666;
    border: 0;
    color: #FFF: border-radius: 15px;
}

    .inline-selectboxit-list .selectboxit-option-anchor {
        color: #FFF;
        padding-right: 7px;
        font-size: 14px;
        height: 32px; /* Height of the drop down */
        line-height: 32px; /* Vertically positions the drop down text */
    }

    .inline-selectboxit-list > .inline-selectboxit-focus > .selectboxit-option-anchor {
        color: #ffffff;
        background-color: #B8272B;
    }

    .inline-selectboxit-list > .inline-selectboxit-disabled > .selectboxit-option-anchor {
        color: #999999;
    }
