@{
    Layout = "~/Views/Shared/_RgLayout.cshtml";
}
<link href="~/Content/rg/step1Responsive.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    }
    <div ng-if="pgLoad">
        <div ng-controller="step1Controller" id="Body1" class="container">

            <div class="main">
                <div class="header_spacer">
                    <img src="../Images/rg/frame_01.png" />
                </div>
                <div class="header" style="display:flex;">
                    <img class="logo" src="../Images/logo.gif" />
                    <div id="flashplaceholder" style="border: 0; margin-right: 9px; padding-right: 9px;">
                        <a id="flashtrigger" href="javascript:">
                            <img src="../Images/howitworks.jpg" id="imgFlashImage" class="img-flash" style="border-width: 0px;" />
                        </a>
                    </div>
                    <br />
                    <div style="clear: both;">
                    </div>
                </div>
                <div class="body_container">
                    <div class="body_content" style="display:flex;">
                        <div id="divCountrylogo">
                            <img src="../Images/rg/body_main_01.jpg" />
                        </div>
                        <div class="col2">
                            <form id="loginForm" name="step1Form">
                                <table id="Table_01">
                                    <tr>
                                        <td colspan="3" class="td-border-sm">
                                            <span class="h3-login-banner"><b>Make Money Sign-Up Now!</b></span>
                                            <img class="img-login-banner" src="../Images/rg/col2_01.png" />
                                        </td>
                                        <td width="58" rowspan="4" class="hide-sm">
                                            <img src="../Images/rg/col2_02.png" />
                                        </td>
                                    </tr>
                                    <tr class="border-left-15 bg-color">
                                        <td class="visible-none-sm" width="11">
                                            <img src="../Images/rg/col2_03.png" style="width:11px; height:211px;" />
                                        </td>
                                        <td class="td-sm" style="width: 421px; padding-left: 25px; margin-left: 25px; height: 211px;
                                vertical-align: middle;" bgcolor="#004c7b">
                                            <table align="center" class="login-tbl">
                                                <tr id="Tr1">
                                                    <td style="float: right;" id="tdfacebbok">
                                                        <div id="fb-root">
                                                            @*<fb:login-button autologoutlink="false" onlogin="fb_login();">
                                                                <span>Sign up with Facebook</span>
                                                            </fb:login-button>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fnt">
                                                        First Name
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="txtFirstName" style="width: 250px;" ng-model="user.FirstName" name="firstName" required />
                                                        <span class="error text-danger txt-req" ng-show="step1Form.firstName.$invalid && !step1Form.firstName.$pristine">{{'required'|translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fnt">
                                                        Last Name
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="txtLastName" style="width: 250px;" ng-model="user.LastName" name="lastName" required />
                                                        <span class="error text-danger txt-req" ng-show="step1Form.lastName.$invalid && !step1Form.lastName.$pristine">{{'required'|translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="fnt">
                                                        Email
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="email" id="txtEmailAddress" style="width: 250px;" ng-model="user.EmailAddress" name="email" tooltipText="Please make sure your email address is correct or you won't have access to SurveyDownLine!" required />
                                                        <span class="error text-danger txt-req" ng-show="step1Form.$error.email">{{'notValidEmail'|translate}}</span>
                                                        <img id="ImageIcon" ImageUrl="/Images/tick.png"
                                                             ToolTip="Verified" />
                                                        <img id="ImageIcon1" ImageUrl="/Images/Wr.jpg"
                                                             ToolTip="Invalid" /><br />
                                                        <label ID="lblMessageBt" CssClass="lbl-msg" ForeColor="White"></label>
                                                        <div id="updateProgressDiv" style="display: none;">
                                                            <div style="float: right; margin-left: 225px;">
                                                                <img alt="" src="/Images/pg_r_t.gif" />
                                                                <span id="Span1" style="color: Red;" class="updateProgressMessage">
                                                                    ..
                                                                    Please Wait
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="24" class="td-multicolor">
                                            <img class="hide-sm" src="../Images/rg/col2_05.png" />
                                        </td>
                                    </tr>
                                    <tr class="height-10-sm">
                                        <td colspan="2" style="vertical-align: top;">
                                            @*<a href="" ng-click="submit(user)" ng-disabled="step1Form.$invalid">
                                                <img ID="imgNext" src="../Images/rg/col2_06.png" />
                                            </a>*@
                                            <button type="submit" id="imgNext" class="btn btn-default reg-btn" ng-click="submit(user)">Join Now</button>
                                        </td>
                                        <td class="td-multicolor bg-color-sm">
                                            <img id="img-height" class="hide-sm" src="../Images/rg/col2_07.png" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img class="img-login-footer" src="../Images/rg/col2_08.png" />
                                        </td>
                                        <td>
                                            <img class="img-hide-in-sm" src="../Images/rg/col2_09.png" />
                                            <input type="hidden" id="hfclcikId" value="0" />
                                            <input type="hidden" id="hfShow" value="0" />
                                            <input type="hidden" id="cpahitId" value="0" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <input type="hidden" id="hfrid" value="-1" />
                        </div>
                    </div>
                </div>
                <div class="body_bottom">
                </div>

                <div class="footer_container">
                    <div class="footer">
                        <div class="copyright">
                        </div>
                        <div class="social_media">
                            <table id="tb1">
                                <tr>
                                    <td>
                                        <imgbutton id="ImgTwitter" ImageUrl="/Images/Step12_Pics/AUimages/social_media_02.png"
                                                   OnClientClick="popup123('https://twitter.com/#!/SurveyDownline','123456')" Width="34"
                                                   Height="34" ValidationGroup="register" />
                                    </td>
                                    <td>
                                        <imgbutton id="ImageButton3" OnClick="btnGo_Click"
                                                   ImageUrl="/Images/Step12_Pics/AUimages/social_media_03.png" OnClientClick="checkflag();"
                                                   Width="34" Height="34" ValidationGroup="register" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
