
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/main/rfResponsive.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <div ng-if="pgLoad">
        <div class="row" ng-controller="downlineController">
            <div class="div-title">
                <span class="pull-left"><b>{{'Frndlst'|translate}}</b></span>
            </div>
            <hr class="hr-style" />
            <div class="col-md-7 m-l-20">
                <div class="p-20">
                    <img src="../Images/main/usergroup.png" />
                    <b class="f-12">{{'blddwln'|translate}}</b>
                </div>

                <div class="div-share">
                    {{'usetwitter'|translate}} {{orgDetails.OrgName}} {{'usetwitter1' | translate}}

                    <div class="m-t-10">
                        <a href="" class="text-d" ng-click="openWindow()">
                            <img src="../Images/main/FBnew.jpg" />
                        </a>
                        <a href="" ng-click="windowOpen()">
                            <img src="../Images/main/tweetthisnew.jpg" class="pull-right" />
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>

                <div>
                    <table>
                        <tr id="trTwitter">
                            <td align="left" class="twitter"></td>
                        </tr>
                    </table>
                </div>

                <div class="p-10">

                    <div class="p-10">
                        <h1 class="f-prop">
                            {{'helpus1'|translate}} {{orgDetails.OrgName}} {{'helpus1'|translate}} <b style="color: #1E91CB;">2-Tier</b> {{'referralProgram'|translate}}.
                        </h1>
                    </div>

                    <div class="p-10">
                        {{'tierdescription'|translate}} <b style="color: #1E91CB;">45%</b> {{'friendsInvite'|translate}}
                    </div>

                    <div class="m-t-10 p-10">
                        {{'amountdescription1'|translate}} <b style="color: #1E91CB;">35%</b> {{'revenue'}}.
                        {{'amountdescription2'|translate}}
                    </div>

                    <div class="p-10">
                        <a id="anc" href="/Taf/Invite" class="p-click">{{'inviteanchor'|translate}}</a>
                    </div>

                    <div class="p-10 p-link">
                        {{'fbinvitetxt'|translate}} {{orgDetails.OrgName}} {{'fbinvitetxt1'|translate}}
                        <br />
                        <a id="ancUrl">
                            <Label href="" class="p-l-link" ng-click="surveyDownline()">{{orgDetails.MemberUrl}}/e/s?fid={{user.UserId}}</Label>
                        </a>
                        <br />
                    </div>

                </div>

            </div>
            <div class="col-md-3 add-class-1">

                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td class="add-class-2">
                                        <table>
                                            <tr>
                                                <td align="left">
                                                    <table>
                                                        <tr>
                                                            <td align="left" colspan="2">
                                                                <br />
                                                                <b class="y-color">{{'yournetwork'|translate}}</b>
                                                                <br />
                                                                <br />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="h-o-b-ff-w" title="Click to highlight & see Frinds list">
                                                        <table>
                                                            <tr class="b-disp">
                                                                <td><input type="checkbox" ng-model="network"></td>
                                                                <td><img src="../Images/main/PersonGreen.gif" /></td>
                                                                <td><a href="" class="text-d"><span id="lblFirstName">{{user.FirstName}}</span>&nbsp;<span id="lblLastName">{{user.LastName}}</span> (<span id="lblcount">{{downline.length}}</span>)</a></td>
                                                            </tr>
                                                            <tr class="d-ml" ng-show="network" ng-repeat="f in friendsList">
                                                                <td><img src="../Images/main/PersonRed.gif" /></td>
                                                                <td><a href="" class="text-d"><span>{{f.FriendFirstName}}</span></a></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                            <tr class="t-v-m-p">
                                                <td class="t-v-m-p">
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <div id="div12">
                                                                    <table>
                                                                        <tr>
                                                                            <td align="left" class="ff-ver">
                                                                                <img src="../Images/main/PersonRed.gif" />-{{'notjoined'|translate}}
                                                                            </td>
                                                                            <td align="right" class="pl-ff-ver">
                                                                                <img src="../Images/main/PersonGreen.gif" />-{{'joined'|translate}}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="hide-sm">
                <table class="fs-pl-p-o-w" style="">
                    <tr>
                        <td>
                            <b>{{'infostatus'|translate}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="c-green">
                            <b>
                                <Label ID="lblconformation" class="fs-med"></Label>
                            </b>
                        </td>
                    </tr>
                </table>
                <div class="p-table">
                    <table class="wid-100">
                        <tr ng-show="!downlineLst.length">
                            <td>
                                You Have Not Referred Any Friends.
                            </td>
                        </tr>
                        <thead>
                            <tr class="c-bc-fw-td">
                                <td></td>
                                <td>{{'firstName'|translate}}</td>
                                <td>{{'emailAddress'|translate}}</td>
                                <td>{{'comissionEarned'|translate}}</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in downlineLst" ng-class="{even:$even,odd:$odd}">
                                <td><img src="../Images/main/PersonRed.gif" /></td>
                                <td><span>{{d.FriendFirstName}}</span></td>
                                <td><span>{{d.FriendEmailAddress}}</span></td>
                                <td><span>{{d.Commission}}</span></td>
                                <td><a href=""><span>{{d.Status}}</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <section layout="row" style="float:right;">
                        <pagging-directive></pagging-directive>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>