@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/main/redeem.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <ng-include src="getPartialView">
        </ng-include>
    }
</div>