
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/reddem.css" rel="stylesheet" />
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }

    <div ng-if="pgLoad">

        <div ng-controller="redmController" style="margin:40px">
            <div id="border">
                <div style="padding-top: 10px;">
                </div>

                <div id="tblDetails">
                    <div style="width: 100%;">
                        <div style="width: 100%;">
                            <div id="dvTac">
                                <div class="dvacb">
                                    <label id="lblBalance">
                                        Your Current Account Balance:
                                    </label>
                                </div>
                                <div class="dvtab">
                                    <span class="spnd" style="color: #6195b2" ng-if="orgDetails.ClientId == 73 || orgDetails.ClientId == 111">
                                        <span class="spntab" id="spnAccountBalance"
                                              style="color: #6195b2">{{trewards.AccountBalance}}</span> pts
                                       
                                    </span>
                                    <span class="spnd" style="color: #6195b2" ng-if="orgDetails.ClientId != 73 && orgDetails.ClientId != 111">
                                        $<span class="spntab" id="spnAccountBalance"
                                               style="color: #6195b2">{{trewards.AccountBalance}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="width: 100%;">
                        <div style="width: 100%;">

                            <div id="dvImg">
                                <img id="imgRewardLogo" style="float: left;" border="0" src="" alt="#" />
                            </div>
                            <div>
                                <div style="width: 100%">
                                    <div class="dvrnst">
                                        <label class="lblrn">
                                            Reward Name:&nbsp;
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <label class="lblrt" id="lblRewardName">
                                            {{trewards.RewardName}}
                                        </label>
                                    </div>
                                </div>
                                <div style="width: 100%;display:table">
                                    <div class="dvrdescription">
                                        <label class="lblrn">
                                            Disclaimer:
                                        </label>
                                    </div>
                                    <div class="dvrn">
                                        <span class="lblrt" id="spnDisclaimer" style="padding-left:5px">{{trewards.RewardName}} is not a sponsor of the rewards or otherwise affiliated with Opinionetwork. The logos and other identifying marks attached are trademarks of and owned by each represented company and/or its affiliates.  Please visit each company's website for additional terms and conditions.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12" style="border: 0px solid #ddd;display: inline-block;">
                                <div vc-recaptcha key="'6LetblorAAAAAMH3OWFI3rtURCyE4SGpXp9gkfk1'" on-success="setResponse(response)" size="normal"></div>
                                <span class="text-danger" ng-show="captchaErr">Invalid captcha selection.</span>
                                <span class="text-danger" ng-show="isRegErrMsg">Error occured. please try again.</span>
                            </div>
                        </div>
                        <div class="dvlinegap">
                        </div>
                        <div style="width: 100%;">
                            <div class="dvrredeem">
                                <label class="lblrn">
                                    Amount $:&nbsp;
                                </label>
                            </div>
                            <div class="dvrddl">
                                <select name="repeatSelect" id="ddlRedeemAmount" ng-model="trewards.RedeemAmount" style="float:left">
                                    <option ng-repeat="option in  trewards.LstRewardAmount" value="{{option.Key}}">{{option.Value}}</option>
                                </select>
                                @* <select ng-options="item.Key  for item in trewards.LstRewardAmount" id="ddlRedeemAmount" ng-model="trewards.RedeemAmount"></select>*@
                                <input type="text" id="txtRedeemAmount" ng-bind="trewards.RedeemAmount" ng-model="trewards.RedeemAmount" style="float: left;" disabled />
                            </div>
                        </div>

                        <div>
                            <div>
                                <label id="lblMessage">
                                </label>
                            </div>
                        </div>
                        <div>
                            <br />
                        </div>
                        <div class="dvbuttons">
                            <div class="dvredbtn">
                                <input type="button" id="btnRedeem" class="myButton" value="Redeem" ng-click="RedeemClick()" />
                            </div>
                            <div class="dvcanbtn">
                                <input type="button" id="btnCancel" class="myButton" value="Cancel" ng-click="CancelClick()" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</center> 