@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/step2Responsive.css" rel="stylesheet" />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    @*<input id="antiForgeryToken" ng-model="antiForgeryToken" ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />*@
    <ng-include src="getPartialView">
    </ng-include>
</div>
