<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Opinionetwork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/Styles/reg.css" rel="stylesheet" />
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/Pages/reg.js"></script>
</head>

<body ng-app="bpApp">
    <div id="dvContainer">
        <br />
        <form novalidate name="bsFormValidation">
            <div style="width: 100%; float: left;" ng-controller="regcontroller as ctrl">
                <div id="dvImageLoading" ng-show="showloading==true"></div>
                <div id="dvSurveyQuestions" class="container" ng-show="isPageShow==true">
                    <div style="float: left;" class="header">
                        <br />
                        <img ng-src="{{imgUrl}}" />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div id="dvQuestion" style="width: 100%; float: left;" class="dvsurveyqst">
                        <!--Based on question type id ,deciding the type of input types whether we have to show a text box or drop down or radio button....-->
                        <div ng-repeat="qst in question" style="" class="questions">
                            <div style="float: left; width: 100%;" class="row">
                                <div class="row">
                                    <div class="col-sm-10" ng-if="qst.Questiontypeid != '1'">
                                        <div ng-if="qst.Questionid == '9'">
                                            <span class="ddlspan questiontext">{{qst.Questiontxt}} </span>
                                            <span>
                                                <br />
                                                <br />
                                                Choose one answer
                                            </span>
                                        </div>
                                        <div ng-if="qst.Questionid != '9'">
                                            <span class="ddlspan questiontext">{{qst.Questiontxt}} </span>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-sm-10" ng-if="qst.Questiontypeid == '1'">
                                        <div ng-if="qst.Questionid == '10'">
                                            <span class="ddlspan questiontext">{{qst.Questiontxt}} </span>
                                            <br />
                                            <br />
                                        </div>
                                        <div ng-if="qst.Questionid != '10'">
                                            <span class="span questiontext">{{qst.Questiontxt}} </span>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="qst.Questiontypeid == '1'">
                                    <div ng-if="qst.Questionid == '1'">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <span class="span">First Name </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <input name="{{qst.Questionid+'0_txt'}}" type="text" class="form-control" id="txtanswer" ng-model="qst.AnswerText" required />
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <span ng-show="showMessage && bsFormValidation[qst.Questionid+'0_txt'].$error.required" style="color: red;" class="span">Required</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <span class="span">
                                                            Last Name
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <input type="text" name="{{qst.Questionid+'1_txt'}}" class="form-control" ng-model="qst.LastName" ng-show="qst.Questiontypeid==1" id="lastName" required />

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <span ng-show="showMessage && bsFormValidation[qst.Questionid+'1_txt'].$error.required" style="color: red;" class="span">Required</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div ng-if="qst.Questionid == '3'">
                                        <div class="col-sm-6">
                                            <div ng-if="qst.Questiontypeid != '10'">
                                                <input name="{{qst.Questionid+'_txt'}}" type="email" class="form-control" id="Text1" ng-model="qst.AnswerText" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <!--<span ng-show="showMessage && bsFormValidation[questionid+'_txt'].$error.required" style="color: red;" class="span">Required</span>-->
                                                <span class="span" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.required" style="color: red;">Required</span>
                                                <span class="span" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.email" style="color: red;">Not valid email</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="qst.Questionid != '1' && qst.Questionid != '3' && qst.Questionid != '10'">
                                        <div class="col-sm-6">
                                            <input type="text" name="{{qst.Questionid+'_txt'}}" class="form-control" id="Email1" ng-model="qst.AnswerText" required />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <!--<span ng-show="showMessage && bsFormValidation[questionid+'_txt'].$error.required" style="color: red;" class="span">Required</span>-->
                                                <span class="span" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.required" style="color: red;">Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="qst.Questionid == '10'">
                                        <div class="row">
                                            <div class="birthdate">
                                                <div class="col-sm-7">
                                                    <div class="form-group text-left">
                                                        <select class="form-control" name="{{qst.Questionid+'_txt'}}" id="ddlmonth" ng-model="qst.Month" required>
                                                            <option value="">--MM--</option>
                                                            <option value="01">January</option>
                                                            <option value="02">February </option>
                                                            <option value="03">March</option>
                                                            <option value="04">April</option>
                                                            <option value="05">May</option>
                                                            <option value="06">June</option>
                                                            <option value="07">July</option>
                                                            <option value="08">August</option>
                                                            <option value="09">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group text-left">
                                                        <select class="form-control" name="{{qst.Questionid+'_txt'}}" id="ddldate" ng-model="qst.Day" required>
                                                            <option value="">--DD--</option>
                                                            <option value="01">1</option>
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                            <option value="07">7</option>
                                                            <option value="08">8</option>
                                                            <option value="09">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group text-left">
                                                        <div ng-init="Years()">
                                                            <select class="form-control" name="{{qst.Questionid+'_txt'}}" id="ddlyear" ng-options="y as y for y in Yearsarr track by y" ng-model="qst.Year" required>
                                                                <option value="">--YY--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <!--<span ng-show="showMessage && bsFormValidation[questionid+'_txt'].$error.required" style="color: red;" class="span">Required</span>-->
                                                    <span class="ddlspan" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.required" style="color: red;">Required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div ng-if="qst.Questiontypeid == '2'" style="float: left; width: 100%;">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <select class="form-control" name="{{qst.Questionid+'_txt'}}" ng-options="op.OptionId as op.OptionText for op in qst.optlst" ng-model="qst.AnswerText" required>
                                                <option value="">--select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <!--<span ng-show="showMessage && bsFormValidation[questionid+'_txt'].$error.required" style="color: red;" class="span">Required</span>-->
                                            <span class="ddlspan" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.required" style="color: red;">Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="qst.Questiontypeid == '4'" style="float: left; width: 100%;">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <select class="form-control" name="{{qst.Questionid+'_txt'}}" ng-model="qst.AnswerText" id="ddlgender" required>
                                                <option value="">--Select--</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="N">Non-Binary</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <!--<span ng-show="showMessage && bsFormValidation[questionid+'_txt'].$error.required" style="color: red;" class="span">Required</span>-->
                                            <span class="ddlspan" ng-show="showMessage && bsFormValidation[qst.Questionid+'_txt'].$error.required" style="color: red;">Required</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div style="float: left; width: 100%;" class="navigationarea">
                            <div class="formaction">
                                <div style="text-align: left;" ng-if="qustid == '3'">
                                    This survey program is managed by Precision Sample. By submitting this form you
                                    agree to receive survey invitations via email and our <span style="color: blue; cursor: pointer;"
                                                                                                ng-click="terms()">Terms of Use</span> and <span style="color: blue; cursor: pointer;"
                                                                                                                                                 ng-click="privacy()">Privacy Policy</span>. Your Privacy is extremely important
                                    to us! We will never sell, rent or lease your personally identifiable information
                                    to others without your consent.
                                </div>
                                <div>
                                    <button id="btnSubmit" class="btn button" ng-click="Save(bsFormValidation.$valid)">Continue</button>
                                </div>
                            </div>
                        </div>
                        <hr style="height: 1px; border: none; color: #333; background-color: #333; float: left; width: 100%;" />
                        <div class="poweredby">
                            <div class="row" style="margin: 0px;">
                                <div class="col-sm-10">
                                    <div class="form-group text-left">
                                        <span>&nbsp;&nbsp;Copyright <span>{{year}}</span>&#169; Precision Sample, LLC.</span>
                                        <span>&nbsp;&nbsp;All rights reserved. <a style="text-decoration: underline; cursor: pointer; white-space: nowrap;"><span id="spnprivacy" ng-click="privacy()">Privacy Policy</span></a></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row">
                                        <div class="form-group text-left">
                                            <span style="font-size: 13px;">Powered By</span>
                                        </div>
                                        <div class="form-group text-left">
                                            <img src="/images/opinionnetwork_logo.png" alt="" style="width: 150px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
