/*Background image for top level menu list links */
.overload {
	position:absolute;
	top:7px;
	left:120px;
	background:url(../WL/arrv_white.gif) no-repeat; width:7px; height:7px;
}

.suckertreemenu .mainfoldericon{
	background: url(../WL/header_bg.gif);
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon{
	background: #000000 url(../WL/arr_white.gif) no-repeat right;
}


* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */


.suckertreemenu {
	width:100%;
}


.suckertreemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:center;
	background: url(../WL/header_bg.gif) repeat-x;	
	width:100%;
	float:left;
}

/*Top level list items*/
.suckertreemenu ul li{
	position: relative;
	display: inline;
	float: left;
	background-color: #000000; /*overall menu background color*/
	
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
	display: block;
	width: 120px !important; /*Width of top level menu link items*/
	width: 140px; /*Width of top level menu link items*/
	padding: 5px 10px;
	font-family:Tahoma;font-size:10px; font-weight:bold;color: rgb(255, 255, 255); text-decoration: none;
	background: url(../WL/header_bg.gif);	
}
	
/*1st sub level menu*/
.suckertreemenu ul li ul{
	left: 0;
	position: absolute;
	top: 1em; /* no need to change, as true value set by script */
	display: none;
	/*visibility: hidden;*/
	padding-top:0px;
	text-align:center;
	z-index:9999999;
	float:left;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
	display: list-item; 
	width: 140px; /*Width of top level menu link items*/
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{ 
	left: 159px; /* no need to change, as true value set by script */
	top: 0;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
	display: block;
	width: 140px; /*width of sub menu levels*/
	height:10px;
	font-family:Tahoma;font-size:10px; 
	text-decoration: none;
	background-image: none;
}

.suckertreemenu ul li a:hover{
	background: url(../WL/btn_black2.gif);
}

.suckertreemenu ul li ul li a:hover{
	background-color:#443F46;
	background-image: none;
	height:10px;
}