
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_bannertab.cshtml";

}
<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

    .pagination {
        margin: 6px !important;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li > a, .pagination > li > span {
                border: none !important;
            }

            .pagination > li:first-child > a, .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

    ul.pagination li a.active {
        background-color: #105EAC;
        color: white;
    }
    .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border:1px solid #eee;
}
    .table thead th {
    font-weight: 600;
    color: #000;
    font-size: 12px;
    position: relative;
}
    .table td, .table th {
    padding: .55rem !important;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}
    .thead-default th {
    color: #495057;
    background-color: #e9ecef;
}
</style>
<link href="~/Content/rfResponsive.css" rel="stylesheet" />
<div class="down-table" style="margin-bottom:50px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <div ng-if="pgLoad">
        <div class="row_downline" ng-controller="downlineController">
            <div class="div-title">
                <span class="pull-left"><b>{{'Frndlst'|translate}}</b></span>
            </div>
            <hr class="hr-style" />

            <div class="d-table pagecontent">
                <div class="d-cell contentbody">
                    <div class="p-20">
                        <img src="../Images/main/team.png" class="usergroup-icon" />
                        <h3 class="icon-title">{{'blddwln'|translate}}</h3>
                    </div>

                    @*<div class="div-share">
                            {{'usetwitter'|translate}} {{orgDetails.OrgName}} {{'usetwitter1' | translate}}

                            <div class="m-t-10">
                                <a href="" class="text-d" ng-click="openWindow()">
                                    <img src="../Images/main/FBnew.jpg" />
                                </a>
                                <a href="" ng-click="windowOpen()">
                                    <img src="../Images/main/tweetthisnew.jpg" class="pull-right" />
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>*@

                    <div>
                        <table>
                            <tr id="trTwitter">
                                <td align="left" class="twitter"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="p-10">
                        <div class="p-10" style="padding: 5px 5px 5px 5px;">
                            {{'helpus1'|translate}}
                        </div>
                        <div class="p-10" style="padding: 5px 5px 5px 5px;">
                            {{'helpus2'|translate}}
                        </div>
                        <div class="p-10" style="padding: 5px 5px 5px 5px;">
                            {{'tierdescription'|translate}}
                        </div>

                        <div class="m-t-10 p-10" style="padding: 5px 5px 5px 5px;">
                            {{'amountdescription1'|translate}}
                        </div>

                        <div class="p-10" style="padding: 5px 5px 5px 5px;">
                            <a id="anc" href="/Taf/Invite" class="p-click">{{'inviteanchor'|translate}}</a>
                        </div>
                        <div class="p-10 p-link">
                            {{'fbinvitetxt'|translate}}
                            <br />
                            <Label href="" class="p-l-link" >{{orgDetails.MemberUrl}}/e/s?fid={{user.UserId}}</Label>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="d-cell aside_content">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td class="add-class-2">
                                            <table width="100%">
                                                <tr>
                                                    <td align="left">
                                                        <table width="100%">
                                                            <tr>
                                                                <td align="left" colspan="2">
                                                                    <br />
                                                                    <b class="y-color">{{'yournetwork'|translate}}</b>
                                                                    <br />
                                                                    <br />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="h-o-b-ff-w" title="Click to highlight & see Frinds list">
                                                            <table width="100%">
                                                                <tr class="b-disp">
                                                                    <td><input type="checkbox" ng-model="network"></td>
                                                                    <td><img src="../Images/main/usergroup.png" style="width:18px" /></td>
                                                                    <td><a href="" class="text-d"><span id="lblFirstName">{{user.FirstName}}</span>&nbsp;<span id="lblLastName">{{user.LastName}}</span> (<span id="lblcount">{{downline.length}}</span>)</a></td>
                                                                </tr>
                                                                <tr class="d-ml" ng-show="network" ng-repeat="f in downlineLst">
                                                                    <td ng-if="f.Status=='Not Joined'"><img src="../Images/main/PersonRed.gif" style="width:18px;" /></td>
                                                                    <td ng-if="f.Status=='Joined'"><img src="../Images/main/usergroup.png" style="width: 18px;" /></td>
                                                                    <td><a href="" class="text-d"><span>{{f.FriendFirstName}}</span></a></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                <tr class="t-v-m-p">
                                                    <td class="t-v-m-p">
                                                <tr>
                                                    <td>
                                                        <table width="100%">
                                                            <tr>
                                                                <td>
                                                                    <div id="div12">
                                                                        <table width="100%">
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <img src="../Images/main/PersonRed.gif" style="display: inline-block; vertical-align: middle;width: 20px;" />
                                                                                    <div style="display: inline-block; vertical-align: middle;padding-left: 10px;">
                                                                                        -{{'notjoined'|translate}}
                                                                                    </div>
                                                                                </td>
                                                                                <td align="right">
                                                                                    <img src="../Images/main/usergroup.png" style="display: inline-block; vertical-align: middle;width: 20px;" />
                                                                                    <div style="display: inline-block; vertical-align: middle;padding-left: 10px;">
                                                                                        -{{'joined'|translate}}
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="hide-sm">
                <table class="fs-pl-p-o-w" style="">
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <b style="font-size:20px;">{{'infostatus'|translate}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="c-green">
                            <b>
                                <Label ID="lblconformation" class="fs-med"></Label>
                            </b>
                        </td>
                    </tr>
                </table>
                <div class="p-table1">
                    <table class="wid-100 table" cellpadding="10" cellspacing="0">
                        <tr ng-show="!downlineLst.length">
                            <td>
                                {{'frndref'|translate}}
                            </td>
                        </tr>
                        <thead class="thead-default">
                            <tr class="c-bc-fw-td">
                                <th></th>
                                <th>{{'firstName'|translate}}</th>
                                <th>{{'emailAddress'|translate}}</th>
                                <th>{{'comissionEarned'|translate}}</th>
                                <th>{{'status'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in downlineLst" ng-class="{even:$even,odd:$odd}">
                                <td ng-if="d.Status=='Not Joined'"><img src="../Images/main/PersonRed.gif" style="width:18px;"/></td>
                               <td  ng-if="d.Status=='Joined'"><img src="../Images/main/usergroup.png" style="width: 18px;" /></td> 
                                <td><span>{{d.FriendFirstName}}</span></td>
                                <td><span>{{d.FriendEmailAddress}}</span></td>
                                <td><span>{{d.Commission}}</span></td>
                                <td><a href=""><span>{{d.Status}}</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <section layout="row" style="float:right;">
                        <pagging-directive></pagging-directive>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>