
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script src="~/Scripts/translate-pluggable-loader.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=@ViewBag.recaptchalangCode" async defer></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N9DDS62');
    </script>
    <!-- End Google Tag Manager -->
</head>*@
<head>
    <style>
        .myform input {
    width: 100% !important;
    box-sizing: border-box;
    
}
        .myform{
   margin: -5% auto 5%;
    width: 450px;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
    padding: 25px;
    border-radius: 10px;
    position: relative;
    z-index: 99;
    background: #fff;
        }
    </style>
</head>
<body ng-if="pgLoad">
    @Html.AntiForgeryToken()
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9DDS62" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div ng-controller="pwdExpireController">
        <div id="dvContactus" class="myform">
            <div style="text-align: center;margin-bottom:35px;font-size:15px;"><h3>{{'ChangeYourPassword'|translate}}</h3></div>
            <form name="ChangePwdForm" novalidate>
                <table style="font-size: 13px;">
                    <tr class="form-body">
                        <b style="margin-right: 15px;">{{'formsg'|translate}}</b>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="width: 40%;">
                            <label style="margin-right: 15px;">{{'OldPassword'|translate}}</label>
                        </td>
                        <td align="left">
                            <input type="password" name="OldPassword" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.OldPassword" ng-required="true" />
                            <span style="color:red;" ng-show="ChangePwdForm.OldPassword.$invalid && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="width: 40%;">
                            <label style="margin-right: 15px;">{{'NewPaasword'|translate}}</label>
                        </td>
                        <td align="left">
                            <input type="password" name="NewPassword" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.NewPassword" ng-required="true"  title={{'eightchar'|translate}}/>
                            <span style="color:red;" ng-show="ChangePwdForm.NewPassword.$invalid && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        <td align="left" style="width: 40%;">
                            <label style="margin-right: 15px;">{{'ConfirmNewPassword'|translate}}</label>
                        </td>
                        <td align="left" >
                            <input type="password" name="CnfNewPassword" style="width:300px;" class="form-control" ng-model="DoNotSellInfo.CnfNewPassword" ng-required="true"  title={{'eightchar'|translate}}/>
                            <span class="error" style="color:red;" ng-show="ChangePwdForm.CnfNewPassword.$error.email">{{'notvalidemail' | translate}}!</span>
                            <span style="color:red;" ng-show="ChangePwdForm.CnfNewPassword.$error.required && isShowError">{{'required' | translate}}</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2">
                           
                        </td>
                    </tr>
                    <tr class="form-body">
                        <td></td>
                        <td>
                            <div class="g-recaptcha" on-success="setResponse(response)" 
                                 vc-recaptcha key="'6LdOScMUAAAAAN37B5hXC_48jRl54XaCG2t9iJQ_'" size="normal"></div>
                            <span class="text-danger" ng-show="captchaerr">{{'invalidcaptcha'|translate}}.</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="form-body">
                        @*<td align="left">                            
                            <div class="sign_in_options input_change">
                                <div class="forgot" style="margin-left: -9px"><a href="/login/ForgotPsw" id="aFp" style="cursor: pointer;"></a>
                                    {{'frgtpwd'|translate}}
                                </div>
                            </div>
                        </td>*@
                        <td class="form-body">
                            <div style="width:100%;">
                                <div class="dvButton">
                                    <p class="btnSubmit" style="padding:0px; margin:0px;"><a href="/Home/ForgotPsw" id="aFp" style="cursor: pointer;">Forgot Password</a></p>
                                </div>
                            </div>
                        </td>
                        <td align="right">
                            <button class="contact_send_btn font_bold" style="border-radius: 40px;padding: 7px 25px;background: #b7d968;color: #55851d;text-align: center;cursor: pointer; border:0;   font-size: 19px;" type="submit" id="imgNext" ng-disabled="pwdupdate"  ng-click="changePassword(ChangePwdForm.$valid)">{{'Submit' | translate}}</button>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
                <div><span ng-if="showMsg" style="color:green;">{{'yourrequesthabeensubmitted'|translate}}</span></div>
                <div><span ng-if="errMsg" style="color:red;">{{'detailsNotSaved'|translate}}.</span></div>
                <div style="margin-right: 15px;color:red;" ng-if="pwdmatchError">{{'pwddiff'|translate}}</div>
                <div style="margin-right: 15px;color:red;" ng-if="samePwdError">{{'samePwdError'|translate}}</div>
                <div style="margin-right: 15px;color:red;" ng-if="weekpwdMsg">{{'weekpwdMsg'|translate}}</div>
                <div style="margin-right: 15px;color:green;" ng-if="pwdupdate">{{'pwdupdate'|translate}}</div>
                <div style="margin-right: 15px;color:red;" ng-if="msgOld">{{'curntpwdincorrect'|translate}}</div>
            </form>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
