@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_bannertab.cshtml";

}
<link href="~/Content/reward.css" rel="stylesheet" />
<link href="~/Content/reset.css" rel="stylesheet" />
<style>
    .mytable td, .mytable th {
        padding: 10px;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

    .pagination {
        margin: 6px !important;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li > a, .pagination > li > span {
                border: none !important;
            }

            .pagination > li:first-child > a, .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

    ul.pagination li a.active {
        background-color: #105EAC;
        color: white;
    }
</style>
<div style="max-width: 940px;margin: 0 auto;" class="re_container">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    }
    <div ng-if="pgLoad">
        <script type="text/ng-template" id="RetailGiftCard">
            <div ng-repeat="retCard in  lstRetailGiftCard" class="re-card">
                <div class="reward_image_box">
                    <img ng-src="{{retCard.ImageURL}}"></img></br>
                    <span class="font">{{$index + 1 }}.{{retCard.Description}}  </span></br></br>
                    <span ng-repeat="rew in retCard.Reward" ng-init="parent = retCard" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="RestaurantGiftCard">
            <div ng-repeat="restCard in  lstRestaurantGiftCard">
                <div class="reward_image_box">
                    <img ng-src="{{restCard.ImageURL}}"></img></br>
                    <span class="font">{{$index + 1 }}.{{restCard.Description}}  </span></br></br>
                    <span ng-repeat="rew in restCard.Reward" ng-init="parent = restCard" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="OnlineServices">
            <div ng-repeat="onlser in  lstOnlineServices">
                <div class="reward_image_box">
                    <img ng-src="{{onlser.ImageURL}}"></img></br>
                    <span class="font">{{$index + 1 }}.{{onlser.Description}}  </span></br></br>
                    <span ng-repeat="rew in onlser.Reward" ng-init="parent = onlser" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="CharitableDonation">
            <div ng-repeat="charDona in  lstCharitableDonation">
                <div class="reward_image_box">
                    <img ng-src="{{charDona.ImageURL}}"></img></br>
                    <span class="font">{{$index + 1 }}.{{charDona.Description}}  </span></br></br>
                    <span ng-repeat="rew in charDona.Reward" ng-init="parent = charDona" ng-include="'Reawards'" class="font" style="margin-top: 10px;"></span>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="Reawards">
            <span ng-if="rew.IsVariable == 'FIXED_VALUE'">
                <span ng-if="!rew.IsDisable">
                    @*<span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId == 73 || orgDetails.ClientId == 385">
                            <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="true &&  RewardClick(parent,rew,$event); $event.stopPropagation();"><span style="color: #7CADC2;">{{(rew.Denomination * 100) +'pts/$' + (rew.Denomination * 1)}}</span></a>
                        </span>

                        <span ng-if="orgDetails.ClientId != 111 && orgDetails.ClientId != 73 || orgDetails.ClientId != 385">
                            <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="true &&  RewardClick(parent,rew,$event); $event.stopPropagation();"><span style="color: #7CADC2;">${{rew.Denomination}}</span></a>
                        </span>*@
                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="true &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId==231"><span style="color: #7CADC2;">${{rew.Denomination}}</span></a>
                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="true &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId==229"><span style="color: #7CADC2;">£{{rew.Denomination}}</span></a>
                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="true &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId!=231 && user.CountryId!=229"><span style="color: #7CADC2;">€{{rew.Denomination}}</span></a>

                </span>
                <span ng-if="rew.IsDisable">
                    @*<span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73 || orgDetails.ClientId == 385">
                            <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="false && RewardClick(parent,rew,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">{{(rew.Denomination * 100) +'pts/$' + (rew.Denomination * 1)}}</span></a>
                        </span>

                        <span ng-if="orgDetails.ClientId != 111 && orgDetails.ClientId != 73 || orgDetails.ClientId != 385">
                            <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="false && RewardClick(parent,rew,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">${{rew.Denomination}}</span></a>
                        </span>*@

                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="false &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId==231" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">${{rew.Denomination}}</span></a>
                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="false &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId==229" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">£{{rew.Denomination}}</span></a>
                    <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(rew.Denomination)+';1'}}" ng-click="false &&  RewardClick(parent,rew,$event); $event.stopPropagation();" ng-if="user.CountryId!=231 && user.CountryId!=229" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">€{{rew.Denomination}}</span></a>
                </span>
            </span>
            <span ng-if="rew.IsVariable == 'VARIABLE_VALUE'">
                <span ng-repeat="lstRng in rew.LstRange" ng-init="parent = rew" ng-include="'RewardForRange'" class="font" style="margin-top: 10px;"></span>
            </span>

        </script>

        <script type="text/ng-template" id="RewardForRange">
            <span ng-if="!lstRng.IsDisable">
                @*<span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();"><span style="color: #7CADC2;">{{lstRng.RewardValue * 100 +'pts/$'+ (lstRng.RewardValue * 1)}}</span></a>
                    </span>
                    <span ng-if="orgDetails.ClientId != 111 && orgDetails.ClientId != 73 || orgDetails.ClientId != 385">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();"><span style="color: #7CADC2;">${{lstRng.RewardValue}}</span></a>
                    </span>
                    <span ng-if="orgDetails.ClientId == 385">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();"><span style="color: #7CADC2;">{{lstRng.RewardValue * 1000 +'pts/$'+ (lstRng.RewardValue * 1)}}</span></a>
                    </span>*@
                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();" ng-if="user.CountryId==231"><span style="color: #7CADC2;">${{lstRng.RewardValue}}</span></a>
                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();" ng-if="user.CountryId==229"><span style="color: #7CADC2;">£{{lstRng.RewardValue}}</span></a>
                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="true && RewardClick(parent,lstRng,$event); $event.stopPropagation();" ng-if="user.CountryId!=231 && user.CountryId!=229"><span style="color: #7CADC2;">€{{lstRng.RewardValue}}</span></a>
            </span>
            <span ng-if="lstRng.IsDisable">
                @*<span ng-if="orgDetails.ClientId == 111 || orgDetails.ClientId== 73">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">{{lstRng.RewardValue * 100 +'pts/$'+ (lstRng.RewardValue * 1)}}</span></a>
                    </span>
                    <span ng-if="orgDetails.ClientId != 111 && orgDetails.ClientId != 73 || orgDetails.ClientId != 385">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable">
                            <span style="color: #7CADC2;">${{lstRng.RewardValue}}</span>
                        </a>
                    </span>
                    <span ng-if="orgDetails.ClientId == 385">
                        <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable"><span style="color: #7CADC2;">{{lstRng.RewardValue * 1000 +'pts/$'+ (lstRng.RewardValue * 1)}}</span></a>
                    </span>*@

                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable" ng-if="user.CountryId==231">
                    <span style="color: #7CADC2;">${{lstRng.RewardValue}}</span>
                </a>
                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable" ng-if="user.CountryId==229">
                    <span style="color: #7CADC2;">£{{lstRng.RewardValue}}</span>
                </a>
                <a href="#place" class="link reward_denom" ng-attr-id="{{rew.Sku+';'+(lstRng.RewardValue)+';-1'}}" ng-click="false && RewardClick(parent,lstRng,$event); $event.stopPropagation();" style="background: #cacaca;" title="This reward is not applicable" ng-if="user.CountryId!=231 && user.CountryId!=229">
                    <span style="color: #7CADC2;">€{{lstRng.RewardValue}}</span>
                </a>
            </span>

        </script>
        <style>
            .accordion {
                margin: 10px auto;
                box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
            }

                .accordion label {
                    padding: 2px 9px;
                    position: relative;
                    display: block;
                    cursor: pointer;
                    color: #777;
                    line-height: 25px;
                    background: #EFEFEF;
                    border: 1px solid #CCC;
                    text-align: left;
                }

                .accordion .article {
                    background: rgb(255, 255, 255);
                    overflow: hidden;
                    height: 0px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }


                    .accordion .article p {
                        font-style: italic;
                        color: #777;
                        line-height: 23px;
                        font-size: 14px;
                        padding: 20px;
                    }


                .accordion input:checked ~ .article.ac-small {
                    height: auto;
                }

            .accontent {
                height: auto !important;
            }

            .accordion-content-ide {
                height: 0;
            }

            .reward_image_box {
                float: left;
                width: 155px;
                height: 200px;
                text-align: center;
                color: black;
                margin: 1px;
                padding: 5px;
                font-weight: bold;
                background-color: #e6e6e6;
                border: 1px solid #e0ddd4;
                overflow: auto;
            }

            .reward_denom {
                text-decoration: none;
                font-size: small;
                font-weight: initial;
                float: left;
                padding: 2px;
                border: 1px solid #54626d;
                margin: 3px;
            }
        </style>
        <div class="row">
            <h3 class="profile_head" style="font-size: 24px;margin-left: 33px;">
                {{'rewards'|translate}}
            </h3>
            @*<hr class="hr-style" />*@
            <div class="left-aside">
                <div id="dvImageLoading">
                </div>
                <div ng-controller="rewardController">
                    <div>
                        <div class="p-l-0">
                            <div border="0" class="css-720">
                                <div class="e-r-b-720" ng-if="showRewards" style="padding:0px 20px; text-align:center;">
                                    <b class="f-w">
                                        <span>
                                            {{'totalEarnings'|translate}}:
                                            <span ng-if="userRewardsInfo.TotalEarnings == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">$0.00 </span>
                                                <span ng-if="user.CountryId==229">£0.00 </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€0.00 </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.TotalEarnings != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">${{userRewardsInfo.TotalEarnings |number:2}} </span>
                                                <span ng-if="user.CountryId==229">£{{userRewardsInfo.TotalEarnings |number:2}} </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€{{userRewardsInfo.TotalEarnings}} </span>
                                            </span>
                                        </span>
                                    </b><b class="f-w">
                                        <span>
                                            {{'totalRedeemptions'|translate}}:
                                            <span ng-if="userRewardsInfo.TotalRedemptions == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">$0.00 </span>
                                                <span ng-if="user.CountryId==229">£0.00 </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€0.00 </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.TotalRedemptions != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">${{userRewardsInfo.TotalRedemptions |number:2}} </span>
                                                <span ng-if="user.CountryId==229">£{{userRewardsInfo.TotalRedemptions |number:2}} </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€{{userRewardsInfo.TotalRedemptions}} </span>
                                            </span>
                                        </span>
                                    </b><b class="f-w">
                                        <span>
                                            {{'accountbalance'|translate}}:
                                            <span ng-if="userRewardsInfo.AccountBalance == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">$0.00 </span>
                                                <span ng-if="user.CountryId==229">£0.00 </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€0.00 </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.AccountBalance != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">${{userRewardsInfo.AccountBalance |number:2}} </span>
                                                <span ng-if="user.CountryId==229">£{{userRewardsInfo.AccountBalance |number:2}} </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€{{userRewardsInfo.AccountBalance}} </span>
                                            </span>
                                        </span>
                                    </b>
                                    <br />
                                    <br />
                                </div>
                                <div class="e-r-b-720" ng-if="!showRewards">
                                    <b class="f-w">
                                        <span>
                                            {{'totalEarnings'|translate}}:
                                            <span ng-if="userRewardsInfo.TotalEarnings == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">0.00$ </span>
                                                <span ng-if="user.CountryId==229">0.00£ </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">0.00€ </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.TotalEarnings != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">{{userRewardsInfo.TotalEarnings |number:2}} $</span>
                                                <span ng-if="user.CountryId==229">{{userRewardsInfo.TotalEarnings |number:2}}£ </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">{{userRewardsInfo.TotalEarnings |number:2}}€</span>
                                            </span>
                                        </span>
                                    </b><b class="f-w">
                                        <span>
                                            {{'totalRedeemptions'|translate}}:
                                            <span ng-if="userRewardsInfo.TotalRedemptions == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">0.00$ </span>
                                                <span ng-if="user.CountryId==229">0.00£ </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">0.00€ </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.TotalRedemptions != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">{{userRewardsInfo.TotalRedemptions}} $</span>
                                                <span ng-if="user.CountryId==229">{{userRewardsInfo.TotalRedemptions}}£ </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">{{userRewardsInfo.TotalRedemptions}}€</span>
                                            </span>
                                        </span>
                                    </b><b class="f-w">
                                        <span>
                                            {{'accountbalance'|translate}}:
                                            <span ng-if="userRewardsInfo.AccountBalance == undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">0.00$ </span>
                                                <span ng-if="user.CountryId==229">0.00£ </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">0.00€ </span>
                                            </span>
                                            <span ng-if="userRewardsInfo.AccountBalance != undefined" class="rew-userinfo">
                                                <span ng-if="user.CountryId==231">${{userRewardsInfo.AccountBalance}} </span>
                                                <span ng-if="user.CountryId==229">£{{userRewardsInfo.AccountBalance}} </span>
                                                <span ng-if="user.CountryId!=231 && user.CountryId!=229">€{{userRewardsInfo.AccountBalance}} </span>
                                            </span>
                                        </span>
                                    </b>
                                    <br />
                                    <br />
                                </div>
                                <div>
                                    <br />
                                    <b style="float:left;font-size: medium">{{'availableRewards'|translate}} </b>
                                    <br />
                                </div>
                                @*<div ng-if="user.CountryId != 15 && user.CountryId != 38 && user.CountryId !=231 && user.CountryId !=229 && user.CountryId != 647 && user.CountryId !=572 && user.CountryId !=700 && user.CountryId !=669 && user.CountryId !=565 && user.CountryId !=599 && user.CountryId !=505 && user.CountryId !=512 && user.CountryId !=668 && user.CountryId !=707 && user.CountryId !=550 && user.CountryId !=706 && user.CountryId !=575 && user.CountryId !=620 && user.CountryId !=657 && user.CountryId !=693 && user.CountryId != 674 && user.CountryId != 494
                                             && user.CountryId !=497 && user.CountryId !=511 && user.CountryId !=519 && user.CountryId !=525 || user.CountryId != 545 && user.CountryId !=559 && user.CountryId !=564 && user.CountryId !=590 && user.CountryId != 591 && user.CountryId != 596 && user.CountryId !=613 && user.CountryId == 618 && user.CountryId != 619 && user.CountryId !=628 && user.CountryId !=637 && user.CountryId !=639 && user.CountryId !=673 && user.CountryId !=684 && user.CountryId != 688 && user.CountryId != 694 && user.CountryId != 724">
                                        <b style="float:left;font-size: medium">
                                            We are currently updating our reward options. Please check back in a few days.
                                            <br />
                                        </b>
                                    </div>*@
                                <div class="rew-dv-border">
                                </div>
                                <div style="padding-top: 10px;">
                                </div>
                                @*<div class="container" style="width: 100%;margin: 0 auto;position: inherit;">
                                    <div class="accordion">
                                        <div ng-repeat="c in availableCards">
                                            <label for="ac-1" ng-click="tabClick($index)" ng-if="c.cardName != ''">{{c.cardName | translate}}</label>
                                            <div class="article" ng-class="{accontent: tabIndex === $index }">
                                                <ng-include src="c.templateName"></ng-include>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div>
                            <p class="p-r rew-disc">
                                <span>{{'disclaimer'|translate}}: </span>{{'themerchantsrepresentedare'|translate}}
                                <br />

                            </p>
                        </div>
                        @*<div class="pull-right">
                                <button class="btn btn-default" ng-disabled="userForm.$invalid" ng-click="historyclick(1)">{{'rewardsHistory'|translate}}</button>
                                <button style="width:170px;border-radius: 30px;padding:7px 5px 8px 5px;cursor: pointer;font-size: 17px;float:right;" ng-disabled="userForm.$invalid" ng-click="historyclick(2)">{{'Redeemed History'|translate}}</button>
                            </div>*@
                    </div>
                    <div class="rew-gird-dv center-text border-3" ng-if="reward" style="width:100%">
                        <b class="f-w rew-heading">{{'rewardsHistory'|translate}}</b>
                        <br />
                        <br />

                        <table border="0" cellpadding="15" cellspacing="0" class="surveytable parent">
                            <tr ng-show="!showSurveys && surveys.length == 0">
                                <td>{{'noRewardsHistory' | translate}}.</td>
                            </tr>
                            <tr class="rew-tr" ng-show="rewHistoryLst.length > 0">
                                <th>{{'date'|translate}}</th>
                                <th>{{'description'|translate}}</th>
                                <th>{{'direct'|translate}}</th>
                                <th>{{'redeemed'|translate}}</th>
                                <th>{{'balance'|translate}}</th>
                                <th>{{'surveyStatus'|translate}}</th>
                            </tr>
                        </table>
                        <table border="0" cellpadding="15" cellspacing="0" class="surveytable parent" ng-show="rewHistoryLst.length > 0">
                            <tr ng-class-even="'tr-bg'" ng-repeat="rh in rewHistoryLst" ng-class="{even:$even,odd:$odd}">
                                <td align="left" scope="col"><span>{{rh.CreateDt}}</span></td>
                                <td align="left" scope="col" style="width:180px;"><span>{{rh.Descripion}}</span></td>
                                <td align="left" scope="col"><span>{{rh.RewardAmount}}</span></td>
                                <td align="left" scope="col"><span>{{rh.RedemptionAmount}}</span></td>
                                <td align="left" scope="col"><span>{{rh.BalanceAmount}}</span></td>
                                <td align="left" scope="col">{{rh.Status}}</td>
                            </tr>
                        </table>
                        <section layout="row">
                            <pagging-directive></pagging-directive>
                        </section>
                    </div>
                </div>
                <div ng-controller="redeemController">
                    <div class="redeem-gird-dv center-text border-3" ng-if="redeemHistLstgrid">
                        <br />
                        <b class="f-w rew-heading">{{'rewardsRedeemedHistory'|translate}}</b>
                        <br />
                        <br />

                        <table class="table mytable" style="width: 100%">
                            <tr ng-show="!redeemHistLst.length">
                                <td>
                                    {{'noRedeemHistory'|translate}}
                                </td>
                            </tr>
                            <thead ng-show="redeemHistLst.length > 0">
                                <tr class="rew-tr">
                                    <th> {{'redeemedDate'|translate}}</th>
                                    <th> {{'amountRedeemed'|translate}}</th>
                                    <th> {{'redemptionType'|translate}}</th>
                                    <th> {{'RetailerName'|translate}}</th>
                                    <th> {{'codeRedeemed'|translate}} </th>
                                    <th> {{'Instructions'|translate}}</th>
                                </tr>
                                <tr ng-class-even="'tr-bg'" ng-repeat="rhd in redeemHistLst" ng-class="{even:$even,odd:$odd}">
                                    <td align="left" scope="col"><span>{{rhd.CreateDt}}</span></td>
                                    <td align="left" scope="col"><span>{{rhd.RedemptionAmount}}</span></td>
                                    <td align="left" scope="col"><span>{{rhd.RedemptionType}}</span></td>
                                    <td align="left" scope="col"><span>{{rhd.GiftcardName}}</span></td>
                                    <td align="left" scope="col"><span>{{rhd.Descripion}}</span></td>
                                    <td><div data-modal-id="popup3" ng-click="showpopup(rhd.RedeemptionId)"><a href="">Learn More </a></div></td>
                                    @*<td><a href=""><span data-modal-id="popup3" ng-click="showpopup()">Learn More</span></a></td>*@
                                </tr>
                            </thead>

                        </table>
                        <section layout="row" layout-padding="" style="float: right;">
                            <pagging-directive></pagging-directive>
                        </section>
                    </div>
                    <div class="modal fade" id="modal_popup" tabindex="-1">
                        <div class="modal-dialog modal-dialog-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" style="color:black">{{'Instructions'|translate}}</h4>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <p ng-bind-html="apiResponse.apiResponse"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
