/*#loading-bar, #loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

    #loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active, #loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active {
        opacity: 0;
    }

        #loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave, #loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave {
            opacity: 1;
        }

    #loading-bar .bar {
        -webkit-transition: width 350ms;
        -moz-transition: width 350ms;
        -o-transition: width 350ms;
        transition: width 350ms;
        background: red;
        position: fixed;
        z-index: 10002;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
    }

    #loading-bar .peg {
        position: absolute;
        width: 70px;
        right: 0;
        top: 0;
        height: 2px;
        opacity: .45;
        -moz-box-shadow: #29d 1px 0 6px 1px;
        -ms-box-shadow: #29d 1px 0 6px 1px;
        -webkit-box-shadow: #29d 1px 0 6px 1px;
        box-shadow: #29d 1px 0 6px 1px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

    #loading-bar-spinner .spinner-icon {
        width: 14px;
        height: 14px;
        border: 2px solid transparent;
        border-top-color: #29d;
        border-left-color: #29d;
        border-radius: 50%;
        -webkit-animation: loading-bar-spinner 400ms linear infinite;
        -moz-animation: loading-bar-spinner 400ms linear infinite;
        -ms-animation: loading-bar-spinner 400ms linear infinite;
        -o-animation: loading-bar-spinner 400ms linear infinite;
        animation: loading-bar-spinner 400ms linear infinite;
    }

@-webkit-keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading-bar-spinner {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loading-bar-spinner {
    0%; {
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes loading-bar-spinner {
    0% {
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}*/

@keyframes lds-ellipsis3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        left: 100px;
    }

    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        left: 100px;
    }

    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes lds-ellipsis {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        left: 100px;
    }

    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        left: 100px;
    }

    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

.lds-ellipsis {
    position: relative;
}

    .lds-ellipsis > div {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
    }

    .lds-ellipsis div > div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #f00;
        position: absolute;
        top: 100px;
        left: 32px;
        -webkit-animation: lds-ellipsis 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    }

    .lds-ellipsis div:nth-child(1) div {
        -webkit-animation: lds-ellipsis2 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis2 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        background: #1875e5;
    }

    .lds-ellipsis div:nth-child(2) div {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
        background: #499255;
    }

    .lds-ellipsis div:nth-child(3) div {
        -webkit-animation-delay: -0.45s;
        animation-delay: -0.45s;
        background: #f2b736;
    }

    .lds-ellipsis div:nth-child(4) div {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        background: #c5523f;
    }

    .lds-ellipsis div:nth-child(5) div {
        -webkit-animation: lds-ellipsis3 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis3 1.8s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        background: #1875e5;
    }

.lds-ellipsis {
    width: 103px !important;
    top: 50%;
    margin: -60px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 103px !important;
    -webkit-transform: translate(-51.5px, -51.5px) scale(0.515) translate(51.5px, 51.5px);
    transform: translate(-51.5px, -51.5px) scale(0.515) translate(51.5px, 51.5px);
}
.preloader {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1001;
}