
@media(max-width:767px){
.h1, h1, h3, .h3{
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
}
.pro_wrap{
    width: 100% !important;
}
.links-table{
    width:100% !important;
    padding:0;
    margin:0 0 0 10px;
}
}




/*#col2-sm {
    display: none;
}

#col1-sm {
    display: none;
}

.div-profile-text2 {
    display: none;
}

#popup {
    display: none !important;
}

.spnBtn {
    font-size: 13px;
    background-color: #FCFCFC;*/
    /* border-color: #D0D0D0; */
    /*border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.aMore {
    display: none;
}

.aLess {
    display: inline-block !important;
}

h1, h2, h3, h4 {
    font-size: inherit;
}

.take-survey, .build-downline {
    color: #025B79;
    float: left;
    padding-top: 16px;
    font-size: 15px;
    font-weight: bold;
}

.take-survey-img, .build-downline-img {
    width: 48px;
    height: 40px;
    padding-top: 4px;
}

.new-survey-btn {
    color: #E91B06;
}

.buld-downline-btn {
    color: #63a10e;
}

.new-survey-btn:hover {
    color: #E91B06;
}

.buld-downline-btn:hover {
    color: #63a10e;
}

.newsurver-text, .profile-text {
    color: #BBBBBB;
    font-size: 11px;
}



.newsurvey-h1 {
    padding: 3px;
    background-color: #DC352F;
}

.newsurvey-dv {
    text-align: left;
    margin-left: 12px;
}

.newsurvey-span {
    color: #F1FFFF;
    font-size: 13px;
}

#surveys ul li {
    color: #6195b2;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px;
}

.profile-content {
    color: #BBBBBB;
    font-size: 11px;
}

.dv-profile-main-box {
    margin-right: 13px;
    padding-right: 13px;
}

.div-profile-box {
    float: right;
    width: 212px;
    margin-left: 24px;
    height: 213px;
}

.boxleft {
    border: solid 1px #CECECE;
}

.profile-h1 {
    padding: 3px;
    background-color: #017491;
}

.profile-dv {
    text-align: left;
    margin-left: 12px;
}

.profile-span {
    color: #F1FFFF;
    font-size: 13px;
}

.profile-tb-dv {
    color: #6195b2;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px;
    height: 19px;
}

.body-content {
    display: none;
}

.action-content div {
    text-align: center;
}

.panel {
    margin-bottom: 22px;
    background-color: #fff;*/
    /* border: 1px solid transparent; */
    /*border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #0000001c;
}*/


/*.panel-heading {
    position: relative;
    width: 100%;
}*/

/*.report-content {
    height: 80px;
    min-height: 80px;
}

.panel-title {
    //padding: 10px 14px;
    font-size: 18px;
    color: #37474f;
    float: left;
}

table.table {
    clear: both;
    max-width: none !important;
    width: 100%;
}

.table tr td {
    padding: 8px 24px;
    vertical-align: top;
    border-top: 1px solid #e4eaec;
}

    .table tr td a {
        color: #0072c6 !important;
        text-decoration: none;
        cursor: pointer !important;
        font-weight: 400;
        font-size: 14px;
    }

table tr td a i {
    font-size: 12px !important;
    margin: 5px;
}*/

/*Reports css*/
/*.portlet-panel {
    height: 200px;
    overflow-y: scroll;
}

.portlet-panel-profiles{
     height: 200px;
}

.panel-bordered > .panel-body {
    padding: 12px;
}

.portlet-body p {
    font-size: 15px;
    font-weight: 400;
}

.portlet-body a {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #1972c5 !important;
    cursor: pointer !important;
}

    .portlet-body a i {
        margin-left: 5px;
    }

.portlet-header {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px 15px 35px;
}*/

/** {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}*/

/** New styles **/
/*.ProfilesPanel ul#check {
        width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}
.ProfilesPanel .profile-tb-dv {
    height:auto;
    padding-top: 0px;
    padding-left: 0;
}
.ProfilesPanel .profile-tb-dv label {
        margin-bottom: 0;
}*/
/*.ProfilesPanel .portlet-body a {
    font-size:14px;
    margin: 0;
}*/


/*@media (min-width:981px) {
    .boxleft h1 {
        margin: 0px !important;
        margin-top: 0px !important;
    }

    #takesurveys_col {
        width: 240px !important;
        padding-right: 10px !important;
    }

    #build_col {
        width: 322px !important;
        padding-right: 5px !important;
    }
}

@media (max-width:981px) {
    .boxleft {
        margin-top: 20px;
    }

    #dvHome {
        margin-top: 75px;
    }

    #interiortop {
        width: 100%;
    }



    #interiorbottom {
        width: 100%;
    }

    #footer {
        width: 100%;
    }

        #footer p#text {
            margin-bottom: 10px;
        }

    #col2-sm {
        display: block;
        text-align: left;
        font-size: 12px;
        line-height: 17px;
        color: black;
    }

    #col2 {
        display: none;
    }



    #interiortop h1 {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #interiortop p {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #interiortop {
        margin-bottom: 20px;
    }

    #takesurveys_col {
        width: 258px;
        margin-left: 174px;
    }

    #history {
        margin-bottom: 10px;
    }

    h1, h2, h3, h4 {
        margin-top: 0px !important;
    }
}

@media (max-width:820px) {

    #takesurveys_col {
        margin-left: 112px;
    }

    .txt-more {
        display: none;
    }
}

@media (min-width:760px) and (max-width:819p) {
}

@media (max-width:820px) {
    .boxleft {
        float: left;
    }

    .div-profile-box {
        float: none !important;
        margin-left: 0px !important;
    }

    #history {
        display: none;
    }

    .div-profile-text1 {
        display: none;
    }

    .div-profile-text2 {
        display: block;
        float: left;
        font-size: 12px;
        text-align: left;
    }

    #col1 {
        float: none;
        height: auto;
        background: none;
        margin-left: 0px;
    }

        #col1 .boxleft {
            margin-left: 0px;
        }
}

@media (max-width:580px) {
    #aMore, #aLess {
        cursor: pointer;
        color: blue;
    }


    #interiortop p {
        display: none;
    }

    #col2-sm {
        margin-bottom: -35px;
    }
}*/




