/**/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

*{
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    height:100%;
}
.pre-question-panel{ 
    display:table;
    width:100%;
    background-color:#fff;
/*    box-shadow:0px 5px 20px rgba(0,0,0,0.03);*/
}
.pre-question-img{width:298px; display:table-cell; background-color:#b3f1fe; vertical-align:top; height:432px;}
.pre-question-img img{display:block;}
.pre-question-list{
    display:table-cell; vertical-align:top; height:432px;
}
.pre-footer{
    display:table;
    width:100%;
    text-align:center;
}
.pre-footer p{ font-size:13px; color:#000; padding-top:10px;}
.pre-footer p a{ color:#5256c1; text-decoration:none;}
.pre-footer p a:hover{ text-decoration:underline;}

.pre-question-btn {
    text-align: center;
    border-top: 1px solid #c2c2c2;
}

.pre-question-btn button {
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    padding: 8px 40px;
    border: 0px;
    float: none;
    width: auto;
    display: inline-block;
}
.pre-question-btn button:hover{
    background: white;
}
 .pre-powerd-byimg{
        display:none;
    }

/*@media (min-width: 1100px) {
    .pre-question-panel{margin-top:50px;}
}*/

@media (max-width: 1000px){
    .pre-powerd-byimg{
        display:block;
    }
    .pre-powerd-byimg img{
       max-width:40px;
    }
    .pre-question-img{
        display:none;
    }
    .pre-question-panel{
        display:inline-block;
    }
    .pre-question-list{
        display:inline;
    }
}