/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
    body
    {
        min-width: 320px;
        max-width: 480px;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
{
    body
    {
        min-width: 321px;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px)
{
    body
    {
        min-width: 321px;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
    body
    {
        min-width: 768px;
        max-width: 1024px;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
    body
    {
        min-width: 768px;
        max-width: 1024px;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{
    body
    {
        min-width: 768px;
        max-width: 1024px;
    }

}



/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
{
    body
    {
        min-width: 320px;
        max-width: 568px;
    }

}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)
{
    body
    {
        min-width: 320px;
        max-width: 568px;
    }

}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
{
    body
    {
        min-width: 320px;
        max-width: 568px;
    }

}
