
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-translate-loader-partial.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/services/customServices.js"></script>
</head>
<body ng-app="footerApp">
    @Html.AntiForgeryToken()
    <div ng-controller="contactUsController">
        <div id="dvContactus" style="margin-left: 10%;">
            <img ng-src="{{orgDetails.OrgLogo}}" style="margin-top:15px;margin-bottom:25px;margin-left:15px;" />
            <table id="tbl" border="0" cellspacing="0" width="600px" cellpadding="0" style="font-size: 12px;">
                <tr>
                    <td align="left" valign="top" style="padding-left: 10px;">
                        <p style="font-size:15px;">
                            <b>Write to us at:</b>
                            <div class="address" style="margin-top: -10px;">
                                Precision Sample, LLC<br />
                                3461 Ringsby Court<br />
                                Suite 240<br />
                                Denver, CO 80216.<br />
                            </div>
                        </p>
                    </td>
                </tr>
            </table>
            <form name="contactForm" novalidate>
                <table style="font-size: 12px; width: 600px;">
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <b style="color: Green;font-size:15px;" ng-if="orgDetails.ClientId!=383">Please use our extremely useful <a href="/login/faq">FAQ</a> link for all commonly asked questions. If you still need to contact us, please submit the form below:</b>
                            <b style="color: Green;font-size:15px;" ng-if="orgDetails.ClientId==383">Please submit the form below:</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 25%;">
                            <label>Name *</label>
                        </td>
                        <td align="left">
                            <input type="text" name="Name" style="width:216px;" ng-model="emailDetails.fromname" ng-required="true" />
                            <span style="color:red;" ng-show="contactForm.Name.$invalid && isShowError">Required</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 25%;">
                            <label>Email *</label>
                        </td>
                        <td align="left">
                            <input type="email" name="emailAddress" style="width:216px;" ng-model="emailDetails.fromaddress" ng-required="true" />
                            <span class="invalid-feedback" ng-show="userInfoForm.emailAddress.$error.email">{{'notvalidemail' | translate}}!</span>
                            <span style="color:red;" ng-show="contactForm.emailAddress.$invalid && isShowError">Required</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td align="right" style="vertical-align: top; width: 30%;">
                            <label>Questions/Comments *</label>
                        </td>
                        <td align="left">
                            <textarea typeof="text" name="questions" ng-model="emailDetails.comments" ng-required="true" style="font-family:Verdana,Sans-Serif,Helvetica;font-size:12px;width:360px;height:100px;"></textarea>
                            <span style="color:red;" ng-show="contactForm.questions.$invalid && isShowError">Required</span>
                        </td>
                    </tr>
                    <tr style="height: 6px;">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right" style="padding-right: 80px;">
                            <button type="submit" id="imgNext" class="btn btn-default reg-btn" ng-click="contactUsClick(contactForm.$valid)">Submit</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
                <div><span ng-if="showMsg" style="color:green;">Thank you! Your request has been submitted and we will reply shortly.</span></div>
            </form>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/4.1.1/angular-recaptcha.min.js"> </script>
    <script src="~/Scripts/pages/footer/tc.js"></script>
</body>
