<script type="text/ng-template" id="SurveyQuestions">
  <div ng-if="question.QuestionTypeId == '1'">
        <div style="padding-top: 9px; padding-bottom: 10px;" class="form-group" ng-class="{true: 'error'}[submitValidations && formValidation.txtboxlist.$invalid]">
            <input type="text" class="txtbox" name="{{question.QuestionId+ '_' + 'txtbox'}}" ng-attr-id="{{question.QuestionId + '_text'}}" ng-model="question.OptionText" style="width: 210px; height: 26px;" required />
        </div>
        <span ng-show="submitValidations && formValidation[question.QuestionId+ '_' + 'txtbox'].$error.required" style="color: red;">Please Answer the queston</span>
    </div>
    <div ng-if="question.QuestionTypeId == '2'">
        <div class="form-group" ng-class="{true: 'error'}[submitValidations && formValidation.ddlQuestionGroup.$invalid]">
            <div align="left" style="padding-top: 9px; padding-bottom: 10px;">
                <select class="selectdropdown" name="{{question.QuestionId+ '_' + 'ddlQuestionGroup' }}" ng-attr-id="{{question.QuestionId}}" ng-model="$parent.OptionId" ng-options="option.OptionId as option.OptionText for option in question.OptionList" ng-change="selectionChanged(question,OptionId)" required>
                    <option value="">-- Select --</option>
                </select>
            </div>
            <span ng-show="submitValidations && formValidation[question.QuestionId+ '_' + 'ddlQuestionGroup'].$error.required" class="errors" style="color: red;">Please Answer the queston</span>
        </div>
        <div ng-repeat="question in question.SelectedChildQuestionList">
            <ng-include src="'SurveyQuestions'"></ng-include>
        </div>
    </div>
  
    <div ng-if="question.QuestionTypeId == '3'">
        <div class="optiontext" style="clear: both; overflow: hidden" class="form-group"  ng-class="{true: 'error'}[submitValidations && formValidation.txtboxlist.$invalid]">
            <div class="wrapper">
                    <div ng-repeat=" op in question.OptionList">
                           <div class="left">
                            <div class="dvChkbox dvstyle">
                                <div class="grid_column" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvmain'}}" style="width: 100%;" ng-class="{input_onm:op.IsChecked == 'true'}">
                                    <label for="{{op.QuestionId +'_'+op.OptionId+'_checklbl'}}" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_lblchk' }}" ng-click="chkboxClick($event,op,$index)">
                                        <div class="grid_checkbox" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvcheckbox'}}" ng-class="{input_on:op.IsChecked == true}" style="float: left;">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_chkDiv'}}">{{op.OptionText}}</span>
                                        </div>
                                        <input type="checkbox" style="display:none;float: left" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_checkbox'}}" ng-model="op.IsChecked" name="{{question.QuestionId+ '_'+'chkbox'}}" value="{{op.optionId}}"  ng-required="chekboxValidation.length==0" />
                                        <div style="text-align: left;">
                                            <span class="single_radio" ng-attr-id="{{op.OptionId+'_optn'}}">{{op.OptionText}}</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
           
        </div>
        <span ng-show="submitValidations && formValidation[question.QuestionId+ '_'+'chkbox'].$error.required" style="color: red;">Please Answer the queston</span>
    </div>
    <div ng-if="question.QuestionTypeId == '4'">
        <div class="optiontext" style="clear: both; overflow: hidden">
            <div class="wrapper">
                <div ng-repeat=" op in question.OptionList">
                    <div class="left">
                            <div style="min-height: 21px;" class="dvChkbox dvstyle">
                                <div class="grid_column" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvmain' }}" ng-class="{input_onm:$index == $parent.radiobtnvalidation}">
                                    <label for="{{op.QuestionId +'_'+op.OptionId+'_radio'}}" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_lblrd' }}" ng-click="rdClick($event,question,op.OptionId,$index)">
                                        <div class="grid_radio" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_dvradio'}}" ng-class="{'input_on':$index==$parent.radiobtnvalidation}" style="float: left;">
                                        </div>
                                        <div class="grid_span_holder">
                                            <span class="grid_span" ng-attr-id="{{op.QuestionId+'_'+op.OptionId+'_rdDiv'}}">{{op.OptionText}}</span>
                                        </div>
                                        <input type="radio" style="display: none;" ng-attr-id="{{op.QuestionId+'_'+op.OptionId +'_radio'}}" ng-model="$parent.OptionId" name="{{question.QuestionId+ '_'+'radio'}}" value="op.OptionId" ng-click required />
                                        <span class="single_radio" style="float: left;">{{op.OptionText}}</span>
                                    </label>
                                </div>
                            </div>
                    </div>

                </div>

            </div>
        </div>
        <span ng-show="submitValidations && formValidation[question.QuestionId+ '_'+'radio'].$error.required" style="color: red;">Please Answer the queston</span>
    </div>
</script>
<div style="width: 100%;">
    <div align="left" class="questionback" style="clear: both;">
        <span class="question" id="lblQuestiontext">{{question.QuestionText}}</span>
    </div>
    <ng-include src="'SurveyQuestions'"></ng-include>

    <div ng-repeat="chq in question.ChildQuestionList">
        <div ng-if="chq.QuestionTypeId == '5'">
            <div ng-if="chq.QUestion"></div>
            <div ng-if="$index==0">
                <div class="grid_floating_header" width="100%">
                    <div class="question_martix" style="min-height: 30px;">
                        <div style="width: 35%;" class="grid_question">
                        </div>
                        <div data-bind="foreach:op in chq.OptionList" style="font-size: 14px;">
                            <div style="width: 15%;" class="grid_column" data-bind="text: op.OptionText"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="question_martix">
                <div class="optiontext grid_question_opt" style="text-align: left;" ng-attr-id="{{chq.QuestionId+'_optnc'}}">
                    {{chq.QuestionText}}
                </div>
                <div class="optiontext" data-bind="foreach:opl in chq.OptionList">
                    <div style="width: 15%;" class="grid_column" ng-attr-id="{{opl.QuestionId+'+'_'+opl.OptionId+'_dvmain'}}">
                        <div class="grid_radio" ng-attr-id="{{opl.QuestionId+'+'_'+opl.OptionId+'_dvradio'}}" ng-click="rdClick(op,$index)">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" ng-attr-id="{{opl.QuestionId+'+'_'+opl.OptionId+'_rdDiv'}}" ng-click="rdClick(op,$index)">{{opl.OptionText}}</span>
                        </div>
                        <input type="radio" style="display: none;" ng-attr-id="{{opl.QuestionId+'+'_'+opl.OptionId+'_radio'}}" ng-model="$parent.OptionId" name="{{question.QuestionId+ '_'+'radio'}}" value="op.OptionId" required />
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko 'if': ParentQuestionId == 649-->
            <!-- ko 'if': $index() == 0-->
            <div class="grid_floating_header" width="100%">
                <div class="question_martix" style="min-height: 30px;">
                    <div style="width: 35%;" class="grid_question">
                    </div>
                    <div data-bind="foreach: OptionList" style="font-size: 14px;">
                        <div style="width: 6%;" class="grid_column" data-bind="text: OptionText"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="question_martix">
                <div class="optiontext grid_question_opt" style="text-align: left;" data-bind="html: QuestionText,attr: {id:QuestionId+'_optnc'}">
                </div>
                <div class="optiontext" data-bind="foreach: OptionList">
                    <div style="width: 6%;" class="grid_column" data-bind="attr: {id:QuestionId+'_'+OptionId+'_dvmain'}">
                        <div class="grid_radio" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId+'_dvradio'},event: {click:rdClick.bind($root,$parent)}">
                        </div>
                        <div class="grid_span_holder">
                            <span class="grid_span" data-bind="text:OptionText,attr: {id:QuestionId+'_'+OptionId+'_rdDiv'},event: {click:rdClick.bind($root,$parent)}"></span>
                        </div>
                        <input type="radio" style="display: none;" data-bind="attr: {id:$parent.QuestionId+'_'+OptionId +'_radio',value:OptionId, name: QuestionId+'_rd','class':QuestionId+'_selectrdb'}, checked:$parent.OptionId" />
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div style="width: 100%">
            <span ng-show="submitValidations && formValidation[question.QuestionId+ '_'+'radio'].$error.required" style="color: red;">Please Answer the queston</span>
        </div>
    </div>
</div>

